<template>
    <div>
      
        <div v-if="deleteStoryModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
          <div class="modal-dialog modal-md modal-dialog-centered" style="width:70%;min-width:600px;">
              <div tabindex="-1" role="document" class="modal-content">
                  <header class="modal-header">
                      <h5 class="modal-title">Delete Storyboard</h5>
                      <button type="button" aria-label="Close" class="close" @click.stop.prevent="deleteStoryModal = !deleteStoryModal">×</button>
                  </header>
                  <div class="modal-body">
                      <div>
                        <b-form inline style="width:100%;">
                          <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                          
                        </b-form>
                          <div style="min-height:300px;">
                            <b-table 
                                ref="grid"
                                v-model="gridData"
                                show-empty
                                stack="md"
                                :items="items" 
                                :fields="fields" 
                                :filter="filter" 
                                :per-page="perPage"
                                @filtered="onFiltered"
                                :current-page="currentPage"
                                thead-tr-class="t-center"
                                tbody-tr-class="tr-hover"
                                class="table-bordered"
                            >
                              <template slot="uiName" slot-scope="data">
                                {{data.item.uiName}}
                              </template>
                            </b-table>
                            
                          </div>
                          <b-pagination 
                              v-if="items.length > 0" 
                              :total-rows="totalRows" 
                              :per-page="perPage" 
                              v-model="currentPage" 
                              class="my-0"
                          />
                          <div style="margin-top:20px;">
                            <button type="button" class="yellow right" @click.stop.prevent="deleteStoryboard('only')">
                              Delete Only Storyboard
                            </button>
                            <button type="button" class="yellow right" @click.stop.prevent="deleteStoryboard('all')">
                              Delete All Screen And Storyboard
                            </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

var TAG = "[/pages/listStoryboard/deleteStoryboard/Main.vue] ";
export default {
  props: {
    getSelectedRow: Function
  },
  data() {
    return {
      gridData: null,
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5,10,15],
      totalRows: 0,
      isLoading: true,
      deleteStoryModal: false,
      valueFrom: "",
      callFrom: "",
      callFromData: null,
      items: [],
      fields: [
        { label: "Screen Name", key: "uiName" , class: "t-center"},
      ]
    };
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.DELETE_STORYBOARD, list => {
      this.deleteStoryModal = true;
      this.items = _.cloneDeep(list);
    });
    uiUtil.bus.on(constantUtil.EVENT.DELETE_STORYBOARD_SUCCESS , () => {
      this.deleteStoryModal = false;
    });
  },
  methods: {
    deleteStoryboard(type){
      uiUtil.bus.post(constantUtil.EVENT.CONFIRM_DELETE_STORYBOARD,type);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>