.textField {
  padding: 3px 10px;
  width: 250px; // margin-left: 10px;
}

.textField.first {
  margin-left: 0px;
}

input[type=text].sm-size {
  padding: 2px 10px; // border-radius: 7px;
}

.textField {
  margin-bottom: 10px;
  max-width: 250px;
  font-size: 20px;
}

label{
  font-weight: bold;
}
