<template>
  <div>

    <b-form inline>

      <label class="sr-only" for="LogID">Storyboard Name</label>
      <b-input class="textField first" v-model="criteriaSearchStoryboard.storyName" placeholder="Storyboard Name" />&nbsp;&nbsp;&nbsp;

      <label class="sr-only" for="Username">Remark</label>
      <b-input class="textField" v-model="criteriaSearchStoryboard.remark" placeholder="Remark" />&nbsp;&nbsp;&nbsp;

      <button class="yellow" style="margin-left: 10px; margin-top: -10px;" @click.stop.prevent="btnSearchStoryboard">Search</button>

    </b-form>
  </div>
</template>

<script>
import moment from "moment";
import apiUti from "../../../common/apiUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";

var TAG = "[/pages/transactionLog/Main.vue]";

export default {
  data() {
    return {
      criteriaSearchStoryboard: {
        storyName: "",
        remark: ""
      }
    };
  },
  created() {
    let user = sessionStorage.getItem("DMA_username") || "";
    user = user.replace(/\"/g,"");
    const criteriaWithUser = {
      ...this.criteriaSearchStoryboard,
      user
    }
    uiUtil.bus.post(constantUtil.EVENT.SEARCH_STORYBOARD, criteriaWithUser);

    uiUtil.bus.on(constantUtil.EVENT.AFTER_IMPORTFILE , () => {
      uiUtil.bus.post(constantUtil.EVENT.SEARCH_STORYBOARD, criteriaWithUser);
    });
  },
  methods: {
    btnSearchStoryboard() {
      let user = sessionStorage.getItem("DMA_username") || "";
      user = user.replace(/\"/g,"");
      const criteriaWithUser = {
        ...this.criteriaSearchStoryboard,
        user
      }
      console.log(TAG + " btnSearchStoryboard : ", "start");

      console.log(TAG + "this.criteriaSearchStoryboard", criteriaWithUser);

      uiUtil.bus.post(constantUtil.EVENT.SEARCH_STORYBOARD, criteriaWithUser);

      console.log(TAG + " btnSearchStoryboard : ", "end");
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
