.context {
  background: #ebebeb;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  max-height: calc(100vh - (70 + 40))px;
  width: 100%;
}

div {
  font-size: 20px;
  font-family: "Cordia New Regular";
}

.content {
  // min-height: calc(100vh - (70 + 40+ 118))px;
  height: 100%;
}

.myCollapse {
  text-align: center;
  border-top: 2px solid #c2c2c2;
  border-bottom: 2px solid #c2c2c2;
  margin-bottom: 10px;
  color: #777;
  font-weight: 600;
  cursor: pointer;
}

div.jsoneditor-menu {
  width: 100%;
  height: 35px;
  padding: 2px;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  background-color: #878787;
  border-bottom: 1px solid #3883fa;
}

#footer {
  width: 100%;
  position: fixed;
  text-align: center;
  background-color: #ebebeb;
}

body {
  background-color: #ebebeb;
}
