<template>
  <div>
    <div class="context">
      <form-search :searchCriteria="searchCriteria"></form-search>
      <br/>
      <dma-topmenu :pageName="'Transaction Log'" :headerName="'Service Gateway'"></dma-topmenu>
      <div class="myCollapse" @click="toggleCollapse">{{wordCollapse}}</div>
      <div class="content">
        <transactionLog-grid :items="items" :searchBox="searchBox">
        </transactionLog-grid>
      </div>
    </div>

    <dma-footer id="footer"></dma-footer>
    <transactionLog-tree></transactionLog-tree>
  </div>
</template>

<script>
import formSearch from "./formSearch/Main";
import grid from "./grid/Main";
import jsonTreeView from "./jsonTreeView/Main";

import apiUti from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";

var TAG = "[/pages/transactionLogSG/Main.vue]";
export default {
  components: {
    "form-search": formSearch,
    "transactionLog-grid": grid,
    "transactionLog-tree": jsonTreeView
  },
  data() {
    return {
      wordCollapse: "Hide Search Menu",
      items: [],
      searchBox: "fillter",
      searchCriteria: {
        logID: "",
        username: "",
        isAnonymous: true,
        serviceName: "",
        resultFrom: "",
        resultSuccess: "",
        resultHttpStatus:"",
        resultCode: "",
        resultMessage: "",
        startDate: "",
        endDate: "",
        tokenKey: "",
        uidKey: "",
        sort: "",
        limit: 25,
        page: 1,
        dir: "" //(ASC, DESC),
      }
    };
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.SET_CRITERIA_SEARCH_TRAN_LOG, data => {
      console.log(
        TAG +
          "uiUtil.bus.on('" +
          constantUtil.EVENT.SET_CRITERIA_SEARCH_TRAN_LOG +
          "') => ",
        data
      );
      this.searchCriteria = data;

      this.requestFindListTransactionLog();
    });

    uiUtil.bus.on(
      constantUtil.EVENT.CALL_FIND_LIST_TRANSACTION_LOG_NEXT_PAGE,
      number => {
        this.searchCriteria.page = number;

        let page = this.searchCriteria.page;
        let limit = this.searchCriteria.limit;
        let start = limit * (page - 1);

        this.searchCriteria.start = start;
        this.requestFindListTransactionLog();
      }
    );
  },
  methods: {
    toggleCollapse() {
      // globalUtil.VARIABLES.isCollapseTransactionServiceGateway;
      $("#customCollapse").slideToggle();
      if (globalUtil.VARIABLES.isCollapseTransactionServiceGateway) {
        this.wordCollapse = "Show Search Menu";
        $("#grid-content").height(window.innerHeight - (70 + 40 + 210));
        globalUtil.VARIABLES.isCollapseTransactionServiceGateway = false;
      } else {
        this.wordCollapse = "Hide Search Menu";
        $("#grid-content").height(window.innerHeight - (70 + 40 + 270 + 90));
        globalUtil.VARIABLES.isCollapseTransactionServiceGateway = true;
      }
    },
    requestFindListTransactionLog() {
      console.log(TAG + " call => requestFindListTransactionLog : ", "start");

      var bodyParams = this.searchCriteria;

      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING_OPA);
      const call = apiUti.callService.doPost(
        globalUtil.SERVICES.URL_FIND_LIST_TRANSACTION_LOG_SG,
        bodyParams
      );

      console.log(
        TAG + " call => requestFindListTransactionLog() param => ",
        bodyParams
      );

      call
        .then(response => {
          if (response.data.success) {
            if (
              response.data.responseHeader.responseCode == "3003E" ||
              response.data.responseHeader.responseCode == "3004E" ||
              response.data.responseHeader.responseCode == "3005E"
            ) {
              uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED_OPA);
              bus.post(
                "showDefaultAlertDialog",
                "Session Expired !!!",
                "Message",
                "/serviceGateway/process/Login/"
              );
            } else {
              const responseHeader = response.data.responseHeader;
              if (responseHeader.responseCode != "0000I") {
                uiUtil.bus.post(
                  constantUtil.EVENT.SHOW_ALERT_DIALOG,
                  responseHeader.responseDescription
                );
              } else {
                console.log(
                  TAG +
                    " response (" +
                    globalUtil.SERVICES.URL_FIND_LIST_TRANSACTION_LOG_SG +
                    ") : ",
                  response
                );
                console.log(
                  TAG + "response.data",
                  response.data.responseData.dataList
                );

                var resultData = {
                  items: response.data.responseData.dataList,
                  page: this.searchCriteria.page,
                  total: response.data.responseData.total
                };

                uiUtil.bus.post("setGrid", resultData);
              }
            }
          } else {
            const responseHeader = response.data.responseHeader;
            if (responseHeader.responseCode != "0000I") {
              uiUtil.bus.post(
                constantUtil.EVENT.SHOW_ALERT_DIALOG,
                responseHeader.responseDescription
              );
            }
          }
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED_OPA);
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED_OPA);
          uiUtil.error.readError(error, "/serviceGateway/process/Login/");
        });
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";

input[type="text"] {
  font-size: 20px;
  padding: 3px 10px;
  min-width: 200px;
}
</style>
