@import "~bootstrap/scss/bootstrap.scss";
@import 'vue-datetime/dist/vue-datetime.css';
@import "bootstrap-variable-override";
@import "vue-datetime-variable-override";
@import 'formvuelar/dist/formvuelar.css';
@import 'formvuelar.scss';
@import 'vue-simple-context-menu/dist/vue-simple-context-menu.css';
@import 'vue-simple-context-menu.scss';

@import "vue-select/dist/vue-select.css";

@font-face {
    font-family: 'Cordia New Regular';
    src: url("~@/assets/fonts/cordia.ttf");
}
