.fvl-dropzone-file-preview {
  width: 100%;
  height: 50px;
}

.fvl-dropzone-area-wrapper {

  min-height: 410px;
}

.fvl-dropzone {
  height: 410px;
}

.fvl-dropzone-area {
  display: block;
  overflow: auto;
  max-height: 410px;
}

.fvl-dropzone-area:hover {

  border-color: #ffde16 !important;
}

.fvl-dropzone-wrapper:hover .fvl-dropzone-area {
  border-color: #ffde16 !important;
}

.fvl-dropzone-file-preview {
  background: #3d4852;
  // background: linear-gradient(to right, #04b123 0%,#04b123 50%,#04b123 50%,#e6e6e6 50%,#e6e6e6 100%); /* W3C */
}

.fvl-dropzone-area-placeholder{
  font-weight: bold
}

.fvl-dropzone-file-image{
  background: none !important;
}

.fvl-dropzone-file-preview-name-background {
  background: none !important;;
  background: none !important;
  background-blend-mode: none !important;
}
