// for DMA
.vdatetime-popup__header {
  padding: 15px 30px;
  background: #FFDE16;
  color: #212529;
  font-size: 32px;
}
.vdatetime-calendar__month__day--selected>span>span,
.vdatetime-calendar__month__day--selected:hover>span>span {
  color: #212529;
  background: #c2c2c2;
}
.vdatetime-time-picker__item--selected {
  color: #212529;
  background: #c2c2c2;
  font-size: 40px;
}
.vdatetime-year-picker__item--selected {
  color: #212529;
  background: #c2c2c2;
  font-size: 40px;
}
.vdatetime-popup__actions__button {
  display: inline-block;
  border: none;
  padding: 10px 20px;
  background: transparent;
  font-size: 16px;
  color: #212529;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.vdatetime-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}


// for service gateway
// .vdatetime-popup__header {
//   padding: 15px 30px;
//   background: #6fc4ff;
//   color: #212529;
//   font-size: 32px;
// }

// .vdatetime-calendar__month__day--selected>span>span,
// .vdatetime-calendar__month__day--selected:hover>span>span {
//   color: #212529;
//   background: #c2c2c2;
// }

// .vdatetime-time-picker__item--selected {
//   color: #212529;
//   background: #c2c2c2;
//   font-size: 40px;
// }

// .vdatetime-year-picker__item--selected {
//   color: #212529;
//   background: #c2c2c2;
//   font-size: 40px;
// }

// .vdatetime-popup__actions__button {
//   display: inline-block;
//   border: none;
//   padding: 10px 20px;
//   background: transparent;
//   font-size: 16px;
//   color: #212529;
//   cursor: pointer;
//   -webkit-transition: color .3s;
//   transition: color .3s;
// }

// .vdatetime-input {
//   display: block;
//   width: 100%;
//   padding: 0.375rem 0.75rem;
//   font-size: 1rem;
//   line-height: 1.5;
//   color: #495057;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid #ced4da;
//   border-radius: 0.25rem;
//   -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//   transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
//   transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
// }
