<template>
  <div class="context">
    <dma-topmenu :pageName="'Storyboard'"></dma-topmenu>
    <dma-menubutton></dma-menubutton>
    <div class="content">
      <dma-grid :fields="fields" :onGridLoaded="onGridLoaded" :setSelectedRow="setSelectedRow" :getSelectedRow="getSelectedRow" :setErrorScreenList="setErrorScreenList">
      </dma-grid>
    </div>
    <dma-footer></dma-footer>
    <dma-delete-storyboard></dma-delete-storyboard>
    <dma-confirm-delete :confirmDelete="confirmDelete"></dma-confirm-delete>
    <dma-importfile></dma-importfile>
    <dma-validate-restore></dma-validate-restore>
  </div>
</template>

<script>
import menuButton from "./menuButton/Main";
import grid from "./grid/Main";
import deleteStoryboard from "./deleteStoryboard/Main";
import confirmDelete from "./deleteStoryboard/confirmDelete/Main";
import importFile from "./importFile/Main";
import validateRestore from "./validateRestore/Main";
import formSearch from "./formSearch/Main";

import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import apiUtil from "../../common/apiUtil/index";
import globalUtil from "../../common/globalUtil/index";

var TAG = "[/pages/listStoryboard/Main.vue]";
export default {
  components: {
    "dma-menubutton": menuButton,
    "dma-grid": grid,
    "dma-delete-storyboard": deleteStoryboard,
    "dma-confirm-delete": confirmDelete,
    "dma-importfile": importFile,
    "dma-validate-restore": validateRestore,
    "form-search": formSearch
  },
  data() {
    return {
      onGridLoaded: "#onGridLoaded",
      fields: null,
      selectedRow: null,
      errorScreenList: null,
      importDialogEventName: "#importFile"
    };
  },
  methods: {
    getGridData() {
      return this.gridItems;
    },
    getSelectedRow() {
      return this.selectedRow;
    },
    setSelectedRow(data) {
      this.selectedRow = data;
    },
    setErrorScreenList(data) {
      this.errorScreenList = data;
    },
    confirmDelete(callFrom) {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      const bodyParams = {
        storyList: [{ storyName: this.selectedRow.storyName }],
        uiList: this.errorScreenList
      };
      const url =
        callFrom == "all"
          ? globalUtil.SERVICES.URL_DELETE_STORY_AND_SCREEN
          : globalUtil.SERVICES.URL_DELETE_STORY;

      const call = apiUtil.callService.doPost(url, bodyParams);
      call
        .then(response => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          if (response.data.success) {
            const responseData = response.data.responseData;
            uiUtil.bus.post(this.onGridLoaded, responseData.storyList);
            this.selectedRow = null;
            this.errorScreenList = [];
            uiUtil.bus.post(
            constantUtil.EVENT.SHOW_ALERT_DIALOG,
            "Delete Success !"
          );
          } else {
            uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG, response.data.responseDesc);
          }
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
    }
  },
  created() {
    this.fields = globalUtil.VARIABLES.listStory_fields;
    // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
    // const bodyParams = { user: "admin" };
    // const call = apiUtil.callService.doPost(
    //   globalUtil.SERVICES.URL_LIST_STORY,
    //   bodyParams
    // );
    // call
    //   .then(response => {
    //     if (apiUtil.callService.checkSuccessStatus(response)) {
    //       const success = response.data.success;
    //       if (success) {
    //         const responseData = response.data.responseData;
    //         uiUtil.bus.post(this.onGridLoaded, responseData.storyList);
    //       } else {
    //       }
    //     }
    //   })
    //   .then(() => {
    //     uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
    //   })
    //   .catch(err => {
    //     uiUtil.error.readError(err);
    //   });

    // uiUtil.bus.on(this.onGridLoaded, data => {
    //   this.items = [];
    //   data.forEach(el => {
    //     el.chk = false;
    //     this.items.push(el);
    //   });
    //   this.totalRows = this.items.length;
    // });

    uiUtil.bus.on(constantUtil.EVENT.SEARCH_STORYBOARD, bodyParams => {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      const call = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_LIST_STORY,
        bodyParams
      );
      call
        .then(response => {
          if (apiUtil.callService.checkSuccessStatus(response)) {
            const success = response.data.success;
            if (success) {
              const responseData = response.data.responseData;
              uiUtil.bus.post(this.onGridLoaded, responseData.storyList);
            } else {
              uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
              uiUtil.bus.post(
                constantUtil.EVENT.SHOW_ALERT_DIALOG,
                response.data.responseDesc
              );
            }
          }
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(err => {
          uiUtil.error.readError(err);
        });
    });

    uiUtil.bus.on(constantUtil.EVENT.EXPORT_FILE_STORYBOARD, () => {
      if (!_.isEmpty(this.selectedRow)) {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        const bodyParams = {
          user: "admin",
          storyName: this.selectedRow.storyName
        };
        const call = apiUtil.callService.doPost(
          globalUtil.SERVICES.URL_BACKUP_STORY,
          bodyParams
        );
        call
          .then(response => {
            const responseData = response.data.responseData;
            if (response.data.success) {
              let formData = new FormData();

              // Add the form data we need to submit
              const headers = {
                headers: {
                  "Content-Type": "multipart/form-data"
                },
                responseType: "arraybuffer"
              };
              formData.append("filePath", responseData.filePath);
              const callDownload = apiUtil.callService.doPost_DefaultBody(
                globalUtil.SERVICES.URL_DOWLOAD_BACKUP_STORY,
                formData,
                headers
              );
              console.log("DOWNLOAD = ", callDownload);
              callDownload
                .then(responseDownload => {
                  console.log(TAG + " ResponseDownload = ", responseDownload);

                  let blob = new Blob([responseDownload.data], {
                    type: responseDownload.headers["content-type"]
                  });
                  console.log(TAG + " BLOB = ", blob);

                  let link = document.createElement("a");
                  link.href = window.URL.createObjectURL(blob);
                  link.download = "dmaBackup.dmabk";
                  link.click();
                  uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
                })
                .catch(err => {
                  uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
                  uiUtil.error.readError(err);
                });
            } else {
              uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
              uiUtil.bus.post(
                constantUtil.EVENT.SHOW_ALERT_DIALOG,
                response.data.responseDesc
              );
            }
          })
          .catch(err => {
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
            uiUtil.error.readError(err);
          });
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Select Storyboard !"
        );
      }
    });
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
