.context {
  background: #ebebeb;

  padding : 20px;
  padding-top: 80px;
  // padding-left: 110px;
  width: 100%;
  padding-bottom : 5px;
}
* {
  font-size: 20px;
  font-family: "Cordia New Regular";
}

.content {
  min-height: 85vh;
  height: 100%;
}

@media screen and (max-height: 800px) {
  .content {
    min-height: 71vh;
    height: 100%;
  }
}
