<template>
  <div class="context">
    <dma-topmenu :pageName="'Application'"></dma-topmenu>
    <div class="content">
      <dma-grid :fields="fields" :items="items"></dma-grid>
    </div>
    <dma-footer></dma-footer>
    <dma-viewpublishapp></dma-viewpublishapp>
    <dma-publishapp></dma-publishapp>
  </div>
</template>

<script>
import Grid from "./grid/Main";
import ViewPublishApp from "./viewPublishApp/Main";
import PublishApp from "./publishApp/Main";

import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import apiUtil from "../../common/apiUtil/index";
import globalUtil from "../../common/globalUtil/index";

var TAG = "[/pages/application/Main.vue]";
export default {
  components: {
    "dma-grid": Grid,
    "dma-viewpublishapp": ViewPublishApp,
    'dma-publishapp' : PublishApp
  },
  data() {
    return {
      fields: null,
      items: []
    };
  },
  methods: {},
  created() {
    this.fields = globalUtil.VARIABLES.listApplication_fields;

    uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

    const call = apiUtil.callService.doPost(
      globalUtil.SERVICES.URL_LIST_ENTITY
    );
    call
      .then(response => {
        const responseData = response.data.responseData;
        this.items = responseData.entityList;
      })
      .then(() => {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
      })
      .catch(err => {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        uiUtil.error.readError(err);
      });

    uiUtil.bus.on(constantUtil.EVENT.SAVE_APPLICATION, () => {
      const call = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_LIST_ENTITY
      );
      call
        .then(response => {
          const responseData = response.data.responseData;
          this.items = responseData.entityList;
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
    });
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
