<template>
  <div>
    <div v-if="show" role="dialog" class="modal show d-block" style="padding:0px 40px;">
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Import File</h5>
            <button
              type="button"
              aria-label="Close"
              class="close"
              @click.stop.prevent="show = !show"
            >×</button>
          </header>

          <div class="modal-body">
            <b-form-file
              v-model="file"
              accept=".dmabk"
              :state="Boolean(file)"
              placeholder="Choose File ..."
            ></b-form-file>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="onUpload">
              <font-awesome-icon :icon="['fas','upload']" class="fas-view" style="font-size:15px;" />&nbsp;Upload
            </button>
            <button class="default" @click.stop.prevent="show = !show">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- warning upload image all modal New -->
    <div
      v-if="showDialog"
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;"
    >
      <div v-if="warning" class="modal-dialog modal-md modal-dialog-centered" style="width:600px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header" style="font-size:24px;">Message</header>
          <div class="modal-body" style="text-align:center; overflow: hidden;">
            <h5 style="text-align:left; color:red; font-size:20px; " >{{content}}</h5>
            <b-table :fields="field" striped hover style="width:100%" :items="items"></b-table>
          </div>
          <div class="modal-footer">
            <div>
              <button class="yellow" @click.stop.prevent="showDialog = false">
                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;" />&nbsp;Confirm
              </button>
            </div>
          </div>
        </div>
      </div>

      <div v-if="!warning" class="modal-dialog modal-md modal-dialog-centered" style="width:300px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header" style="font-size:24px;">Message</header>
          <div class="modal-body" style="text-align:center; overflow: hidden;">
            <h5 style="text-align:left; color:green; font-size:20px; " >{{content}}</h5>
          </div>
          <div class="modal-footer">
            <div>
              <button class="yellow" @click.stop.prevent="showDialog = false">
                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;" />&nbsp;Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

var TAG = "[/components/ims/importFile/Main.vue] ";
export default {
  props: {
    setItems: Function
  },
  data() {
    return {
      title: "",
      content: "",
      field: ["Screen Name"],
      show: false,
      file: null,
      showDialog: false,
      warning: false,
      uploadImageAll: [],
      items: []
    };
  },
  methods: {
    onUpload() {
      if (this.file == null) {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Choose File Before Upload !"
        );
        this.show = false;
        return;
      }
      let formData = new FormData();
      formData.append("filePath", this.file);
      
      const headers = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.show = false;
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

      const call = apiUtil.callService.doPost_DefaultBody(
        globalUtil.SERVICES.URL_UPLOAD_BACKUP_STORY_IMAGE,
        formData,
        headers,
        false
      );
      call
        .then(response => {
          console.log(response);
          const responseData = response.data.responseData;

          if (response.data.success) {
            // New.
            // 15/01/2020 14:26
            // Add Button
            this.uploadImageAll = responseData;

            this.setItems(responseData.imageValidation.data);
          } else {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              response.data.responseDesc
            );
          }
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          this.show = false;
          uiUtil.error.readError(error);
        });
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.IMPORT_IMAGE_STORYBOARD, () => {
      this.file = null;
      this.show = true;
    });

    uiUtil.bus.on(constantUtil.EVENT.UPLOAD_IMAGE_ALL_STORYBOARD, () => {
      const headers = {
        headers: {
          "Content-Type": "application/json"
        }
      };
      this.show = false;

      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

      const requestData = { requestData: this.uploadImageAll };
      const call = apiUtil.callService.doPost_DefaultBody(
        globalUtil.SERVICES.URL_UPLOAD_IMAGE_ALL,
        requestData,
        headers,
        false
      );
      call
        .then(response => {
          const responseData = response.data.responseData;
   
          if (responseData.verifyWarning) {
            this.showDialog = true;
            this.content = "Upload Success.";
          } else {
            this.warning = true;
            this.showDialog = true;
            this.content =
              "Upload Success with error image. Please, check image from screen listed below.";
            responseData.warningList.forEach(screen =>
              this.items.push({ "Screen Name": screen.uiname })
            );
          }
          this.setItems(responseData.imageValidation.data);
        })
        .then(response => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          this.show = false;
          uiUtil.error.readError(error);
        });
    });
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
