<template>
  <div>
    <!-- {{listScreenGroup}} -->
    <!-- <group-storyboard
      v-for="(item,index) in listScreenGroup"
      :key="index"
      :ref="'SceenGroupDetial_' + index"
      :listScreenGroup="item.screen"
      :groupName="item.name"
    ></group-storyboard> -->
    <group-storyboard
      v-for="(item,index) in listScreenGroup"
      :key="index"
      :ref="'SceenGroupDetial_' + index"
      :groupName="item.name"
      :groupRemark="item.description"
    ></group-storyboard>
  </div>
</template>

<script>
import apiUtil from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";

import SceenGroupDetial from "./SceenGroupDetial/SceenGroupDetial";

var TAG = "[ScreenInStoryborad/ScreenInStoryborad.vue] ";
export default {
  props: {},
  components: {
    "group-storyboard": SceenGroupDetial
  },
  data() {
    return {
      listScreenGroup: []
    };
  },
  created() {},
  mounted() {
  },
  watch: {},
  methods: {
    setListScreenGroup(data) {
      console.log(TAG,"setListScreenGroup",data);
      this.listScreenGroup = [...data];
      this.$nextTick(() => {
        //Bus to Search TargetScreen
        uiUtil.bus.post(constantUtil.EVENT.SET_SCREEN_GROUP,data);
        
        this.listScreenGroup.forEach((item , index) => {
          console.log(TAG,"mounted => this.$refs",this.$refs);
          this.$refs["SceenGroupDetial_" + index][0].setListScreenGroup(item.screen);
          this.$refs["SceenGroupDetial_" + index][0].setIndexScreenGroup(index);
          this.$refs["SceenGroupDetial_" + index][0].setLastIndexScreenGroup(index == (this.listScreenGroup.length - 1));
        });
      });
    }
  }
};
</script>

<style scoped>
</style>
