.grid {
  border: 1px solid #ccc;
  margin-top: 10px;
  font-size: 20px;
  font-family: "Cordia New Regular";
}

.grid-content {
  background: #FFFFFF;
  min-height: 72vh;
}
@media screen and (max-height: 800px) {
  .grid-content {
    min-height: 64vh;
  }
}
.search {
  margin: 10px;
  width: 250px;
  font-size: 20px;
}

input::placeholder {
  color: #c2c2c2;
}

.fas-view {
  font-size: 15px;
  cursor: pointer;
  color: #5562d4;
}

.fas-view:hover {
  opacity: 0.5;
}
