<template>
  <div class="grid">
    <b-input v-model="filter" class="search sm-size" placeholder="Filter"></b-input>
    <div class="grid-content">
      <b-table show-empty stacked="md" v-model="gridData" class="table-striped " :items="items" :fields="fields" :filter="filter" @filtered="onFiltered" :tbody-tr-class="'tr-hover'" >
        
        <template slot="view" slot-scope="data">
          <font-awesome-icon :icon="['fas','sign-in-alt']" style="font-size:20px;cursor:pointer;color:gray;" @click.stop.prevent="viewPublishApp(data)" />
        </template>

        <template slot="entityName" slot-scope="data">
          <button type="button" class="yellow sm" @click.stop.prevent="publishApp(data)">
            <font-awesome-icon :icon="['fas','bolt']" style="font-size:13px;"/>
            &nbsp;Publish
          </button>
          <span style="margin-left:20px;">{{data.item.entityName}}</span>
        </template>

        <template slot="publishStatus" slot-scope="data">
          <div v-if="data.item.publishStatus == 'P'">
            <img src="../../../assets/images/ic_publish1.png" alt="">
          </div>
          <div v-else>
            <img src="../../../assets/images/ic_publish2.png" alt="">
          </div>
        </template>

      </b-table>
    </div>

    <b-pagination v-if="items.length > 0" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import uiUtil from "../../../common/uiUtil/index";

var TAG = "[/pages/application/grid/Main.vue]";
export default {
  props: {
    fields: Array,
    items : Array
  },
  data() {
    return {
      gridData: null,
      filter: null,
      currentPage: 1,
      perPage: 10,
      totalRows: 0
    };
  },
  methods: {
    viewPublishApp(data){
      uiUtil.bus.post(constantUtil.EVENT.VIEW_PUBLISH_APPLICATION, data.item.entityName);
    },
    publishApp(data){
      console.log(TAG+" Hello.")
      uiUtil.bus.post(constantUtil.EVENT.PUBLISH_APPLICATION, data.item);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
  },
  created() {
    
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
