<template>
  <div
    v-if="showModal"
    role="dialog"
    class="modal show d-block"
    style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;"
  >
    <div class="modal-dialog modal-md modal-dialog-centered">
      <div tabindex="-1" role="document" class="modal-content">
        <header class="modal-header" style="font-weight:bold; display:flex; align-items:center;">
          <div style="flex:1; display:flex; align-items:center;">
            <div>Tab No {{listDataTab.tabNo}} : Icon Configuration</div>
          </div>

          <div style="flex:1; display:flex; flex-direction:row; align-items:center;">
            <div>Icon Type</div>
            <b-form-select
              @change="clearValue()"
              v-model="iconType"
              text-field="text"
              value-field="value"
              :options="typeOption"
            ></b-form-select>
          </div>
          <div
            style="flex:4; color:red;  display:flex; align-items:center; margin-left:20px; font-weight:200;"
          >
            <div
              v-if="iconType == 'image'"
            >Recommended to use PNG file with transparent background, size 50x50 pixels</div>
          </div>
        </header>
        <div class="modal-body">
          <b-table
            v-model="IconConfigTable"
            show-empty
            stacked="md"
            :items="tabListIconConfig"
            :fields="fieldsActive"
          >
            <!-- NAME ACTIVE -->
            <template slot="nameActive" slot-scope="data" style="display:flex; flex:1;">
              <b-row style="display:flex; align-items:center; justify-content:left;">
                <b-col sm="4">
                  <div v-if="iconType =='image'">URL</div>
                  <div v-if="iconType =='font'">Font Name</div>
                </b-col>
                <b-col>
                  <image-upload
                    :file="file"
                    :url="getUploadUrl()"
                    :do-success="uploadSuccess"
                    :do-failure="uploadFail"
                    v-model="data.item.nameActive"
                    :my-data="data.item"
                    :fromTab="true"
                    :fromInput="'nameActive'"
                  ></image-upload>
                </b-col>
              </b-row>
            </template>

            <!-- ICON COLOR ACTIVE -->
            <template slot="active" slot-scope="data" style="display:flex; flex:1;">
              <b-row style="display:flex; align-items:center; justify-content:left">
                <b-col sm="4">
                  <div>Font Color</div>
                </b-col>
                <b-col>
                  <div style="display:flex;flex:1;align-items:center;">
                    <b-input class="input" type="text" v-model="data.item.active"></b-input>
                    <div
                      :style="{ backgroundColor: data.item.active,border:1+'px solid #d3d3d3', marginLeft:8+'px', borderRadius:5+'px',height:40+'px' , width:50+'px'}"
                    ></div>
                    <dma-colorpicker :id="'active'"></dma-colorpicker>
                    <!-- <a class="btnIconColorPicker"></a> -->
                  </div>
                </b-col>
              </b-row>
            </template>

            <!-- BACKGROUND COLOR ACTIVE -->
            <template slot="activeBgColor" slot-scope="data" style="display:flex; flex:1;">
              <b-row style="display:flex; align-items:center; justify-content:left">
                <b-col sm="5">
                  <div>Background Color</div>
                </b-col>
                <b-col>
                  <div style="display:flex;flex:1;align-items:center;">
                    <b-input class="input" type="text" v-model="data.item.activeBgColor"></b-input>
                    <div
                      :style="{ backgroundColor: data.item.activeBgColor,border:1+'px solid #d3d3d3', marginLeft:8+'px', borderRadius:5+'px',height:40+'px' , width:50+'px'}"
                    ></div>
                    <dma-colorpicker :id="'activeBgColor'"></dma-colorpicker>
                  </div>
                </b-col>
              </b-row>
            </template>
          </b-table>

          <b-table
            v-model="IconConfigTable"
            show-empty
            stacked="md"
            :items="tabListIconConfig"
            :fields="fieldsInactive"
          >
            <!-- NAME INACTIVE -->
            <template slot="nameInactive" slot-scope="data" style="display:flex; flex:1;">
              <b-row style="display:flex; align-items:center; justify-content:left">
                <b-col sm="4">
                  <div v-if="iconType =='image'">URL</div>
                  <div v-if="iconType =='font'">Font Name</div>
                </b-col>
                <b-col>
                  <image-upload
                    :file="file"
                    :url="getUploadUrl()"
                    :do-success="uploadSuccess"
                    :do-failure="uploadFail"
                    v-model="data.item.nameInactive"
                    :my-data="data.item"
                    :fromTab="true"
                    :fromInput="'nameInactive'"
                  ></image-upload>
                </b-col>
              </b-row>
            </template>

            <!-- ICON COLOR INACTIVE -->
            <template slot="inactive" slot-scope="data" style="display:flex; flex:1;">
              <b-row style="display:flex; align-items:center; justify-content:left">
                <b-col sm="4">
                  <div>Font Color</div>
                </b-col>
                <b-col>
                  <div style="display:flex;flex:1;align-items:center;">
                    <b-input class="input" type="text" v-model="data.item.inactive"></b-input>
                    <div
                      :style="{ backgroundColor: data.item.inactive,border:1+'px solid #d3d3d3', marginLeft:8+'px', borderRadius:5+'px',height:40+'px' , width:50+'px'}"
                    ></div>
                    <dma-colorpicker :id="'inactive'"></dma-colorpicker>
                  </div>
                </b-col>
              </b-row>
            </template>

            <!-- BACKGROUND COLOR INACTIVE -->
            <template slot="inactiveBgColor" slot-scope="data" style="display:flex; flex:1;">
              <b-row style="display:flex; align-items:center; justify-content:left">
                <b-col sm="5">
                  <div>Background Color</div>
                </b-col>
                <b-col>
                  <div style="display:flex;flex:1;align-items:center;">
                    <b-input class="input" type="text" v-model="data.item.inactiveBgColor"></b-input>
                    <div
                      :style="{ backgroundColor: data.item.inactiveBgColor,border:1+'px solid #d3d3d3', marginLeft:8+'px', borderRadius:5+'px',height:40+'px' , width:50+'px'}"
                    ></div>
                    <dma-colorpicker :id="'inactiveBgColor'"></dma-colorpicker>
                  </div>
                </b-col>
              </b-row>
            </template>
          </b-table>
          <div style="flex:4; color:red;  display:flex; align-items:center; font-weight:200;">
            <div>Recommended to use Same Image or Font Icon as Active Tab in Different Icon Color and Background</div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="yellow" @click.stop.prevent="saveIconConfig">Save</button>
          <button class="default" @click.stop.prevent="cancelIconConfig">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import colorpicker from "../ims/colorPicker/ColorPicker.vue";
import ImageUpload from "../ims/uploadImage/ImageUpload.vue";
var TAG = "[Config Tab]";
export default {
  components: {
    "dma-colorpicker": colorpicker,
    ImageUpload
  },
  props: {},
  data() {
    return {
      file: null,
      typeOption: [
        { text: "Image Icon", value: "image" }
        // { text: "Font Icon", value: "font" }
      ],
      showModal: false,
      IconConfigTable: null,
      typeShow: "URL",
      iconType: null,
      listDataTab: {},
      fieldsActive: [
        { label: "Active Tab ", key: "nameActive" },
        { label: " ", key: "active" },
        { label: " ", key: "activeBgColor" }
      ],
      tabListIconConfig: [
        {
          name: "",
          nameInactive: "",
          active: "",
          activeBgColor: "",
          inactive: "",
          inactiveBgColor: ""
        }
      ],
      fieldsInactive: [
        { label: "Inactive Tab", key: "nameInactive" },
        { label: " ", key: "inactive" },
        { label: " ", key: "inactiveBgColor" }
      ]
    };
  },
  methods: {
    uploadFail(result) {
      console.log(TAG + "uploadFail=>result", result);
    },
    uploadSuccess(res, data, from) {
      if (from == "nameActive") {
        this.tabListIconConfig[0].name = res.data.resultData.url;
      } else if ((from = "nameInactive")) {
        this.tabListIconConfig[0].nameInactive = res.data.resultData.url;
      }
    },
    getUploadUrl() {
      let hostname = window.location.hostname;
      if (hostname === "localhost") {
        return "http://localhost:3001/ims/apis/file/UploadPermanent";
      } else {
        return window.location.origin + "/ims/apis/file/UploadPermanent";
      }
    },
    onShowModal(data) {
      this.showModal = true;
      this.listDataTab = data;
      if (_.isEmpty(data.option)) {
        this.iconType = "image";
        this.tabListIconConfig[0].name = "";
        this.tabListIconConfig[0].active = "";
        this.tabListIconConfig[0].activeBgColor = "";
        this.tabListIconConfig[0].nameInactive = "";
        this.tabListIconConfig[0].inactive = "";
        this.tabListIconConfig[0].inactiveBgColor = "";
      } else {
        this.iconType = data.showType;
        this.tabListIconConfig[0].name = data.option.name;
        this.tabListIconConfig[0].active = data.option.active;
        this.tabListIconConfig[0].activeBgColor = data.option.activeBgColor;
        this.tabListIconConfig[0].nameInactive = data.option.nameInactive;
        this.tabListIconConfig[0].inactive = data.option.inactive;
        this.tabListIconConfig[0].inactiveBgColor = data.option.inactiveBgColor;
      }
    },
    saveIconConfig() {
      uiUtil.bus.post(
        constantUtil.EVENT.GET_VALUE_TAB_ICON_CONFIG,
        this.listDataTab.tabNo,
        this.iconType,
        this.tabListIconConfig[0]
      );

      this.showModal = false;
    },
    cancelIconConfig() {
      this.showModal = false;
    },
    clearValue() {
      if (this.iconType == "image") {
        this.typeShow = "URL";
      } else {
        this.typeShow = "Font Key";
      }
      this.tabListIconConfig[0].name = "";
      this.tabListIconConfig[0].active = "";
      this.tabListIconConfig[0].activeBgColor = "";
      this.tabListIconConfig[0].nameInactive = "";
      this.tabListIconConfig[0].inactive = "";
      this.tabListIconConfig[0].inactiveBgColor = "";
    }
  },

  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.CHANGE_COLOR_PICKER, (color, id) => {
      if (id == "active") {
        this.tabListIconConfig[0].active = color;
      } else if (id == "activeBgColor") {
        this.tabListIconConfig[0].activeBgColor = color;
      } else if (id == "inactive") {
        this.tabListIconConfig[0].inactive = color;
      } else if (id == "inactiveBgColor") {
        this.tabListIconConfig[0].inactiveBgColor = color;
      }
    });
  }
};
</script>

<style scoped>
div {
  width: 100%;
  font-size: 20px;
}

.mb-3 {
  margin-left: 20px;
  min-width: 150px;
}

.input {
  min-width: 150px;
  max-width: 250px;
}

select {
  font-size: 20px;
  font-family: "Cordia New Regular";
  padding: 0px 10px;
}

.btn-search {
  background: url("../../assets/images/search-icon.png") no-repeat top left;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  border: none;
  opacity: 0.6;
}

.btnIconColorPicker {
  background: url("../../assets/images/paint.png") !important;
  background-image: url("../../assets/images/paint.png") !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  border: none;
  align-self: center;
  margin-left: 6px;
  object-fit: contain !important;
  width: 35px !important;
  height: 16px !important;
}
</style>