<template>
  <div>
    <div style="margin-left:18px">
      <b-form inline>
        <p>
          <b>Tabs Configure :</b>
        </p>
        <b-form-select
          id="enableTab"
          v-model="enableTab"
          value-field="value"
          :options="options"
          class="mb-3"
        />
      </b-form>
      <div
        style="color:red"
      >Enable Tab Configure, your app will display tabs menu in the bottom of application.</div>
    </div>
    <div v-if="enableTab == 'tab'" class="group-tabconfig">
      <div style="display:flex; flex-direction: row;">
        <div style="flex:1; display:flex; align-items:center">
          <p>Minimum 2 Tabs - Maximum 5 Tabs</p>
        </div>
        <div style="flex:2; display:flex; align-items:center;">
          <p>Default Tab No.</p>
          <b-form-select
            id="screenList"
            v-model="screenList"
            :options="screenActiveList"
            class="mb-3"
            style="max-width:250px"
          />
          <p
            style="margin-left:15px; color:red"
          >Default Tab will displated as first screen when openning application</p>
        </div>
      </div>
      <div style="display:flex;">
        <b-table v-model="tabTable" show-empty stacked="md" :items="tabList" :fields="fields">
          <template slot="tabPostition" slot-scope="data"></template>

          <!-- TAB NO -->
          <template slot="tabNo" slot-scope="data">
            <p>{{data.item.tabNo}}</p>
          </template>

          <!-- TAB NAME -->
          <template slot="tabName" slot-scope="data">
            <b-input type="text" v-model="data.item.tabName"></b-input>
          </template>

          <!-- SCREEN NAME -->
          <template slot="screenName" slot-scope="data">
            <b-form-select
              v-model="data.item.screenName"
              text-field="text"
              value-field="value"
              :options="screenActiveList"
              @change="updateScreen('MENU_nk',data.item.screenName)"
            ></b-form-select>
          </template>

          <!-- ICON CONFIGURE BUTTON -->
          <template slot="option" slot-scope="data">
            <!-- <button class="btn-search" @click.stop.prevent="openConfigTab(data.item)"></button> -->
            <font-awesome-icon
              :icon="['fas','cog']"
              @click.stop.prevent="openConfigTab(data.item)"
              class="btn-config"
            />
          </template>

          <!-- REMARK -->
          <template slot="remark" slot-scope="data">
            <b-input type="text" v-model="data.item.remark"></b-input>
          </template>

          <!-- REMOVE BUTTON -->
          <template slot="removable" slot-scope="data">
            <button
              v-if="data.item.removable"
              class="btn-delete"
              @click.stop.prevent="deleteOutput(data.item)"
            ></button>
          </template>
        </b-table>
      </div>
      <div>
        <button :disabled="!createable" class="yellow" @click.stop.prevent="createOuput">Add New Tab</button>
      </div>
      <div>
        <p
          style="color:red"
        >Note : Screen you selected to be 'Tab' will aways display as tab Please beware to select to be of some target</p>
      </div>
      <dma-configtab ref="ConfigTab"></dma-configtab>
      <dma-confrimdelete ref="ConfrimDelete"></dma-confrimdelete>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import globalUtil from "../../common/globalUtil/index.js";
import validateUtil from "../../common/validateUtil/index";
import configTab from "./ConfigTab.vue";
import confrimdelete from "../models/ConfirmDeleteTabConfig.vue";

var TAG = "[TabInfo] ";
export default {
  components: {
    "dma-configtab": configTab,
    "dma-confrimdelete": confrimdelete
  },
  props: { screenActiveList: Array, dataList: Object },
  computed: {},
  data() {
    return {
      createable: true,
      screenList: null,
      tabTable: null,
      enableTab: "none",
      options: [
        { text: "Disable", value: "none" },
        { text: "Enable", value: "tab" }
      ],
      fields: [
        { label: " ", key: "tabPostition" },
        { label: "Tab No", key: "tabNo" },
        { label: "Tab Name", key: "tabName" },
        { label: "Screen of Tab", key: "screenName" },
        { label: "Icon Configure", key: "option" },
        { label: "Remark", key: "remark" },
        { label: " ", key: "removable" }
      ],
      tabList: []
    };
  },
  methods: {
    // FUNCTION GET VALUE FOR SAVE STORYBOARD
    getValue() {
      if (this.enableTab == "tab") {
        let listTabForSave = [];
        this.tabList.forEach(data => {
          let dataForSave = {
            tabName: data.tabName,
            screenName: data.screenName,
            option: data.option,
            remark: data.remark,
            showType: data.showType
          };
          listTabForSave.push(dataForSave);
        });

        return {
          tabMode: enableTab.value,
          activeTab: screenList.value,
          tabData: listTabForSave
        };
      } else {
        //do nothing

        return {
          tabMode: "none",
          activeTab: "",
          tabData: []
        };
      }
    },

    updateScreen(page, oldPage) {
      this.$nextTick(() => {
        const selectedIndex = this.screenActiveList.findIndex(item => item.value == page);
        const oldSelectedIndex = this.screenActiveList.findIndex(
          item => item.value == oldPage
        );
        console.log("NEW SELECTED",page);
        console.log("NEW OLD",oldPage);
        if (selectedIndex > -1) this.screenActiveList[selectedIndex].disabled = true;
        if (oldSelectedIndex > -1)
          this.screenActiveList[oldSelectedIndex].disabled = false;
      });
    },
    // CLICK BUTTON ADD NEW TAB
    createOuput() {
      this.tabList.push({
        tabNo: this.tabList.length + 1,
        tabName: "",
        screenName: "",
        option: "",
        remark: "",
        removable: true,
        showType: "image"
      });
      this.idGenerator++;

      if (this.tabList.length == 5) {
        this.createable = false;
      } else {
        this.createable = true;
      }
    },

    // CLICK BUTTON DELETE TAB
    deleteOutput(item) {
      this.$refs.ConfrimDelete.showConfrimDelete(item.tabNo);
    },
    openConfigTab(data) {
      this.$refs.ConfigTab.onShowModal(data);
    }
  },

  mounted() {
    // CHECK VALIDATE TAB
    // BUS CHECK VALIDATION BEFORE SAVE STORYBOARD
    // uiUtil.bus.on(constantUtil.EVENT.CHECK_VALIDATION_TAB_CONFIG, () => {
    //   if (
    //     (this.tabList[0].tabName == "" ||
    //       this.tabList[0].screenName == "" ||
    //       this.tabList[1].tabName == "" ||
    //       this.tabList[1].screenName == "") &&
    //     this.enableTab == "tab"
    //   ) {
    //     uiUtil.bus.post(
    //       constantUtil.EVENT.CHECK_TAB_BEFORE_SAVE_STORYBOARD,
    //       false
    //     );
    //   } else {
    //     uiUtil.bus.post(
    //       constantUtil.EVENT.CHECK_TAB_BEFORE_SAVE_STORYBOARD,
    //       true
    //     );
    //   }
    // });

    // BUS GET VALUE ICON CONFIG
    uiUtil.bus.on(
      constantUtil.EVENT.GET_VALUE_TAB_ICON_CONFIG,
      (tabNo, showType, tabListIconConfig) => {
        this.tabList.forEach(data => {
          if (data.tabNo == tabNo) {
            // font type
            data.option = {
              name: tabListIconConfig.name,
              active: tabListIconConfig.active,
              activeBgColor: tabListIconConfig.activeBgColor,
              nameInactive: tabListIconConfig.nameInactive,
              inactive: tabListIconConfig.inactive,
              inactiveBgColor: tabListIconConfig.inactiveBgColor
            };
            data.showType = showType;
          }
        });
      }
    );

    // BUS DELETE TAB
    uiUtil.bus.on(constantUtil.EVENT.CONFIRM_DELETE_TAB_CONFIG, index => {
      for (let i = 0; i < this.tabList.length; i++) {
        if (this.tabList[i].tabNo == index) {
          if (i + 1 < this.tabList.length) {
            this.tabList[i + 1].tabNo = this.tabList[i].tabNo;
          }
          this.tabList.splice(i, 1);
          break;
        }
      }
      if (this.tabList.length == 5) {
        this.createable = false;
      } else {
        this.createable = true;
      }
    });

    // BUS CHECK UPDATE STORYBOARD
    uiUtil.bus.on(constantUtil.EVENT.LOADSTORYBOARD, sb => {
      // UPDATE
      if (sb != null) {
        if (sb.tabInfo.tabData.length !== 0) {
          this.enableTab = sb.tabInfo.tabMode;
          this.screenList = sb.tabInfo.activeTab;

          for (let i = 0; i < sb.tabInfo.tabData.length; i++) {
            if (i > 1) {
              let dataForSet = {
                tabNo: i + 1,
                tabName: sb.tabInfo.tabData[i].tabName,
                screenName: sb.tabInfo.tabData[i].screenName,
                option: sb.tabInfo.tabData[i].option,
                remark: sb.tabInfo.tabData[i].remark,
                showType: sb.tabInfo.tabData[i].showType,
                removable: true
              };

              this.tabList.push(dataForSet);
            } else {
              let dataForSet = {
                tabNo: i + 1,
                tabName: sb.tabInfo.tabData[i].tabName,
                screenName: sb.tabInfo.tabData[i].screenName,
                option: sb.tabInfo.tabData[i].option,
                remark: sb.tabInfo.tabData[i].remark,
                showType: sb.tabInfo.tabData[i].showType,
                removable: false
              };
              this.tabList.push(dataForSet);
            }
          }
        }
        // UPDATE BUT NOT HAVE DATA
        else {
          this.tabList = [
            {
              tabNo: "1",
              tabName: "",
              screenName: "",
              option: "",
              remark: "",
              showType: "",
              removable: false
            },
            {
              tabNo: "2",
              tabName: "",
              screenName: "",
              option: "",
              remark: "",
              showType: "",
              removable: false
            }
          ];
        }
      }
      // CREATE STORYBOARD
      else {
        this.tabList = [
          {
            tabNo: "1",
            tabName: "",
            screenName: "",
            option: "",
            remark: "",
            showType: "",
            removable: false
          },
          {
            tabNo: "2",
            tabName: "",
            screenName: "",
            option: "",
            remark: "",
            showType: "",
            removable: false
          }
        ];
      }
    });
  }
};
</script>

<style scoped>
div {
  width: 100%;
  font-size: 20px;
}

.mb-3 {
  margin-left: 20px;
  min-width: 150px;
}

select {
  font-size: 20px;
  font-family: "Cordia New Regular";
  padding: 0px 10px;
}

.group-tabconfig {
  height: 100%;
  border: 1px solid #c2c2c2;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%;
  background: #fbfbff;
  overflow: hidden;
}

.btn-delete {
  background: url("../../assets/images/delete-icon.png") no-repeat top left;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: inline-block;
  border: none;
}

.btn-config {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  color: gray;
}
</style>
