<template>
  <div class="menu">
    <b-row>
      <b-col cols="8">

        <form-search></form-search>
        <!-- <button class="delete" type="button" @click.stop.prevent="validateDeleteStoryboard">
        <font-awesome-icon :icon="['fas','trash-alt']" style="font-size:15px;"/>
            &nbsp;Delete
        </button> -->
      </b-col>
      <b-col cols="4">

        <router-link class="yellow right" to="/storyBoard/new/newStoryboard" tag="button">
          <font-awesome-icon :icon="['fas','plus-circle']" style="font-size:15px;" /> &nbsp;New
        </router-link>
        <button class="yellow right" type="button" @click.stop.prevent="exportFile">
          Export
        </button>
        <button class="yellow right" type="button" @click.stop.prevent="importFile">
          Import
        </button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import formSearch from "../formSearch/Main";

var TAG = "[/pages/listStoryboard/menuButton/Main.vue]";
export default {
  components: {
    "form-search": formSearch
  },
  data() {
    return {};
  },
  methods: {
    importFile() {
      uiUtil.bus.post(constantUtil.EVENT.IMPORT_FILE_STORYBOARD);
    },
    exportFile() {
      uiUtil.bus.post(constantUtil.EVENT.EXPORT_FILE_STORYBOARD);
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
