<template>
  <div class="grid">
    <!-- <b-input v-model="filter" class="search sm-size" placeholder="Storyboard Name / Remark"></b-input> -->
    <div class="grid-content">
      <b-table ref="grid" show-empty stacked="md" style="background:white;" v-model="gridData" :current-page="currentPage" class="table-striped" :items="items" :fields="fields" @row-clicked="rowClicked" :filter="filter" :per-page="perPage" @filtered="onFiltered" :tbody-tr-class="'tr-hover'" @sort-changed="resetSelected">
        <template slot="checkList" slot-scope="data">
          <input type="checkbox" v-model="data.item.chk" onclick="return false">
        </template>
        <template slot="viewStory" slot-scope="data">
          <router-link :to="'/storyBoard/view/'+data.item.storyName">
            <font-awesome-icon :icon="['fas','sign-in-alt']" class="fas-view" style="color:gray;" />
          </router-link>
        </template>
        <template slot="storyName" slot-scope="data">
          {{data.item.storyName}}
        </template>
        <!-- <template slot="ready" slot-scope="data">
                <button class="yellow sm">
                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:15px;"/>
                    &nbsp;Ready
                </button>
            </template> -->

        <template slot="delete" slot-scope="data">
          <button class="delete" type="button" @click.stop.prevent="validateDeleteStoryboard(data)">
            <font-awesome-icon :icon="['fas','trash-alt']" style="font-size:15px;" /> &nbsp;Delete
          </button>
        </template>
      </b-table>
    </div>
    <b-pagination v-if="items.length > 0" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="clearSelected" />
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import uiUtil from "../../../common/uiUtil/index";

var TAG = "[/pages/listStoryboard/grid/Main.vue]";
export default {
  props: {
    onGridLoaded: String,
    fields: Array,
    setSelectedRow: Function,
    getSelectedRow: Function,
    setErrorScreenList: Function
  },
  data() {
    return {
      lastIndex: -1,
      gridData: null,
      items: [],
      filter: null,
      currentPage: 1,
      perPage: 10,
      totalRows: 0
    };
  },
  methods: {
    rowClicked(item, index, event) {
      console.log(this.gridData[index].chk);
      if (this.gridData[index].chk) {
        this.setSelectedRow(null);
        this.clearSelected();
        this.gridData[index].chk = false;
      } else {
        this.setSelectedRow(item);
        this.clearSelected();
        this.$refs.grid.$el.childNodes[4].childNodes[index + 1].className =
          "tr-hover active";
        this.gridData[index].chk = true;
      }
    },
    resetSelected(ctx) {
      this.clearSelected();
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    clearSelected() {
      const nodeList = _.isEmpty(this.$refs.grid)
        ? null
        : this.$refs.grid.$el.childNodes[4].childNodes;
      for (let i = 0; i < this.gridData.length; i++) {
        this.gridData[i].chk = false;
      }
      nodeList.forEach(el => {
        el.className = "tr-hover";
      });
    },
    validateDeleteStoryboard(data) {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      this.setSelectedRow(data.item);
      var selectedRow = data.item;
      if (_.isEmpty(selectedRow)) {
        const msg = "Please Select Storyboard !";
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG, msg);
        return;
      }
      console.log(TAG + "item", data.item);
      console.log(TAG + "selectedRow", selectedRow);
      const bodyParams = {
        storyList: [{ storyName: selectedRow.storyName }]
        // ok: false
      };
      const call = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_VALIDATE_DELETE_STORYBOARD,
        bodyParams
      );
      call
        .then(response => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          const result = response.data.responseData;
          if (result.resultSuccess) {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              "Delete Success !"
            );
          } else {
            this.setErrorScreenList(result.resultData);
            uiUtil.bus.post(
              constantUtil.EVENT.DELETE_STORYBOARD,
              result.resultData
            );
          }
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
    }
  },
  created() {
    uiUtil.bus.on(this.onGridLoaded, data => {
      this.items = [];
      data.forEach(el => {
        el.chk = false;
        this.items.push(el);
      });
      this.totalRows = this.items.length;
    });
  },
  mounted() {
    this.clearSelected();
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
