<template>
  <div>
    <img
      class="image-slide-custom"
      :src="src"
      @mouseover.prevent.stop="showOverlay = true"
      @mouseleave.prevent.stop="showOverlay = false"
      :ref="'ImageMouseOver'"
      v-if="!showOverlay"
    />

      <div
        align="center"
        @mouseover.prevent.stop="showOverlay = true"
        @mouseleave.prevent.stop="showOverlay = false"
        v-show="showOverlay"
        v-bind:style="{ 'background' : 'linear-gradient(#08080887, #08080887)'  , 'background-size' : 'cover' , 'background-position': 'top' , 'background-repeat': 'no-repeat'  }"

        class="text-overlay"

      >
        Screen name : {{uiName}}
        <br>
        Remark: {{remark}}
        <br>
        Storyboard : {{storyboard}}
        <br>
        Last updated : {{lastUpdate}}
        <br>
        Last publish : {{lastPublish}}
      </div>
  </div>
</template>

<script>
let TAG = "[common/components/ImageMouseOver/ImageMouseOver.vue] => ";

export default {
  components: {},
  props: {
    src: String,
    uiName: String,
    remark: String,
    storyboard: String,
    lastUpdate: String,
    lastPublish: String,
    needUpgrade: Boolean
  },
  data() {
    return {
      showOverlay: false,
      imageWidth: 0,
      imageHeight: 0
    };
  },
  computed: {},
  created() {
    window.addEventListener("mouseover", (event) => {
      this.showOverlay = false;
    });},
  mounted() {
    // console.log(
    //   TAG + "mounted => this.$refs.ImageMouseOver.clientHeight",
    //   this.$refs.ImageMouseOver.clientHeight
    // );
    // console.log(
    //   TAG + "mounted => this.$refs.ImageMouseOver.clientWidth",
    //   this.$refs.ImageMouseOver.clientWidth
    // );

    this.imageWidth = this.$refs.ImageMouseOver.clientWidth;
    this.imageHeight = this.$refs.ImageMouseOver.clientHeight;
  },
  watch: {},
  methods: {}
};
</script>

<style scoped>
.image-slide-custom {
  max-width: 200px;
  max-height: 250px;
}
.text-overlay {
  /* position: absolute;
  text-align: left;
  padding: 10px; */
  /* top: 0;
  left: 0; */
  /* color: #fff;
  background-color: #ddc8c887;
  cursor: pointer;
  width: 200px;
  height: 250px; */
  /* text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important; */
  /* word-wrap: normal;
  white-space: normal; */
  /* word-break: break-all; */

  position: sticky;
  text-align: left;
  padding: 10px;
  font-size: 15px;
  color: #fff;
  background-color: #08080887;
  cursor: pointer;
  width: 200px !important;
  height: 250px !important;
  /* margin-top: -200px; */
  word-break: break-all;
}
.do-upgrade {
  background: #ffde16;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 10px 3px 10px;
  transition: 0.25s;
}
.do-upgrade:hover {
  background: white;
  cursor: pointer;
}
</style>

