<template>
    <div class="dma-footer">
        Copyright © 2017 BeeBuddy Dot Net Company Limited. All Rights Reserved.
    </div>
</template>

<script>
export default {};
</script>

<style scoped>
.dma-footer {
    font-weight: 700;
    text-align: center;
    font-size:18px;
    bottom : 0px;
    margin: auto;
    margin-top:10px;
    width: calc(100%-90px);
}
</style>