<template>
  <div class="context">
    <dma-topmenu :pageName="'Import Image'"></dma-topmenu>
    <b-container fluid>
      <!-- User Interface controls -->
      <div class="content-fillter">
        <b-row>
          <b-col>
            <b-form inline>
              <b-input
                style="font-size: 20px;"
                v-model="filter"
                class="search sm-size"
                placeholder="Fillter"
              ></b-input>
              <p style="margin:0px 20px;">Rows per page</p>
              <b-form-select
                class="search"
                v-model="perPage"
                :options="perPageList"
                style="min-width:60px;"
              ></b-form-select>
            </b-form>
          </b-col>
          <b-col style="text-align: right; margin-right: 20px;">
            <button class="yellow" @click.stop.prevent="importFile">Import</button>
            <!--New. 15/01/2020 14:26 Add Button -->
            <button
              :disabled="show"
              class="yellow"
              @click.stop.prevent="warning = true"
            >Upload Image All</button>
          </b-col>
        </b-row>
      </div>

      <!-- Main table element -->
      <div style>
        <b-table
          class="table-RestoreImage table table-striped table-bordered"
          show-empty
          ref="mainTable"
          stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          @filtered="onFiltered"
        >
          <template slot="uiName" slot-scope="row">{{row.item.uiName}}</template>

          <template slot="default_binding" slot-scope="row">
            <div v-if="row.item.default_binding == true">
              <font-awesome-icon
                :icon="['fas','check-circle']"
                style="color: green; font-size: 25px;"
              />
            </div>
            <div v-else>
              <font-awesome-icon
                :icon="['fas','times-circle']"
                style="color: red; font-size: 25px;"
              />
            </div>
          </template>

          <template slot="sourceRawUrl" slot-scope="row">
            <img
              :src="row.item.sourceRawUrl"
              style="max-width: 200px; cursor:pointer;"
              @click.stop.prevent="showImage(row.item.sourceRawUrl)"
              alt="No Image"
            />
          </template>

          <template slot="targetRawUrl" slot-scope="row">
            <img
              :src="row.item.targetRawUrl+'&___rts='+ new Date().getTime()"
              style="max-width: 200px; cursor:pointer;"
              @click.stop.prevent="showImage(row.item.targetRawUrl)"
              alt="No Image"
            />
          </template>

          <template slot="test" slot-scope="row">
            <!-- <div v-show="row.item.isInternal">
          <image-upload :url="getUploadUrl(row)" :do-success="uploadSuccess" :my-data="row" :do-failure="uploadFail"></image-upload>
            </div>-->
            <image-upload
              :file="file"
              :url="getUploadUrl(row)"
              :do-success="uploadSuccess"
              :my-data="row"
              :do-failure="uploadFail"
              v-model="row.item.fileUpload"
            ></image-upload>
          </template>
        </b-table>

        <b-row
          v-if="totalRows > 0"
          style="padding: 5px; border: 1px solid #c2c2c2; margin: auto; margin-top: -1px;"
        >
          <b-col cols="8">
            <b-pagination
              :total-rows="totalRows"
              :per-page="perPage"
              v-model="currentPage"
              class="my-0"
            />
          </b-col>
          <b-col
            cols="4"
            align="right"
            style="font-weight: 600; font-size: 20px; padding-top: 5px;"
          >Displaying {{showRowDetail()}} of {{totalRows}}</b-col>
        </b-row>
      </div>

      <!-- warning upload image all modal New -->
      <div
        v-if="warning"
        role="dialog"
        class="modal show d-block"
        style="background:rgba(0,0,0,0.3);padding:0px 40px;"
      >
        <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
          <div tabindex="-1" role="document" class="modal-content">
            <header class="modal-header">
              <h5 class="modal-title">{{title}}</h5>
            </header>
            <div class="modal-footer">
              <div>
                <button class="yellow" @click.stop.prevent="uploadImageAll">
                  <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;" />&nbsp;Confirm
                </button>
                <button class="default" @click.stop.prevent="warning = !warning">
                  <font-awesome-icon :icon="['fas','times-circle']" style="font-size:13px;" />&nbsp;Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Info modal -->
      <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
        <pre>{{ modalInfo.content }}</pre>
      </b-modal>
      <import-file :setItems="setItems"></import-file>
    </b-container>
    <div class="footer-restoreImage">
      <dma-footer></dma-footer>
    </div>
  </div>
</template>

<script>
import ImageUpload from "./uploadImage/ImageUpload.vue";
import ImportFile from "./importFile/Main.vue";
import underscore from "underscore";
import data from "../../../localServer/json/restoreImage.json";
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import apiUtil from "../../common/apiUtil/index";
import globalUtil from "../../common/globalUtil/index";
import "./restoreImage.scss";

var TAG = "[RestoreImage]";
var tempItems = [];
var tempRole = "system";

export default {
  data() {
    return {
      file: null,
      uploadUrl: "http://localhost:3001/ims/apis/file/UploadPermanent",
      items: [],
      show: true,
      warning: false,
      role: "",
      title: "Your current image will replace by imported file ?",
      fields: [
        {
          key: "uiName",
          label: "Screen Name",
          sortable: true,
          class: "td-21"
        },
        {
          key: "sourceRawUrl",
          label: "Old Image",
          class: "td-21"
        },
        {
          key: "targetRawUrl",
          label: "New Image",
          class: "td-21"
        },
        {
          key: "default_binding",
          label: "Default",
          class: "td-center"
        },
        {
          key: "test",
          label: "&nbsp;",
          class: "td-24"
        }
      ],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      perPageList: [10, 20, 30],
      sortBy: null,
      sortDesc: false,
      filter: null,
      modalInfo: { title: "", content: "" },
      start: 0,
      end: 0
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  methods: {
    importFile() {
      uiUtil.bus.post(constantUtil.EVENT.IMPORT_IMAGE_STORYBOARD);
    },
    // New.
    // 15/01/2020 14:26
    // Add Button
    uploadImageAll() {
      this.show = !this.show;
      this.warning = !this.warning;
      uiUtil.bus.post(
        constantUtil.EVENT.UPLOAD_IMAGE_ALL_STORYBOARD,
        this.items
      );
      this.$refs.mainTable.refresh();
    },
    showRowDetail() {
      this.start = this.perPage * (this.currentPage - 1) + 1;
      this.end =
        this.perPage * this.currentPage > this.totalRows
          ? this.totalRows
          : this.perPage * this.currentPage;

      return this.start + " - " + this.end;
    },
    onChangePaging() {
      uiUtil.bus.post(constantUtil.EVENT.RESET_INPUT_FILE_IN_RESTORE_IMAGE);
    },
    info(item, index, button) {
      this.modalInfo.title = `Row index: ${index}`;
      this.modalInfo.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", "modalInfo", button);
    },
    resetModal() {
      this.modalInfo.title = "";
      this.modalInfo.content = "";
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    showImage(urlImage) {
      console.log(TAG + "showImage", urlImage);

      window.open(urlImage, "_blank");
    },
    uploadSuccess(result, row) {
      console.log(TAG + "uploadSuccess=>result", result);
      console.log(TAG + "uploadSuccess=>rowIndex", row);

      var d = new Date();
      var time = d.getTime();

      let rowIndex = this.perPage * (this.currentPage - 1) + row.index;

      this.items[rowIndex].targetRawUrl =
        result.data.resultData.url + "&_dma_internal=true&no_cache=" + time;
    },
    uploadFail(result) {
      console.log(TAG + "uploadFail=>result", result);
    },
    getUploadUrl(row) {
      return row.item.targetDomain + "/ims/apis/file/UploadPermanent";
    },
    setItems(data) {
      console.log(TAG, "[setItems] data = ", data);
      this.show = false;
      this.items = data;
      this.role = JSON.parse(sessionStorage.getItem("DMA_menuRole"));

      // this.totalRows = this.items.length;

      // Add v-model for fileUpload
      const list = this.items;
      list.forEach(el => {
        el.fileUpload = null;
      });

      if (this.role === "admin") {
        this.items = _.filter(this.items, function(item) {
          return item.default_binding == false;
        });
        this.totalRows = this.items.length;
        this.fields = [
          {
            key: "uiName",
            label: "Screen Name",
            sortable: true,
            class: "td-21"
          },
          {
            key: "sourceRawUrl",
            label: "Old Image",
            class: "td-21"
          },
          {
            key: "targetRawUrl",
            label: "New Image",
            class: "td-21"
          },
          {
            key: "test",
            label: "&nbsp;",
            class: "td-24"
          }
        ];
      } else if (this.role === "system") {
        this.items = _.filter(this.items, function(item) {
          return item.default_binding == true;
        });
        this.totalRows = this.items.length;
      } else {
        this.items = _.filter(this.items, function(item) {
          return item.default_binding == true;
        });
        this.totalRows = this.items.length;
      }
    },

    // New.
    // 15/01/2020 14:26
    // Add Button
    addCache(url) {
      return url + "&___rts=" + new Date().getTime();
    }
  },

  components: {
    ImageUpload,
    "import-file": ImportFile
  },
  mounted() {}
};
</script>

<style scoped>
div {
  font-size: 20px;
  font-family: "Cordia New Regular";
}
.content-fillter {
  border: 1px solid #c2c2c2;
  padding-top: 10px;
  padding-left: 20px;
}
</style>
