.footer-restoreImage {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.context {
  background: #ebebeb;

  padding: 20px;
  padding-top: 80px;
  // padding-left: 110px;
  max-height: 100%;
  width: 100%;
  padding-bottom: 5px;
}

table.table-RestoreImage {
  background: #fff;
  margin: 0px;
  border: 1px solid #c2c2c2;
}

table.table-RestoreImage>thead {
  width: calc(100%);
  background: #c2c2c2;
}

table.table-RestoreImage>tbody {
  height: calc(100vh - 260px);
  overflow-x: none;
  overflow-y: auto;
  width: calc(100%);
}

table.table-RestoreImage>thead,
table.table-RestoreImage>tbody,
table.table-RestoreImage>tbody>tr,
  {
  border: none;
  display: block;
}

table.table-RestoreImage>tbody td,
table.table-RestoreImage>thead>tr>th {
  border: none;
  display: inline-block;
}
