<!-- File upload example -->
<template>
  <div class="mt-16">
    <!-- Setup multipart form to support file uploads -->
    <fvl-form
      :data="form"
      url="/upload"
      multipart
      class="relative"
    >
      <!-- Add source code toggle button (only for example) -->
      <!-- <source-toggle @toggle="showSource = !showSource"/> -->
      <!-- File input component -->
      <fvl-dropzone
        :files.sync="form.media"
        name="file[]"
        id="files-upload-template"
        accept="application/zip"
        ref="fileTemplate"
      ></fvl-dropzone>
      <!-- Source code area (only for example) -->
      <!-- <source-box :show-source="showSource" :source="source"/> -->
      <!-- Submit button with upload loader indicator enabled -->
      <!-- <fvl-submit loader><font-awesome-icon
          :icon="['fas','upload']"
        /> &nbsp;Upload</fvl-submit> -->
    </fvl-form>
    <button
      class="yellow"
      id="btn-submit-file-upload-action-chain"
      @click.stop.prevent="uploadMultiTemplate"
    >
      <font-awesome-icon :icon="['fas','upload']" /> &nbsp;Upload</button>
  </div>
</template>

<script>
import { FvlForm, FvlDropzone, FvlSubmit } from "formvuelar";
import apiUti from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";

export default {
  components: {
    FvlForm,
    FvlDropzone,
    FvlSubmit
  },
  data() {
    return {
      urlUpload: globalUtil.SERVICES.URL_UPLOAD_ACTION_CHAIN,
      form: {
        media: null
      },
      uploadPercentage: [],
      stackError: false
    };
  },
  computed: {},
  created() {},
  mounted() {
    document.getElementsByClassName("my-body")[0].style.background = "#fbfbff";
  },
  watch: {
    form: {
      handler: function(value, oldvalue) {
        this.changeFilesUploadTemplate();
      },
      deep: true
    }
  },
  methods: {
    changeFilesUploadTemplate() {
      this.$nextTick(() => {
        if (this.stackError) {
          if (
            this.form.media != null &&
            this.form.media.length != undefined &&
            this.form.media.length != 0
          ) {
            let lengthMedia = this.form.media.length;
            for (let i = 0; i < lengthMedia; i++) {
              document
                .getElementsByClassName("fvl-dropzone-file-preview")
                [i].setAttribute("style", "background: #3d4852");
            }
          }
          this.stackError = false;
        }
      });
    },
    uploadMultiTemplate() {
      console.log("this.form.media => ", this.form.media);

      if (
        this.form.media != null &&
        this.form.media.length != undefined &&
        this.form.media.length != 0
      ) {
        let lengthMedia = this.form.media.length;

        new Promise((resolve, reject) => {
          for (let i = 0; i < lengthMedia; i++) {
            document
              .getElementsByClassName("fvl-dropzone-file-preview")
              [i].setAttribute("style", "background: #e6e6e6");
          }
          resolve();
        }).then(() => {
          this.stackError = true;
          new Promise((resolve, reject) => {
            for (let i = 0; i < lengthMedia; i++) {
              let formData = new FormData();
              formData.append("filePath", this.form.media[i]);
              this.axios
                .post(this.urlUpload, formData, {
                  headers: {
                    "Content-Type": "multipart/form-data"
                  },
                  onUploadProgress: function(progressEvent) {
                    let progress = parseInt(
                      Math.round(
                        (progressEvent.loaded * 100) / progressEvent.total
                      )
                    );

                    document
                      .getElementsByClassName("fvl-dropzone-file-preview")
                      [i].setAttribute(
                        "style",
                        "background: linear-gradient(to right, #04b123 0%,#04b123 " +
                          progress +
                          "%,#04b123 " +
                          progress +
                          "%,#e6e6e6 " +
                          progress +
                          "%,#e6e6e6 100%)"
                      );
                  }.bind(this)
                })
                .then(res => {
                  // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);

                  const success = res.data.success;
                  if (success) {
                  } else {
                    document
                      .getElementsByClassName("fvl-dropzone-file-preview")
                      [i].setAttribute("style", "background: #bf2a47");
                  }
                })
                .catch(err => {
                  document
                    .getElementsByClassName("fvl-dropzone-file-preview")
                    [i].setAttribute("style", "background: #bf2a47");
                  // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
                });
            }
            resolve();
          }).then(() => {});
        });
      }
    }
  }
};
</script>

<style scoped>
* {
  background: #fbfbff;
}

.my-body,
body,
html {
  background: none !important;
  padding: 0;
}

#btn-submit-file-upload-action-chain {
  font-family: "Cordia New Regular";
  margin-left: 10px;
  font-weight: 600;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}
</style>

