<template>
  <div v-show="showWindow">
    <div
      role="dialog"
      class="modal d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:999999;"
    >
      <div
        class="modal-dialog modal-md modal-dialog-centered"
        style="max-width: 80vw; max-height: 80vh;"
      >
        <div
          tabindex="-1"
          role="document"
          class="modal-content"
        >
          <header class="modal-header">
            <h5
              class="modal-title"
              style="color: #000; font-size: 14px; font-weight: bold;"
            >{{ header }}</h5>
            <button
              type="button"
              aria-label="Close"
              class="close"
              @click.stop.prevent="closeDialog"
            >×</button>
          </header>
          <div
            class="modal-body"
            style="text-align:center;"
          >
          <img :src="urlImage" style="max-width: 80vw; max-height: 80vh;"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
var TAG = "[/common/WindowImage/WindowImage.vue] => ";

import apiUtil from "../../apiUtil/index";
import uiUtil from "../../uiUtil/index";
import constantUtil from "../../constantUtil/index";
import globalUtil from "../../globalUtil/index";
import dataUtil from "../../dataUtil/index";
import storageUtil from "../../storageUtil/index";
import validateUtil from "../../validateUtil/index";

export default {
  props: {
    // propShowWindow: Boolean,
    // propMessage: String,
    // propHeader: String,
    // onConfirm: Function,
    // onCancel: Function
  },
  data() {
    return {
      showWindow: false,
      urlImage: "",
      header: "",
    };
  },
  methods: {
    closeDialog() {
      this.urlImage = "";
      this.header = "";
      this.showWindow = !this.showWindow;
    }
  },
  created() {
    // if (_.isEmpty(this.propHeader)) {
    //   this.header = "Message";
    // } else {
    //   this.header = this.propHeader;
    // }
    // if (_.isEmpty(this.propMessage)) {
    //   this.message = "Confirm to do it?";
    // } else {
    //   this.message = this.propMessage;
    // }
    // this.showWindow = this.propShowWindow;
  },
  mounted() {
    uiUtil.bus.on(
      constantUtil.EVENT.SHOW_WINDOW_IMAGE,
      (urlImage, header) => {


      console.log(TAG ,"SHOW_WINDOW_IMAGE => urlImage => " , urlImage);
      console.log(TAG ,"SHOW_WINDOW_IMAGE => header => " , header);

        this.showWindow = true;
        this.urlImage = !_.isEmpty(urlImage) ? urlImage : "https://via.placeholder.com/850x1000?text=" + header;
        this.header = !_.isEmpty(header) ? "Screen Config : " + header : " ";
      }
    );
  }
};
</script>

<style scoped>
.modal-header {
  padding: 10px 20px;
}
.modal-body{
  margin: 0px;
  padding: 20px;
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
}
</style>
