.context {
  background: #ebebeb;
  padding-top: 90px;
  padding-left: 120px;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

div {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cordia New Regular";
}

.content {
  // min-height: calc("~(100vh - 90px)");
  min-height: calc(100vh - 2*68px);
  height: 100%;
}

