<template>
    <div class="context">
        <dma-leftmenu></dma-leftmenu>
        <dma-topmenu :pageName="'Storyboard'"></dma-topmenu>
        <div class="content">

        </div>
        <dma-footer></dma-footer>
    </div>
</template>

<script>

export default {
  data() {
    return {};
  },
  created() {
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>