<template>
  <div class="d-flex justify-content-center" style="height: 98vh">
    <div class="group-storyboard align-self-center" align="center">
      <div style="height: 13vh; ">
        <b-form inline>
          <label class="sr-only" for="screenName">ScreenName Name</label>
          <b-input
            class="textField first"
            v-model="criteriaSearchScreen.screenName"
            placeholder="Screen Name"
          />&nbsp;&nbsp;&nbsp;
          <label class="sr-only" for="Remark">Remark</label>
          <b-input class="textField" v-model="criteriaSearchScreen.remark" placeholder="Remark"/>&nbsp;&nbsp;&nbsp;
        
          <button
            class="yellow"
            style="margin-left: 10px; margin-top: -10px;"
            @click.stop.prevent="btnSearchScreen"
          >Filter</button>

        </b-form>
      </div>

      <carousel
        :perPage="perPageCarousel"
        :loop="true"
        :navigationEnabled="true"
        :paginationColor="'#c2c2c2'"
        :paginationActiveColor="'#ffde16'"
      >
        <slide class="slide-custom" v-for="(item,index) in setListScreenGroup" :key="index">
          <div v-if="!item.__isCarouselBlank__">
            <!-- <img
              class="image-slide-custom img-thumbnail"
              :src="setImageScreen(item)"
              alt=""
            >-->
            <div
              class="image-slide-custom img-thumbnail"
              @dblclick.prevent.stop="dblclickMenu(item)"
              @contextmenu.prevent.stop="beforeShowContextManu($event,item,index,perPageCarousel)"
            >
              <image-mouse-over
                :uiName="item.uiName"
                :remark="item.remark"
                :storyboard="item.storyboard"
                :lastUpdate="item.lastUpdate"
                :lastPublish="item.lastPublish"
                :needUpgrade="item.needUpgrade"
                :src="setImageScreen(item)"
              ></image-mouse-over>
            </div>
            <!-- <br> -->
            <div style="width: 230px;">
              <div
                class="txt-screen-name"
                @dblclick.prevent.stop="dblclickMenu(item)"
                @contextmenu.prevent.stop="beforeShowContextManu($event,item,index,perPageCarousel)"
              >{{item.uiName}}
              </div>
              <!-- <br> -->
              <a
                v-if="item.needUpgrade"
                class="do-upgrade"
                @click.prevent.stop="clickUpgradeScreen(item)"
                :id="'screen-group-detial-btn-upgrade-'+item.uiName"
              >
                <!-- <a class="yellow do-upgrade"> -->
                <font-awesome-icon :icon="['fas','arrow-alt-circle-up']" style="font-size:15px;"/>Upgrade
                <!-- </a> -->
              </a>
            </div>
          </div>

          <!-- <br> -->
          <!-- <a class="yellow do-upgrade">
            <font-awesome-icon
              :icon="['fas','arrow-alt-circle-up']"
              style="font-size:13px;"
            /> Upgrade
          </a>-->
        </slide>

        <vue-simple-context-menu
          style="margin-top: -24vh !important;"
          :elementId="'rightClickGroupScreen'"
          :options="menuRightClickList"
          :ref="'RightClickGroupScreen'"
          @option-clicked="onRightClickGroupScreen"
        ></vue-simple-context-menu>
      </carousel>
    </div>
  </div>
</template>

<script>
let TAG = "[SceenGroupDetial/SceenGroupDetial.vue]";

import apiUti from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";

import ImageMouseOver from "../../common/components/ImageMouseOver/ImageMouseOver";

import "./custom.scss";

export default {
  components: {
    "image-mouse-over": ImageMouseOver
  },
  props: {},
  data() {
    return {
      menuRightClickList: [
        {
          name: "Detail"
        },
        {
          name: "Duplicate"
        },
        {
          name: "Delete"
        }
        // {
        //   name: "Upgrade"
        // }
      ],
      groupName: "",
      listScreenGroup: [],
      listFilterScreenGroup: [],
      perPageCarousel: 5,
      criteriaSearchScreen: {
        screenName: "",
        remark: ""
      }
    };
  },
  computed: {
    setGroupName() {
      return this.groupName == undefined ||
        this.groupName == null ||
        this.groupName == "undefined" ||
        this.groupName == "null" ||
        this.groupName == ""
        ? "Not in Storyboard"
        : this.groupName;
    },
    setNumberMoreScreen() {
      return this.groupName == undefined ||
        this.listScreenGroup == null ||
        this.listScreenGroup.length == 0
        ? ""
        : this.listScreenGroup.length > 4
        ? "+" + (this.listScreenGroup.length - 4)
        : "";
    },
    setListScreenGroup() {
      if (this.listScreenGroup.length % this.perPageCarousel != 0) {
        console.log(
          TAG + "this.listScreenGroup.length % this.perPageCarousel",
          this.listScreenGroup.length % this.perPageCarousel
        );

        let totalBlank =
          this.perPageCarousel -
          (this.listScreenGroup.length % this.perPageCarousel);
        for (let i = 0; i < totalBlank; i++) {
          this.listScreenGroup.push({
            __numberIsCarouselBlank__: i + 1,
            __isCarouselBlank__: true
          });
        }
        return this.listScreenGroup;
      } else {
        return this.listScreenGroup;
      }
    }
  },
  created() {
    window.addEventListener(
      "message",
      function(event) {
        if (event.data.message == "SEND_DATA_SCREEN_GROUP_DETAIL_FROM_SENCHA") {
          console.log(
            "sencha call vue.js success!: => event.data.appUiList => ",
            event.data.appUiList
          );
          console.log(
            "sencha call vue.js success!: => event.data.groupName => ",
            event.data.groupName
          );
          this.listScreenGroup = [];
          this.listFilterScreenGroup = [];

          if (event.data.groupName === "Not in Storyboard") {
            console.log("Filter List Not in Storyboard");
            let dataList = event.data.appUiList;
            let dataFilter = dataList.filter(screen => {
              if (
                screen.storyboard === null ||
                screen.storyboard === "Not in Storyboard"
              ) {
                console.log("add Not in Storyboard");
              }

              return (
                screen.storyboard === null ||
                screen.storyboard === "Not in Storyboard"
              );
            });
            this.listFilterScreenGroup = dataFilter;
          } else {
            this.listFilterScreenGroup = event.data.appUiList;
          }
          this.listScreenGroup = this.listFilterScreenGroup;
        } else if (event.data.message == "UPGRADE_SCREEN_SUCCESS_BY_SENCHA") {
          // document.getElementById(
          //   "screen-group-detial-btn-upgrade-" + event.data.uiName
          // ).style.display = "none";
          // console.log(
          //   TAG , "UPGRADE_SCREEN_SUCCESS_BY_SENCHA => this.listScreenGroup",
          //   this.listScreenGroup
          // );
          // let screen = _.find(this.listScreenGroup, (item) => {
          //     return item.uiName == event.data.uiName;
          // });
          // console.log(
          //   TAG , "UPGRADE_SCREEN_SUCCESS_BY_SENCHA => screen",
          //   screen
          // );
          // screen.needUpgrade = false;
        } else if (event.data.message == "CANCEL_CONTEXT_MENU") {
          console.log(
            "CANCEL_CONTEXT_MENU => document.getElementById(GroupStoryboard) => ",
            document.getElementById("GroupStoryboard")
          );
          //     this.$refs['GroupStoryboard'].focus();

          this.$refs.RightClickGroupScreen.hideContextMenu();
        }
      }.bind(this),
      false
    );
  },
  mounted() {
    document.getElementsByTagName("body")[0].style.height = "95vh";
    document.getElementsByClassName("my-body")[0].style.height = "95vh";
  },
  watch: {},
  methods: {
    beforeShowContextManu($event, item, index, perPage) {
      console.log(TAG + "beforeShowContextManu => $event ", $event);
      console.log(TAG + "beforeShowContextManu => item ", item);
      this.handleContextMenuClick($event, item, index, perPage);
    },
    setRefNameRightClickList(name) {
      return "'" + name + "'";
    },
    handleContextMenuClick(event, item, index, perPage) {
      this.$refs.RightClickGroupScreen.showMenu(event, item, index, perPage);
    },
    dblclickMenu(item) {
      parent.window.postMessage(
        {
          message: "VIEW_SCREEN_BY_VUE_JS",
          itemScreen: item
        },
        "*"
      );
    },
    clickUpgradeScreen(item) {
      // item.needUpgrade = false;
      parent.window.postMessage(
        {
          message: "UPGRADE_SCREEN_BY_VUE_JS",
          itemScreen: item
        },
        "*"
      );
    },
    onRightClickGroupScreen(event) {
      console.log(TAG + "onRightClickGroupScreen => event ", event);
      switch (event.option.name) {
        case "Detail":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "DETAIL_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;
        case "Duplicate":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "DUP_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;
        case "Delete":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "DELETE_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;

        case "Upgrade":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "UPGRADE_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;
      }
    },
    setPrevLabel() {
      return '<span style="color: #ffde16; font-size: 40px;">◂</span>';
    },
    setNextLabel() {
      return '<span style="color: #ffde16; font-size: 40px;">▸</span>';
    },
    setImageScreen(item) {
      if (
        item.urlScreenShot == undefined ||
        item.urlScreenShot == null ||
        item.urlScreenShot == ""
      ) {
        return "https://via.placeholder.com/850x1000?text=" + item.uiName;
      } else {
        return item.urlScreenShot;
      }
    },
    async btnSearchScreen() {
      console.log(TAG + " btnSearchScreen : ", "start");
      console.log(
        TAG + "criteriaSearchScreen",
        this.criteriaSearchScreen.screenName
      );
      console.log(
        TAG + "criteriaSearchScreen",
        this.criteriaSearchScreen.remark
      );
      console.log(
        TAG + "======================================================="
      );

      let filterList = await this.listFilterScreenGroup.filter(screen => {
        //don't Filter
        if (
          this.criteriaSearchScreen.screenName == "" &&
          this.criteriaSearchScreen.remark == ""
        ) 
        {
          return true;
        } else {

          console.log(TAG + " filter uiName : ", screen.uiName);
          console.log(TAG + " filter remark : ", screen.remark);
          // ====  Check ListScreen undefined ========
          let uiName = screen.uiName;
          let remark = screen.remark;
          if (uiName === undefined) {
            uiName = "";
          }
          if (remark === undefined) {
            remark = "";
          }
          // ====  End Check ListScreen undefined ========



          let matchScreen = uiName.indexOf(this.criteriaSearchScreen.screenName);
          let matchRemark = remark.indexOf(this.criteriaSearchScreen.remark);

          let isMatchScreen = false ;
          if(uiName===""){
             isMatchScreen = true ;
           }else if(matchScreen != -1){
             isMatchScreen = true ;
           }else{
             isMatchScreen = false ;
           }

          let isMatchRemark = false ;
          if(remark===""){
             isMatchRemark = true ;
           }else if(matchRemark != -1){
             isMatchRemark = true ;
           }else{
             isMatchRemark = false ;
           }

          if (matchScreen != -1 && isMatchRemark) {
            return true;
          } else {
            return false;
          }
        }
      });

      this.listScreenGroup = filterList;
      console.log(
        TAG + "======================================================="
      );
      console.log(TAG + " filterList : ", filterList);
      console.log(TAG + " listScreenGroup : ", this.listScreenGroup);
      console.log(TAG + " btnSearchScreen : ", "end");
    }
  }
};
</script>

<style scoped>
.slide-custom {
}
.image-slide-custom {
  width: 210px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.do-upgrade {
  background: #ffde16;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 10px 3px 10px;
  transition: 0.25s;
}
.do-upgrade:hover {
  background: white;
  cursor: pointer;
}
.txt-screen-name {
  font-family: "Cordia New Regular";
  font-size: 22px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  font-weight: bold;
}
button {
  font-size: 20px;
  font-family: "Cordia New Regular";
  padding: 2px 20px;
}
.btn-warning {
  font-weight: bold;
  color: #000;
  background-color: #ffde16;
}
.btn-warning:hover {
  background-color: #ffffff;
}

* {
  font-family: "Cordia New Regular";
  font-size: 20px;
}
</style>

