<template>
  <div style="display:flex;flex:1;align-items:center;">
    <b-dropdown
      size="lg"
      variant="link"
      toggle-class="text-decoration-none"
      no-caret
      style="width:5px; margin-right:20px;"
    >
      <template slot="button-content">
        <img src="../../../assets/images/paint.png" />
      </template>
      <div class="divColor">
        <b-dropdown-item
          v-for="color in listColorRow1"
          v-bind:key="color.index"
          @click.prevent="onChangeColor(color)"
          style="padding:4px;"
        >
          <div
            :style="{ backgroundColor: color,width:16+'px',height:16+'px',border: 1+'px solid #d3d3d3'}"
          ></div>
        </b-dropdown-item>
      </div>

      <div class="divColor">
        <b-dropdown-item
          v-for="color in listColorRow2"
          v-bind:key="color.index"
          @click.prevent="onChangeColor(color)"
          style="padding:4px;"
        >
          <div
            :style="{ backgroundColor: color,width:16+'px',height:16+'px',border: 1+'px solid #d3d3d3'}"
          ></div>
        </b-dropdown-item>
      </div>

      <div class="divColor">
        <b-dropdown-item
          v-for="color in listColorRow3"
          v-bind:key="color.index"
          @click.prevent="onChangeColor(color)"
          style="padding:4px; "
        >
          <div
            :style="{ backgroundColor: color,width:16+'px',height:16+'px',border: 1+'px solid #d3d3d3'}"
          ></div>
        </b-dropdown-item>
      </div>

      <div class="divColor">
        <b-dropdown-item
          v-for="color in listColorRow4"
          v-bind:key="color.index"
          @click.prevent="onChangeColor(color)"
          style="padding:4px;"
        >
          <div
            :style="{ backgroundColor: color,width:16+'px',height:16+'px',border: 1+'px solid #d3d3d3'}"
          ></div>
        </b-dropdown-item>
      </div>

      <div class="divColor">
        <b-dropdown-item
          v-for="color in listColorRow5"
          v-bind:key="color.index"
          @click.prevent="onChangeColor(color)"
          style="padding:4px;"
        >
          <div
            :style="{ backgroundColor: color,width:16+'px',height:16+'px',border: 1+'px solid #d3d3d3'}"
          ></div>
        </b-dropdown-item>
      </div>
    </b-dropdown>
  </div>
</template>

<script>
var TAG = "[ColorPicker] ";
import constantUtil from "../../../common/constantUtil/index";
import uiUtil from "../../../common/uiUtil/index";
export default {
  props: {
    id: String
  },
  data() {
    return {
      listColorRow1: [
        "#000000",
        "#993300",
        "#333300",
        "#003300",
        "#003366",
        "#000080",
        "#333399",
        "#333333"
      ],
      listColorRow2: [
        "#800000",
        "#FF6600",
        "#808000",
        "#008000",
        "#008080",
        "#0000FF",
        "#666699",
        "#808080"
      ],
      listColorRow3: [
        "#FF0000",
        "#FF9900",
        "#99CC00",
        "#339966",
        "#33CCCC",
        "#3366FF",
        "#800080",
        "#969696"
      ],
      listColorRow4: [
        "#FF00FF",
        "#FFCC00",
        "#FFFF00",
        "#00FF00",
        "#00FFFF",
        "#00CCFF",
        "#993366",
        "#C0C0C0"
      ],
      listColorRow5: [
        "#FF99CC",
        "#FFCC99",
        "#FFFF99",
        "#CCFFCC",
        "#CCFFFF",
        "#99CCFF",
        "#CC99FF",
        "#FFFFFF"
      ]
    };
  },
  methods: {
    onChangeColor(color) {
      uiUtil.bus.post(constantUtil.EVENT.CHANGE_COLOR_PICKER, color, this.id);
    }
  },
  created() {},

  watch: {}
};
</script>
<style scoped>
.btnIconColorPicker {
  background: url("../../../assets/images/paint.png") !important;
  background-image: url("../../../assets/images/paint.png") !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  border: none;
  align-self: center;
  margin-left: 6px;
  object-fit: contain !important;
  width: 35px !important;
  height: 16px !important;
}

.divColor {
  display: flex;
  flex-direction: row;
}

.divColor :hover {
  background-color: #d3d3d3;
  border: 0.1px solid rgb(151, 151, 255);
}
</style>