<template>
  <div>

    <div v-if="show" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:70%;min-width:600px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Publish Application </h5>
            <button type="button" aria-label="Close" class="close" @click.prevent="show = !show">×</button>
          </header>
          <div class="modal-body" style="text-align:center;">
            <div>
              <p>Current Version of '<span style="color:red;font-weight:bold;">{{publishData.entityName}}</span>'' is <span style="color:red;font-weight:bold;">{{publishData.version}}</span></p>
              <p>Please define version of this publishing.</p>
              <b-form-input class="p-text" v-model="nextVersion" ref="nextVersion" @keypress.native="validateNextVersion"></b-form-input>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="yellow" @click.stop.prevent="doPublish">
              <font-awesome-icon :icon="['fas','bolt']" style="font-size:13px;"/> &nbsp;Publish
            </button>
            <button type="button" class="default" @click.stop.prevent="show = !show">
              <font-awesome-icon :icon="['fas','times-circle']" style="font-size:13px;"/> &nbsp;Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import validateUtil from "../../../common/validateUtil/index";

import customUtil from "./custom.main";

var TAG = "[/pages/application/publishApp/Main.vue] ";
export default {
  props: {},
  data() {
    return {
      show: false,
      publishData: null,
      nextVersion : ''
    };
  },
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.PUBLISH_APPLICATION, data => {
      this.show = true;
      this.publishData = data;
      this.nextVersion = customUtil.getNextVersion(data.version);
    });
  },
  methods: {
    doPublish(){
      console.log("Submit");
    },
    validateNextVersion(event){
      validateUtil.validateAll(validateUtil.REGEX.NUMBER_AND_DOT,event);
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>