<template>
  <div v-show="show">
    <div
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;"
    >
      <div class="modal-dialog modal-md modal-dialog-centered .modal-control">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">{{ header }}</h5>
            <button
              type="button"
              aria-label="Close"
              class="close"
              @click.stop.prevent="closeDialog"
            >×</button>
          </header>
          <div class="modal-body" style>
            <vdma-collapse :objectGrid="result[0]" :rowIndex="0" :changeEventName="eventName[0]"></vdma-collapse>
            <vdma-collapse :objectGrid="result[1]" :rowIndex="1" :changeEventName="eventName[1]"></vdma-collapse>
            <vdma-collapse
              :objectGrid="result[2]"
              :rowIndex="2"
              :changeEventName="eventName[2]"
              :filePath="this.filePath"
            ></vdma-collapse>
            <vdma-collapse :objectGrid="result[3]" :rowIndex="3" :changeEventName="eventName[3]"></vdma-collapse>
            <vdma-collapse :objectGrid="result[4]" :rowIndex="4" :changeEventName="eventName[4]"></vdma-collapse>
            <vdma-collapse :objectGrid="result[5]" :rowIndex="5" :changeEventName="eventName[5]"></vdma-collapse>
            <div style="display:flex; justifyContent: center; ">
              <button
                class="yellow"
                @click.stop.prevent="btnClickImportedTemplate"
                style="display: block; margin:20px; width:200px; "
              >Import Storyboard</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- warning upload image all modal New -->
    <div
      v-if="warning"
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;"
    >
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">{{title}}</header>
          <div class="model-body" style="text-align:left; height:60px  overflow: hidden;">
            <div style="text-align:left; marginLeft:18px; marginTop:4px;">
              <b-form-checkbox
                v-model="imported"
                value="true"
                unchecked-value="false"
              >Use Environment Template Latest Version</b-form-checkbox>
            </div>
          </div>
          <div class="modal-footer">
            <div>
              <button class="yellow" @click.stop.prevent="btnClickConfirm">
                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;" />&nbsp;Confirm
              </button>
              <button class="default" @click.stop.prevent="warning = !warning">
                <font-awesome-icon :icon="['fas','times-circle']" style="font-size:13px;" />&nbsp;Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import custom from "./custom.main.js";

import apiUtil from "../../../common/apiUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";

var TAG = "[AlertDialog]";
export default {
  data() {
    return {
      imported: true,
      show: false,
      eventName: ["e001", "e002", "e003", "e004", "e005", "e006"],
      header: "Confirm Import",
      warning: false,
      title:
        'If you want to use template from imported file, please uncheck "Use Environment Template Latest Version"',
      filePath: "",
      fieldsForService: [
        {
          label: "Service Name",
          key: "name"
        },
        {
          label: "Status",
          key: "status"
        }
      ],
      fieldsForServiceTemplate: [
        {
          label: "Name",
          key: "name"
        },
        {
          label: "Imported Template Version",
          key: "importedversion"
        },
        // Add Column By.New
        {
          label: "Environment Template Version",
          key: "environmentTemplate"
        },
        {
          label: "Status",
          key: "status"
        }
      ],
      fields: [
        {
          label: "Name",
          key: "name"
        },
        {
          label: "Version",
          key: "version"
        },
        {
          label: "Status",
          key: "status"
        }
      ],
      result: [],
      confirm: true,
      restoreData: null
    };
  },
  methods: {
    loadData(data) {
      this.show = true;
      this.confirm = data.validation;

      var rowSize = 0;
      var obj = _.cloneDeep(data);
      var rawResult = [];
      var fieldsIndex = [];
      this.filePath = this.restoreData.filePath;
      if (!_.isEmpty(obj.imageValidation)) {
        console.log(TAG + "obj.imageValidation", obj.imageValidation);
        delete obj.imageValidation;
      }

      Object.keys(obj).map(function(objectKey, index) {
        console.log(TAG + "objectKey", objectKey);
        if (obj[objectKey].constructor.name == "Object") {
          // console.log(obj[objectKey][index]);
          // delete obj[objectKey][index].id;

          for (let i = 0; i < obj[objectKey].data.length; i++) {
            delete obj[objectKey].data[i].id;
          }

          var headerColumn = custom.covertHeaderColumn(objectKey);

          var variant = "";
          if (!obj[objectKey].summaryValidation) {
            variant = "danger";
          } else {
            variant = "success";
          }

          rawResult.push({
            grid: obj[objectKey].data,
            topicMain: headerColumn,
            variant: variant
          });
        }
      });
      this.result = _.cloneDeep(rawResult);
      this.result[0].topicMain = "Storyboard Validation";
      console.log("Result ", this.result);
      for (let i = 0; i < this.result.length; i++) {
        for (let i = 0; i < this.result.length; i++) {
          if (i == 5) {
            uiUtil.bus.post(
              this.eventName[i],
              this.result[i],
              this.fieldsForService
            );
          } else if (i == 2) {
            uiUtil.bus.post(
              this.eventName[i],
              this.result[i],
              this.fieldsForServiceTemplate
            );
          } else {
            uiUtil.bus.post(this.eventName[i], this.result[i], this.fields);
          }
        }
      }
    },
    closeDialog() {
      this.show = !this.show;
    },

    btnClickImportedTemplate() {
      this.warning = true;
    },

    btnClickConfirm() {
      if (this.imported) {

        this.show = false;
        this.warning = false;
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

        let user = sessionStorage.getItem("DMA_username") || "";
        user = user.replace(/\"/g, "");

        this.restoreData.user = user;
        let newObj = _.cloneDeep(this.imported);
        

        let param = {
          filePath: this.restoreData.filePath,
          user: user,
          imported: JSON.parse(this.imported),
          templateValidation: this.restoreData.templateValidation
        };

        let call = apiUtil.callService.doPost(
          globalUtil.SERVICES.URL_RESTORE_STORY,
          param
        );

        apiUtil.callService.validateResponse(call, function(response) {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.bus.post(constantUtil.EVENT.AFTER_IMPORTFILE);
        });

        //Do By New
        // const headers = {
        //     headers: {
        //         "Content-Type": "application/json"
        //     }
        // };

        // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

        // const requestData = this.restoreData;
        // const call = apiUtil.callService.doPost_DefaultBody(
        //     globalUtil.SERVICES.URL_RESTORE_STORY,
        //     requestData,
        //     headers,
        //     false
        // );
        // call
        //     .then(() => {
        //         this.warning = false;
        //         this.title = "";
        //         this.show = false;
        //         uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        //     })
        //     .catch(error => {

        //         this.warning = false;
        //         this.title = "";
        //         this.show = false;
        //         uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        //         uiUtil.error.readError(error);
        //     });

        // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        //   this.restoreData.user = JSON.parse(
        //     sessionStorage.getItem("DMA_username")
        //   );

        //   let param = {
        //     filePath: this.restoreData.filePath,
        //     user: JSON.parse(sessionStorage.getItem("DMA_username"))
        //   };

        //   let call = apiUtil.callService.doPost(
        //     globalUtil.SERVICES.URL_UPGRADE_VERSION_TEMPLATE_ALL_DMA5,
        //     param
        //   );

        //   apiUtil.callService.validateResponse(call, function(response) {

        //     uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        //     uiUtil.bus.post(constantUtil.EVENT.AFTER_IMPORTFILE);

        //});
      } else if (!this.imported) {
        this.show = false;
        this.warning = false;
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        this.restoreData.user = JSON.parse(
          sessionStorage.getItem("DMA_username")
        );

        let param = {
          filePath: this.restoreData.filePath,
          user: JSON.parse(sessionStorage.getItem("DMA_username")),
          imported: JSON.parse(this.imported),
          templateValidation: this.restoreData.templateValidation
        };

        let call = apiUtil.callService.doPost(
          globalUtil.SERVICES.URL_RESTORE_STORY,
          param
        );

        apiUtil.callService.validateResponse(call, function(response) {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.bus.post(constantUtil.EVENT.AFTER_IMPORTFILE);
        });
      }
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.SHOW_VALIDATE_STORYBOARD, data => {
      this.restoreData = _.cloneDeep(data);
      this.loadData(data);
    });
  },
  mounted() {}
};
</script>

<style scoped>
.modal-header {
  padding: 10px 20px;
}

* {
  font-family: "Cordia New Regular";
  font-size: 20px;
  font-weight: 600;
}

.modal-control {
  width: 600px;
}

.modal-body {
  text-align: center;
  overflow-y: scroll;
  height: 500px;
}
</style>
