<template>
  <div class="d-flex justify-content-center" style="height: 80vh">
    <div class="group-storyboard align-self-center" align="center">
      <div style="height: 10vh ; ">
        <b-form inline>
          <label class="sr-only" for="screenName">Screen's Group</label>
          <b-form-select
            style="width:150px;margin-bottom: 10px;"
            v-model="criteriaSearchScreen.groupName"
            text-field="name"
            value-field="name"
            @change="btnSearchScreen"
          >
            <option v-for="(name , index) in listGroup" :key="index" :value="name">{{ name }}</option>
          </b-form-select>&nbsp;&nbsp;&nbsp;
          <label class="sr-only" for="Remark">Screen Name</label>
          <b-input
            class="textField"
            v-model="criteriaSearchScreen.screenName"
            placeholder="Screen Name"
          />&nbsp;&nbsp;&nbsp;
          <button
            class="yellow"
            style="margin-left: 10px; margin-top: -10px;"
            @click.stop.prevent="btnSearchScreen"
          >Search</button>
        </b-form>
      </div>

      <div style="overflow:auto; width:100%;height:65vh" class="box-screen">
        <div v-for="(item,index) in setListScreenGroup" :key="index">
          <div v-if="!item.__isCarouselBlank__">
            <!-- <img
              class="image-slide-custom img-thumbnail"
              :src="setImageScreen(item)"
              alt=""
            >-->
            <div
              class="image-slide-custom img-thumbnail"
              @dblclick.prevent.stop="dblclickMenu(item)"
              @contextmenu.prevent.stop="beforeShowContextManu($event,item,index,perPageCarousel)"
            >
              <image-mouse-over
                :uiName="item.name"
                :remark="item.remark"
                :src="setImageScreen(item)"
                :data="data"
                :screenId="screenId"
                :path="path"
              ></image-mouse-over>
            </div>
            <!-- <br> -->
            <div style="width: 230px;">
              <div
                class="txt-screen-name"
                @dblclick.prevent.stop="dblclickMenu(item)"
                @contextmenu.prevent.stop="beforeShowContextManu($event,item,index,perPageCarousel)"
              >{{item.name}}</div>
              <!-- <br> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
let TAG = "[pages/SearchTargerScreen.vue]";

import apiUti from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";

import ImageMouseOvers from "./ImageMouseOver/ImageMouseOverSearch.vue";

import "./custom.scss";

export default {
  props: {
    listAllScreenGroup: Array,
    fromScreenName: String,
    data: Object,
    screenId: String,
    path: Object
  },
  components: {
    "image-mouse-over": ImageMouseOvers
  },
  data() {
    return {
      menuRightClickList: [
        {
          name: "Detail"
        },
        {
          name: "Duplicate"
        },
        {
          name: "Delete"
        }
        // {
        //   name: "Upgrade"
        // }
      ],
      listGroup: ["All Group"],
      listScreenGroup: [],
      listScreenGroupTemp: [],
      listFilterScreenGroup: [],
      perPageCarousel: 5,
      criteriaSearchScreen: {
        screenName: "",
        groupName: "All Group"
      }
    };
  },
  computed: {
    setGroupName() {
      return this.groupName == undefined ||
        this.groupName == null ||
        this.groupName == "undefined" ||
        this.groupName == "null" ||
        this.groupName == ""
        ? "Not in Storyboard"
        : this.groupName;
    },
    setNumberMoreScreen() {
      return this.groupName == undefined ||
        this.listScreenGroup == null ||
        this.listScreenGroup.length == 0
        ? ""
        : this.listScreenGroup.length > 4
        ? "+" + (this.listScreenGroup.length - 4)
        : "";
    },
    setListScreenGroup() {
      if (this.listScreenGroup.length % this.perPageCarousel != 0) {
        console.log(
          TAG + "this.listScreenGroup.length % this.perPageCarousel",
          this.listScreenGroup.length % this.perPageCarousel
        );

        let totalBlank =
          this.perPageCarousel -
          (this.listScreenGroup.length % this.perPageCarousel);
        for (let i = 0; i < totalBlank; i++) {
          this.listScreenGroup.push({
            __numberIsCarouselBlank__: i + 1,
            __isCarouselBlank__: true
          });
        }
        return this.listScreenGroup;
      } else {
        return this.listScreenGroup;
      }
    }
  },
  created() {
    console.log(TAG, "Create");

    window.addEventListener(
      "message",
      function(event) {
        if (event.data.message == "SEND_DATA_SCREEN_GROUP_DETAIL_FROM_SENCHA") {
          console.log(
            "sencha call vue.js success!: => event.data.appUiList => ",
            event.data.appUiList
          );
          console.log(
            "sencha call vue.js success!: => event.data.groupName => ",
            event.data.groupName
          );
          this.listScreenGroup = [];
          this.listFilterScreenGroup = [];

          if (event.data.groupName === "Not in Storyboard") {
            console.log("Filter List Not in Storyboard");
            let dataList = event.data.appUiList;
            let dataFilter = dataList.filter(screen => {
              if (
                screen.storyboard === null ||
                screen.storyboard === "Not in Storyboard"
              ) {
                console.log("add Not in Storyboard");
              }

              return (
                screen.storyboard === null ||
                screen.storyboard === "Not in Storyboard"
              );
            });
            this.listFilterScreenGroup = dataFilter;
          } else {
            this.listFilterScreenGroup = event.data.appUiList;
          }
          this.listScreenGroup = this.listFilterScreenGroup;
        } else if (event.data.message == "UPGRADE_SCREEN_SUCCESS_BY_SENCHA") {
          // document.getElementById(
          //   "screen-group-detial-btn-upgrade-" + event.data.uiName
          // ).style.display = "none";
          // console.log(
          //   TAG , "UPGRADE_SCREEN_SUCCESS_BY_SENCHA => this.listScreenGroup",
          //   this.listScreenGroup
          // );
          // let screen = _.find(this.listScreenGroup, (item) => {
          //     return item.uiName == event.data.uiName;
          // });
          // console.log(
          //   TAG , "UPGRADE_SCREEN_SUCCESS_BY_SENCHA => screen",
          //   screen
          // );
          // screen.needUpgrade = false;
        } else if (event.data.message == "CANCEL_CONTEXT_MENU") {
          console.log(
            "CANCEL_CONTEXT_MENU => document.getElementById(GroupStoryboard) => ",
            document.getElementById("GroupStoryboard")
          );
          //     this.$refs['GroupStoryboard'].focus();

          this.$refs.RightClickGroupScreen.hideContextMenu();
        }
      }.bind(this),
      false
    );
  },
  mounted() {
    console.log(TAG, "mounted");
    console.log(TAG, "this.listAllScreenGroup : ", this.listAllScreenGroup);
    //set listScrren
    // this.listScreenGroup = this.listAllScreenGroup[0].screen ;
    let ScreenName = this.fromScreenName;
    let editListScreenGroup = [];
    let listGroup = ["All Group"];
    this.listAllScreenGroup.forEach(screenGroup => {
      listGroup.push(screenGroup.name);
      if (screenGroup.screen) {
        screenGroup.screen.forEach(screen => {
          let objScreen = { groupName: screenGroup.name, ...screen };
          editListScreenGroup.push(objScreen);
        });
      }
    });

    console.log(TAG, "editListScreenGroup : ", editListScreenGroup);
    console.log(TAG, "listGroup : ", listGroup);
    this.listGroup = listGroup;
    this.listScreenGroup = editListScreenGroup;
    this.listScreenGroupTemp = editListScreenGroup;

    document.getElementsByTagName("body")[0].style.height = "95vh";
    document.getElementsByClassName("my-body")[0].style.height = "95vh";

    if (ScreenName != null || ScreenName != "") {
      //Set form Screen and form Group
      let fromObj = editListScreenGroup.find(item => {
        return item.name == ScreenName;
      });
      if (fromObj) {
        console.log(TAG, "Set Screen and group  : ", fromObj);
        //set value to input search
        let obj = {
          screenName: fromObj.name,
          groupName: fromObj.groupName
        };
        this.criteriaSearchScreen = obj;
        console.log(
          TAG,
          "set value to input search  : ",
          this.criteriaSearchScreen
        );
        this.btnSearchScreen();
      }
    }
  },
  watch: {},
  methods: {
    beforeShowContextManu($event, item, index, perPage) {
      console.log(TAG + "beforeShowContextManu => $event ", $event);
      console.log(TAG + "beforeShowContextManu => item ", item);
      this.handleContextMenuClick($event, item, index, perPage);
    },
    setRefNameRightClickList(name) {
      return "'" + name + "'";
    },
    handleContextMenuClick(event, item, index, perPage) {
      this.$refs.RightClickGroupScreen.showMenu(event, item, index, perPage);
    },
    dblclickMenu(item) {
      parent.window.postMessage(
        {
          message: "VIEW_SCREEN_BY_VUE_JS",
          itemScreen: item
        },
        "*"
      );
    },
    clickUpgradeScreen(item) {
      // item.needUpgrade = false;
      parent.window.postMessage(
        {
          message: "UPGRADE_SCREEN_BY_VUE_JS",
          itemScreen: item
        },
        "*"
      );
    },
    onRightClickGroupScreen(event) {
      console.log(TAG + "onRightClickGroupScreen => event ", event);
      switch (event.option.name) {
        case "Detail":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "DETAIL_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;
        case "Duplicate":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "DUP_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;
        case "Delete":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "DELETE_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;

        case "Upgrade":
          console.log(TAG + "event.option.name =>  ", event.option.name);
          parent.window.postMessage(
            {
              message: "UPGRADE_SCREEN_BY_VUE_JS",
              itemScreen: event.item
            },
            "*"
          );
          break;
      }
    },
    setPrevLabel() {
      return '<span style="color: #ffde16; font-size: 40px;">◂</span>';
    },
    setNextLabel() {
      return '<span style="color: #ffde16; font-size: 40px;">▸</span>';
    },
    setImageScreen(item) {
      if (
        item.imageUrl == undefined ||
        item.imageUrl == null ||
        item.imageUrl == ""
      ) {
        return "https://via.placeholder.com/850x1000?text=" + item.name;
      } else {
        return item.imageUrl;
      }
    },
    btnSearchScreen() {
      this.$nextTick(() => {
        console.log(TAG + " btnSearchScreen : ", "start");
        console.log(
          TAG + "Input Screen value : ",
          this.criteriaSearchScreen.screenName
        );
        console.log(
          TAG + "Dropdown Group value : ",
          this.criteriaSearchScreen.groupName
        );
        console.log(
          TAG + "======================================================="
        );

        let filterList = this.listScreenGroupTemp.filter(screen => {
          //don't Filter
          if (
            this.criteriaSearchScreen.screenName == "" &&
            this.criteriaSearchScreen.groupName == ""
          ) {
            return true;
          } else {
            // console.log(TAG + " filter screenName : ", screen.name);
            // console.log(TAG + " filter groupName : ", screen.groupName);
            // ====  Check ListScreen undefined ========
            let screenName = screen.name;
            let groupName = screen.groupName;
            if (screenName === undefined) {
              screenName = "";
            }
            if (groupName === undefined) {
              groupName = "";
            }
            // ====  End Check ListScreen undefined ========
            groupName = groupName.toLowerCase();
            screenName = screenName.toLowerCase();
            let matchScreen = screenName.indexOf(
              this.criteriaSearchScreen.screenName.toLowerCase()
            );
            let matchGroup = groupName.indexOf(
              this.criteriaSearchScreen.groupName.toLowerCase()
            );

            let isMatchScreen = false;
            if (screenName === "") {
              isMatchScreen = true;
            } else if (matchScreen != -1) {
              isMatchScreen = true;
            } else {
              isMatchScreen = false;
            }

            let isMatchGroup = false;
            if (
              groupName === "" ||
              this.criteriaSearchScreen.groupName == "All Group"
            ) {
              isMatchGroup = true;
            } else if (matchGroup != -1) {
              isMatchGroup = true;
            } else {
              isMatchGroup = false;
            }

            if (matchScreen != -1 && isMatchGroup) {
              return true;
            } else {
              return false;
            }
          }
        });

        this.listScreenGroup = filterList;
        console.log(
          TAG + "======================================================="
        );
        console.log(TAG + " filterList size : ", filterList.length);
        console.log(TAG + " listScreenGroup : ", this.listScreenGroup);
        console.log(TAG + " btnSearchScreen : ", "end");
      });
    }
  }
};
</script>

<style scoped>
.box-screen {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
}
.slide-custom {
}
.image-slide-custom {
  width: 210px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.do-upgrade {
  background: #ffde16;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 10px 3px 10px;
  transition: 0.25s;
}
.do-upgrade:hover {
  background: white;
  cursor: pointer;
}
.txt-screen-name {
  font-family: "Cordia New Regular";
  font-size: 22px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  font-weight: bold;
}
button {
  font-size: 20px;
  font-family: "Cordia New Regular";
  padding: 2px 20px;
}
.btn-warning {
  font-weight: bold;
  color: #000;
  background-color: #ffde16;
}
.btn-warning:hover {
  background-color: #ffffff;
}

* {
  font-family: "Cordia New Regular";
  font-size: 20px;
}
</style>

