button {
  padding: 2px 12px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 800;
}
button.yellow {
  padding: 2px 12px;
  border-radius: 7px;
  background: #FFDE16;
  border: 1px solid #FFDE16;
}
button.yellow-disabled {
  padding: 2px 12px;
  border-radius: 7px;
  background: #FFDE16;
  border: 1px solid #FFDE16;
  opacity: 0.3;
}
button.yellow:disabled {
  cursor: default;
  background: #b0b0b0;
  border: 1px solid #A6A6A6;
}

button.yellow:hover {
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}
button.customhover{
  pointer-events: none
}

button.blue {
  padding: 2px 12px;
  border-radius: 7px;
  background: #6fc4ff;
  border: 1px solid #6fc4ff;
}
button.blue:disabled {
  cursor: default;
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}

button.blue:hover {
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}

button.default {
  padding: 2px 12px;
  border-radius: 7px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}

button.default:hover {
  color: #FFFFFF;
  background: #A6A6A6;
}


button.gray {
  padding: 2px 12px;
  border-radius: 7px;
  color: #FFFFFF;
  background: #A6A6A6;
  border: 1px solid #A6A6A6;
}

button.gray:hover {
  color: #000000;
  background: #FFFFFF;
}


button.delete {
  padding: 2px 12px;
  border-radius: 7px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #A6A6A6;
}

button.delete:hover {
  color: #FFFFFF;
  background: red;
  border: 1px solid red;
}

button.right {
    float:right;
    margin-right : 10px;
}
button.sm {
   padding : 0px 10px;
}
button.link {
  background: none;
  border: none;
  color : #52A5FF;
}
