@import "./pagingStyle.scss";
@import "./fontStyle.scss";
@import "./buttonStyle.scss";
@import "./inputStyle.scss";
@import "./tableStyle.scss";

body{
    background: #EBEBEB;
    width: 100%;
    height: 100%;
    margin: auto;
}


