input[type=text].sm-size {
  padding: 2px 10px; // border-radius: 7px;
}
.search {
  margin-bottom: 10px;
  max-width: 250px;
  font-size: 20px;
}

.custom-file-label{

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
