table.b-table {
  cursor: default;
}

table.b-table>thead>tr>th {
  background: #C2C2C2;
  padding: 3px 10px;
  // text-align: center;
}
table.b-table>tbody>tr>td {
  padding: 7px 10px;
}
table.b-table>tbody>tr.tr-hover.active {
  background: #FFEFBB;
}
table.b-table>tbody>tr.tr-hover:hover {
  background: #EAEFF4;
}
table.b-table>tbody>tr.tr-hover.active:hover {
  background: #FFEFBB;
}
table.b-table>tbody>tr>td.chk {
  min-width: 35px;
  border-right: 1px solid #C2C2C2;
}
table.b-table>tbody>tr>td.publish {
  min-width: 108px;
  border-right: 1px solid #C2C2C2;
}
table.b-table>tbody>tr>td.storyName {
  min-width: 200px;
}
table.b-table>tbody>tr>td.last {
  // width: 110px;
  min-width: 110px;
  line-height: 100%;
  text-align: center;
  word-wrap: break-word;

}
table.b-table>tbody>tr>td.ready {
  // width: 110px;
  min-width: 110px;
}
table.b-table>tbody>tr>td.p-tb {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
table.b-table>tbody>tr>td.status {
  // width: 80px;
  min-width: 80px;
  text-align: center;
}
table.b-table>thead>tr>th.t-center{
  text-align: center;
}
table.b-table>tbody>tr>td.t-center{
  text-align: center;
}

@media screen and (min-width: 768px) {
  table.b-table>tbody>tr>td.status {
    width: 80px;
    min-width: 80px;
    text-align: center;
  }
  table.b-table>tbody>tr>td.last {
    width: 110px;
    min-width: 110px;
    line-height: 100%;
    text-align: center;
  }
  table.b-table>tbody>tr>td.ready {
    width: 110px;
    min-width: 110px;
  }
  table.b-table>tbody>tr>td.chk {
    width: 35px;
    border-right: 1px solid #C2C2C2;
  }
}
.tdDelete{
  width: 120px;
  min-width: 120px;
  text-align: center;
}
.td-3{
  word-break: break-word;
  width: 3vw;
  max-width: 3vw;
  min-width: 3vw;
}
.td-4{
  word-break: break-word;
  width: 4vw;
  max-width: 4vw;
  min-width: 4vw;
}
.td-5{
  word-break: break-word;
  width: 5vw;
  max-width: 5vw;
  min-width: 5vw;
  // white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td-6{
  word-break: break-word;
  width: 6vw;
  max-width: 6vw;
  min-width: 6vw;
}
.td-7{
  word-break: break-word;
  width: 7vw;
  max-width: 7vw;
  min-width: 7vw;
}
.td-10{
  word-break: break-word;
  width: 10vw;
  max-width: 10vw;
  min-width: 10vw;
}
.td-9{
  word-break: break-word;
  width: 9vw;
  max-width: 9vw;
  min-width: 9vw;
}th.td-9 {
  word-break: break-word;
  width: 9vw;
  max-width: 9vw;
  min-width: 9vw;
  text-align: center;
}
.td-13{
  word-break: break-word;
  width: 13vw;
  max-width: 13vw;
  min-width: 13vw;
}
.td-15{
  word-break: break-word;
  width: 15vw;
  max-width: 15vw;
  min-width: 15vw;
}
.td-18{
  word-break: break-word;
  width: 18vw;
  max-width: 18vw;
  min-width: 18vw;
}
.td-19{
  word-break: break-word;
  width: 19vw;
  max-width: 19vw;
  min-width: 19vw;
}
.td-20{
  word-break: break-word;
  width: 20vw;
  max-width: 20vw;
  min-width: 20vw;
}

.td-21{
  word-break: break-word;
  width: 21vw;
  max-width: 21vw;
  min-width: 21vw;
  text-align: center;
}

th.td-21 {
  word-break: break-word;
  width: 21vw;
  max-width: 21vw;
  min-width: 21vw;
  text-align: center;
}

.td-23{
  word-break: break-word;
  width: 23vw;
  max-width: 23vw;
  min-width: 23vw;
}
.td-24{
  word-break: break-word;
  width: 24vw;
  max-width: 24vw;
  min-width: 24vw;
}

th.td-24 {
  word-break: break-word;
  width: 24vw;
  max-width: 24vw;
  min-width: 24vw;
  text-align: center;
}

.td-25{
  word-break: break-word;
  width: 25vw;
  max-width: 25vw;
  min-width: 25vw;
}
.td-26{
  word-break: break-word;
  width: 26vw;
  max-width: 26vw;
  min-width: 26vw;
}
.td-29{
  word-break: break-word;
  width: 29vw;
  max-width: 29vw;
  min-width: 29vw;
}
.td-30{
  word-break: break-word;
  width: 30vw;
  max-width: 30vw;
  min-width: 30vw;
}
.text-hidden {
    white-space: nowrap;
    width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #000000;
}

.td-center{
  text-align: center;
}
