.col-form-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  font-size: inherit !important;
  line-height: 1.5 !important;
}

.textField {
  padding: 3px 10px;
  // width: 250px; // margin-left: 10px;
}

.textFieldMini.first {
  margin-left: 0px;
}

input[type=text].sm-size {
  padding: 2px 10px; // border-radius: 7px;
  min-width: 20px;
}

select.selectLog{
  width: 120px; // margin-left: 10px;
  margin-bottom: 10px;
  // max-width: 250px;
  font-size: 20px;
}


label {
  font-weight: 700;
}
.textField {
  margin-bottom: 10px;
  max-width: 250px;
  font-size: 20px;
}
#customCollapse {
  padding-top: 30px;
}

.textFieldMini {
  padding: 3px 10px;
  margin-bottom: 10px;
  width: 120px;
  font-size: 20px;
}
