<template>
  <div id="customCollapse">
    <div style="height 100%; max-height: 150px; overflow: auto;">

      <b-form
        @submit="btnSearchTransactionLog"
        inline
      >

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Log ID : "
        >
          <b-form-input
            class="textFieldMini"
            type="text"
            v-model="logID"
            placeholder="Log ID"
            style="width: 150px;"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Anonymous : "
        >
          <b-form-select
            class="textFieldMini"
            style="width: 150px;"
            v-model="isAnonymous"
            :options="optionsAnonymous"
            placeholder="Anonymous"
            @change="onChangeOptionsAnonymous"
          />
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Username : "
        >
          <b-input
            class="textFieldMini"
            style="width: 150px;"
            v-model="username"
            placeholder="Username"
            :disabled="isAnonymous != false"
          />
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Service Name : "
        >
          <b-input
            class="textFieldMini"
            style="width: 150px;"
            v-model="serviceName"
            placeholder="Service Name"
          />
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Result From : "
        >
          <b-input
            class="textFieldMini"
            style="width: 150px;"
            v-model="resultFrom"
            placeholder="Result From"
          />
        </b-form-group>
        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Result : "
        >
          <b-form-select
            class="textFieldMini"
            style="width: 150px;"
            v-model="resultSuccess"
            :options="optionsResult"
            placeholder="Result"
          />
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Http Status : "
        >
          <b-input
            class="textFieldMini"
            style="width: 150px;"
            v-model="resultHttpStatus"
            placeholder="Http Status"
          />
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Response Code : "
        >
          <b-form-select
              style="width: 150px;"
            class="textFieldMini"
            v-model="resultCode"
            :options="optionsResponseStatusType"
            placeholder="Result Code"
            :text-field="'display'"
          />
        </b-form-group>

        <b-form-group
          style="margin-right: 10px;"
          id="transactionLogLabel"
          label="Result Message : "
        >
          <b-input
            class="textField"
            v-model="resultMessage"
            placeholder="Result Message"
          />
        </b-form-group>

        <!-- <div class="form-group">
          <button
            class="blue"
            type="submit"
            hidden="true"
          >Search</button>
        </div> -->
      <!-- </b-form>

      <b-form
        @submit="btnSearchTransactionLog"
        inline
        style="max-height: 100px; overflow: auto;"
      > -->
        <b-form-group
            style="margin-right: 10px; margin-top: -10px;"
            id="transactionLogLabel"
            label="Start Time : "
          >
            <datetime
              type="datetime"
              style="width: 150px;"
              class="datetime"
              v-model="startDate"
              :use12-hour="true"
              placeholder="Start Time"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px; margin-top: -10px;"
            id="transactionLogLabel"
            label="End Time : "
          >
            <datetime
              type="datetime"
              style="width: 150px;"
              class="datetime"
              v-model="endDate"
              :use12-hour="true"
              placeholder="End Time"
            />
          </b-form-group>

          <div class="form-group">
            <button
              class="yellow"
              style="margin-left: 10px; margin-top: 20px;"
              @click.stop.prevent="btnSearchTransactionLog"
            >Search</button>
          </div>

      </b-form>
    </div>

  </div>
</template>

<script>
import moment from "moment";
import apiUtil from "../../../common/apiUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";

var TAG = "[/pages/transactionLogSG/formSearch/Main.vue]";

export default {
  data() {
    return {
      optionsResponseStatusType: [

        {
          value: "",
          labelName: "All",
          display:"All"
        }
      ],
      optionsResult: [

        { value: "", text: "All" },
        { value: "true", text: "SUCCESS" },
        { value: "false", text: "FAIL" }
      ],
      optionsAnonymous: [
        { value: false, text: "Username" },
        { value: true, text: "Anonymous" }
      ],
      isAnonymous: false,
      logID: "",
      username: "",
      serviceName: "",
      resultFrom: "",
      resultSuccess: "",
      resultHttpStatus: "",
      resultCode: "",
      resultMessage: "",
      startDate:
        moment()
          .format()
          .substr(0, 10) + "T00:00",
      endDate:
        moment()
          .format()
          .substr(0, 10) + "T23:59",
      tokenKey: sessionStorage.getItem("iAuthen_tokenKey"),
      uidKey: sessionStorage.getItem("iAuthen_uidKey"),
      limit: 25,
      page: 1,
      sort: "requestTime",
      dir: "DESC" //(ASC, DESC),
    };
  },
  created() {
    // console.log(TAG + " created : ", "start");
    // this.startDate = moment()
    //   .format()
    //   .substr(0, 16);
    // this.endDate = moment()
    //   .format()
    //   .substr(0, 16);
    // this.findListTransactionLog();
    // console.log(TAG + " created : ", "end");
    this.requestListResponseStatusType();
  },
  methods: {
    requestListResponseStatusType() {
      console.log(TAG + "requestListResponseStatusType start");
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

      const bodyParams = {
        tokenKey: sessionStorage.getItem("iAuthen_tokenKey"),
        uidKey: sessionStorage.getItem("iAuthen_uidKey")
      };
      const call = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_LIST_RESPONSE_STATUS_TYPE_SG,
        bodyParams
      );

      apiUtil.callService.validateResponse(
        call,
        function(response) {
          this.optionsResponseStatusType = [
            ...response.data.responseData.dataList
          ];

          this.optionsResponseStatusType.unshift({
            value: "",
            labelName: "All",
            display: "All"
          });

          for (let i = 0; i < this.optionsResponseStatusType.length; i++) {
            if (this.optionsResponseStatusType[i].value != "") {
              this.optionsResponseStatusType[
                i
              ].display = this.optionsResponseStatusType[i].value;
            }
          }

          uiUtil.bus.post(
            constantUtil.EVENT.SET_TOOLTIP_IN_GRID_SEARCH_TRAN_LOG_SG,
            response.data.responseData.dataList
          );

          // { value: "", text: "Result", disabled: true }
        }.bind(this)
      );
    },

    onChangeOptionsAnonymous() {
      this.$nextTick(() => {
        if (this.isAnonymous) {
          this.username = "";
        }
      });
    },
    btnSearchTransactionLog(e) {
      e.preventDefault();
      console.log(TAG + " btnSearchTransactionLog : ", "start");

      var tempStartDate = _.isEmpty(this.startDate)
        ? new Date()
        : this.startDate;
      var tempEnnDate = _.isEmpty(this.endDate) ? new Date() : this.endDate;
      tempStartDate = moment(tempStartDate)
        .toDate()
        .getTime();
      tempEnnDate = moment(tempEnnDate)
        .toDate()
        .getTime();

      if (tempStartDate > tempEnnDate) {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          globalUtil.VARIABLES.MSG_ERROR
            .MSG_ERROR_START_DATE_END_DATE_TRANSACTION_LOG
        );
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SET_CRITERIA_SEARCH_TRAN_LOG, {
          logID: this.logID,
          username: this.username,
          isAnonymous: this.isAnonymous,
          serviceName: this.serviceName,
          resultFrom: this.resultFrom,
          resultSuccess: this.resultSuccess,
          resultHttpStatus: this.resultHttpStatus,
          resultCode: this.resultCode,
          resultMessage: this.resultMessage,
          startDate: tempStartDate,
          endDate: tempEnnDate,
          tokenKey: sessionStorage.getItem("iAuthen_tokenKey"),
          uidKey: sessionStorage.getItem("iAuthen_uidKey"),
          limit: this.limit,
          page: this.page,
          sort: this.sort,
          dir: this.dir
        });
      }

      // this.findListTransactionLog();

      console.log(TAG + " btnSearchTransactionLog : ", "end");
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
