.group-storyboard {
  width: 100%;
  height: 100%;
  border: 1px solid #c2c2c2;
  padding: 20px;
  // overflow-x: auto;
  border-radius: 5px;
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  background: #fbfbff;
  padding-top: 30px;
}

.txt-group-name {
  // position: absolute;
  top: 0;
  left: 20;
  margin-top: -25px;
  margin-left: 20px;
  border-radius: 5px;
  // border: 1px solid #f9d300;
  background: #fbfbff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom:15px;
  font-weight: bold;
  font-size: 22px;
  font-family: "Cordia New Regular";
  width: 100%;
  text-align: left;
  word-wrap: break-word;
}

.content-group-button-tool-group-screen {
  // position: absolute;
  top: 0;
  left: 20;
  margin-top: -25px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  // border: 1px solid #f9d300;
  background: #fbfbff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 22px;
  font-family: "Cordia New Regular";
  width: 100%;
  text-align: right;
}

.txt-grroup-name:hover {
// cursor: pointer;
background: #ffffff;
}

.text-number-more-screen {
  height: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Cordia New Regular";
}

.img-grroup-name {
  // width: 35px;
  // border: 1px solid #f9d300;
  background: #fff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20px;
  margin-right: 5px;
}

.VueCarousel-navigation-prev {
  margin-left: 10px !important;
  // margin-top: -5% !important;
}

.VueCarousel-navigation-next {
  margin-right: 10px !important;
  // margin-top: -5%  !important;
}

.VueCarousel{
  height: 100% !important;
}

.VueCarousel-wrapper{
  height: 100% !important;
}

.VueCarousel-inner{
  height: 100% !important;
}

.VueCarousel-navigation-button{
  // color: #ffde16  !important;
}

.VueCarousel-navigation{
  z-index: 1 !important;
}

.VueCarousel-pagination{
  z-index: 1 !important;
}

.icon-font-awesome{
  font-size: 15px;
  cursor: pointer;
}
