<template>
  <div class="d-flex justify-content-center">
    <div
      class="group-storyboard align-self-center"
      align="center"
    >
      <b-row>
        <b-col>

          <div class="txt-group-name">{{setGroupName}}</div>
        </b-col>
        <b-col
          v-show="indexGroup != 0"
          class="content-group-button-tool-group-screen"
        >
          <font-awesome-icon
            v-show="indexGroup != 1"
            :icon="['fas','arrow-up']"
            @click.stop.prevent="clickUpGroup"
            class="fas-view icon-font-awesome"
          />
          <font-awesome-icon
            v-show="!lastIndexGroup"
            @click.stop.prevent="clickDownGroup"
            :icon="['fas','arrow-down']"
            class="fas-view icon-font-awesome"
          />
          <font-awesome-icon
            @click.stop.prevent="clickDeleteGroup"
            :icon="['fas','trash-alt']"
            class="fas-view icon-font-awesome"
          />
        </b-col>
      </b-row>

      <div class="d-flex bd-highlight mb-3">
        <div class="p-2 bd-highlight context-icon-pagination-next">
          <span
            @mousedown="slideTo('left')"
            @mouseup="stopSlide"
            @dragover="slideTo('left')"
            @dragleave="stopSlide"
            class="icon-pagination"
          >◂</span>
        </div>

        <div
          class="slide-main"
          ref="slide"
        >

          <draggable
            v-model="listScreenGroup"
            @start="drag = true"
            @end="drag = false"
            v-bind="dragOptions"
            @change="(event) => onDragChange(groupName,event)"
            ghost-class="ghost"
            class="content-draggable"
          >

            <transition-group
              type="transition"
              class="content-draggable d-flex flex-row bd-highlight mb-3"
              :name="!drag ? 'flip-list' : null"
            >
              <!-- <transition-group
              type="transition"
              class="content-draggable d-flex flex-row bd-highlight mb-3"
              :name="'flip-list'"
            > -->
              <div
                class="slide-custom"
                v-for="(item , index) in listScreenGroup"
                :key="index"
              >
                <div class="image-slide-custom img-thumbnail">
                  <image-mouse-over
                    :uiName="item.name"
                    :remark="''"
                    :storyboard="''"
                    :lastUpdate="''"
                    :src="setImageScreen(item)"
                    :ref="'RefImageMouseOver' + index"
                  ></image-mouse-over>
                </div>
                
                <div style="width: 230px;">
                  <a
                    v-if="item.needUpgrade"
                    class="do-upgrade"
                  >
                    <font-awesome-icon
                      :icon="['fas','arrow-alt-circle-up']"
                      style="font-size:15px;"
                    /> Upgrade
                  </a>
                </div>
               
              </div>
            </transition-group>
          </draggable>
        </div>

        <div class="ml-auto p-2 bd-highlight context-icon-pagination-prev">
          <span
            @mousedown="slideTo('right')"
            @mouseup="stopSlide"
            @dragover="slideTo('right')"
            @dragleave="stopSlide"
            class="icon-pagination"
          >▸</span>
        </div>
      </div>
      <div v-if="groupRemark" class="txt-group-name">{{"Remark : "+groupRemark}}</div>
      <div v-else class="txt-group-name">{{"Remark :"}}</div>
    </div>
  </div>

</template>

<script>
let TAG = "[ScreenInStoryborad/SceenGroupDetial/SceenGroupDetial.vue]";

import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

import draggable from "vuedraggable";
import ImageMouseOver from "./ImageMouseOver/ImageMouseOver";

import "./custom.scss";

export default {
  components: {
    draggable,
    "image-mouse-over": ImageMouseOver
  },
  props: {
    groupName: String,
    groupRemark : String ,
    screenActiveList: Array
  },
  data() {
    return {
      perPageCarousel: 10,
      listScreenGroup: [],
      slideHovered: false,
      slidePosition: "none",
      slideInterval: null,
      drag: false,
      indexGroup: 0,
      lastIndexGroup: false
    };
  },
  computed: {
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost"
      };
    },
    setIDGroupName() {
      return this.groupName == undefined ||
        this.groupName == null ||
        this.groupName == "undefined" ||
        this.groupName == "null" ||
        this.groupName == ""
        ? "Ungroupped_Screen"
        : this.groupName.replace(/ /g, "_");
    },
    setGroupName() {
      return this.groupName == undefined ||
        this.groupName == null ||
        this.groupName == "undefined" ||
        this.groupName == "null" ||
        this.groupName == ""
        ? "Ungroupped Screen"
        : this.groupName == "Ungroupped Screen"
        ? "Ungroupped Screen"
        : "Group : " + this.groupName;
    }
  },
  created() {},
  mounted() {
    console.log(TAG + "mounted => groupName => ", this.groupName);
    console.log(TAG + "mounted => groupRemark => ", this.groupRemark);

    document.getElementsByTagName("body")[0].style.height = "95vh";
    document.getElementsByClassName("my-body")[0].style.height = "95vh";

    this.clearEventTouchSlide();
  },
  watch: {
    slideHovered: function(val) {
      if (val && this.slidePosition !== "none") {
        const delay = 25;
        const scrollPoint = 20;
        if (this.slidePosition === "left") {
          this.slideInterval = setInterval(
            function() {
              // console.log("left" , this.$refs.slide);
              console.log("left scrollLeft", this.$refs.slide.clientWidth);
              console.log("left", this.$refs.slide.scrollLeft);
              this.$refs.slide.scrollLeft -= scrollPoint;

              if (0 == this.$refs.slide.scrollWidth) {
                clearInterval(this.slideInterval);
              }
            }.bind(this),
            delay
          );
        } else if (this.slidePosition === "right") {
          this.slideInterval = setInterval(
            function() {
              console.log("right scrollWidth", this.$refs.slide.scrollWidth);
              console.log("right offsetWidth", this.$refs.slide.offsetWidth);
              console.log("right scrollLeft", this.$refs.slide.scrollLeft);
              this.$refs.slide.scrollLeft += scrollPoint;

              if (
                this.$refs.slide.offsetWidth + this.$refs.slide.scrollLeft ==
                this.$refs.slide.scrollWidth
              ) {
                clearInterval(this.slideInterval);
              }
            }.bind(this),
            delay
          );
        } else {
          // Do nothing
        }
      } else {
        clearInterval(this.slideInterval);
      }
    }
  },
  methods: {
    clickDownGroup() {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      uiUtil.bus.post(
        constantUtil.EVENT.MOVE_DOWN_SCREEN_GROUP_IN_STORYBOARD,
        this.indexGroup
      );
    },
    clickUpGroup() {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      uiUtil.bus.post(
        constantUtil.EVENT.MOVE_UP_SCREEN_GROUP_IN_STORYBOARD,
        this.indexGroup
      );
    },
    clickDeleteGroup() {
      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_WINDOW_CONFIRM_GROUP,
        () => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
          uiUtil.bus.post(
            constantUtil.EVENT.DELETE_SCREEN_GROUP_IN_STORYBOARD,
            this.groupName
          );
        },
        () => {},
        globalUtil.VARIABLES.MSG_CONFIRM
          .MSG_CONFIRM_DELETE_SCREEN_GROUO_IN_STORYBOARD +
          this.groupName +
          " group ?",
        "Delete Screen Group."
      );
    },
    setListScreenGroup(data) {
      this.listScreenGroup = [...data];
    },
    setIndexScreenGroup(data) {
      this.indexGroup = data;
    },
    setLastIndexScreenGroup(data) {
      this.lastIndexGroup = data;
    },
    onDragChange(groupName, event) {
      const key = Object.keys(event)[0];
      console.log(`${groupName} =`, event);

      if (event.added) {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_ADD_GROUP_SCREEN_IN_STORYBOARD,
          groupName,
          event.added.element,
          event.added.newIndex
        );
      } else if (event.removed) {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_REMOVE_GROUP_SCREEN_IN_STORYBOARD,
          groupName,
          event.removed.oldIndex
        );
      } else if (event.moved) {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_MOVE_GROUP_SCREEN_IN_STORYBOARD,
          groupName,
          event.moved.newIndex,
          event.moved.oldIndex
        );
      }
    },
    slideTo(side) {
      this.slideHovered = true;
      this.slidePosition = side;
    },
    stopSlide() {
      this.slideHovered = false;
      this.slidePosition = "none";
    },
    dragScreenGroupOver(event) {
      console.log(TAG + "dragScreenGroupOver => event => ", event);
      event.preventDefault();
    },
    dragScreenGroupStart(event) {
      console.log(TAG + "dragScreenGroupStart => event => ", event);
      event.dataTransfer.setData("id", event.target.id);
    },
    dropScreenGroup(event) {
      console.log(TAG + "dropScreenGroup => event => ", event);
      event.preventDefault();
      var data = event.dataTransfer.getData("id");
      event.target.appendChild(document.getElementById(data));
    },

    clearEventTouchSlide() {
      // console.log(TAG + 'clearEventTouchSlide => this.$refs["carousel"] => ' , this.$refs["carousel"]);
      if (this.$refs["carousel-slide-screen-group"] != undefined) {
        this.$refs["carousel-slide-screen-group"].$refs[
          "VueCarousel-inner"
        ].removeEventListener(
          this.$refs["carousel-slide-screen-group"].transitionstart,
          this.$refs["carousel-slide-screen-group"].handleTransitionStart
        );
        this.$refs["carousel-slide-screen-group"].$refs[
          "VueCarousel-inner"
        ].removeEventListener(
          this.$refs["carousel-slide-screen-group"].transitionend,
          this.$refs["carousel-slide-screen-group"].handleTransitionEnd
        );

        this.$refs["carousel-slide-screen-group"].$refs[
          "VueCarousel-wrapper"
        ].removeEventListener(
          this.$refs["carousel-slide-screen-group"].isTouch
            ? "touchstart"
            : "mousedown",
          this.$refs["carousel-slide-screen-group"].onStart
        );
      }
    },

    setNunberIndex(item) {
      if (item.index == undefined || item.index == null || item.index == "") {
        //ต้องการแค่ length ที่มีค่าจริงๆจึงกรองเอาตัวที่สร้างมาหลอก slide ออก
        return _.filter(this.listScreenGroup, function(item) {
          return item.__numberIsCarouselBlank__ == undefined;
        }).length;
      } else {
        return item.index;
      }
    },
    clickUpgradeScreen(item) {},
    setPrevLabel() {
      return '<span style="color: #ffde16; font-size: 40px;">◂</span>';
    },
    setNextLabel() {
      return '<span style="color: #ffde16; font-size: 40px;">▸</span>';
    },
    setImageScreen(item) {
      if (
        item.imageUrl == undefined ||
        item.imageUrl == null ||
        item.imageUrl == ""
      ) {
        return "https://via.placeholder.com/420x800?text=" + item.name;
      } else {
        return item.imageUrl;
      }
    }
  }
};
</script>

<style scoped>
.slide-custom {
  /* z-index: 10000; */
  width: 105px !important;
  height: 210px !important;
  margin-right: 10px;
}
.image-slide-custom {
  width: 105px !important;
  height: 210px !important;
}

.do-upgrade {
  background: #ffde16;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 10px 3px 10px;
  transition: 0.25s;
}
.do-upgrade:hover {
  background: white;
  cursor: pointer;
}
.txt-screen-name {
  font-family: "Cordia New Regular";
  font-size: 22px;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  font-weight: bold;
}
.list-group {
  width: 100%;
}
.slide-main {
  /* z-index: 100000; */
  /* max-width: 1150px; */
  width: 100%;
  overflow: auto;
  overflow-y: hidden;
}
.context-icon-pagination-next {
  color: #2d2d2d;
  font-size: 40px;
  height: 165px;
  -webkit-box-flex: 0.025;
  -ms-flex: 0.025;
  flex: 0.025;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.context-icon-pagination-prev {
  color: #2d2d2d;
  font-size: 40px;
  height: 165px;
  -webkit-box-flex: 0.025;
  -ms-flex: 0.025;
  flex: 0.025;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.icon-pagination {
  cursor: pointer;
}
.flip-list-move {
  transition: transform 0.4s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: none;
}
.content-draggable {
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e2e2;
  /* border: 1px solid #c2c2c2; */
  /* box-shadow: 2px 6px 10px 0px rgba(0,0,0,0.15); */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>

