<template>
  <div>
    <span class="txt-grroup-name">
      <!-- <span class="img-grroup-name">
        <img
          src="../../../assets/images/menu_storyboardConfigure.png"
          style="width:20px; background: #000;"
        >
      </span> -->
      {{this.setGroupName}}
    </span>
    <div class="group-storyboard">
      <carousel
        :perPage="5"
        :loop="true"
        :paginationEnabled="false"
        :navigationEnabled="false"
      >
        <slide
          class="slide-custom"
          v-for="(item,index) in listScreenGroup.slice(0, 4)"
          :key="index"
        >
        <div class="img-thumbnail">
          <img
            class="image-slide-custom"
            :src="setImageScreen(item)"
            alt=""
          >
        </div>
        </slide>

        <slide class="slide-custom">
          <span class="card-body align-items-center d-flex justify-content-left text-number-more-screen">
            {{this.setNumberMoreScreen}}
          </span>
        </slide>
      </carousel>
    </div>
  </div>

</template>

<script>
let TAG = "[Screen/GroupStoryboard.vue]";

import apiUti from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

import "./custom.scss";

export default {
  components: {},
  props: {
    groupName: String,
    listScreenGroup: Array
  },
  data() {
    return {};
  },
  computed: {
    setGroupName() {
      return this.groupName == undefined ||
        this.groupName == null ||
        this.groupName == "undefined" ||
        this.groupName == "null" ||
        this.groupName == ""
        ? "Not in Storyboard"
        : this.groupName;
    },
    setNumberMoreScreen() {
      return this.groupName == undefined ||
        this.listScreenGroup == null ||
        this.listScreenGroup.length == 0
        ? ""
        : this.listScreenGroup.length > 4
        ? "+" + (this.listScreenGroup.length - 4)
        : "";
    }
  },
  created() {},
  mounted() {},
  watch: {},
  methods: {
    setPrevLabel() {
      return '<span style="font-size:  40px;">◂</span>';
    },
    setNextLabel() {
      return '<span style="font-size:  40px;">▸</span>';
    },
    setImageScreen(item) {
      if (
        item.urlScreenShot == undefined ||
        item.urlScreenShot == null ||
        item.urlScreenShot == ""
      ) {
        return "https://via.placeholder.com/150x200?text=" + item.uiName;
      } else {
        return item.urlScreenShot;
      }
    }
  }
};
</script>

<style scoped>
.slide-custom {
  /* height: 100vh; */
  /* max-width: 200px; */
  /* padding-left: 20px;
  padding-right: 20px; */
}
.image-slide-custom {
  max-width: 100px;
  max-height: 150px;


  /* max-width: 150px;
  max-height: 200px; */

  /* max-width: 150px;
  max-height: 230px; */
  /* padding-left: 20px;
  padding-right: 20px; */
}
.img-thumbnail{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 110px;
  height: 160px;}

</style>

