<template>
  <div>

    <div v-if="show" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Upload File</h5>
            <button type="button" aria-label="Close" class="close" @click.stop.prevent="show = !show">×</button>
          </header>

          <div class="modal-body">
            <b-form-file v-model="file" accept=".dmabk" :state="Boolean(file)" placeholder="Choose File ...">
            </b-form-file>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="onUpload">
              <font-awesome-icon :icon="['fas','upload']" class="fas-view" style="font-size:15px;" /> &nbsp;Upload
            </button>
            <button class="default" @click.stop.prevent="show = !show">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

var TAG = "[/pages/listStoryboard/import/Main.vue] ";
export default {
  data() {
    return {
      show: false,
      file: null
    };
  },
  methods: {
    onUpload() {
      if (this.file == null) {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Choose File Before Upload !"
        );
        this.show = false;
        return;
      }
      let formData = new FormData();
      formData.append("filePath", this.file);

      const headers = {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      };
      this.show = false;
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

      const call = apiUtil.callService.doPost_DefaultBody(
        globalUtil.SERVICES.URL_UPLOAD_BACKUP_STORY,
        formData,
        headers,
        false
      );
      call
        .then(response => {
          console.log(response);
          const responseData = response.data.responseData;
          if (response.data.success) {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_VALIDATE_STORYBOARD,
              responseData
            );
          } else {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              response.data.responseDesc
            );
          }
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          this.show = false;
          uiUtil.error.readError(error);
        });
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.IMPORT_FILE_STORYBOARD, () => {
      this.file = null;
      this.show = true;
    });
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>