<template>
  <div class="group">
    <h3>{{groupName}}(size = {{items.length}})</h3>
    <div class="content">
      <div
        class="slide-button border-left"
        @mousedown="slideTo('left')"
        @mouseup="stopSlide"
        @dragover="slideTo('left')"
        @dragleave="stopSlide"
        :style="{ background: slideHovered && slidePosition === 'left' ? '#ddd' : 'none' }"
      >&lt;</div>
      <draggable
        :list="items"
        class="list-group d-flex flex-row bd-highlight mb-3"
        ghost-class="ghost"
        group="block"
        :animation="animationSpeed"
        @change="(event) => onChange(groupName,event)"
        ref="slide"
      >
        <div
          class="list-group-item"
          v-for="(el,i) in items"
          :key="i"
          @click="(event) => onClick(groupName,el)"
          @mouseover="el.hovered = true"
          @mouseleave="el.hovered = false"
        >
          <div
            class="list-group-item-cover-background"
            :style="{ display : el.hovered ? 'block' : 'none'}"
          >
            <h5>{{el.name}}</h5>
          </div>
          <img
            :src="'https://via.placeholder.com/80x120?text='+el.name"
            class="list-group-item-image"
          >
        </div>
      </draggable>
      <div
        class="slide-button border-right"
        @mousedown="slideTo('right')"
        @mouseup="stopSlide"
        @dragover="slideTo('right')"
        @dragleave="stopSlide"
        :style="{ background: slideHovered && slidePosition === 'right' ? '#ddd' : 'none' }"
      >&gt;</div>
    </div>
  </div>
</template>

<script>
import draggable from "vuedraggable";
let id = 1;
export default {
  props: {
    groupName: String,
    items: Array
  },
  components: {
    draggable
  },
  data() {
    return {
      animationSpeed: 200,
      slideHovered: false,
      slidePosition: "none",
      slideInterval: null
    };
  },
  methods: {
    onChange(groupName, event) {
      const key = Object.keys(event)[0];
      console.log(`${groupName} =`, event);
    },
    onClick(groupName, item) {
      console.log(`${groupName} Clicked =`, item);
    },
    slideTo(side) {
      this.slideHovered = true;
      this.slidePosition = side;
    },
    stopSlide() {
      this.slideHovered = false;
      this.slidePosition = "none";
    }
  },
  watch: {
    slideHovered: function(val) {
      if (val && this.slidePosition !== "none") {
        const delay = 25;
        const scrollPoint = 20;
        if (this.slidePosition === "left") {
          this.slideInterval = setInterval(
            function() {
              console.log("left" , this.$refs.slide);
              this.$refs.slide.$el.scrollLeft -= scrollPoint;
            }.bind(this),
            delay
          );
        } else if (this.slidePosition === "right") {
          this.slideInterval = setInterval(
            function() {
              console.log("right" , this.$refs.slide);
              this.$refs.slide.$el.scrollLeft += scrollPoint;
            }.bind(this),
            delay
          );
        } else {
          // Do nothing
        }
      } else {
        clearInterval(this.slideInterval);
      }
    }
  }
};
</script>
<style scoped>
.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttons {
  margin-top: 35px;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  display: -webkit-box;
  flex: 0.95;
  align-items: center;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  min-height: 200px;
  width: 95%;
  overflow-y: hidden;
  overflow-x: auto;
}
.list-group-item {
  position: relative;
  display: block;
  border: 1px solid black;
  margin: 0 5px;
  cursor: default;
  height: 140px;
  width: 100px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
}
.list-group-item-image {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.list-group-item-cover-background {
  background: black;
  height: 140px;
  position: absolute;
  width: 100px;
  z-index: 20;
  opacity: 0.3;
  display: none;
}
.slide-button {
  flex: 0.025;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 30px;
  color: #999;
  transition: 0.3s;
  border: 2px solid gray;
}
.border-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.border-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
</style>
