<template>
  <div>
    <group-item
      :groupName="'Ungroup'"
      :items="ungroup"
    />
    <group-item
      :groupName="'Group 1'"
      :items="group1"
    />
    <group-item
      :groupName="'Group 2'"
      :items="group2"
    />
  </div>
</template>

<script>
import GroupItem from "./GroupItem";

export default {
  components: {
    "group-item" : GroupItem
  },
  data() {
    return {
      animationSpeed: 200,
      ungroup: [],
      group1: [],
      group2: []
    };
  },
  mounted() {
    for (let i = 0; i < 20; i++) {
      this.group1.push({
        id: i,
        name: "Screen" + (i + 1),
        hovered: false
      });
    }
  }
};
</script>
<style scoped>

</style>
