<template>
  <div>
    <!-- <div class="content-fillter" v-if="totalRows > 0">
      <b-form inline>
        <b-input v-model="filter" class="search sm-size" :placeholder="searchBox"></b-input>
        <p style="margin:0px 20px;"> Rows per page</p>
        <b-form-select class="search" v-model="perPage" :options="perPageList" style="min-width:60px;"></b-form-select>
      </b-form>
    </div> -->
    <div
      style="padding-right:16px;margin-bottom:-20px;"
      id="fix-header"
    >
      <table class="b-table table table-bordered fixed-table">
        <thead>
          <tr>
            <th
              style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
              v-for="(th,i) in fields"
              :key="i"
              :class="th.class"
            >
              <span
                v-if="th.label != 'Result Message'"
                :title="th.label"
              >
                {{th.label}}
              </span>
              <span
                v-else
                v-b-tooltip.html.hover
                :title="setDataTooltipImage"
              >
                {{th.label}}
                <img
                  v-b-tooltip.html.hover
                  src="../../../assets/images/icon_question.png"
                  style="width: 17px;"
                />
              </span>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div
      class="grid-content"
      id="grid-content"
      v-if="myItems.length > 0"
    >
      <b-table
        id="table1"
        class="dynamic-table table table-bordered"
        thead-class="hidden_header"
        tbody-class="tbody-dynamic-table"
        :style="{'background':'white;'}"
        stacked="md"
        :fields="fields"
        :items="myItems"
        :filter="filter"
        :per-page="perPage"
        @filtered="onFiltered"
        :current-page=1
      >

        <template
          slot="username"
          slot-scope="data"
        >
          {{checkShowUsername(data.item.username)}}
        </template>
        <template
          slot="logID"
          slot-scope="data"
        >
          {{data.item.logID}}
        </template>
        <template
          slot="service"
          slot-scope="data"
        >
          {{data.item.service}}
        </template>
        <template
          slot="requestTime"
          slot-scope="data"
        >
          {{coverDate(data.item.requestTime)}} <br> {{coverTime(data.item.requestTime)}}
        </template>
        <template
          slot="time"
          slot-scope="data"
        >
          {{data.item.time}}
        </template>
        <template
          slot="resultSuccess"
          slot-scope="data"
        >
          {{checkShowResult(data.item.resultSuccess)}}
        </template>
        <template
          slot="input"
          slot-scope="data"
        >
          <font-awesome-icon
            :icon="['fas','sign-in-alt']"
            class="fas-view"
            @click="viewJsonTree(data)"
            style="cursor:pointer;"
          />
        </template>
        <template
          slot="resultCodeAndResultmessage"
          slot-scope="data"
        >
          [{{data.item.resultCode}}] &nbsp; {{data.item.resultMessage}}
        </template>
      </b-table>
    </div>
    <b-row
      v-if="totalRows > 0"
      style="padding: 5px; border: 1px solid #c2c2c2; margin: auto;"
    >
      <b-col cols="8">
        <b-pagination
          :total-rows="totalRows"
          :per-page="perPage"
          @change="onChangePaging"
          v-model="currentPage"
          class="my-0"
        />
      </b-col>
      <b-col
        cols="4"
        align="right"
        style="font-weight: 600; font-size: 20px; padding-top: 5px;"
      >
        Displaying {{showRowDetail()}} of {{totalRows}}
      </b-col>
    </b-row>
  </div>
</template>

<script>
import moment from "moment";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import "./custom.scss";

var TAG = "[/pages/transactionLogSG/grid/Main.vue]";
export default {
  props: {
    items: Array,
    searchBox: String,
    page: Number,
    total: Number
  },
  data() {
    return {
      optionsResponseStatusType: [],
      fields: [
        {
          label: "Log ID",
          key: "logID",
          class: "td-13"
        },
        {
          label: "Username",
          key: "username",
          class: "td-10"
        },
        {
          label: "Service Name",
          key: "serviceName",
          class: "td-15"
        },
        {
          label: "Request Time",
          key: "requestTime",
          sortable: true,
          class: "td-7"
        },
        {
          label: "Using Time(ms)",
          key: "time",
          class: "td-7"
        },
        {
          label: "Result From",
          key: "resultFrom",
          class: "td-5"
        },
        {
          label: "Result",
          key: "resultSuccess",
          class: "td-5"
        },
        {
          label: "HttpStatus",
          key: "resultHttpStatus",
          class: "td-5"
        },
        {
          label: "Result Message",
          key: "resultCodeAndResultmessage",
          class: "td-24"
        },
        {
          label: "In / Out",
          key: "input",
          class: "td-5"
        }
      ],
      filter: null,
      currentPage: 1,
      perPage: 25,
      totalRows: NaN,
      perPageList: [25, 50, 100],
      myItems: _.cloneDeep(this.items),
      thList: [],
      headHeight: 0
    };
  },
  computed: {
    setDataTooltipImage() {
      var html = '<div style="width: 100%; text-align:left; font-size: 14px;">';
      if (this.optionsResponseStatusType.length <= 0) {
        var data = [
          { labelName: "Internal process of ServiceGateway", value: "200" },
          { labelName: "Field validation on mobile", value: "201" },
          {
            labelName: "Authentication error when calling an external API",
            value: "202"
          },
          {
            labelName: "HttpClient error when calling an external API",
            value: "203"
          },
          {
            labelName: "Result from the external API processing",
            value: "204"
          },
          { labelName: "Internal process of DMA", value: "300" }
        ];

        for (let i = 0; i < data.length; i++) {
          if (data[i].value != "") {
            data[i].display = data[i].value;
          }
        }
      } else {
        var data = this.optionsResponseStatusType;
      }
      for (var i = 0; i < data.length; i++) {
        html = html + data[i].value + " : " + data[i].labelName + "<br>";
      }
      return html + "</div>";
    }
  },
  methods: {
    showRowDetail() {
      const start = this.perPage * (this.currentPage - 1) + 1;
      const end =
        this.perPage * this.currentPage > this.totalRows
          ? this.totalRows
          : this.perPage * this.currentPage;

      return start + " - " + end;
    },
    checkShowResult(result) {
      if (result == "true") {
        return "SUCCESS";
      } else if (result == "false") {
        return "FAIL";
      } else {
        return result;
      }
    },
    checkShowUsername(username) {
      if (_.isEmpty(username)) {
        return "Anonymous";
      } else {
        return username;
      }
    },
    viewJsonTree(data) {
      console.log(TAG + "viewJsonTree ", data);

      uiUtil.bus.post(constantUtil.EVENT.VIEW_JSON_TREE, data);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      // this.totalRows = filteredItems.length;
      // this.currentPage = 1;
    },
    coverDate(date) {
      console.log(TAG + "coverDate(date) ", date);

      return date == "" ? "" : moment(date).format("YYYY/MM/DD");
    },
    coverTime(date) {
      console.log(TAG + "coverTime(date) ", date);

      return date == "" ? "" : moment(date).format("HH:mm:ss");
    },
    onChangePaging(number) {
      console.log(TAG + "onChangePaging(data) ", number);

      uiUtil.bus.post(
        constantUtil.EVENT.CALL_FIND_LIST_TRANSACTION_LOG_NEXT_PAGE,
        number
      );
    }
  },
  created() {
    window.addEventListener("resize", function() {
      if (globalUtil.VARIABLES.isCollapseTransactionServiceGateway) {
        $("#grid-content").height(window.innerHeight - (70 + 40 + 270 + 90));
      } else {
        $("#grid-content").height(window.innerHeight - (70 + 40 + 210));
      }
    });

    uiUtil.bus.on("setGrid", data => {
      console.log(TAG + "data => ", data);
      this.currentPage = data.page;
      this.myItems = data.items;
      this.totalRows = data.total;

      this.$nextTick(() => {
        if (globalUtil.VARIABLES.isCollapseTransactionServiceGateway) {
          $("#grid-content").height(window.innerHeight - (70 + 40 + 270 + 90));
        } else {
          $("#grid-content").height(window.innerHeight - (70 + 40 + 210));
        }
      });
    });

    uiUtil.bus.on(
      constantUtil.EVENT.SET_TOOLTIP_IN_GRID_SEARCH_TRAN_LOG_SG,
      data => {
        this.optionsResponseStatusType = data;
      }
    );
  }
};
</script>

<style scoped>
div {
  font-size: 18px;
}
.content-fillter {
  border: 1px solid #c2c2c2;
  padding-top: 10px;
  padding-left: 20px;
}
</style>
