<template>
    <div class="left-menu">
        <div class="menu-icon">
            <img src="../../../assets/images/bb.png" class="image-icon" style="width: 33px;height: 30px;">
            <span class="menu-string">Menu</span>
        </div>
        <div class="menu-list">
          
          <div v-for="menu in menuList" :key="menu.menuId" class="menu-link" >
            <router-link :to="menu.menuLink">
            <img :src="require('../../../assets/images/'+menu.menuImage)" class="image-icon menu-list-icon">
            <span class="left-link">{{ menu.menuName }}</span>
            </router-link>
          </div>
          
        </div>

        <div class="menu-list menu-bottom">
            <div class="menu-link">
              <img src="../../../assets/images/menu_changePassword.png" class="image-icon menu-list-icon">
            <span>Change Password</span>
            </div>

            <div class="menu-link">
              <img src="../../../assets/images/menu_logOut.png" class="image-icon menu-list-icon">
            <span>Log Out</span>
            </div>
        </div>
        
    </div>
</template>

<script>
export default {
  data() {
    return {
      menuList: [],
      mockupMenuList: [
        {
          menuSeq: 1,
          menuLink: "../Screen",
          menuActive: true,
          menuId: "idScreen",
          menuName: "Screen",
          menuImage: "menu_appUi.png"
        },
        {
          menuSeq: 3,
          menuLink: "/old",
          menuActive: true,
          menuId: "idStoryboard",
          menuName: "Storyboard",
          menuImage: "menu_storyboardConfigure.png"
        },
        {
          menuSeq: 4,
          menuLink: "../Application",
          menuActive: true,
          menuId: "idApplication",
          menuName: "Application",
          menuImage: "menu_entityManagement.png"
        },
        {
          menuSeq: 5,
          menuLink: "../RestoreImage",
          menuActive: true,
          menuId: "idRestoreImage",
          menuName: "Import Image",
          menuImage: "menu_entityManagement.png"
        }
      ]
    };
  },
  methods: {
    showMessage() {
      alert("Hello");
    }
  },
  created() {
    sessionStorage.setItem(
      "DMA_menuLists",
      JSON.stringify(this.mockupMenuList)
    );
    this.menuList = JSON.parse(sessionStorage.getItem("DMA_menuLists"));
    // const list = JSON.parse(sessionStorage.getItem("DMA_menuLists"));
    // list.forEach(el => {
    //   let arr = el.menuImage.split("/");
    //   let imageName = arr.pop();
    //   let newObj = _.cloneDeep(el);
    //   newObj.menuImage = imageName;
    //   newObj.menuPath = arr.join("/");
    //   this.menuList.push(newObj);
    // });
  }
};
</script>

<style scoped>
.left-menu {
  z-index: 3;
  position: fixed;
  width: 90px;
  height: 100vh;
  right: auto;
  left: 0px;
  top: 0px;
  margin: 0px;
  background: #555555;
}
.menu-icon {
  padding-top: 10px;
  height: 70px;
  background: #ffde16;
  vertical-align: middle;
  text-align: center;
}
.image-icon {
  display: block;
  margin: auto;
}
/* span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cordia New Regular";
} */
.menu-list {
  color: white;
  text-align: center;
}
a {
  text-decoration: none;
}
.left-link {
  color: #ffffff;
}
.menu-link:hover {
  background: #979797;
}
.menu-list-icon {
  margin-top: 20px;
}
.menu-bottom {
  position: absolute;
  bottom: 20px;
}
.menu-link {
  padding: 1px 5px;
  cursor: pointer;
}
</style>