<template>
  <div class="top-menu">
    <div class="menu-title">
      <div class="menu-top">
        {{header}}
      </div>
      <div class="menu-bottom">
        {{pageName}}
      </div>
    </div>
    <div class="right-text">
      Welcome {{user}} &nbsp; | &nbsp; Version {{version}}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pageName: String,
    headerName: String
  },
  data() {
    return {
      user: "",
      version: "",
      header : "Dynamic Mobile Application Manager"
    };
  },
  created() {
    this.user = _.isEmpty(sessionStorage.getItem("DMA_username"))
      ? "admin"
      : JSON.parse(sessionStorage.getItem("DMA_username"));
    this.version = _.isEmpty(sessionStorage.getItem("DMA_version"))
      ? "0.0.0.1"
      : JSON.parse(sessionStorage.getItem("DMA_version"));
    if (!_.isEmpty(this.headerName)) {
      this.header = this.headerName;
    }
  }
};
</script>

<style scoped>
.top-menu {
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 70px;
  padding: 0px 20px;
  right: auto;
  left: 0px;
  top: 0px;
  margin: 0px;
  background: #c2c2c2;
  font-weight: 800;
}
.right-text {
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.menu-title {
  /* padding-left: 90px; */
}
.menu-top {
  color: white;
  font-size: 25px;
  height: 33px;
}
.menu-bottom {
  font-size: 24px;
}
</style>