<template>
  <div>
      <h1>This is AbView</h1>
      <b-badge>New</b-badge>
      

      <b-btn v-b-toggle.collapse3 class="m-1">Show Config API</b-btn>
      <b-collapse id="collapse3">
        <b-card>
          <b-alert show dismissible>
            {{dataConfig}}
          </b-alert>
        </b-card>
      </b-collapse>


      <b-tabs>
        <b-tab title="first" active>
          <br>I'm the first fading tab
        </b-tab>
        <b-tab title="second" >
          <br>I'm the second tab content
        </b-tab>
        <b-tab title="disabled" disabled>
          <br>Disabled tab!
        </b-tab>
      </b-tabs>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      d: 1,
      posts: [],
      dataConfig: {}
    };
  },

  created() {
    axios
      .get(`http://jsonplaceholder.typicode.com/posts`)
      .then(response => {
        console.log(response);

        this.$helpers.arrayDifference(null, null);
        this.$helpers.debug("ddd");
        // JSON responses are automatically parsed.
        this.posts = response.data;
      })
      .then(res => {
        console.log("end");
        this.dataConfig = this.$helpers.getApi();
      })
      .catch(e => {
        this.errors.push(e);
      });
  }
};
</script>

<style>

</style>
