<template>
  <div>
    <b-button class="fixedFont" variant="info" to="storyboard/new" >New Storyboard</b-button>
    <b-button class="fixedFont" variant="danger" to="storyboard/load"  @click.stop.prevent="loadingStoryboard">Load Storyboard</b-button>
  </div>
</template>

<script>
import { bus } from "../main";
export default {
  data() {
    return {};
  },
  methods: {
    loadingStoryboard() {
      console.log("loading Storyboard !!!!!");
      uiUtil.bus.post("globalLoading", true);
      // this.globalLoading().then(() => {        
      //   this.$router.push("/storyboard/load");
      // });
    },
    globalLoading() {
      // return new Promise((resolve, reject) => {
      //   uiUtil.bus.post("globalLoading", true);
      //   resolve();
      //   next();
      // });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div,
.fixedFont {
  font-size: 14px;
}
</style>
