<template>
    <div>
        <json-editor ref="editor" :json="json"></json-editor><br>
        <button v-on:click="onClick">Click</button>
    </div>
   
</template>

<script>
export default {
  data() {
    return {
      json: {
        foo: "bar"
      },
      editor: null
    };
  },
  methods: {
    onClick() {
      //this.editor =  this.$refs.editor.editor;
      //console.log(this.editor);
      this.$refs.editor.editor.setMode("code");
    }
  },
  created() {
    console.log("created");
  },
  mounted() {
    console.log("mounted");
    console.log(this.json);
    window.t = this;

    //editor.options.mode = "code";
    //console.log(editor);
  }
};
</script>

<style>

</style>
