<template>
  <div role="tablist">

    <b-card no-body class="mb-1">
      <b-card-header header-tag="header" class="p-1" role="tab">
        <b-button block href="#" v-b-toggle="'collapse_'+rowIndex" :variant="variant" style="font-size:20px;">
          <div v-if="showType">
            <p class="card-text">
              {{ topic }}
            </p>
          </div>
          <div v-else>
            {{ topicMain }}
          </div>
        </b-button>
        <!-- {{showType}} // {{grid}} // {{txtName}} -->
      </b-card-header>
      <b-collapse :id="'collapse_'+rowIndex" accordion="my-accordion" role="tabpanel">
        <b-card-body>
          <div v-if="showType">
            <p class="card-text">
              {{ txtDes }}
            </p>
          </div>
          <div v-else>
            <b-table show-empty stacked="md" :items="grid" :fields="fields">

              <template slot="serviceName" slot-scope="data">
                {{data.item.serviceName}}
              </template>

              <template slot="importedversion" slot-scope="data">
                {{data.item.version}}
              </template>

              <template slot="environmentTemplate" slot-scope="data">
                {{data.item.lastestTemplate}}
              </template>

              <template slot="status" slot-scope="data">
                <div v-if="data.item.status == true">
                  <font-awesome-icon :icon="['fas','check-circle']" style="color: green; font-size: 25px;" />
                </div>
                <div v-else>
                  <font-awesome-icon :icon="['fas','times-circle']" style="color: red; font-size: 25px;" />
                </div>
              </template>

              <!--<template slot="upgrade" slot-scope="data">
                 <button
                    class="yellow"
                    @click.stop.prevent="btnUpgradeClick(data.index)"
                    style="display: block; margin: 0 auto;width:80px; fontSize:20px"
                    :disabled="data.item.status"
                    >Upgrade
                </button>
              </template>-->

            </b-table>
          </div>
        </b-card-body>
      </b-collapse>
    </b-card>

  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

var TAG = "[CollapseComponent]";
export default {
  props: {
    rowIndex: Number,
    topic: String,
    txtDes: String,
    objectGrid: Object,
    customFields: Array,
    changeEventName: String,
    filePath:String
  },
  data() {
    return {
      showType: true,
      grid: Array,
      items: [],
      row_style: String,
      variant: null,
      topicMain: String,
      fields: null
    };
  },
  methods: {
    btnUpgradeClick(index){
      const headers = {
        headers: {
          "Content-Type": "application/json"
        }
      };
     
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      
      const gridData = this.grid[index];
      const requestData = {
        version : this.grid[index].version,
        name : this.grid[index].name,
        status : this.grid[index].status,
        lastestTemplate : this.grid[index].version,
        filePath : this.filePath,
      };
      const call = apiUtil.callService.doPost_DefaultBody(
        globalUtil.SERVICES.URL_UPGRADE_VERSION_TEMPLATE_DMA5,
        requestData,
        headers,
        false
      );
      call
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(error);
        });
    }
  },
  created() {
    uiUtil.bus.on(this.changeEventName, (data, dataFields) => {
      this.fields = _.cloneDeep(dataFields);

      console.log("OBJ = ", data);
      if (data != undefined) {
        console.log("OBJ = ", data);
        this.topicMain = data.topicMain;
        this.grid = data.grid;
        console.log(TAG + "grid", this.grid);
        this.variant = data.variant;
        this.row_style = data.row_style;

        this.showType = false;
      }
      
    });

    
  },
  mounted() {
    // this.fields = _.cloneDeep(this.customFields);
    // console.log("OBJ = ", this.objectGrid);
    // if (this.objectGrid != undefined) {
    //   console.log("OBJ = ", this.objectGrid);
    //   this.topicMain = data.topicMain;
    //   this.grid = this.objectGrid.grid;
    //   console.log(TAG + "grid", this.grid);
    //   this.variant = this.objectGrid.variant;
    //   this.row_style = this.objectGrid.row_style;
    //   this.showType = false;
    //   if (rowIndex == 0) {
    //     this.topicMain = "Storyboard Validation";
    //   }
    // }
  }
};
</script>

<style scoped>
#remark {
  color: red;
}
button {
  font-size: 40px;
}
</style>
