<template>
  <div>
    <div id="customCollapse">

      <div style="height 100%; max-height: 160px; overflow: auto;">
        <b-form inline>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Log ID : "
          >
            <b-form-input
              class="textFieldMini"
              type="text"
              v-model="logID"
              placeholder="Log ID"
              style="width: 150px;"
            >
            </b-form-input>
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Anonymous : "
          >
            <b-form-select
              style="width: 150px;"
              class="textFieldMini"
              v-model="isAnonymous"
              :options="optionsAnonymous"
              placeholder="Anonymous"
              @change="onChangeOptionsAnonymous"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Username : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="username"
              placeholder="Username"
              :disabled="isAnonymous != false"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Mobile ID : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="mobileID"
              placeholder="mobileID"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Device Type : "
          >
            <b-form-select
              style="width: 150px;"
              class="selectLog"
              v-model="deviceType"
              :options="optionsDeviceType"
              placeholder="Device Type"
            />
          </b-form-group>
          <!-- </b-form>

        <b-form inline> -->
          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Application Name : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="app_name"
              placeholder="Application Name"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Storyboard Name : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="story_name"
              placeholder="Storyboard Name"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Screen : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="screen"
              placeholder="Screen"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Action : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="action"
              placeholder="Action"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Action Description : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="action_description"
              placeholder="Action Description"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Transaction Message : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="message"
              placeholder="Transaction Message"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Result From : "
          >
            <b-input
              style="width: 150px;"
              class="textFieldMini"
              v-model="resultFrom"
              placeholder="Result From"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Result : "
          >
            <b-form-select
              style="width: 150px;"
              class="textFieldMini"
              v-model="result"
              :options="optionsResult"
              placeholder="Result"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Http Status : "
          >
            <b-input
              class="textFieldMini"
              style="width: 150px;"
              v-model="resultHttpStatus"
              placeholder="Http Status"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Result Code : "
          >
            <b-form-select
              class="textFieldMini"
              style="width: 150px;"
              v-model="resultCode"
              :options="optionsResponseStatusType"
              placeholder="Result Code"
              :text-field="'display'"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px;"
            id="transactionLogLabel"
            label="Result Message : "
          >
            <b-input
              style="width: 150px;"
              class="textField"
              v-model="resultMessage"
              placeholder="Result Message"
            />
          </b-form-group>

          <div class="form-group">
            <button
              class="yellow"
              style="margin-left: 10px;"
              @click.stop.prevent="btnSearchTransactionLog"
              hidden="true"
            >Search</button>
          </div>

          <!-- </b-form>

        <b-form inline> -->

          <b-form-group
            style="margin-right: 10px; margin-top: -10px;"
            id="transactionLogLabel"
            label="Start Time : "
          >
            <datetime
              type="datetime"
              style="width: 150px;"
              class="datetime"
              v-model="startDate"
              :use12-hour="true"
              placeholder="Start Time"
            />
          </b-form-group>

          <b-form-group
            style="margin-right: 10px; margin-top: -10px;"
            id="transactionLogLabel"
            label="End Time : "
          >
            <datetime
              type="datetime"
              style="width: 150px;"
              class="datetime"
              v-model="endDate"
              :use12-hour="true"
              placeholder="End Time"
            />
          </b-form-group>

          <div class="form-group">
            <button
              class="yellow"
              style="margin-left: 10px; margin-top: 20px;"
              @click.stop.prevent="btnSearchTransactionLog"
            >Search</button>
          </div>

        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import apiUtil from "../../../common/apiUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";

var TAG = "[/pages/transactionLog/Main.vue]";
var DMA_menuRole = JSON.parse(sessionStorage.getItem("DMA_menuRole"));

export default {
  data() {
    return {
      optionsResponseStatusType: [
        {
          value: "",
          labelName: "All",
          display:"All"
        }
      ],
      optionsResult: [
        { value: "", text: "All" },
        { value: "true", text: "SUCCESS" },
        { value: "false", text: "FAIL" }
      ],
      optionsDeviceType: [
        { value: "", text: "All" },
        { value: "4", text: "iOS" },
        { value: "1", text: "Android" }
      ],
      optionsAnonymous: [
        { value: false, text: "Username" },
        { value: true, text: "Anonymous" }
      ],
      isAnonymous: false,
      logID: "",
      username: "",
      mobileID: "",
      screen: "",
      action: "",
      action_description: "",
      story_name: "",
      app_name: "",
      result: "",
      deviceType: "",
      resultFrom: "",
      resultHttpStatus: "",
      resultCode: "",
      resultMessage: "",
      message: "",
      adminMode: DMA_menuRole,
      startDate:
        moment()
          .format()
          .substr(0, 10) + "T00:00",
      endDate:
        moment()
          .format()
          .substr(0, 10) + "T23:59",
      limit: 25,
      page: 1,
      sort: "requestTime",
      dir: "DESC" //(ASC, DESC),
    };
  },
  created() {
    // console.log(TAG + " created : ", "start");
    // this.startDate = moment()
    //   .format()
    //   .substr(0, 16);
    // this.endDate = moment()
    //   .format()
    //   .substr(0, 16);
    // this.findListTransactionLog();
    // console.log(TAG + " created : ", "end");
    this.requestListResponseStatusType();
  },
  methods: {
    requestListResponseStatusType() {
      console.log(TAG + "requestListResponseStatusType start");
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

      let user = sessionStorage.getItem("DMA_username") || "";
      user = user.replace(/\"/g,"");
      const bodyParams = {
        user: JSON.parse(user)
      };
      const call = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_LIST_RESPONSE_STATUS_TYPE,
        bodyParams
      );

      apiUtil.callService.validateResponse(
        call,
        function(response) {
          this.optionsResponseStatusType = [
            ...response.data.responseData.responseStatusType
          ];

          this.optionsResponseStatusType.unshift({
            value: "",
            labelName: "All",
            display: "All"
          });

          for (let i = 0; i < this.optionsResponseStatusType.length; i++) {
            if (this.optionsResponseStatusType[i].value != "") {
              this.optionsResponseStatusType[
                i
              ].display = this.optionsResponseStatusType[i].value;
            }
          }

          uiUtil.bus.post(
            constantUtil.EVENT.SET_TOOLTIP_IN_GRID_SEARCH_TRAN_LOG,
            response.data.responseData.responseStatusType
          );

          // { value: "", text: "Result", disabled: true }
        }.bind(this)
      );
    },
    onChangeOptionsAnonymous() {
      this.$nextTick(() => {
        if (this.isAnonymous) {
          this.username = "";
        }
      });
    },
    btnSearchTransactionLog() {
      console.log(TAG + " btnSearchTransactionLog : ", "start");

      var tempStartDate = _.isEmpty(this.startDate)
        ? new Date()
        : this.startDate;
      var tempEnnDate = _.isEmpty(this.endDate) ? new Date() : this.endDate;
      tempStartDate = moment(tempStartDate)
        .toDate()
        .getTime();
      tempEnnDate = moment(tempEnnDate)
        .toDate()
        .getTime();

      if (tempStartDate > tempEnnDate) {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          globalUtil.VARIABLES.MSG_ERROR
            .MSG_ERROR_START_DATE_END_DATE_TRANSACTION_LOG
        );
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SET_CRITERIA_SEARCH_TRAN_LOG, {
          logID: this.logID,
          username: this.username,
          mobileID: this.mobileID,
          screen: this.screen,
          action: this.action,
          action_description: this.action_description,
          story_name: this.story_name,
          app_name: this.app_name,
          result: this.result,
          deviceType: this.deviceType,
          resultFrom: this.resultFrom,
          resultHttpStatus: this.resultHttpStatus,
          resultCode: this.resultCode,
          resultMessage: this.resultMessage,
          isAnonymous: this.isAnonymous,
          message: this.message,
          adminMode: this.adminMode,
          startDate: moment(tempStartDate)
            .toDate()
            .getTime(),
          endDate: moment(tempEnnDate)
            .toDate()
            .getTime(),
          limit: 25,
          page: this.page,
          sort: this.sort,
          dir: this.dir
        });
      }

      // this.findListTransactionLog();

      console.log(TAG + " btnSearchTransactionLog : ", "end");
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
