.dynamic-table {
  overflow: scroll;
}

.grid-content {
  // height: calc(100vh - (70 + 40))px;
  overflow-y: scroll;
  display: block;
  border: 1px #c2c2c2 solid;
}

@media screen and (max-height:768px) {
  .grid-content {
    /* height: 58vh; */
  }
}

.hidden_header {
  // content: ' ';
  display: none;
  // visibility: hidden;
  // clear: both;
  // position: fixed;
}

.tbody-dynamic-table{
  background: #FFF;
}

table.fixed-table>thead>tr>th {
  background: #c2c2c2;
  word-break: break-word;
  text-align: center;
  padding: 3px 10px;
  vertical-align: middle;
}
