<template>
  <div>
    <!-- <div class="content-fillter">
      <b-form inline>
        <b-input v-model="Filter" class="search sm-size" :placeholder="searchBox"></b-input>
      </b-form>
    </div>-->
    <div style="padding-right:16px;margin-bottom:-20px;" id="fix-header">
      <table class="b-table table table-bordered fixed-table">
        <thead>
          <tr>
            <th
              style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
              v-for="(th,i) in fields"
              :key="i"
              :class="th.class"
            >
              <span v-if="th.label != 'Result Message'" :title="th.label">{{th.label}}</span>
              <span v-else v-b-tooltip.html.hover :title="setDataTooltipImage">
                {{th.label}}
                <img
                  v-b-tooltip.html.hover
                  src="../../../assets/images/icon_question.png"
                  style="width: 17px;"
                />
              </span>
            </th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="grid-content" id="grid-content" v-if="myItems.length > 0">
      <b-table
        id="table1"
        class="dynamic-table table table-bordered"
        thead-class="hidden_header"
        tbody-class="tbody-dynamic-table"
        :style="{'background':'white;'}"
        stacked="md"
        :fields="fields"
        :items="myItems"
        :filter="filter"
        :per-page="perPage"
        @filtered="onFiltered"
        :current-page="1"
      >
        <template slot="requestTime" slot-scope="data">
          {{coverDate(data.item.requestTime)}}
          <br />
          {{coverTime(data.item.requestTime)}}
        </template>
        <template slot="username" slot-scope="data">{{checkShowUsername(data.item.username)}}</template>
        <template slot="action" slot-scope="data">
          <span v-if="data.item.action_description" > <!-- v-b-tooltip.html.hover :title="data.item.action" -->
            {{data.item.action_description}}
          </span>
          <span v-else>
            {{data.item.action}}
          </span>
          
        </template>
        <template slot="deviceType" slot-scope="data">{{checkShowDeviceType(data.item.deviceType)}}</template>
        <template slot="result" slot-scope="data">{{checkShowResult(data.item.result)}}</template>
        <template slot="input" slot-scope="data">
          <font-awesome-icon
            :icon="['fas','sign-in-alt']"
            class="fas-view"
            @click="viewJsonTree(data)"
            style="cursor: pointer;"
          />
        </template>
        <template
          slot="resultCodeAndResultMessage"
          slot-scope="data"
        >[{{data.item.resultCode}}] &nbsp; {{data.item.resultMessage}}</template>
      </b-table>
    </div>
    <!-- <div class="grid-content" v-if="myItems.length > 0">

    <b-table id="table1" class="dynamic-table table table-bordered" :style="{'background':'white','margin-top': '-'+headHeight+'px'}" stacked="md" :fields="fields" :items="myItems" :filter="filter" :per-page="perPage" @filtered="onFiltered" :current-page=1>
      <template slot="requestTime" slot-scope="data">
        {{coverDate(data.item.requestTime)}}
      </template>
      <template slot="username" slot-scope="data">
        {{checkShowUsername(data.item.username)}}
      </template>
      <template slot="deviceType" slot-scope="data">
        {{checkShowDeviceType(data.item.deviceType)}}
      </template>
      <template slot="result" slot-scope="data">
        {{checkShowResult(data.item.result)}}
      </template>
      <template slot="input" slot-scope="data">
        <font-awesome-icon :icon="['fas','sign-in-alt']" class="fas-view" @click="viewJsonTree(data)" style="cursor: pointer;" />
      </template>
      <template slot="resultCodeAndResultMessage" slot-scope="data">
        [{{data.item.resultCode}}] &nbsp; {{data.item.resultMessage}}
      </template>
    </b-table>
    </div>-->
    <b-row v-if="totalRows > 0" style="padding: 5px; border: 1px solid #c2c2c2; margin: auto;">
      <b-col cols="8">
        <b-pagination
          :total-rows="totalRows"
          :per-page="perPage"
          @change="onChangePaging"
          v-model="currentPage"
          class="my-0"
        />
      </b-col>
      <b-col
        cols="4"
        align="right"
        style="font-weight: 600; font-size: 20px; padding-top: 5px;"
      >Displaying {{showRowDetail()}} of {{totalRows}}</b-col>
    </b-row>
  </div>
</template>

<script>
import moment from "moment";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import "./custom.scss";

var TAG = "[/pages/transactionLog/grid/Main.vue]";
export default {
  props: {
    items: Array,
    searchBox: String,
    page: Number,
    total: Number,
    pageHeight: Number
  },
  data() {
    return {
      optionsResponseStatusType: [],
      fields: [
        {
          label: "Log ID",
          key: "logID",
          class: "td-5"
        },
        {
          label: "Username",
          key: "username",
          class: "td-6"
        },
        {
          label: "Mobile ID",
          key: "mobileID",
          class: "td-5"
        },
        {
          label: "Device Type",
          key: "deviceType",
          class: "td-5"
        },
        {
          label: "Screen",
          key: "screen",
          class: "td-5"
        },
        {
          label: "Action",
          key: "action",
          class: "td-5"
        },
        {
          label: "Transaction Message",
          key: "message",
          class: "td-7"
        },
        {
          label: "Request Time",
          key: "requestTime",
          sortable: true,
          class: "td-5"
        },
        {
          label: "Using Time(ms)",
          key: "time",
          class: "td-6"
        },
        {
          label: "Result From",
          key: "resultFrom",
          class: "td-5"
        },
        {
          label: "Result",
          key: "result",
          class: "td-5"
        },
        {
          label: "Http Status",
          key: "resultHttpStatus",
          class: "td-4"
        },
        {
          label: "Result Message",
          key: "resultCodeAndResultMessage",
          class: "td-18"
        },
        {
          label: "In/Out",
          key: "input",
          class: "td-4"
        },
        {
          label: "Content Type",
          key: "contentType",
          class: "td-5"
        }
      ],
      filter: null,
      currentPage: 1,
      perPage: 25,
      totalRows: 0,
      perPageList: [25, 50, 100],
      myItems: _.cloneDeep(this.items),
      thList: [],
      headHeight: 0,
      DMA_menuRole: "system"
    };
  },
  computed: {
    setDataTooltipImage() {
      var html = '<div style="width: 100%; text-align:left; font-size: 14px;">';
      if (this.optionsResponseStatusType.length <= 0) {
        var data = [
          { labelName: "Internal process of ServiceGateway", value: "200" },
          { labelName: "Field validation on mobile", value: "201" },
          {
            labelName: "Authentication error when calling an external API",
            value: "202"
          },
          {
            labelName: "HttpClient error when calling an external API",
            value: "203"
          },
          {
            labelName: "Result from the external API processing",
            value: "204"
          },
          { labelName: "Internal process of DMA", value: "300" }
        ];

        for (let i = 0; i < data.length; i++) {
          if (data[i].value != "") {
            data[i].display = data[i].value;
          }
        }
      } else {
        var data = this.optionsResponseStatusType;
      }
      for (var i = 0; i < data.length; i++) {
        html = html + data[i].value + " : " + data[i].labelName + "<br>";
      }
      return html + "</div>";
    }
  },
  methods: {
    setImageTooltip() {
      return "@assets/images/icon_question.png";
    },
    showRowDetail() {
      const start = this.perPage * (this.currentPage - 1) + 1;
      const end =
        this.perPage * this.currentPage > this.totalRows
          ? this.totalRows
          : this.perPage * this.currentPage;

      return start + " - " + end;
    },
    checkShowResult(result) {
      if (result == "true") {
        return "SUCCESS";
      } else if (result == "false") {
        return "FAIL";
      } else {
        return result;
      }
    },
    checkShowDeviceType(deviceType) {
      if (deviceType == "1") {
        return "Android";
      } else if (deviceType == "4") {
        return "iOS";
      } else {
        return deviceType;
      }
    },
    checkShowUsername(username) {
      if (_.isEmpty(username)) {
        return "Anonymous";
      } else {
        return username;
      }
    },
    viewJsonTree(data) {
      console.log(TAG + "viewJsonTree ", data);

      uiUtil.bus.post(constantUtil.EVENT.VIEW_JSON_TREE, data);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      // this.totalRows = filteredItems.length;
      // this.currentPage = 1;
    },
    coverDate(date) {
      console.log(TAG + "coverDate(date) ", date);

      return date == "" ? "" : moment(date).format("YYYY/MM/DD");
    },
    coverTime(date) {
      console.log(TAG + "coverTime(date) ", date);

      return date == "" ? "" : moment(date).format("HH:mm:ss");
    },
    onChangePaging(number) {
      console.log(TAG + "onChangePaging(data) ", number);

      uiUtil.bus.post(
        constantUtil.EVENT.CALL_FIND_LIST_TRANSACTION_LOG_NEXT_PAGE,
        number
      );
    }
  },
  created() {
    window.addEventListener("resize", function() {
      if (globalUtil.VARIABLES.isCollapseTransactionDMA) {
        $("#grid-content").height(window.innerHeight - (70 + 40 + 270 + 90));
      } else {
        $("#grid-content").height(window.innerHeight - (70 + 40 + 210));
      }
    });

    this.DMA_menuRole = JSON.parse(sessionStorage.getItem("DMA_menuRole"));
    if (this.DMA_menuRole == "admin") {
      this.fields = [
        {
          label: "Log ID",
          key: "logID",
          class: "td-5"
        },
        {
          label: "Username",
          key: "username",
          class: "td-6"
        },
        {
          label: "Mobile ID",
          key: "mobileID",
          class: "td-5"
        },
        {
          label: "Device Type",
          key: "deviceType",
          class: "td-5"
        },
        {
          label: "Screen",
          key: "screen",
          class: "td-5"
        },
        {
          label: "Action",
          key: "action",
          class: "td-5"
        },
        {
          label: "Transaction Message",
          key: "message",
          class: "td-10"
        },
        {
          label: "Request Time",
          key: "requestTime",
          sortable: true,
          class: "td-5"
        },
        {
          label: "Using Time(ms)",
          key: "time",
          class: "td-6"
        },
        {
          label: "Result From",
          key: "resultFrom",
          class: "td-5"
        },
        {
          label: "Result",
          key: "result",
          class: "td-5"
        },
        {
          label: "HttpStatus",
          key: "resultHttpStatus",
          class: "td-4"
        },
        {
          label: "Result Message",
          key: "resultCodeAndResultMessage",
          class: "td-20"
        },
        {
          label: "In/Out",
          key: "input",
          class: "td-4"
        }
      ];
    }

    uiUtil.bus.on("setGrid", data => {
      console.log(TAG + "data => ", data);
      this.currentPage = data.page;
      this.myItems = data.items;
      this.totalRows = data.total;

      this.$nextTick(() => {
        if (globalUtil.VARIABLES.isCollapseTransactionDMA) {
          $("#grid-content").height(window.innerHeight - (70 + 40 + 270 + 90));
        } else {
          $("#grid-content").height(window.innerHeight - (70 + 40 + 210));
        }
      });
    });

    uiUtil.bus.on(
      constantUtil.EVENT.SET_TOOLTIP_IN_GRID_SEARCH_TRAN_LOG,
      data => {
        this.optionsResponseStatusType = data;
      }
    );
  }
};
</script>

<style scoped>
td {
  word-break: break-all;
}
div {
  font-size: 18px;
}
.content-fillter {
  border: 1px solid #c2c2c2;
  padding-top: 10px;
  padding-left: 20px;
}
</style>
