<template>
  <div>

    <div v-if="showModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:90%;min-width:90%;">
        <div tabindex="-1" role="document" class="modal-content" style="height: 80vh">
          <header class="modal-header">
            <h5 class="modal-title">{{title}}</h5>
            <button type="button" aria-label="Close" class="close" @click.stop.prevent="showModal = !showModal">×</button>
          </header>
          <div class="modal-body" style="max-height:80vh;overflow-y:scroll;">
            <div>
              <!-- do somthing here -->
              <div>

                <b-row>
                  <b-col>
                    <b-row>
                      <b-col>
                        Input
                      </b-col>
                      <b-col align=right>
                        <button
                        class="yellow"
                        type="button"
                        v-clipboard:copy="inputText"
                        v-clipboard:success="onCopy"
                        v-clipboard:error="onError">
                          Copy
                        </button>
                      </b-col>
                    </b-row>
                    <br>
                    <json-editor ref="editor" :json="input"></json-editor>
                  </b-col>
                  <b-col>
                    <b-row>
                      <b-col>
                        Output
                      </b-col>
                      <b-col align=right>
                        <button
                        class="yellow"
                        type="button"
                        v-clipboard:copy="outputText"
                        v-clipboard:success="onCopy"
                        v-clipboard:error="onError">
                          Copy
                        </button>
                      </b-col>
                    </b-row>
                    <br>
                    <json-editor ref="editor" :json="output"></json-editor>
                  </b-col>
                </b-row>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>


import JSONEditor from "vue2-jsoneditor";
import "jsoneditor/dist/jsoneditor.css";
import "./custom.scss";

import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

var TAG = "[/pages/transactionLog/jsonTreeView/Main.vue] ";
export default {
  components: {
    "json-editor": JSONEditor
  },
  props: {},
  data() {
    return {
      isLoading: true,
      showModal: false,
      title: "Input & Output",
      input: null,
      output: null,
      inputText: null,
      outputText: null
    };
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.VIEW_JSON_TREE, data => {
      console.log(TAG + "on viewJsonTree ", data);

      this.showModal = true;
      console.log(TAG + "step 1", data);
      this.input = data.item.input;
      this.output = data.item.output;

      this.inputText = JSON.stringify(this.input);
      this.outputText = JSON.stringify(this.output);
    });
  },
  methods: {
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    onCopy: function(e) {
      console.log(TAG + " onCopy => ", e.text);
    },
    onError: function(e) {
      console.log(TAG + " onErrorCopy => ", e);
    }
  }
};
</script>

<style scoped>
input[type=text] {
  font-size: 20px;
  padding: 3px 10px;
  min-width: 200px;
}
</style>
