<template>
  <div>
    <div
      v-if="opemWindowAddGroup"
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;"
    >
      <div
        class="modal-dialog modal-md modal-dialog-centered"
        style="width:500px;"
      >
        <div
          tabindex="-1"
          role="document"
          class="modal-content"
        >
          <header class="modal-header">
            <h5 class="modal-title">New Group</h5>
            <button
              type="button"
              aria-label="Close"
              class="close"
              @click.stop.prevent="closeModal"
            >×</button>
          </header>
          <div class="modal-body">

            <form>
              <div class="form-group row">
                <label
                  for="inputGroupName"
                  class="lable-input col-sm-3 col-form-label"
                >Group name : </label>
                <div class="col-sm-9">
                  <!-- <input
                    type="text"
                    class="form-control"
                    id="inputGroupName"
                    placeholder="Group name"
                    v-model="groupName"
                  > -->
                  <b-input
                    id="inputGroupName"
                    type="text"
                    v-model="groupName"
                    placeholder="Group name"
                    :state="state"
                    @keypress.native="validateText"
                    onpaste="return false;"
                  />
                </div>
              </div>
              <div class="form-group row">
                <label
                  for="inputDescription"
                  class="lable-input col-sm-3 col-form-label"
                >Remark : </label>
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="inputDescription"
                    placeholder="Remark"
                    v-model="description"
                  >
                </div>
              </div>
            </form>

          </div>
          <div class="modal-footer">
            <button
              class="yellow"
              @click.stop.prevent="clickConfirm"
            >Confirm</button>
            <button
              class="default"
              @click.stop.prevent="clickCancel"
            >Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import validateUtil from "../../../common/validateUtil/index.js";

var TAG = "[ScreenInStoryborad/WindowAddGroup/WindowAddGroup.vue] ";
export default {
  props: {},
  components: {},
  data() {
    return {
      opemWindowAddGroup: false,
      groupName: "",
      description: "",
      state: null
    };
  },
  created() {},
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.OPEN_WINDOW_ADD_GROUP, () => {
      console.log(
        TAG + "============= on bus OPEN_WINDOW_ADD_GROUP ============="
      );
      this.opemWindowAddGroup = true;
    });
  },
  watch: {},
  methods: {
     validateTextNumberOnPaste(event) {
      console.log(TAG + "validateTextNumberOnPaste", event);
     console.log(TAG + "validateText(event) => ", "start");
      validateUtil.validateAll(validateUtil.REGEX.ENG_NUMBER_UNDERSCORE, event);
    },
    validateText(event) {
      console.log(TAG + "validateText(event) => ", "start");
      validateUtil.validateAll(validateUtil.REGEX.ENG_NUMBER_UNDERSCORE, event);
    },
    clickConfirm() {
      if (this.groupName.trim() == "") {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          globalUtil.VARIABLES.MSG_ERROR.COMMON.MSG_REQUIRED
        );
        this.state = false;
      } else if(!validateUtil.validateValue(validateUtil.REGEX.ENG_NUMBER_UNDERSCORE, this.groupName)) {
          uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          globalUtil.VARIABLES.MSG_ERROR.COMMON.MSG_REQUIRED
        );
        this.state = false;
      }
      else {
        uiUtil.bus.post(constantUtil.EVENT.CONFIM_ADD_WINDOW_ADD_GROUP, {
          name: this.groupName,
          description: this.description
        });
        this.closeModal();
      }
    },
    clickCancel() {
      this.closeModal();
    },
    closeModal() {
      this.groupName = "";
      this.description = "";
      this.opemWindowAddGroup = false;
      this.state = null;
    }
  }
};
</script>

<style scoped>
.lable-input {
  font-weight: bold;
  font-size: 20px;
}
</style>
