input[type=text] , select{
  font-size: 20px;
  padding: 3px 10px;
  min-width: 200px;
}

.screen-msg {
  right: 0;
  position: absolute;
  margin-right: 20px;
  margin-top: -5px; 
}

.c-label {
  padding-left:10px;
  width: 100px;
  text-align: left;
  display: block;
}
