<template>
  <div>

    <div v-if="show" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:70%;min-width:600px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Edit Application : &nbsp;
              <span style="color:red;">{{entityName}}</span>
            </h5>
            <button type="button" aria-label="Close" class="close" @click.stop.prevent="show = !show">×</button>
          </header>
          <div class="modal-body">
            <div>
              <b-form inline>
                <label class="c-label">Story Name : </label>&nbsp;&nbsp;
                <b-form-select :options="listStory" v-model="storyName"></b-form-select>
              </b-form>
              <b-form inline style="margin-top:10px;">
                <label class="c-label">Status : </label>&nbsp;&nbsp;
                <b-form-select :options="listEntityStatus" v-model="status"></b-form-select>
              </b-form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="default" @click.stop.prevent="show = !show">Back</button>
            <button type="button" class="yellow" @click.stop.prevent="saveApp">Save Application</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import apiUtil from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";

import customUtil from "./custom.main";

var TAG = "[/pages/application/viewPublishApp/Main.vue] ";
export default {
  props: {},
  data() {
    return {
      show: false,
      storyName: null,
      status: null,
      entityName: "",
      listStory: null,
      listEntityStatus: null,
      entityData: null,
      stackCall: null
    };
  },
  watch: {
    stackCall: function(newVal, oldVal) {
      if (newVal == 0) {
        this.show = true;
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
      }
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.VIEW_PUBLISH_APPLICATION, entityName => {
      this.stackCall = 3;
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      this.entityName = entityName;
      let user = sessionStorage.getItem("DMA_username") || "";
      user = user.replace(/\"/g,"");
      let params = {
        user
      };
      const call_listStory = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_LIST_STORY,
        params
      );
      const call_listEntityStatus = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_LIST_ENTITY_STATUS,
        params
      );
      params.entityName = entityName;
      const call_findEntityByName = apiUtil.callService.doPost(
        globalUtil.SERVICES.URL_FIND_ENTITY_BY_NAME,
        params
      );
      call_listStory
        .then(response => {
          const responseData = response.data.responseData;
          this.listStory = customUtil.createDropdownListStory(
            responseData.storyList
          );
        })
        .then(() => {
          this.stackCall--;
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });

      call_listEntityStatus
        .then(response => {
          const responseData = response.data.responseData;
          this.listEntityStatus = customUtil.createDropdownListEntityStatus(
            responseData.statusList
          );
        })
        .then(() => {
          this.stackCall--;
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });

      call_findEntityByName
        .then(response => {
          const responseData = response.data.responseData;
          this.entityData = responseData;
          this.storyName = responseData.storyName;
          this.status = responseData.status;
        })
        .then(() => {
          this.stackCall--;
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
    });
  },
  methods: {
    saveApp() {
      let check = {
        pass : true,
        msg : []
      }
      if(this.storyName == null){
        check.pass = false;
        check.msg.push("Story Name");
      }
      if(this.status == null){
        check.pass = false;
        check.msg.push("Status")
      }
      if (check.pass) {
        uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
        this.entityData.status = this.status;
        this.entityData.storyName = this.storyName;
        const call = apiUtil.callService.doPost(
          globalUtil.SERVICES.URL_SAVE_ENTITY,
          this.entityData
        );
        call
          .then(response => {
            this.show = false;
            uiUtil.bus.post(constantUtil.EVENT.SAVE_APPLICATION);
          })
          .catch(err => {
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
            uiUtil.error.readError(err);
          });
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,"Please Select : "+check.msg);
      }
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>