<template>
  <div
    class="d-flex justify-content-center"
    style="height: 200px"
  >

    <div
      class="align-self-center"
      align="center"
    >

      <img
        class="image-slide-custom"
        :src="src"
        :ref="'ImageMouseOver'"
        @mouseover.prevent.stop="showOverlay = true"
        @mouseleave.prevent.stop="showOverlay = false"
        @click.stop.prevent="autoFocusOnClick"
        v-if="!showOverlay"
      />

      <div
        align="center"
        @mouseover.prevent.stop="showOverlay = true"
        @mouseleave.prevent.stop="showOverlay = false"
        v-if="showOverlay"
        class="text-overlay"
        v-bind:style="{ 'background' : 'linear-gradient(#08080887, #08080887) , url(' + src + ')'  , 'background-size' : 'cover' , 'background-position': 'top' , 'background-repeat': 'no-repeat'  }"
        @click.stop.prevent="autoFocusOnClick"
      >
        <div v-if="checkShowDetail(uiName)">Screen name : <br>{{uiName}}</div>
      </div>

    </div>
  </div>
</template>

<script>
import uiUtil from '../../../common/uiUtil';
import constantUtil from '../../../common/constantUtil';


let TAG =
  "[ScreenInStoryborad/SceenGroupDetial/ImageMouseOver/ImageMouseOver.vue] => ";

export default {
  components: {},
  props: {
    src: String,
    uiName: String,
     data : Object ,
    screenId : String ,
    path : Object ,
  },
  data() {
    return {
      showOverlay: false,
      imageWidth: 0,
      imageHeight: 0
    };
  },
  computed: {
  },
  created() {
    window.addEventListener("mouseover", (event) => {
      this.showOverlay = false;
    });
  },
  mounted() {
    // console.log(
    //   TAG + "mounted => this.$refs.ImageMouseOver.clientHeight",
    //   this.$refs.ImageMouseOver.clientHeight
    // );
    // console.log(
    //   TAG + "mounted => this.$refs.ImageMouseOver.clientWidth",
    //   this.$refs.ImageMouseOver.clientWidth
    // );

    this.imageWidth = this.$refs.ImageMouseOver.clientWidth;
    this.imageHeight = this.$refs.ImageMouseOver.clientHeight;
  },
  watch: {},
  methods: {
    autoFocusOnClick() {
       let dataEdit = this.data
        dataEdit.item.target = this.uiName
        uiUtil.bus.post(
        constantUtil.EVENT.CLOSE_SEARCH_TARGET
      );
      // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      // uiUtil.bus.post(
      //   constantUtil.EVENT.SET_SCREEN_IN_ACTION,
      //   dataEdit
      // );
    },
    checkShowDetail(data) {
      if (data == undefined || data == null || data == "") {
        return false;
      } else {
        return true;
      }
    }
  }
};
</script>

<style scoped>
.image-slide-custom {
  max-width: 100% !important;
  max-height: 200px !important;
}
.text-overlay {
  position: sticky;
  text-align: left;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #08080887;
  cursor: pointer;
  width: 200px !important;
  height: 250px !important;
  /* margin-top: -200px; */
  word-break: break-all;
}
.do-upgrade {
  background: #ffde16;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 10px 3px 10px;
  transition: 0.25s;
}
.do-upgrade:hover {
  background: white;
  cursor: pointer;
}
</style>

