<template>
  <div>

    <div v-if="deleteStoryModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
      <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Do you want to delete Storyboard and Screens ?</h5>
          </header>

          <div class="modal-footer">
            <div>
              <button class="yellow" @click.stop.prevent="acceptDelete">
                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;" /> &nbsp;Confirm
              </button>
              <button class="default" @click.stop.prevent="deleteStoryModal = !deleteStoryModal">
                <font-awesome-icon :icon="['fas','times-circle']" style="font-size:13px;" /> &nbsp;Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import uiUtil from "../../../../common/uiUtil/index";
import constantUtil from "../../../../common/constantUtil/index";
import globalUtil from "../../../../common/globalUtil/index";

var TAG = "[/pages/listStoryboard/deleteStoryboard/confirmDelete/Main.vue] ";
export default {
  props: {
    confirmDelete: Function
  },
  data() {
    return {
      deleteStoryModal: false,
      callFrom: null
    };
  },
  methods: {
    acceptDelete() {
      this.deleteStoryModal = false;
      uiUtil.bus.post(constantUtil.EVENT.DELETE_STORYBOARD_SUCCESS);
      this.confirmDelete(this.callFrom);
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.CONFIRM_DELETE_STORYBOARD, callFrom => {
      this.deleteStoryModal = true;
      this.callFrom = callFrom;
    });
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>