<template>
  <div>
    <div class="context">
      <form-search :searchCriteria="searchCriteria" ></form-search>
      <br/>
      <dma-topmenu :pageName="'Transaction Log'" :headerName="'Dynamic Mobile Application Manager'"></dma-topmenu>
      <div class="myCollapse" @click="toggleCollapse">{{wordCollapse}}</div>
      <div class="content">
        <transactionLog-grid :items="items" :searchBox="searchBox">
        </transactionLog-grid>
      </div>
    </div>

    <dma-footer id="footer"></dma-footer>
    <transactionLog-tree></transactionLog-tree>
  </div>
</template>

<script>
import formSearch from "./formSearch/Main";
import grid from "./grid/Main";
import jsonTreeView from "./jsonTreeView/Main";

import apiUti from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";

var TAG = "[/pages/transactionLog/Main.vue]";
export default {
  components: {
    "form-search": formSearch,
    "transactionLog-grid": grid,
    "transactionLog-tree": jsonTreeView
  },
  data() {
    return {
      wordCollapse: "Hide Search Menu",
      items: [],
      searchBox: "fillter",
      searchCriteria: {
        logID: "",
        username: "",
        mobileID: "",
        screen: "",
        result: "",
        action: "",
        deviceType: "",
        resultFrom: "",
        resultCode: "",
        resultMessage: "",
        isAnonymous: "",
        message: "",
        adminMode: "",
        startDate: "",
        endDate: "",
        limit: 25,
        page: 1,
        sort: "",
        dir: "" //(ASC, DESC),
      }
    };
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.SET_CRITERIA_SEARCH_TRAN_LOG, data => {
      console.log(
        TAG +
          "uiUtil.bus.on('" +
          constantUtil.EVENT.SET_CRITERIA_SEARCH_TRAN_LOG +
          "') => ",
        data
      );
      this.searchCriteria = data;

      this.requestFindListTransactionLog();
    });

    uiUtil.bus.on(
      constantUtil.EVENT.CALL_FIND_LIST_TRANSACTION_LOG_NEXT_PAGE,
      number => {
        this.searchCriteria.page = number;

        let page = this.searchCriteria.page;
        let limit = this.searchCriteria.limit;
        let start = limit * (page - 1);

        this.searchCriteria.start = start;
        this.requestFindListTransactionLog();
      }
    );
  },
  methods: {
    toggleCollapse() {
      // globalUtil.VARIABLES.isCollapseTransactionDMA;
      $("#customCollapse").slideToggle();
      if (globalUtil.VARIABLES.isCollapseTransactionDMA) {
        this.wordCollapse = "Show Search Menu";
        $("#grid-content").height(window.innerHeight - (70 + 40 + 210));
        globalUtil.VARIABLES.isCollapseTransactionDMA = false;
      } else {
        this.wordCollapse = "Hide Search Menu";
        $("#grid-content").height(window.innerHeight - (70 + 40 + 270 + 90));
        globalUtil.VARIABLES.isCollapseTransactionDMA = true;
      }
    },
    requestFindListTransactionLog() {
      console.log(TAG + " call => requestFindListTransactionLog : ", "start");

      var bodyParams = this.searchCriteria;

      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING_OPA);
      const call = apiUti.callService.doPost(
        globalUtil.SERVICES.URL_FIND_LIST_TRANSACTION_LOG,
        bodyParams
      );

      console.log(
        TAG + " call => requestFindListTransactionLog() param => ",
        bodyParams
      );

      call
        .then(response => {
          if (response.data.success) {
            console.log(
              TAG +
                " response (" +
                globalUtil.SERVICES.URL_FIND_LIST_TRANSACTION_LOG +
                ") : ",
              response
            );
            console.log(
              TAG + "response.data",
              response.data.responseData.transactionList
            );
            this.items = response.data.responseData.transactionList;
            var resultData = {
              items: response.data.responseData.transactionList,
              page: this.searchCriteria.page,
              total: response.data.responseData.total
            };

            uiUtil.bus.post("setGrid", resultData);
          } else {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              response.data.responseDesc
            );
          }
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED_OPA);
        })
        .catch(error => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED_OPA);
          uiUtil.error.readError(error, "/dmaManager/process/Login/");
        });
    }
  }
};
</script>

<style scoped>
@import "./custom.scss";
</style>
