<template>
  <div
    class="screen-page"
    @scroll="handleHiddContextMenuClick()"
  >
    <!-- ==================== GroupStoryboard ==================== -->
    <div
      v-if="showGroupStoryboard"
      id="GroupStoryboard"
      ref="GroupStoryboard"
    >
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-6"
            v-for="(groupName,index) in listGroupName"
            :key="index"
          >
            <div
              style="cursor: pointer;"
              @click.prevent.stop="dblclickMenuGroup({groupName : groupName, objListGroup : objListGroup[groupName]})"
              @contextmenu.prevent.stop="handleContextMenuClick($event,{groupName : groupName, objListGroup : objListGroup[groupName]})"
            >
              <group-storyboard
                :groupName="groupName"
                :listScreenGroup="objListGroup[groupName]"
              ></group-storyboard>
            </div>

          </div>
          <vue-simple-context-menu
            :elementId="'rightClickGroupScreen'"
            :options="menuRightClickList"
            :ref="'RightClickGroupScreen'"
            @option-clicked="onRightClickGroupScreen"
          >
          </vue-simple-context-menu>
        </div>
      </div>
    </div>
    <!-- ==================== GroupStoryboard ==================== -->

    <!-- ==================== ScreenGroup ==================== -->
    <div
      v-if="showScreenGroup"
      id="ScreenGroup"
    >
      <screen-group-detail
        :switchVisibleGroup='switchVisibleGroup'
        :groupName="groupNameSelected"
        :listScreenGroup="objListGroupSelected"
      ></screen-group-detail>
      <!-- ==================== ScreenGroup ==================== -->
    </div>
  </div>
</template>

<script>
let TAG = "[Screen.vue] => ";

import apiUti from "../../common/apiUtil/index";
import uiUtil from "../../common/uiUtil/index";
import constantUtil from "../../common/constantUtil/index";
import globalUtil from "../../common/globalUtil/index";
import GroupStoryboard from "./GroupStoryboard/GroupStoryboard";
import ScreenGroup from "./ScreenGroup/ScreenGroup";

// import listAppUi from "./listAppUi.json";

export default {
  components: {
    "group-storyboard": GroupStoryboard,
    "screen-group-detail": ScreenGroup
  },
  data() {
    return {
      menuRightClickList: [
        {
          name: "Detail",
          slug: "detail"
        }
      ],
      listGroupName: [],
      objListGroup: {},
      listAppUi: [],
      showGroupStoryboard: true,
      showScreenGroup: false,
      groupNameSelected: "",
      objListGroupSelected: []
    };
  },
  computed: {},
  created() {
    // window.__VUE_JS_DMA_MANAGER_SCREEN_PAGE__ = this;
    window.addEventListener(
      "message",
      function(event) {
        if (event.data.message == "SEND_DATA_SCREEN_LIST_FROM_SENCHA") {
          console.log(
            "sencha call vue.js success!: => event.data.appUiList => ",
            event.data.appUiList
          );
          this.listAppUi = event.data.appUiList;
          this.setData();
        } else if (event.data.message == "CANCEL_CONTEXT_MENU") {
          console.log(
            "CANCEL_CONTEXT_MENU => document.getElementById(GroupStoryboard) => ",
            document.getElementById("GroupStoryboard")
          );
          //     this.$refs['GroupStoryboard'].focus();

          this.$refs.RightClickGroupScreen.hideContextMenu();
        }
      }.bind(this),
      false
    );
  },
  mounted() {
    document.getElementsByClassName("my-body")[0].style.background = "#fbfbff";
  },
  watch: {},
  methods: {
    handleContextMenuClick(event, item) {
      this.$refs.RightClickGroupScreen.showMenu(event, item);
    },
    dblclickMenuGroup(item) {
      parent.window.postMessage(
        {
          message: "DBL_CLICK_GET_DATA_SCREEN_GROUP_DETAIL_FROM_VUE_JS",
          listScreenGroupDetail: item.objListGroup,
          groupName: item.groupName
        },
        "*"
      );
    },
    handleHiddContextMenuClick(event, item) {
      this.$refs.RightClickGroupScreen.hideContextMenu();
    },

    setData() {
      this.objListGroup = _.groupBy(
        _.sortBy(this.listAppUi, "storyboard"),
        "storyboard"
      );
      this.listGroupName = _.keys(this.objListGroup);
    },
    onRightClickGroupScreen(event) {
      console.log(TAG + "onRightClickGroupScreen => event ", event);
      switch (event.option.name) {
        case "Detail":
          parent.window.postMessage(
            {
              message: "GET_DATA_SCREEN_GROUP_DETAIL_FROM_VUE_JS",
              listScreenGroupDetail: event.item.objListGroup,
              groupName: event.item.groupName
            },
            "*"
          );

          break;
      }
    },
    switchVisibleGroup() {
      this.showGroupStoryboard = !this.showGroupStoryboard;
      this.showScreenGroup = !this.showScreenGroup;
    }
  }
};
</script>

<style scoped>
.screen-page {
  background: #fbfbff;
  padding: 20px;
  max-height: 100%;
  overflow-x: auto;

  /* margin-left: 100px; */
}
</style>

