<template>
  <b-form>
    <b-container fluid class="content">
      <!-- Main table element -->
      <b-table
        v-model="screenData"
        show-empty
        stacked="md"
        :items="items"
        :fields="fields"
        class="table-striped table-bordered"
        cellspacing="0"
        :filter="filterTable"
      >
        <!-- <v-show> -->
        <template slot="action_description" slot-scope="data">
          <!-- {{data.item.actionName}} -->
          <div v-show="data.item.hideAction != true">
            <b-form style="display: flex;flex-direction: row;">
              <div v-if="data.item.editValue != true" style="width:150px;">
                <b-form-input
                  :title="data.item.action_description"
                  :disabled="data.item.editValue != true"
                  style="width:100%; min-width:90px;"
                  v-model="data.item.action_description"
                >{{data.item.action_description}}</b-form-input>
              </div>
              <div v-else style="width:150px;">
                <b-form-input
                  style="width:100%; min-width:90px;"
                  v-model="data.item.action_description"
                >{{data.item.action_description}}</b-form-input>
              </div>
              <div v-if="data.item.editValue != true" style="align-self: center;">
                <font-awesome-icon
                  :icon="['fas','edit']"
                  style="opacity:0.3; cursor: pointer; margin-left: 5px; align-items: center;"
                  @click.stop.prevent="onClickEditActionName(data.item.action_description , data.index)"
                />
              </div>
              <div v-else style="align-self: center;">
                <font-awesome-icon
                  class="fas-view"
                  style="opacity:0.3;cursor: pointer; margin-left: 5px;"
                  :icon="['fas','save']"
                  @click.stop.prevent="onClickSaveChangActionName(data.item.actionName,data.index,data.item.action_description)"
                />
              </div>
            </b-form>
          </div>
        </template>

        <template slot="input" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <div>
              <div>
                <button
                  type="button"
                  :disabled="data.item.apiName == 'Do Nothing'"
                  class="yellow"
                  @click.stop.prevent="openApiInput(data)"
                  style="min-width:80px;"
                >API Input</button>
              </div>
            </div>
          </div>
        </template>

        <template slot="apiName" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <b-form inline style="width:180px;">
              <b-form-select
                class="dropdown-style"
                style="width:140px;"
                v-model="data.item.apiName"
                text-field="text"
                value-field="value"
                :options="apiListItems"
                :title="data.item.apiName"
                @change="changeAPI(data.item._index , data.item.actionName)"
              ></b-form-select>
              <!-- <b-form-input
              @change="checkValueAPI(data.index)"
              class="dropdown-style"
              v-model="data.item.apiName"
              list="api-list"
            ></b-form-input>

            <datalist id="api-list">
              <option
                v-for="(api) in apiListItems"
                :key="api.value"
              >{{ api.value }}</option>
              </datalist>-->

              <!-- <cool-select
                style="max-width:150px;"
                class="dropdown-style"
                v-model="data.item.apiName"
                :items="apiListItems"
                @select="checkValueAPI(data.index)"
                item-value="value"
                item-text="text"
              >
                <template
                  slot="item"
                  slot-scope="{ item: actionList }"
                >
                  <div>
                    {{ actionList.text }}
                  </div>
                </template>

              </cool-select>-->

              <font-awesome-icon
                v-if="data.item.apiName != 'Do Nothing'"
                :icon="['fas','sync-alt']"
                class="fas-view"
                style="color: #ffde16; cursor: pointer; margin-left: 5px;"
                @click.stop.prevent="reloadFindServiceInputByname(data.item._index , data.item.actionName)"
              />
            </b-form>
          </div>
        </template>

        <template slot="output" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <div>
              <div v-if="data.item.apiName == 'Do Nothing'">
                <button
                  type="button"
                  class="yellow"
                  @click.stop.prevent="openCreateOutput(data)"
                  style="min-width:110px;"
                >Create Output</button>
              </div>
              <div v-else>
                <div>
                  <button
                    :disabled="!(data.item.globalOutputList.length > 0)"
                    type="button"
                    class="yellow"
                    @click.stop.prevent="openApiOutput(data)"
                    style="min-width:100px;"
                  >API Output</button>
                </div>
              </div>
              <!-- <button type="button" class="yellow" @click.stop.prevent="openOutput(data)">Output</button> -->
            </div>
          </div>
        </template>

        <template slot="targetType" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <b-form-select
              class="selectTargetType dropdown-style"
              v-model="data.item.targetType"
              text-field="text"
              value-field="text"
              :options="listTargetType"
              @change="controlTarget(data.index)"
            ></b-form-select>
          </div>
        </template>

        <template slot="target" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <div style="display: flex;flex-direction: row; ">
              <div style="width:160px;">
                <!-- <v-select
                  :clearable="false"
                  class="style-chooser"
                  v-model="data.item.target"
                  :options="getListTarget(data.item.targetType,data)"
                  :on-change="verifyTarget(data)"
                  label="text"
                  value="value"
                  style="width:160px;"
                /> -->
                <!-- 
              <input :id="'input_'+data.index+screenId" type="search" :list="'datalist_'+data.index+screenId" placeholder="Select Target" 
                @change="verifyTarget(data)"
                @click="onClick(data.index,screenId)"
                @blur ="onBlur(data.index,screenId,getListTarget(data.item.targetType,data))"
                class="custom-input dropdown-style"
                v-model="data.item.target"
              />

              <datalist :id="'datalist_'+data.index+screenId"
              >
                
                 <option v-for="(item, index) in getListTarget(data.item.targetType,data)" :value="item.value">{{item.text}}</option>
                </datalist>-->

                <b-form-select
                class="selectTargetType dropdown-style"
                v-model="data.item.target"
                text-field="text"
                value-field="text"
                :options="getListTarget(data.item.targetType,data)"
                @change="verifyTarget(data)"
                ></b-form-select>
              </div>
              <div style="padding-left:20px;padding-top:7px;">
                <a @click.stop.prevent="openSearchTargetDialog(data)">
                  <font-awesome-icon icon="search" />
                </a>
              </div>
            </div>
          </div>
        </template>

        <template slot="config" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <button
              :disabled="(data.item.target.toLowerCase() == 'self' || data.item.target.toLowerCase() == 'refresh') || data.item.targetType.toLowerCase() == 'screen' || data.item.target == ''"
              type="button"
              class="yellow"
              @click.stop.prevent="openConfig(data)"
            >Config</button>
          </div>
        </template>

        <template slot="needConfirmation" slot-scope="data"></template>

        <template slot="confirmation" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <div style="min-width:80px;">
              <b-form-checkbox v-model="data.item.confirmDialog.needConfirm"></b-form-checkbox>
              <button
                v-b-modal="'confirm_'+data.index+'_'+screenId"
                :disabled="!data.item.confirmDialog.needConfirm"
                class="yellow"
                @click.stop.prevent="setDataToConfirmDialog(data,'confirm_'+data.index+'_'+screenId)"
              >Edit</button>
            </div>
            <dma-confirmation
              :openDialogEventName="'confirm_'+data.index+'_'+screenId"
              :path="{screenId : screenId , apiId : data.index}"
            >
              <h5 class="modal-title" slot="title">Confirmation</h5>
              <div slot="body">
                <b-form inline style="margin-bottom:10px;">
                  <label for="confirmMsg">Title :</label>
                  <b-input type="text" v-model="data.item.confirmDialog.title"></b-input>
                </b-form>
                <b-form inline style="margin-bottom:10px;">
                  <label for="confirmMsg">Confirmation Msg :</label>
                  <b-input type="text" v-model="data.item.confirmDialog.confirmMsg"></b-input>
                </b-form>
                <b-form inline style="margin-bottom:10px;">
                  <label for="confirmBtn">Confirmation Button :</label>
                  <b-input type="text" v-model="data.item.confirmDialog.confirmBtn"></b-input>
                </b-form>
                <b-form inline>
                  <label for="confirmBtn">Cancel Button :</label>
                  <b-input type="text" v-model="data.item.confirmDialog.cancelBtn"></b-input>
                </b-form>
              </div>
              <div slot="footer">
                <button
                  class="yellow"
                  @click.stop.prevent="saveConfirmation('confirm_'+data.index+'_'+screenId)"
                >Save</button>
              </div>
            </dma-confirmation>
          </div>
        </template>
        <!-- endAlert -->

        <template slot="endAlert" slot-scope="data">
          <div v-show="data.item.hideAction != true">
            <div style="min-width:85px;">
              <b-form-checkbox v-model="data.item.endAlert.needConfirm"></b-form-checkbox>
              <button
                v-b-modal="'endAlert_'+data.index+'_'+screenId"
                :disabled="!data.item.endAlert.needConfirm"
                class="yellow"
                @click.stop.prevent="setDataToConfirmDialog(data,'endAlert_'+data.index+'_'+screenId)"
              >Edit</button>
            </div>
            <dma-confirmation
              :openDialogEventName="'endAlert_'+data.index+'_'+screenId"
              :path="{screenId : screenId , apiId : data.index}"
            >
              <h5 class="modal-title" slot="title">Result dialog after take action ?</h5>
              <div slot="body">
                <b-form inline style="margin-bottom:10px;">
                  <label for="alertTitle">Title :</label>
                  <b-input type="text" v-model="data.item.endAlert.title"></b-input>
                </b-form>
                <b-form inline style="margin-bottom:10px;">
                  <label for="alertMsg">Message :</label>
                  <b-input
                    type="text"
                    v-model="data.item.endAlert.message"
                    :disabled="data.item.endAlert.isUseAPI"
                  ></b-input>
                </b-form>

                <b-form inline style="margin-bottom:10px;">
                  <label for="alert" style="margin-right: 10px;"></label>
                  <b-form-checkbox v-model="data.item.endAlert.isUseAPI">Use result message from API</b-form-checkbox>
                </b-form>

                <b-form inline style="margin-bottom:10px;">
                  <label for="alertBtn">Close Dialog Button :</label>
                  <b-input type="text" v-model="data.item.endAlert.confirmButton"></b-input>
                </b-form>
              </div>
              <div slot="footer">
                <button
                  class="yellow"
                  @click.stop.prevent="saveConfirmation('endAlert_'+data.index+'_'+screenId)"
                >Save</button>
              </div>
            </dma-confirmation>
          </div>
        </template>
      </b-table>
    </b-container>
  </b-form>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import globalUtil from "../../common/globalUtil/index";

import { CoolSelect } from "vue-cool-select";

var TAG = "[ActionList] ";
export default {
  components: {
    CoolSelect
  },
  props: {
    screenIdForActionList: String,
    callType: String,
    screenActiveList: Array,
    screenId: String,
    acListItems: Array,
    apiListItems: Array,
    listTargetType: Array,
    listExtraTarget: Array,
    getActionList: Function,
    configParameter: Array,
    screenList: Array
  },
  data() {
    return {
      inputTargetValueTemp: "",
      criteria: "40",
      options: [],
      screenData: null,
      acList: [],
      dmaType: null,
      scActiveList: this.screenActiveList,
      items: [],
      cloneItem: [],
      cloneArr: [],
      fields: [
        { label: "Action", key: "action_description" },
        { label: " ", key: "input" },
        { label: "API", key: "apiName" },
        { label: " ", key: "output" },
        { label: "Target Type", key: "targetType" },
        { label: "Target", key: "target" },
        { label: " ", key: "config" },
        { label: "Confirmation", key: "confirmation" },
        { label: "Success Alert", key: "endAlert" }
      ]
    };
  },
  computed: {},
  methods: {
    onClick(index, screenId) {
      // console.log("onClick e : ",e.target)
      //Keep Value Original
      let id = "input_" + index + screenId;
      if (document.getElementById(id).value != "") {
        this.inputTargetValueTemp = document.getElementById(id).value;
      }

      console.log("onClick", id);
      console.log("onClick", this.inputTargetValueTemp);
      //Clear Input
      document.getElementById(id).value = "";
    },
    onBlur(index, screenId, listTarget) {
      console.log("onBlur");
      let id = "input_" + index + screenId;
      //if Empty input_name set value by temp
      let inputValue = document.getElementById(id).value;
      if (inputValue == null || inputValue == "") {
        console.log(
          "onBlur Set value input target => ",
          this.inputTargetValueTemp
        );
        document.getElementById(id).value = this.inputTargetValueTemp;
      } else {
        console.log("onBlur listTarget => ", listTarget);
        if (listTarget) {
          let result = listTarget.findIndex(item => {
            return inputValue == item.value;
          });
          if (result == -1) {
            //Set old value
            console.log(
              "onBlur Set old value input target => ",
              this.inputTargetValueTemp
            );
            document.getElementById(id).value = this.inputTargetValueTemp;
          }
        }
      }
    },
    filterTable(row) {
      if (row.hideAction == true) {
        return false;
      } else {
        return true;
      }
    },
    onClickEditActionName(action_description, index) {
      this.cloneArr = _.cloneDeep(this.items);
      for (let i = 0; i < this.items.length; i++) {
        if (this.items[i].action_description === action_description) {
          this.items[i].editValue = true;
          this.cloneArr[i].editValue = true;
        }
      }

      this.items = _.cloneDeep(this.cloneArr);

      console.log(this.items);
      uiUtil.bus.post(
        constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN_PAGE_STORYBOARD,
        this.screenId,
        this.items
      );

      // console.log(this.items)
      // console.log(this.acListItems)
    },
    onClickSaveChangActionName(actionName, index, action_description) {
      this.cloneItem = _.cloneDeep(this.items);
      if (
        action_description &&
        action_description != "" &&
        action_description != null
      ) {
        for (let i = 0; i < this.items.length; i++) {
          if (this.items[i].actionName === actionName) {
            // this.items[i].action_description = action_description
            this.items[i].editValue = false;
            this.cloneItem[i].editValue = false;
            // this.items[i].
            this.cloneItem[i].action_description = this.items[
              i
            ].action_description;
            // this.items[i].editValue = false;

            this.items = _.cloneDeep(this.cloneItem);
            uiUtil.bus.post(
              constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN_PAGE_STORYBOARD,
              this.screenId,
              this.items
            );
          }
        }
      } else {
        uiUtil.bus.post(
          "showDefaultAlertDialog",
          "Please input field, or the input data is invalid."
        );
      }

      //
    },
    checkValueTarget(data) {
      console.log(TAG, "checkValueTarget ", data);
      this.$nextTick(() => {
        let objTarget = _.find(
          this.getListTarget(data.item.targetType, data),
          target => {
            return target.value == data.item.target;
          }
        );

        if (_.isEmpty(objTarget)) {
          data.item.target = "";
        }

        this.verifyTarget(data);
      });
    },
    checkValueAPI(index) {
      this.$nextTick(() => {
        let objAPI = _.find(this.apiListItems, api => {
          return api.value == this.items[index].apiName;
        });

        if (_.isEmpty(objAPI)) {
          this.items[index].apiName = "Do Nothing";
        }

        this.changeAPI(index);
      });
    },
    openConfig(data) {
      console.log(this.items);
      console.log(TAG + "Open Config : ", data);
      const path = { screenId: this.screenId, apiId: data.index };
      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_CONFIG_PARAMETER,
        data,
        path,
        this.screenId
      );
    },
    openSearchTargetDialog(data) {
      if (data.item.targetType && data.item.targetType == "Screen") {
        console.log(TAG + "openSearchTargetDialog : ", data);
        const path = { screenId: this.screenId, apiId: data.index };
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_SEARCH_TARGET,
          data,
          path,
          this.screenId
        );
      }
    },
    openOutput(data) {
      const path = { screenId: this.screenId, apiId: data.index };
      uiUtil.bus.post(constantUtil.EVENT.OPEN_CUSTOM_OUTPUT_MODAL, data, path);
    },
    openCreateOutput(data) {
      const path = { screenId: this.screenId, apiId: data.index };
      uiUtil.bus.post(
        constantUtil.EVENT.OPEN_CREATEOUTPUT_MODAL,
        data.item.globalOutputList,
        path
      );
    },
    openApiInput(data) {
      const path = { screenId: this.screenId, apiId: data.index };
      console.log(TAG + " => openApiInput(data) => ", data);
      uiUtil.bus.post(
        constantUtil.EVENT.OPEN_API_INPUT_MODAL,
        data.item.globalInputList,
        path,
        this.screenId,
        data.item.apiName
      );
    },
    openApiOutput(data) {
      const path = { screenId: this.screenId, apiId: data.index };
      uiUtil.bus.post(
        constantUtil.EVENT.OPEN_API_OUTPUT_MODAL,
        data.item.globalOutputList,
        path
      );
    },
    openConditionTarget(data, screenOptions) {
      const path = { screenId: this.screenId, apiId: data.index };
      uiUtil.bus.post(
        constantUtil.EVENT.OPEN_CONDITION_TARGET_MODAL,
        {
          targetConditions: data.item.targetConditions,
          screenOptions: screenOptions
        },
        path
      );
    },
    saveConfirmation(eventName) {
      console.log("saveConfirmation => ", eventName);
      uiUtil.bus.post(eventName);
    },
    setDataToConfirmDialog(data, eventName) {
      console.log("setDataToConfirmDialog => ", eventName);
      console.log("setDataToConfirmDialog data => ", data);
      uiUtil.bus.post(eventName);
      // uiUtil.bus.post(constantUtil.EVENT.SET_CONFIRM_DIALOG_DATA,data);
    },
    reloadFindServiceInputByname(index, actionName) {
      console.log("indexxxxxxxxxxxxxxxxxx =======> ", index);
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      this.$nextTick(() => {
        // When API Changed\
        // let row;
        // for (let i = 0; i < this.items.length; i++) {
        //   if (this.items[i].actionName == actionName) {
        //     row = this.items[i];
        //     index = i;
        //     console.log(this.items[i]);
        //   }
        // }
        // console.log("check api ===>", row);
        // console.log("nextTickkkkkkk", actionName);
        var row = this.items[index];

        console.log("Indexxxxxxxxxxxxxx", index);
        console.log("Itemmmmmmmmmm", this.items);
        if (row.apiName == "Do Nothing") {
          console.log("nextick = donoting");

          row.globalInputList = [];
          row.globalOutputList = [];
          const data = {
            saveData: { inputList: [], outputList: [] },
            path: { screenId: this.screenId, apiId: index }
          };
          uiUtil.bus.post(constantUtil.EVENT.CHANGE_API, data);
        } else {
          var user = sessionStorage.getItem("username");
          // Get Mockup Data
          var p_findServiceInputByName = this.$helpers.getMockupApi(
            "findServiceInputByName",
            {
              requestData: {
                user: user,
                apiName: row.apiName,
                haveChild: true
              }
            }
          );
          p_findServiceInputByName
            .then(result => {
              console.log(
                TAG + " => p_findServiceInputByName => result => ",
                result
              );
              var responseData = constantUtil.getDeserialize(result);

              var rawInputList = responseData.inputList;
              var rawOutputList = responseData.outputList;

              var checkHaveXPATH = true;

              for (let n = 0; n < row.globalInputList.length; n++) {
                if (
                  row.globalInputList[n].xpath == undefined ||
                  row.globalInputList[n].xpath == null ||
                  row.globalInputList[n].xpath == ""
                ) {
                  checkHaveXPATH = false;
                }
              }

              var setOldConfigAfterReloadAPI = (() => {
                let num = 0;
                for (let i = 0; i < rawOutputList.length; i++) {
                  for (let n = 0; n < row.globalOutputList.length; n++) {
                    if (rawOutputList[i].path == row.globalOutputList[n].path) {
                      rawOutputList[i] = row.globalOutputList[n];
                    }
                  }
                }

                for (let i = 0; i < rawInputList.length; i++) {
                  for (let n = 0; n < row.globalInputList.length; n++) {
                    if (
                      row.globalInputList[n].xpath == undefined ||
                      row.globalInputList[n].xpath == null ||
                      row.globalInputList[n].xpath == ""
                    ) {
                      if (rawInputList[i].path == row.globalInputList[n].path) {
                        rawInputList[i] = row.globalInputList[n];
                      }
                    } else {
                      if (
                        rawInputList[i].xpath == row.globalInputList[n].xpath
                      ) {
                        rawInputList[i] = row.globalInputList[n];
                      }
                    }
                  }
                }

                num = 0;
                var inputListIsNew = [];
                for (let i = 0; i < row.globalInputList.length; i++) {
                  if (row.globalInputList[i].isNew) {
                    inputListIsNew[num] = row.globalInputList[i];
                    num++;
                  }
                }

                // rawInputList.concat(inputListIsNew);

                row.globalOutputList = rawOutputList;
                row.globalInputList = inputListIsNew.concat(rawInputList);

                console.log("row.globalInputList", row.globalInputList);
                console.log("row.globalOutputList", row.globalOutputList);

                const data = {
                  saveData: {
                    inputList: row.globalInputList,
                    outputList: row.globalOutputList
                  },
                  path: { screenId: this.screenId, apiId: index }
                };
                console.log(TAG + " DATA = ", data);

                uiUtil.bus.post(constantUtil.EVENT.CHANGE_API, data);
                uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
              }).bind(this);

              if (!checkHaveXPATH) {
                uiUtil.bus.post(
                  constantUtil.EVENT.SHOW_WINDOW_CONFIRM,
                  setOldConfigAfterReloadAPI,
                  function() {},
                  globalUtil.VARIABLES.MSG_CONFIRM.MSG_CONFIRM_RELOAD_API,
                  globalUtil.VARIABLES.MSG_CONFIRM.MSG_CONFIRM_RELOAD_API_HEADER
                );
              } else {
                setOldConfigAfterReloadAPI();
              }
            })
            .catch(err => {
              uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
              uiUtil.error.readError(err);
            })
            .then(() => {
              uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
            });
        }
      });
    },
    changeAPI(index, actionName) {
      this.$nextTick(() => {
        // When API Changed
        // When API Changed\

        // console.log("actionName =======> " , actionName)
        //   let index;
        //   let row;
        //   for (let i = 0; i < this.items.length; i++) {
        //     if (this.items[i].actionName == actionName) {
        //       row = this.items[i];
        //       index = i;
        //       console.log(this.items[i]);
        //     }
        //   }
        
        uiUtil.bus.post(
          constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN_PAGE_STORYBOARD,
          this.screenId,
          this.items
        );

        var row = this.items[index];
        if (row.apiName == "Do Nothing") {
          row.globalInputList = [];
          row.globalOutputList = [];
          const data = {
            saveData: { inputList: [], outputList: [] },
            path: { screenId: this.screenId, apiId: index }
          };
          uiUtil.bus.post(constantUtil.EVENT.CHANGE_API, data);
        } else {
          var user = sessionStorage.getItem("username");
          // Get Mockup Data
          var p_findServiceInputByName = this.$helpers.getMockupApi(
            "findServiceInputByName",
            {
              requestData: {
                user: user,
                apiName: row.apiName,
                haveChild: true
              }
            }
          );
          p_findServiceInputByName
            .then(result => {
              row.globalInputList = constantUtil.getDeserialize(
                result
              ).inputList;
              row.globalOutputList = constantUtil.getDeserialize(
                result
              ).outputList;
              const data = {
                saveData: constantUtil.getDeserialize(result),
                path: { screenId: this.screenId, apiId: index }
              };
              console.log(TAG + " DATA = ", data);
              uiUtil.bus.post(constantUtil.EVENT.CHANGE_API, data);
            })
            .catch(err => {
              uiUtil.error.readError(err);
            });
        }
      });
    },
    getDefaultParameter(name) {
      let result = [];
      this.configParameter.forEach(el => {
        if (name == el.uiName) {
          result = _.cloneDeep(el.configParameter);
          return;
        }
      });
      return result;
    },
    createFromData(list) {
      let items = [];
      if (list != undefined) {
        list.forEach(el => {
          let valueFrom = el.valueFrom != undefined ? el.valueFrom : "Manual";
          let defaultValue =
            el.defaultValue != undefined ? el.defaultValue : "";
          let value = el.value != undefined ? el.value : "";
          let desc = el.desc != undefined ? el.desc : "";
          let fieldType = el.fieldType != undefined ? el.fieldType : "String";
          items.push({
            option: el.option,
            desc: desc,
            valueFrom: valueFrom,
            defaultValue: defaultValue,
            fieldType: fieldType,
            value: value
          });
        });
      }
      return items;
    },
    verifyTarget(data) {
      if (this.$refs.input_name) {
        console.log(TAG, "verifyTarget set  onBlur: ");
        this.$refs.input_name.blur();
      }
      console.log(TAG, "verifyTarget : ", data);
      //Fix Bug AutoComplate
      if (data.item.target && typeof data.item.target === "object") {
        data.item.target = data.item.target.value;
      }
      this.$nextTick(() => {
        delete this.screenData[data.index].config;
        let defaultData =
          this.getDefaultParameter(data.item.target) != null
            ? this.getDefaultParameter(data.item.target)
            : [];
        if (defaultData.length > 0) {
          this.dmaType =
            defaultData[0].dmaType != undefined ? defaultData[0].dmaType : null;
          let configObj = {
            dmaType: this.dmaType,
            parameter: this.createFromData(defaultData)
          };
          this.screenData[data.index].config = configObj;
        }
      });
      const list = this.screenData;
      let check = true;
      list.forEach((el, index, array) => {
        if (el.targetType.toLowerCase() == "extra") {
          check = true;
        } else {
          if (el.target == "") {
            check = false;
          }
        }
      });
      if (check) {
        uiUtil.bus.post(constantUtil.EVENT.VERIFYSCREEN, this.screenId);
      }
    },
    controlTarget(index) {
      var row = this.items[index];
      this.$nextTick(() => {
        this.screenData[index].target = "";
      });
    },
    getListTarget(targetType, data) {
      console.log(TAG + " getListTarget = ", targetType);
      console.log(TAG + " getListTarget[data] = ", data);
      // console.log(TAG+" getListTarget[listExtraTarget] = ",this.listExtraTarget);
      //console.log(TAG+"getListTarget == ",targetType);

      if (targetType.toLowerCase() == "screen") {
        if (
          this.screenData[data.index].target == "" &&
          this.scActiveList &&
          this.scActiveList.length > 0
        ) {
          this.inputTargetValueTemp = "";
          // this.screenData[data.index].target = this.scActiveList[0].value;
        }
        return this.scActiveList;
      } else if (targetType.toLowerCase() == "extra") {
        if (this.screenData[data.index].target == "") {
          // this.screenData[data.index].target = "self";
          this.inputTargetValueTemp = "";
        }
        return this.listExtraTarget;
      } else {
        return [];
      }
    },
    getDataFromSelect(row, event, selected) {
      console.log("row = ", row);
      console.log("event = ", event);
    },
    updateGrid(newItems, screenId) {
      if (this.screenIdForActionList == screenId) {
        console.log(
          "Bus_on : screenChanged \n scActionListId => " +
            this.screenIdForActionList +
            "\n screenId => " +
            screenId
        );
        this.items = newItems;
        console.log("items == ", this.items);
      }
    }
  },
  created() {},
  mounted() {
    //add convert
    console.log(TAG, "Pongpat listTargetType => ", this.listTargetType);
    console.log(TAG, "Pongpat listExtraTarget => ", this.listExtraTarget);
    // uiUtil.bus.on(
    //   constantUtil.EVENT.SET_SCREEN_IN_ACTION,
    //   (data) => {
    //     console.log(TAG,"SET_SCREEN_IN_ACTION : ",data)
    //     // this.verifyTarget(data)
    //     // if (this.screenId == path.screenId) {
    //     //   this.screenData[path.apiId].config = saveData;
    //     // }
    //   }
    // );
    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_CONFIG_PARAMETER,
      (saveData, path) => {
        if (this.screenId == path.screenId) {
          this.screenData[path.apiId].config = saveData;
        }
      }
    );

    uiUtil.bus.on(constantUtil.EVENT.SAVE_CONFIRMATION, data => {
      console.log(TAG + " Save confirm !!! = ", data);
    });
    uiUtil.bus.on(constantUtil.EVENT.SAVE_ALERT_AFTER_CALL_API, data => {
      console.log(TAG + " Save Alert after Call API !!! = ", data);
    });

    uiUtil.bus.on(constantUtil.EVENT.SAVE_API_INPUT, (saveData, path) => {
      if (this.screenId == path.screenId) {
        console.log(
          TAG + " => constantUtil.EVENT.SAVE_API_INPUT => ",
          saveData
        );

        this.screenData[path.apiId].globalInputList = saveData;
      }
    });
    uiUtil.bus.on(constantUtil.EVENT.SAVE_API_OUTPUT, (saveData, path) => {
      if (this.screenId == path.screenId) {
        this.screenData[path.apiId].globalOutputList = saveData;
      }
    });
    uiUtil.bus.on(constantUtil.EVENT.SAVE_CREATE_OUTPUT, (saveData, path) => {
      if (this.screenId == path.screenId) {
        console.log("SAVE_CREATE_OUTPUT = ", path);
        console.log("ScreenData = ", this.screenData[path.apiId]);
        this.screenData[path.apiId].globalOutputList = saveData;
      }
    });

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_CONDITION_TARGET,
      (saveData, path) => {
        if (this.screenId == path.screenId) {
          this.screenData[path.apiId].targetConditions = saveData;
        }
      }
    );

    uiUtil.bus.on(constantUtil.EVENT.SAVE_STORYBOARD, () => {
      console.log(this.items);
      console.log("##################################");
      this.getActionList(this.items);
    });

    uiUtil.bus.on(constantUtil.EVENT.SHOWACTIONLIST, screenId => {
      if (this.screenIdForActionList == screenId) {
        console.log("screenData = ", this.screenData);
      }
    });
    uiUtil.bus.on(
      constantUtil.EVENT.SCREENCHANGE,
      (newActionList, screenId) => {
        console.log("===== CHANGE STEP 1 =====");

        if (this.screenId == screenId) {
          console.log("==== CHANGE STEP 2 ====", newActionList);

          this.updateGrid(newActionList, screenId);
        }
      }
    );
    uiUtil.bus.on(constantUtil.EVENT.SHOWSCREEN, (screenId, actionList) => {
      if (this.screenId == screenId) {
        if (this.items.length == 0) {
          this.items = this.acListItems;
          this.acList = actionList;
          // console.log("On Collap")
          // console.log(actionList)
          // console.log(this.acList)
          this.cloneItem = _.cloneDeep(this.items);
          console.log("############################################");
          console.log(this.items);
        }
      }
    });

    uiUtil.bus.on(
      constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN,
      (screenId, actionList) => {
        if (screenId == this.screenId) {
          this.items = actionList;
          this.cloneItem = actionList;
        }
      }
    );

    uiUtil.bus.on("TestOn", () => {
      return true;
      console.log("Test On !");
    });
    // if (this.items.length == 0) {
    //   this.items = this.acListItems;
    // }
  }
};
</script>
<style scoped>
.dropdown-style {
  border: 1px solid #ced4da;
}

.dropdown-toggle::after {
  display: none;
}
select {
  padding: 0px 10px;
}
select,
button {
  font-size: 20px;
}
.selectAPI {
  width: 150px;
}
.selectTargetType {
  min-width: 90px;
}
.selectTarget {
  min-width: 130px;
  width: 90%;
}
.btn-warning {
  font-weight: bold;
  color: #000;
  background-color: #ffde16;
}
.btn-warning:hover {
  background-color: #ffffff;
}
.btn-warning:disabled {
  background-color: #ffffff;
  border: 1px solid gray;
}
.btn-warning:disabled:hover {
  background-color: #ffffff;
}
.fixedColumnWidth {
  width: 50px;
  max-width: 50px;
}
.normal-thead {
  padding: 5px 10px;
}
.fixWidth {
  width: 185px;
  max-width: 185px;
}
.custom-control-inline {
  margin-right: 0 !important;
}
.custom-input {
  padding: 4px 10px;
  font-size: 20px;
}
</style>
