<template>
    <div>
       <b-modal 
            centered 
            :id="apiOutputId" 
            title="API Output" 
            no-fade
            ok-title="Save"
            ok-variant="success"
            @ok="saveApiOutput"
            >
        <b>Output from API</b><br><br>
    <b-container fluid class="content">
    <!-- Main table element -->
    <b-table v-model="apiOutputListData"
             show-empty
             stacked="md"
             :items="items"
             :fields="fields"
    >
      <template slot="name" slot-scope="data">
          {{data.item.name}}
      </template>
      
      <template slot="path" slot-scope="data">
        {{data.item.path}}
      </template>

      <template slot="keep" slot-scope="data">
        <b-form-checkbox v-model="data.item.keep">
        </b-form-checkbox>
      </template>

      <template slot="globalName" slot-scope="data">
        <b-input :disabled="!data.item.keep" type="text" v-model="data.item.globalName"></b-input>
      </template>
    </b-table>
  </b-container>
       </b-modal>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index"

var TAG = "[API_Output] ";
export default {
  props: {
    globalOutputList: Array,
    apiOutputId: String,
    screenId: String,
    path : Object
  },
  data() {
    return {
      apiOutputListData: null,
      items: [],
      fields: [
        { label: "Output", key: "name" },
        { label: "Path", key: "path" },
        { label: "Add to Global", key: "keep" },
        { label: "Global Name", key: "globalName" }
      ]
    };
  },
  methods: {
    saveApiOutput(){
      uiUtil.bus.post(constantUtil.EVENT.SAVE_API_OUTPUT,_.cloneDeep(this.apiOutputListData),this.path);
    },
    createFromData(list) {
      var items = [];
      if (list != undefined) {
        
        list.forEach(el => {
          const globalName = el.globalName != undefined ? el.globalName : '';
          const keep = el.keep != undefined ? el.keep : false;
          items.push({
            defaultValue: el.defaultValue,
            labelName : el.labelName,
            localPath: el.localPath,
            name: el.name,
            path: el.path,
            promote: el.promote,
            rawPath: el.rawPath,
            serviceName: el.serviceName,
            type: el.type,
            keep: keep,
            globalName: globalName
          });
        });
      }
      return items;
    }
  },
  mounted() {
    this.items = this.createFromData(this.globalOutputList);
  }
};
</script>

<style scoped>
div {
  font-weight: 700;
}
select,
input[type="text"] {
  font-size: 20px;
  padding : 3px 10px;
}
.btn-search {
  background: url("../../assets/images/search-icon.png") no-repeat top left;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  border: none;
  opacity: 0.6;
}
.btn-search:disabled {
  opacity: 0.1;
}
</style>