<template>
  <div>
    <b-modal centered :id="apiInputId" title="API Input" no-fade ok-title="Save" ok-variant="success" @ok="saveApiInput">
      <b>Input to API</b>
      <br>
      <br>
      <b-container fluid class="content">
        <!-- Main table element -->
        <b-table v-model="apiInputListData" show-empty stacked="md" :items="items" :fields="fields">
          <template slot="name" slot-scope="data">
            {{data.item.name}}
          </template>

          <template slot="serviceName" slot-scope="data">
            {{data.item.serviceName}}
          </template>

          <template slot="type" slot-scope="data">
            {{data.item.type}}
          </template>

          <template slot="useGlobal" slot-scope="data">
            <b-form-checkbox v-model="data.item.useGlobal">
            </b-form-checkbox>
          </template>
          <template slot="valueFrom" slot-scope="data">
            <b-form-select :disabled="!data.item.useGlobal" :options="valueForm" v-model="data.item.valueFrom" style="min-width:80px;"></b-form-select>
          </template>
          <template slot="value" slot-scope="data">
            <b-input type="text" :disabled="(!data.item.useGlobal) || data.item.valueFrom != 'Manual'" v-model="data.item.value"></b-input>
            <b-button type="button" v-if="(!data.item.useGlobal) || data.item.valueFrom != 'Manual'" :disabled="!(data.item.valueFrom != '' && data.item.useGlobal)" class="btn-search" @click.stop.prevent="showModal(data)"></b-button>

          </template>
        </b-table>
      </b-container>
    </b-modal>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[API_Input] ";
export default {
  props: {
    globalInputList: Array,
    screenId: String,
    apiInputId: String,
    path: Object
  },
  data() {
    return {
      globalListModal: false,
      apiInputListData: null,
      items: [],
      globalInputFields: [
        { label: "Global Name", key: "globalName" },
        { label: "Field Type", key: "fieldType" },
        { label: "Source / API", key: "sourceApi" },
        { label: "Action", key: "action" }
      ],
      fields: [
        { label: "Input", key: "name" },
        { label: "Service Name", key: "serviceName" },
        { label: "Field Type", key: "type" },
        { label: "Use Global Value", key: "useGlobal" },
        { label: "Value From", key: "valueFrom" },
        { label: "Value", key: "value" }
      ],
      valueForm: [
        { text: "Global", value: "Global" },
        { text: "Native", value: "Native" },
        { text: "Manual", value: "Manual" }
      ]
    };
  },
  computed: {
    checkBeforeCallApi(data) {
      var result = true;
      if (!data.item.useGlobal || data.item.valueFrom != "Manual") {
        result = false;
      }
      console.log(TAG + " checkBeforeCallApi = " + result);
      return false;
    }
  },
  methods: {
    saveApiInput() {
      uiUtil.bus.post(
        constantUtil.EVENT.SAVE_API_INPUT,
        _.cloneDeep(this.apiInputListData),
        this.path
      );
    },
    showModal(data) {
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data, this.apiInputId);
    },
    createFromData(list) {
      var items = [];
      if (list != undefined) {
        list.forEach(el => {
          var useGlobal = el.useGlobal != undefined ? el.useGlobal : false;
          var valueFrom = el.valueFrom != undefined ? el.valueFrom : "";
          var value = el.value != undefined ? el.value : "";
          items.push({
            defaultValue: el.defaultValue,
            xpath: el.xpath,
            labelName: el.labelName,
            localPath: el.localPath,
            name: el.name,
            path: el.path,
            promote: el.promote,
            rawPath: el.rawPath,
            serviceName: el.serviceName,
            type: el.type,
            useGlobal: useGlobal,
            valueFrom: valueFrom,
            value: value
          });
        });
      }
      return items;
    }
  },
  mounted() {
    this.items = this.createFromData(this.globalInputList);
    uiUtil.bus.on("closeModal", (flag, data) => {});

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == this.apiInputId) {
          console.log(TAG + " callFrom = ", callFrom + " / data = ", data);
          this.apiInputListData[callFromData.index].value = data.value;
          this.apiInputListData[callFromData.index].fieldType =
            data.item.fieldType;
          this.apiInputListData[callFromData.index].valueProperties = data.item;
          console.log(TAG + " Grid Data = ", this.apiInputListData);
        }
      }
    );
  }
};
</script>

<style scoped>
div {
  font-weight: 700;
}
select,
input[type="text"] {
  font-size: 20px;
  padding: 3px 10px;
}

.btn-search {
  background: url("../../assets/images/search-icon.png") no-repeat top left;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  border: none;
  opacity: 0.6;
}

.btn-search:disabled {
  opacity: 0.1;
}

.my-modal {
  z-index: 3;
  display: block;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  margin: auto;
  background-color: #fff;
  position: relative;
  padding: 0;
  outline: 0;
  width: 600px;
}
</style>
