<template>
  <div>

    <button type="button" class="gray" @click.stop.prevent="backToStoryboard">
      <font-awesome-icon :icon="['fas','arrow-left']" class="fas-view" style="font-size:15px;" /> &nbsp;Back
    </button>
    <button type="button" class="yellow" @click.stop.prevent="saveStoryboard">
      <font-awesome-icon :icon="['fas','save']" class="fas-view" style="font-size:15px;" /> &nbsp;Save Storyboard
    </button>
    <!-- <div id="btn_back" @click.stop.prevent="backToStoryboard"></div>

        <div id="btn_saveStory" @click.stop.prevent="saveStoryboard"></div> -->
    <!-- <div id="btn_previewStoryboard"></div> -->
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import SERVICE from "../../helper/services.js";

var TAG = "[ButtonHeader] ";
export default {
  data() {
    return {};
  },
  methods: {
    backToStoryboard() {
      this.$router.push("/");
    },
    saveStoryboard() {
      console.log(TAG + "SaveStoryboard ");
      new Promise((resolve, reject) => {
        uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER);
        uiUtil.bus.post(constantUtil.EVENT.SAVE_STORYBOARD);
        resolve();
        next();
      }).then(() => {
        uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_MENU, true);
      });
    }
  },
  created() {}
};
</script>

<style scoped>
#btn_back {
  background: url("../../assets/images/btn_back.png") no-repeat top left;
  height: 35px;
  width: 81px;
  cursor: pointer;
  display: inline-block;
}
#btn_back:hover {
  background: url("../../assets/images/btn_backOver.png");
}
#btn_saveStory {
  display: inline-block;
  background: url("../../assets/images/btn_saveStory.png");
  height: 35px;
  width: 148px;
  cursor: pointer;
  transform: 0.5s;
}
#btn_saveStory:hover {
  background: url("../../assets/images/btn_saveStoryOver.png");
}
#btn_previewStoryboard {
  display: inline-block;
  background: url("../../assets/images/btn_previewStoryboard.png");
  height: 35px;
  width: 165px;
  cursor: pointer;
  float: right;
}
#btn_previewStoryboard:hover {
  background: url("../../assets/images/btn_previewStoryboardOver.png");
}
</style>
