<template>
    <div v-show="show">
        <div role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
          <div class="modal-dialog modal-md modal-dialog-centered">
              <div tabindex="-1" role="document" class="modal-content">
                  <header class="modal-header">
                      <slot name="title"></slot>
                      <button type="button" aria-label="Close" class="close" @click.stop.prevent="closeDialog">×</button>
                  </header>
                  <div class="modal-body">
                      <div>
                          <slot name="body"></slot>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <slot name="footer"></slot>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index"
import uiUtil from "../../common/uiUtil/index"

var TAG = "[Confirmation] ";
export default {
  props : {
    openDialogEventName: String
  },
  data() {
    return {
      show: false
    };
  },
  methods : {
    closeDialog() {
      this.show = !this.show;
    }
  },
  created(){
    uiUtil.bus.on(this.openDialogEventName, () => {
      this.show = !this.show;
    });
  }
};
</script>

<style scoped>
input[type="text"] {
  margin-left: 10px;
  width: calc(100% - 150px);
  font-size:20px;
  padding : 3px 10px;
}
label {
  width: 140px;
}
div {
  text-align: left;
}
</style>