<template>
    <div>
        <div v-if="show" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
            <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
                <div tabindex="-1" role="document" class="modal-content">
                    <header class="modal-header">
                        <h5 class="modal-title">{{message}}</h5>
                    </header>
                    <div class="modal-footer">
                        <div>
                            <button class="yellow" @click.stop.prevent="acceptDelete">
                                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;"/>
                                &nbsp;Confirm
                            </button>
                            <button class="default" @click.stop.prevent="show = !show">
                                <font-awesome-icon :icon="['fas','times-circle']" style="font-size:13px;"/>
                                &nbsp;Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[ConfirmDelete] ";
export default {
  data() {
    return {
      show: false,
      index: null,
      message: "Do you want to delete ?",
      title : "Message"
    };
  },
  methods: {
    acceptDelete() {
      uiUtil.bus.post(
        constantUtil.EVENT.CONFIRM_DELETE_PINLIST,
        this.index
      );
      this.show = false;
    }
  },
  created() {
    uiUtil.bus.on(
      constantUtil.EVENT.DELETE_PINLIST,
      (index) => {
        this.show = true;
        this.index = index;
      }
    );
  }
};
</script>

<style scoped>

</style>