<template>
    <div>
        <div v-if="show" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">
          
          <div class="modal-dialog modal-md modal-dialog-centered">
              <div tabindex="-1" role="document" class="modal-content">
                  <header class="modal-header">
                      <h5 class="modal-title">Parameter Configuration</h5>
                      <button type="button" aria-label="Close" class="close" @click.stop.prevent="cancelModal">×</button>
                  </header>
                  <div class="modal-body">
                      <div>
                        <b-form inline style="width:100%;">
                          <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                          <p style="margin:0px 20px;"> Rows per page</p>
                          <b-form-select 
                            class="search"
                            v-model="perPage" 
                            :options="perPageList"
                            style="min-width:60px;"
                          ></b-form-select>
                        </b-form>
                          <div class="grid-content">
                            <b-table v-model="tableData"
                            show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :filter="filter" 
                            :per-page="perPage"
                            @filtered="onFiltered"
                            :current-page="currentPage"
                            >
                            <template slot="option" slot-scope="data">
                                {{data.item.option}}
                            </template>

                            <template slot="desc" slot-scope="data">
                                {{data.item.desc}}
                            </template>

                            <template slot="valueFrom" slot-scope="data">
                              <b-form-select v-model="data.item.valueFrom" text-field="text" value-field="value" :options="valueFromList" @change="setBlank(data)">
                              </b-form-select>
                            </template>

                            <template slot="value" slot-scope="data">
                                <b-input type="text" :disabled="data.item.valueFrom != 'Manual'" v-model="data.item.value" style="max-width:300px;"></b-input>
                            </template>

                            <template slot="custom" slot-scope="data">
                                <div v-if="(data.item.valueFrom != 'Manual' && data.item.valueFrom != '')">
                                    <font-awesome-icon @click.stop.prevent="showModal(data)" :icon="['fas','search']" class="btn-search"/>
                                </div>
                                <div v-else>
                                    <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.3;"/>
                                </div>
                            </template>

                            </b-table>
                            
                          </div>
                          <b-pagination 
                              v-if="items.length > 0" 
                              :total-rows="totalRows" 
                              :per-page="perPage" 
                              v-model="currentPage" 
                              class="my-0" 
                          />
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button class="yellow" @click.stop.prevent="saveConfigParameter">Save</button>
                      <button class="default" @click.stop.prevent="cancelModal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index"

var TAG = "[CustomAPIInput] ";
export default {
  props : {
    configParameter : Array
  },
  data() {
    return {
      show: false,
      tableData: null,
      dmaType : null,
      title : "",
      items: [],
      fields: [
        { label: "Option", key: "option" },
        { label: "Description", key: "desc" },
        { label: "Value From", key: "valueFrom" },
        { label: "Value", key: "value" },
        { label: " ", key: "custom" }
      ],
      valueFromList: [
        { text: "Global", value: "Global" },
        { text: "Native", value: "Native" },
        { text: "Manual", value: "Manual" }
      ],
      path : null,
      screenId : null,
      filter : null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5,10,15],
      totalRows: 0
    };
  },
  methods: {
    cancelModal(){
      this.show = false;
      this.filter = null;
      this.items = [];
    },
    showModal(data) {
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data, "configParameter" , this.screenId);
    },
    saveConfigParameter() {
      this.filter = null;
      var checkList = _.cloneDeep(this.items);
      var isBlank = false;
      checkList.forEach(el => {
        if((_.isEmpty(el.valueFrom) || _.isEmpty(el.value))){
          isBlank = true;
          return;
        }
      });

      if(!isBlank){
        uiUtil.bus.post(constantUtil.EVENT.SAVE_CONFIG_PARAMETER,{ dmaType : this.dmaType ,parameter : this.items},this.path);
        this.show = false;
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,"Please Don't let fields blank !");
      }
    },
    setBlank(data) {
      this.$nextTick(() => {
        this.tableData[data.index].value = "";
        this.tableData.push({});
        this.tableData.pop();
      });
    },
    getDefaultParameter(name){
      let result = [];
      console.log("TTT",this.configParameter);
      this.configParameter.forEach(el => {
        if(name == el.uiName){
          result = _.cloneDeep(el.configParameter);
          this.dmaType = el.dmaType != undefined ? el.dmaType : null;
          return;
        }
      });
      return result;
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.SHOW_CONFIG_PARAMETER, (data, path, screenId) => {
      this.show = true;
      if(data.item.config != undefined && data.item.config.parameter != undefined){
        this.items = _.cloneDeep(data.item.config.parameter);
        this.dmaType = data.item.config.dmaType != undefined ? data.item.config.dmaType : null;
      }
      console.log(TAG+" dmaType => ",this.dmaType);
      this.path = path;
      this.screenId = screenId;
    });

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == "configParameter") {
          this.tableData[callFromData.index].value = data.item.globalName;
          this.tableData[callFromData.index].fieldType =
            data.item.fieldType;
          this.tableData[callFromData.index].valueProperties = data.item;
          this.tableData.push({});
          this.tableData.pop();
          console.log(TAG + " Success = ", this.tableData);
        }
      }
    );
  }
};
</script>

<style scoped>

.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div , select {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>