<template>
    <div>
        <div v-if="showWindow" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
            <div class="modal-dialog modal-md modal-dialog-centered" style="width:400px;">
                <div tabindex="-1" role="document" class="modal-content">
                    <header class="modal-header">
                        <h5 class="modal-title">{{header}}</h5>
                    </header>
                    <div class="modal-body">
                        {{message}}
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="yellow" @click.stop.prevent="onClickConfirm">
                                <font-awesome-icon :icon="['fas','check-circle']" style="font-size:13px;"/>
                                &nbsp;Confirm
                            </button>
                            <button class="default" @click.stop.prevent="onClickCancel">
                                <font-awesome-icon :icon="['fas','times-circle']" style="font-size:13px;"/>
                                &nbsp;Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[ConfirmDelete] ";
export default {
  props: {
    // propShowWindow: Boolean,
    // propMessage: String,
    // propHeader: String,
    // onConfirm: Function,
    // onCancel: Function
  },
  data() {
    return {
      showWindow: false,
      message: "",
      header: "",
      onConfirm: function() {},
      onCancel: function() {},
      styleMessage: {
        color: "#dc3545",
        fontSize: "14px"
      }
    };
  },
  methods: {
    closeDialog() {
      this.showWindow = !this.showWindow;
    },
    onClickCancel() {
      this.closeDialog();
      this.onCancel();
    },
    onClickConfirm() {
      this.closeDialog();
      this.onConfirm();
    }
  },
  created() {
    // if (_.isEmpty(this.propHeader)) {
    //   this.header = "Message";
    // } else {
    //   this.header = this.propHeader;
    // }
    // if (_.isEmpty(this.propMessage)) {
    //   this.message = "Confirm to do it?";
    // } else {
    //   this.message = this.propMessage;
    // }
    // this.showWindow = this.propShowWindow;
  },
  mounted() {
    uiUtil.bus.on(
      constantUtil.EVENT.SHOW_WINDOW_CONFIRM_GROUP,
      (onConfirm, onCancel, message, header, styleMessage) => {
        this.showWindow = true;
        this.message = !_.isEmpty(message) ? message : "Confirm to do it?";
        this.header = !_.isEmpty(header) ? header : "Confirmation";
        this.onConfirm = onConfirm;
        this.onCancel = onCancel;
        this.styleMessage = !_.isEmpty(styleMessage)
          ? styleMessage
          : {
              color: "#dc3545",
              fontSize: "14px"
            };
      }
    );
  }
};
</script>

<style scoped>

</style>
