<template>
    <div>
      <b-modal centered 
            :id="createOutputId" 
            title="Create Output"
            ok-variant="success"
            ok-title="Save"
            hide-header
            no-fade
            @ok="saveCreateOutput"
            >
        <div style="width:100%;">
            <div style="float:left;width:60%;font-size:20px;font-weight:700;"><b>Create Output from Screen</b></div>
            <div>
                <button class="btn-asc btn-sm yellow" @click.stop.prevent="createOuput(true)">+ Add</button>
            </div>
        </div>
        <br><br>
        <div>
    <b-container fluid class="content">
    <!-- Main table element -->
    <b-table v-model="createOutputData"
             show-empty
             stacked="md"
             :items="coList"
             :fields="fields"
    >
      <template slot="globalName" slot-scope="data">
          <b-input type="text" v-model="data.item.globalName"></b-input>
      </template>
      
      <template slot="valueFrom" slot-scope="data">
        <b-form-select v-model="data.item.valueFrom" text-field="text" value-field="value" :options="valueFromList" @change="controlValueFrom">
        </b-form-select>
      </template>

      <template slot="outputValue" slot-scope="data">
        <b-input :disabled="data.item.valueFrom == 'Native'" type="text" v-model="data.item.value"></b-input>
      </template>

      <template slot="search" slot-scope="data">
        <button v-if="data.item.valueFrom == 'Native'" class="btn-search" @click.stop.prevent="showModal(data)"></button>
      </template>

      <template slot="delete" slot-scope="data">
        <button class="btn-delete" @click.stop.prevent="deleteOutput(data.item.id)"></button>
      </template>
    </b-table>
  </b-container>
        </div>
      </b-modal>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index"

var TAG = "[Create Output] ";
export default {
  props: {
    createOutputId : String,
    path: Object,
    globalOutputList : Array
  },
  data() {
    return {
      modalShow: false,
      createOutputData: null,
      fields: [
        { label: "Global Name", key: "globalName" },
        { label: "Value From", key: "valueFrom" },
        { label: "Output Value", key: "outputValue" },
        { label: " ", key: "search" },
        { label: "Delete", key: "delete" }
      ],
      coList: [],
      idGenerator: 0,
      valueFromList: [
        {
          text: "Manual",
          value: "Manual"
        },
        {
          text: "Native",
          value: "Native"
        }
      ]
    };
  },
  methods: {
    saveCreateOutput(){
      console.log(TAG+" Save CreateOutput = ",this.createOutputData);
      uiUtil.bus.post(constantUtil.EVENT.SAVE_CREATE_OUTPUT,_.cloneDeep(this.createOutputData),this.path);
    },
    showModal(data) {
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data , this.createOutputId);
    },
    controlValueFrom() {},
    editField(event) {
      console.log(event);
    },
    createOuput(flag) {
      if (this.coList.length == 0) this.idGenerator = 0;
      if (flag) {
        this.coList.push({
          id: this.idGenerator,
          globalName: "",
          valueFrom: "Manual",
          value: ""
        });
        this.idGenerator++;
      }
    },
    deleteOutput(id) {
      for (let i = 0; i < this.coList.length; i++) {
        if (this.coList[i].id == id) {
          this.coList.splice(i, 1);
          break;
        }
      }
    }
  },
  created(){
    if(!_.isEmpty(this.globalOutputList)){
      this.coList = this.globalOutputList;
      console.log("globalOutputList == ",this.globalOutputList);
      
    }
  },
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.SCREENCHANGE, data => {
      this.coList = [];
    });

    uiUtil.bus.on(constantUtil.EVENT.ADD_DATA_FROM_MODAL,(data,callFrom,callFromData) => {
      if(callFrom == this.createOutputId){
        console.log(TAG+" callFrom = ",callFrom +" / data = ",data);
        this.createOutputData[callFromData.index].value = data.value;
        this.createOutputData[callFromData.index].fieldType = data.item.fieldType;
        this.createOutputData[callFromData.index].valueProperties = data.item;
        console.log(TAG+" Grid Data = ",this.createOutputData);
      }
    });
  }
};
</script>

<style scoped>
div,
table {
  width: 100%;
}
div,
select,
input[type="text"],
button {
  font-size: 20px;
}
input[type="text"] {
  padding : 3px 10px;
}
.btn-asc {
  float: right;
}
.btn-gbl {
  margin-top: -16px;
  margin-left: 20px;
}
button {
  font-weight: bold;
}
.btn-warning {
  color: #000;
  background-color: #ffde16;
}
.btn-warning:hover {
  background-color: #ffffff;
}
.btn-delete {
  background: url("../../assets/images/delete-icon.png") no-repeat top left;
  height: 24px;
  width: 24px;
  cursor: pointer;
  display: inline-block;
  border: none;
}
.btn-search {
  background: url("../../assets/images/search-icon.png") no-repeat top left;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  border: none;
  opacity: 0.6;
}
.btn-search:disabled {
  opacity: 0.1;
}
.txt-fixed {
  width: 200px;
}
</style>