<template>
  <div>
    <div
      v-if="show"
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;"
    >
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">{{title}}</h5>
          </header>
          <div class="modal-body">
            <!-- Main table element -->
            <div class="grid-content" style="height:450px">
              <b-table :items="onChackBoxChang" :fields="fields" show-empty stacked="md">
                <template slot="action_description" slot-scope="data">
                  {{data.item.action_description}}
                  </template>

                <template slot="hide" slot-scope="data">
                  <b-form-checkbox
                    v-model="data.item.hideAction"
                    @change="check($event,data.index,data.item.actionName)"
                  ></b-form-checkbox>
                </template>

                <template
                  slot="hideAction"
                  slot-scope="data"
                >{{data.item.hideAction == true ? "Hide" : "Show" }}</template>
              </b-table>
            </div>
          </div>

          <div class="modal-footer">
            <div>
              <button class="yellow" @click.stop.prevent="saveActionHide">Save</button>
              <button class="default" @click.stop.prevent="show = !show">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[ConfirmDelete] ";
export default {
  data() {
    return {
      show: false,
      callFrom: null,
      screenId: null,
      items: [],
      // fields: ["actionName", "apiName"],
      fields: [
        { label: "Hide", key: "hide" },
        { label: "Action", key: "action_description" },
        { label: "Api Name", key: "apiName" },
        { label: "Status", key: "hideAction" }
      ],
      title: null,
      onChackBoxChang: []
    };
  },
  methods: {
    check(valueCheck, dataindex, actionName) {
      this.onChackBoxChang[dataindex].hideAction = valueCheck;
    },
    saveActionHide() {
      this.show = false;
      uiUtil.bus.post(
        constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN_PAGE_STORYBOARD,
        this.screenId,
        this.onChackBoxChang
      );

      uiUtil.bus.post(
        constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN,
        this.screenId,
        this.onChackBoxChang
      );
    }
  },
  created() {
    uiUtil.bus.on(
      constantUtil.EVENT.HIDE_ACTION_DIALOG,
      (source, screenId, sourceScreen) => {
        this.title = "Hide Action Screen : " + sourceScreen + "";
        this.show = true;
        this.screenId = screenId;
        this.items = source;
        this.onChackBoxChang = _.cloneDeep(this.items);
      }
    );
  }
};
</script>

<style scoped>
</style>