<template>
  <div>
    <div v-if="apiInputModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">

      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">API Input</h5>
            <button type="button" class="yellow right" @click.stop.prevent="addRow">+ Add</button>
            <!-- <button type="button" aria-label="Close" class="close" @click.stop.prevent="apiInputModal = !apiInputModal">×</button> -->
          </header>
          <div class="modal-body">
            <div>
              <b-form inline style="width:100%;">
                <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                <p style="margin:0px 20px;"> Rows per page</p>
                <b-form-select class="search" v-model="perPage" :options="perPageList" style="min-width:60px;"></b-form-select>
              </b-form>
              <div class="grid-content">
                <b-table v-model="globalInputData" show-empty stacked="md" :items="items" :fields="fields" :filter="filter" :per-page="perPage" @filtered="onFiltered" :current-page="currentPage">
                  <template slot="name" slot-scope="data">
                    <div v-if="data.item.isNew != undefined && data.item.isNew">
                      <b-input type="text" v-model="data.item.name" style="max-width:300px;"></b-input>
                    </div>
                    <div v-else>
                      {{data.item.name}}
                    </div>
                  </template>

                  <template slot="serviceName" slot-scope="data">
                    {{data.item.serviceName}}
                  </template>

                  <template slot="fieldType" slot-scope="data">
                    {{data.item.fieldType}}
                  </template>

                  <template slot="useGlobal" slot-scope="data">
                    <b-form-checkbox v-model="data.item.useGlobal" @change="setBlank(data,0)">
                    </b-form-checkbox>
                  </template>

                  <template slot="valueFrom" slot-scope="data">
                    <b-form-select v-model="data.item.valueFrom" :disabled="!data.item.useGlobal" text-field="text" value-field="value" :options="valueFromList" @change="setBlank(data,1)">
                    </b-form-select>
                  </template>

                  <template slot="value" slot-scope="data">
                    <b-input type="text" :disabled="data.item.valueFrom != 'Manual'" v-model="data.item.value" style="max-width:300px;"></b-input>
                  </template>

                  <template slot="custom" slot-scope="data">
                    <div v-if="data.item.useGlobal && (data.item.valueFrom != 'Manual' && data.item.valueFrom != '')">
                      <font-awesome-icon @click.stop.prevent="showModal(data)" :icon="['fas','search']" class="btn-search" />
                    </div>
                    <div v-else>
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.3;" />
                    </div>
                  </template>

                  <template slot="delete" slot-scope="data">
                    <div v-if="data.item.isNew != undefined && data.item.isNew">
                      <font-awesome-icon :icon="['fas','minus-circle']" @click.stop.prevent="deleteRow(data.index)" class="btn-delete" />
                    </div>
                  </template>

                </b-table>

              </div>
              <b-pagination v-if="items.length > 0" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </div>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="saveApiInput">Save</button>
            <button class="default" @click.stop.prevent="cancelModal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[CustomAPIInput] ";
export default {
  data() {
    return {
      apiInputModal: false,
      globalInputData: null,
      items: [],
      itemsBalckUp_DMA: [],
      fields: [
        { label: "Input", key: "name" },
        { label: "Service Name", key: "serviceName" },
        { label: "Field Type", key: "type" },
        { label: "Use Global Value", key: "useGlobal" },
        { label: "Value From", key: "valueFrom" },
        { label: "Value", key: "value" },
        { label: " ", key: "custom" },
        { label: " ", key: "delete" }
      ],
      valueFromList: [
        { text: "Global", value: "Global" },
        { text: "Native", value: "Native" },
        { text: "Manual", value: "Manual" }
      ],
      path: null,
      screenId: null,
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5, 10, 15],
      totalRows: 0,
      apiNameFromMain: ""
    };
  },
  methods: {
    cancelModal() {
      this.apiInputModal = false;
      this.filter = null;
    },
    showModal(data) {
      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_GBL_MODAL,
        data,
        "customApiInput",
        this.screenId
      );
    },
    saveApiInput() {
      this.filter = null;
      var checkList = _.cloneDeep(this.items);
      var isBlank = false;
      checkList.forEach(el => {
        if (
          (el.useGlobal && (_.isEmpty(el.valueFrom) || _.isEmpty(el.value))) ||
          _.isEmpty(el.name)
        ) {
          isBlank = true;
          return;
        }
      });

      if (!isBlank) {
        
        for(var i = 0 ; i < this.itemsBalckUp_DMA.length ; i++){
          this.items.push(this.itemsBalckUp_DMA[i]);
        }

this.$nextTick(() => {
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_API_INPUT,
          this.items,
          this.path
        );
        this.apiInputModal = false;
});
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Don't let fields blank !"
        );
      }
    },
    setBlank(data, type) {
      this.$nextTick(() => {
        if (type == 0) {
          if (!data.item.useGlobal) {
            this.globalInputData[data.index].valueFrom = "";
            this.globalInputData[data.index].value = "";
          }
        } else {
          this.globalInputData[data.index].value = "";
        }
        this.globalInputData.push({});
        this.globalInputData.pop();
      });
    },
    createFromData(list) {
      var items = [];
      if (list != undefined) {
        list.forEach(el => {
          var useGlobal = el.useGlobal != undefined ? el.useGlobal : false;
          var valueFrom = el.valueFrom != undefined ? el.valueFrom : "";
          var value = el.value != undefined ? el.value : "";
          var valueProperties =
            el.valueProperties != undefined ? el.valueProperties : "";
          var obj = {
            defaultValue: el.defaultValue,
            labelName: el.labelName,
            localPath: el.localPath,
            xpath: el.xpath,
            name: el.name,
            path: el.path,
            promote: el.promote,
            rawPath: el.rawPath,
            serviceName: el.serviceName,
            type: el.type,
            useGlobal: useGlobal,
            valueFrom: valueFrom,
            value: value
          };
          if (valueProperties != undefined) {
            obj.valueProperties = valueProperties;
          }
          if (el.isNew != undefined) {
            obj.isNew = el.isNew;
          }
          items.push(obj);
        });
      }
      return items;
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    addRow() {
      this.items.unshift({
        name: "",
        serviceName: this.apiNameFromMain,
        type: "String",
        useGlobal: false,
        valueFrom: "",
        value: "",
        isNew: true
      });
    },
    deleteRow(index) {
      console.log(TAG + " => deleteRow(index) => ", index);
      uiUtil.bus.post(constantUtil.EVENT.DELETE_INPUT, index);
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.CONFIRM_DELETE_INPUT, index => {
      this.items.splice((this.currentPage - 1) * this.perPage + index, 1);
    });

    uiUtil.bus.on(
      constantUtil.EVENT.OPEN_API_INPUT_MODAL,
      (globalInputList, path, screenId, apiName) => {
        console.log(TAG + " ScreenID = ", screenId);
        this.items = [];
        this.itemsBalckUp_DMA = [];
        this.apiInputModal = true;
        this.path = path;
        this.screenId = screenId;
        // this.items = this.createFromData(globalInputList);
        this.items = _.filter(this.createFromData(globalInputList), function(item){ return item.name.indexOf("__DMA") < 0; });
        this.itemsBalckUp_DMA = _.filter(this.createFromData(globalInputList), function(item){ return item.name.indexOf("__DMA") >= 0; });
        this.apiNameFromMain = apiName;
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == "customApiInput") {
          this.globalInputData[callFromData.index].value = data.item.globalName;
          this.globalInputData[callFromData.index].fieldType =
            data.item.fieldType;
          this.globalInputData[callFromData.index].valueProperties = data.item;
          this.globalInputData.push({});
          this.globalInputData.pop();
          console.log(TAG + " Success = ", this.globalInputData);
        }
      }
    );
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div,
select {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.btn-delete {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  color: red;
}
</style>
