<template>
    <div>
        <div v-if="screenOutputModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">
          
          <div class="modal-dialog modal-md modal-dialog-centered">
              <div tabindex="-1" role="document" class="modal-content">
                  <header class="modal-header">
                      <h5 class="modal-title">Screen Output</h5>
                      <button type="button" aria-label="Close" class="close" @click.stop.prevent="cancelScreenOutput">×</button>
                  </header>
                  <div class="modal-body">
                      <div>
                        <b-form inline style="width:100%;">
                          <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                          <p style="margin:0px 20px;"> Rows per page</p>
                          <b-form-select 
                            class="search"
                            v-model="perPage" 
                            :options="perPageList"
                            style="min-width:60px;"
                          ></b-form-select>
                        </b-form>
                          <div class="grid-content">
                            <b-table v-model="globalOutputData"
                            show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :filter="filter" 
                            :per-page="perPage"
                            @filtered="onFiltered"
                            :current-page="currentPage"
                            >
                            <template slot="outputName" slot-scope="data">
                                {{data.item.outputName}}
                            </template>

                            <template slot="addToGlobal" slot-scope="data">
                                <b-form-checkbox v-model="data.item.keep" @change="setBlank(data)">
                                </b-form-checkbox>
                            </template>

                            <template slot="globalName" slot-scope="data">
                                <b-input type="text" :disabled="!data.item.keep" v-model="data.item.globalName" style="max-width:300px;"></b-input>
                            </template>
                            </b-table>
                            
                          </div>
                          <b-pagination 
                              v-if="items.length > 0" 
                              :total-rows="totalRows" 
                              :per-page="perPage" 
                              v-model="currentPage" 
                              class="my-0" 
                          />
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button class="yellow" @click.stop.prevent="saveScreenOutput">Save</button>
                      <button class="default" @click.stop.prevent="cancelScreenOutput">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index"
import validateUtil from "../../common/validateUtil/index"

var TAG = "[CustomScreenOutput] ";
export default {
  data() {
    return {
      screenOutputModal: false,
      globalOutputData: null,
      items: [],
      itemsBalckUp_DMA: [],
      fields: [
        { label: "Output", key: "outputName" },
        { label: "Add to Global", key: "addToGlobal" },
        { label: "GlobalName", key: "globalName" }
      ],
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5,10,15],
      totalRows: 0,
      cloneData: [],
      screenId: null
    };
  },
  methods: {
    setBlank(data) {
      this.$nextTick(() => {
        if (!data.item.keep) {
          this.globalOutputData[data.index].globalName = "";
          this.globalOutputData.push({});
          this.globalOutputData.pop();
        }
      });
    },
    cancelScreenOutput() {
      console.log(TAG + " clone =  ", this.cloneData);
      this.items = _.cloneDeep(this.cloneData);
      console.log(TAG + " // ", _.cloneDeep(this.cloneData));
      this.screenOutputModal = false;
      this.filter = null;
    },
    checkDeclearNumber(){
      let found = this.items.find(
       (value) => {
            return validateUtil.validateValueFistNumber(value.globalName)
        }
      );
      return found ? true : false;
    },
    saveScreenOutput() {
      let errorMsg = "";
      this.filter = null;
      var checkList = _.cloneDeep(this.items);
      var isBlank = false;
      checkList.forEach(el => {
        if (el.keep && _.isEmpty(el.globalName)) {
          isBlank = true;
           errorMsg = "Please Don't let fields blank !"
          return;
        }
      });

      if(this.checkDeclearNumber()){
        errorMsg = "Global value cannot initiate with numeric.";
      }

      if(!isBlank&&errorMsg==""){

        for(var i = 0 ; i < this.itemsBalckUp_DMA.length ; i++){
          this.items.push(this.itemsBalckUp_DMA[i]);
        }

this.$nextTick(() => {
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_SCREEN_OUTPUT,
          this.items,
          this.screenId
        );
        this.screenOutputModal = false;
});
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,errorMsg);
      }
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },
  created() {
    uiUtil.bus.on(
      constantUtil.EVENT.OPEN_SCREENOUTPUT_MODAL,
      (globalOutputList, screenId) => {
        console.log(TAG + " Open screen output = ", globalOutputList);
        this.screenId = screenId;
        this.screenOutputModal = true;
        this.items = [];
        this.itemsBalckUp_DMA = [];
        this.cloneData = [];
        if (!_.isEmpty(globalOutputList)) {
          this.items = _.filter(_.cloneDeep(globalOutputList), function(item){ return item.outputName.indexOf("__DMA") < 0; });
          this.itemsBalckUp_DMA = _.filter(_.cloneDeep(globalOutputList), function(item){ return item.outputName.indexOf("__DMA") >= 0; });
          this.cloneData = _.cloneDeep(globalOutputList);
        }
      }
    );
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div , select{
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>