<template>
    <div>
        <div v-if="apiOutputModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">
          
          <div class="modal-dialog modal-md modal-dialog-centered">
              <div tabindex="-1" role="document" class="modal-content">
                  <header class="modal-header">
                      <h5 class="modal-title">API Output</h5>
                      <button type="button" aria-label="Close" class="close" @click.stop.prevent="apiOutputModal = !apiOutputModal">×</button>
                  </header>
                  <div class="modal-body">
                      <div>
                        <b-form inline style="width:100%;">
                          <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                          <p style="margin:0px 20px;"> Rows per page</p>
                          <b-form-select 
                            class="search"
                            v-model="perPage" 
                            :options="perPageList"
                            style="min-width:60px;"
                          ></b-form-select>
                        </b-form>
                          <div class="grid-content">
                            <b-table v-model="globalOutputData"
                            show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :filter="filter" 
                            :per-page="perPage"
                            @filtered="onFiltered"
                            :current-page="currentPage"
                            >
                            <template slot="name" slot-scope="data">
                                {{data.item.name}}
                            </template>
                            
                            <template slot="path" slot-scope="data">
                                {{data.item.path}}
                            </template>

                            <template slot="keep" slot-scope="data">
                                <b-form-checkbox v-model="data.item.keep" @change="setBlank(data)">
                                </b-form-checkbox>
                            </template>

                            <template slot="globalName" slot-scope="data">
                                <b-input :disabled="!data.item.keep" type="text" v-model="data.item.globalName" @keypress.native="validateGlobalName" ></b-input>
                            </template>

                            </b-table>
                            
                          </div>
                          <b-pagination 
                              v-if="items.length > 0" 
                              :total-rows="totalRows" 
                              :per-page="perPage" 
                              v-model="currentPage" 
                              class="my-0" 
                          />
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button class="yellow" @click.stop.prevent="saveApiOutput">Save</button>
                      <button class="default" @click.stop.prevent="cancelModal">Cancel</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index"
import validateUtil from "../../common/validateUtil/index"
import error from '../../common/uiUtil/error';

var TAG = "[CustomAPIOutput] ";
export default {
  data() {
    return {
      apiOutputModal: false,
      globalOutputData: null,
      items: [],
      itemsBalckUp_DMA: [],
      fields: [
        { label: "Output", key: "name" },
        { label: "Path", key: "path" },
        { label: "Add to Global", key: "keep" },
        { label: "Global Name", key: "globalName" }
      ],
      path : null,
      filter : null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5,10,15],
      totalRows: 0
    };
  },
  methods: {
    cancelModal(){
      this.apiOutputModal = false;
      this.filter = null;
    },
    setBlank(data) {
      this.$nextTick(() => {
        if (!data.item.keep) {
          this.globalOutputData[data.index].globalName = "";
          this.globalOutputData.push({});
          this.globalOutputData.pop();
        }
      });
    },
    validateGlobalName(event) {
      validateUtil.validate(validateUtil.REGEX.ENG_AND_NUMBER,event);
    },
    showModal(data) {
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data, "customApiOutput");
    },
     checkDeclearNumber(){
      let found = this.items.find(
       (value) => {
            return validateUtil.validateValueFistNumber(value.globalName)
        }
      );
      return found ? true : false;
    },
    saveApiOutput() {
      let errorMsg = "";
      this.filter = null;
      var checkList = _.cloneDeep(this.items);
      var isBlank = false;
      checkList.forEach(el => {
        if(el.keep && _.isEmpty(el.globalName)){
          isBlank = true;
          errorMsg = "Please Don't let fields blank !"
          return;
        }
      });

       if(this.checkDeclearNumber()){
        errorMsg = "Global value cannot initiate with numeric.";
      }

      if(!isBlank&&errorMsg==""){
        
        for(var i = 0 ; i < this.itemsBalckUp_DMA.length ; i++){
          this.items.push(this.itemsBalckUp_DMA[i]);
        }

        this.$nextTick(() => {
                uiUtil.bus.post(constantUtil.EVENT.SAVE_API_OUTPUT,this.items,this.path);
                this.apiOutputModal = false;
        });
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,errorMsg);
      }
    },
    createFromData(list) {
      var items = [];
      if (list != undefined) {
        
        list.forEach(el => {
          const globalName = el.globalName != undefined ? el.globalName : '';
          const keep = el.keep != undefined ? el.keep : false;
          const fieldType = el.fieldType != undefined ? el.fieldType : 'String'
          items.push({
            defaultValue: el.defaultValue,
            labelName : el.labelName,
            localPath: el.localPath,
            name: el.name,
            path: el.path,
            promote: el.promote,
            rawPath: el.rawPath,
            serviceName: el.serviceName,
            type: el.type,
            keep: keep,
            globalName: globalName,
            fieldType: fieldType
          });
        });
      }
      return items;
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.OPEN_API_OUTPUT_MODAL, (globalOutputList,path) => {
      this.items = [];
        this.itemsBalckUp_DMA = [];
      this.apiOutputModal = true;
      this.path = path;
      // this.items = this.createFromData(globalOutputList);
      this.items = _.filter(this.createFromData(globalOutputList), function(item){ return item.name.indexOf("__DMA") < 0; });
      this.itemsBalckUp_DMA = _.filter(this.createFromData(globalOutputList), function(item){ return item.name.indexOf("__DMA") >= 0; });
    });
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div , select {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>