<template>
  <div>
    <div v-if="show" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">

      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Output</h5>
            <button type="button" class="yellow right" @click.stop.prevent="addRow">+ Add</button>
            <!-- <button type="button" aria-label="Close" class="close" @click.stop.prevent="show = !show">×</button> -->
          </header>
          <div class="modal-body">
            <div>
              <b-form inline style="width:100%;">
                <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                <p style="margin:0px 20px;"> Rows per page</p>
                <b-form-select class="search" v-model="perPage" :options="perPageList" style="min-width:60px;"></b-form-select>
              </b-form>
              <div class="">
                <b-table v-model="outputData" show-empty stacked="md" :items="items" :fields="fields" :filter="filter" :per-page="perPage" @filtered="onFiltered" :current-page="currentPage">
                  <template slot="name" slot-scope="data">
                    <div v-if="data.item.fromApi">
                      {{data.item.name}}
                    </div>
                    <div v-else>
                      <b-form inline>
                        <b-input :disabled="data.item.valueFrom == 'Native'" type="text" v-model="data.item.value"></b-input>
                        &nbsp;&nbsp;&nbsp;
                        <div v-if="data.item.valueFrom == 'Native'">
                          <font-awesome-icon :icon="['fas','search']" class="btn-search" @click.stop.prevent="showModal(data)" />
                        </div>
                        <div v-else>
                          <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.1;cursor:default;" />
                        </div>
                      </b-form>
                    </div>
                  </template>

                  <template slot="path" slot-scope="data">
                    <div v-if="data.item.fromApi">
                      {{data.item.path}}
                    </div>
                    <div v-else>
                      <b-form-select v-model="data.item.valueFrom" :options="valueFromList" style="width:80px;" @change="setBlank(data)"></b-form-select>
                    </div>
                  </template>

                  <template slot="keep" slot-scope="data">
                    <b-form-checkbox v-model="data.item.keep">
                    </b-form-checkbox>
                  </template>

                  <template slot="globalName" slot-scope="data">
                    <b-input :disabled="!data.item.keep" type="text" v-model="data.item.globalName" @keypress.native="validateGlobalName"></b-input>
                  </template>

                  <template slot="delete" slot-scope="data">
                    <div v-if="!data.item.fromApi">
                      <font-awesome-icon :icon="['fas','minus-circle']" @click.stop.prevent="deleteRow(data.index)" class="btn-delete" />
                    </div>
                  </template>

                </b-table>
                <b-pagination v-if="items.length > 0" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="saveOutput">Save</button>
            <button class="default" @click.stop.prevent="show = !show">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";
import validateUtil from "../../common/validateUtil/index";

var TAG = "[CustomOutput] ";
export default {
  data() {
    return {
      show: false,
      outputData: null,
      items: [],
      fields: [
        { label: "Output", key: "name" },
        { label: "Path / Value From", key: "path" },
        { label: "Add to Global", key: "keep" },
        { label: "Global Name", key: "globalName" },
        { label: "Delete", key: "delete" }
      ],
      path: null,
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5, 10, 15],
      totalRows: 0,
      valueFromList: [
        {
          text: "Manual",
          value: "Manual"
        },
        {
          text: "Native",
          value: "Native"
        }
      ]
    };
  },
  methods: {
    addRow() {
      this.items.push({
        globalName: "",
        valueFrom: "Manual",
        value: "",
        keep: true,
        fieldType: "String",
        fromApi: false
      });
    },
    deleteRow(index) {
      const deleteIndex = (this.perPage * (this.currentPage - 1)) + index;
      uiUtil.bus.post(constantUtil.EVENT.DELETE_OUTPUT , deleteIndex);
    },
    validateGlobalName(event) {
      validateUtil.validate(validateUtil.REGEX.ENG_AND_NUMBER, event);
    },
    showModal(data) {
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data, "customOutput" , this.path.screenId);
    },
    setBlank(data) {
      this.$nextTick(() => {
        this.items[data.index].value = "";
      });
    },
    saveOutput() {
      let checkList = _.cloneDeep(this.outputData);
      let isBlank = false;
      let i = 0;
      checkList.forEach(el => {
        if (
          (el.keep && _.isEmpty(el.globalName)) ||
          (el.keep && (el.value != undefined && el.value == ""))
        ) {
          isBlank = true;
          return;
        }

        i++;
      });

      if (!isBlank) {
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_API_OUTPUT,
          _.cloneDeep(this.outputData),
          this.path
        );
        this.show = false;
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Don't let fields blank !"
        );
      }
    },
    createFromData(data) {
      let items = [];
      let list = data.item.globalOutputList;
      let fromApi = data.item.apiName != "Do Nothing" ? true : false;
      if (list != undefined) {
        list.forEach(el => {
          const globalName = el.globalName != undefined ? el.globalName : "";
          const keep = el.keep != undefined ? el.keep : false;
          const fieldType = el.fieldType != undefined ? el.fieldType : "String";
          let obj = {
            defaultValue: el.defaultValue,
            labelName: el.labelName,
            localPath: el.localPath,
            name: el.name,
            path: el.path,
            promote: el.promote,
            rawPath: el.rawPath,
            serviceName: el.serviceName,
            type: el.type,
            keep: keep,
            globalName: globalName,
            fieldType: fieldType
          };
          if (el.fromApi == undefined || el.fromApi) {
            obj.fromApi = true;
          } else {
            obj = {
              globalName: globalName,
              valueFrom: el.valueFrom,
              value: el.value,
              keep: keep,
              fieldType: fieldType,
              fromApi: false
            };
            obj.fromApi = false;
          }
          items.push(obj);
        });
      }
      return items;
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.CONFIRM_DELETE_OUTPUT,index => {
      this.items.splice(index, 1);
    });

    uiUtil.bus.on(constantUtil.EVENT.OPEN_CUSTOM_OUTPUT_MODAL, (data, path) => {
      this.show = true;
      this.path = path;
      this.items = this.createFromData(data);
    });

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == "customOutput") {
          // uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,data.value);
          this.outputData[callFromData.index].value = data.item.globalName;
          this.outputData[callFromData.index].fieldType = data.item.fieldType;
          this.outputData[callFromData.index].valueProperties = data.item;
          console.log(TAG + " Success = ", this.outputData);
        }
      }
    );
  }
};
</script>

<style scoped>
.no-border {
  border: none;
}
.btn-delete {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  color: red;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
div,
select {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>