<template>
  <div>
    <div v-if="createOutputModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">

      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Create Output</h5>
            <button type="button" class="yellow right" @click.stop.prevent="addRow">+ Add</button>
            <!-- <button type="button" aria-label="Close" class="close" @click.stop.prevent="createOutputModal = !createOutputModal">×</button> -->
          </header>
          <div class="modal-body">

            <div>
              <b-form inline style="width:100%;">
                <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                <p style="margin:0px 20px;"> Rows per page</p>
                <b-form-select class="search" v-model="perPage" :options="perPageList" style="min-width:60px;"></b-form-select>
              </b-form>
              <div class="grid-content">
                <b-table v-model="createOutputData" show-empty stacked="md" :items="items" :fields="fields" :filter="filter" :per-page="perPage" @filtered="onFiltered" :current-page="currentPage">
                  <template slot="globalName" slot-scope="data">
                    <b-input type="text" v-model="data.item.globalName" @keypress.native="validateGlobalName"></b-input>
                  </template>

                  <template slot="valueFrom" slot-scope="data">
                    <b-form-select v-model="data.item.valueFrom" text-field="text" value-field="value" :options="valueFromList" @change="setBlank(data)">
                    </b-form-select>
                  </template>

                  <template slot="outputValue" slot-scope="data">
                    <b-input :disabled="data.item.valueFrom == 'Native'" type="text" v-model="data.item.value"></b-input>
                  </template>

                  <template slot="search" slot-scope="data">
                    <div v-if="data.item.valueFrom == 'Native'">
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" @click.stop.prevent="showModal(data)" />
                    </div>
                    <div v-else>
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.1;cursor:default;" />
                    </div>

                    <!-- <button v-if="data.item.valueFrom == 'Native'" class="btn-search" @click.stop.prevent="showModal(data)"></button> -->
                  </template>

                  <template slot="delete" slot-scope="data">
                    <font-awesome-icon :icon="['fas','minus-circle']" @click.stop.prevent="deleteRow(data.index)" class="btn-delete" />
                    <!-- <button class="btn-delete" @click.stop.prevent="deleteOutput(data.item.id)"></button> -->
                  </template>
                </b-table>

              </div>
              <b-pagination v-if="items.length > 0" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </div>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="saveCreateOutput">Save</button>
            <button class="default" @click.stop.prevent="cancelCreateOutput">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";
import validateUtil from "../../common/validateUtil/index";

var TAG = "[CustomCreateOutput]";
export default {
  data() {
    return {
      createOutputModal: false,
      createOutputData: null,
      items: [],
      fields: [
        { label: "Global Name", key: "globalName" },
        { label: "Value From", key: "valueFrom" },
        { label: "Output Value", key: "outputValue" },
        { label: " ", key: "search" },
        { label: "Delete", key: "delete" }
      ],
      valueFromList: [
        {
          text: "Manual",
          value: "Manual"
        },
        {
          text: "Native",
          value: "Native"
        }
      ],
      path: null,
      cloneData: [],
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5, 10, 15],
      totalRows: 0
    };
  },
  methods: {
    validateGlobalName(event) {
      validateUtil.validate(validateUtil.REGEX.ENG_AND_NUMBER, event);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    setBlank(data) {
      this.$nextTick(() => {
        this.createOutputData[data.index].value = "";
        if (data.item.valueFrom == "Manual") {
          this.createOutputData[data.index].fieldType = "String";
        }
        this.createOutputData.push({});
        this.createOutputData.pop();
      });
    },
    addRow() {
      this.items.push({
        globalName: "",
        valueFrom: "Manual",
        value: "",
        keep: true,
        fieldType: "String"
      });
    },
    showModal(data) {
      console.log(TAG + " PATH = ", this.path);

      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_GBL_MODAL,
        data,
        "customCreateOutput",
        this.path.screenId
      );
    },
    cancelCreateOutput() {
      this.items = _.cloneDeep(this.cloneData);
      console.log(TAG + " // ", _.cloneDeep(this.cloneData));
      this.createOutputModal = false;
      this.filter = null;
    },
    saveCreateOutput() {
      let errorMsg = "";
      this.filter = null;
      var checkList = _.cloneDeep(this.items);
      var isBlank = false;
      checkList.forEach(el => {
        if (_.isEmpty(el.globalName)) {
          isBlank = true;
          errorMsg = "Please don't let global name blank !";
          return;
        } else {
          if (el.valueFrom == "Manual") {
           // Case Manual => Do nothing
          }else{
            // Case Native check value
            if(_.isEmpty(el.value)){
                isBlank = true;
                errorMsg = "Please don't let value blank !";
                return;
            }
          }
        }
      });

      if(this.checkDeclearNumber()){s
        errorMsg = "Global value cannot initiate with numeric.";
      }


      if (!isBlank&&errorMsg == "") {
        console.log("Save path = ", this.path);
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_CREATE_OUTPUT,
          _.cloneDeep(this.items),
          this.path
        );
        this.createOutputModal = false;
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          errorMsg
        );
      }
    },
    checkDeclearNumber(){
      let found = this.items.find(
       (value) => {
            return validateUtil.validateValueFistNumber(value.globalName)
        }
      );
      return found ? true : false;
    },
    deleteRow(index) {
      const deleteIndex = (this.perPage * (this.currentPage - 1)) + index;
      uiUtil.bus.post(constantUtil.EVENT.DELETE_OUTPUT, deleteIndex);
    }
  },
  created() {
    uiUtil.bus.on(
      constantUtil.EVENT.OPEN_CREATEOUTPUT_MODAL,
      (createOutputList, path) => {
        console.log(TAG + " Open create output = ", createOutputList);
        this.createOutputModal = true;
        this.path = path;
        this.items = [];
        this.cloneData = [];
        if (!_.isEmpty(createOutputList)) {
          this.items = _.cloneDeep(createOutputList);
          this.cloneData = _.cloneDeep(createOutputList);
        }
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == "customCreateOutput") {
          // uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,data.value);
          this.createOutputData[callFromData.index].value =
            data.item.globalName;
          this.createOutputData[callFromData.index].fieldType =
            data.item.fieldType;
          this.createOutputData[callFromData.index].valueProperties = data.item;
          console.log(TAG + " Success = ", this.createOutputData);
        }
      }
    );

    uiUtil.bus.on(constantUtil.EVENT.CONFIRM_DELETE_OUTPUT,index => {
      console.log("Delete ",index);
      this.items.splice(index, 1);
      console.log("items = ",this.items);
    });


  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-delete {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  color: red;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>
