<template>
  <div>
    <div v-if="createOutputModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">

      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Condition target</h5>
            <button type="button" class="yellow right" @click.stop.prevent="addRow">+ Add</button>
            <!-- <button type="button" aria-label="Close" class="close" @click.stop.prevent="createOutputModal = !createOutputModal">×</button> -->

          </header>
          <div class="modal-body">

            <div>
              <div>
                <div>

                  <b-form inline>

                    <p style="margin-right: 10px;margin-top:10px">Condition from </p>
                    <b-form-select v-model="targetConditions.conditionFromGlobalInput.valueFrom" text-field="text" value-field="value" :options="valueFromList" @change="setBlank" style="width:80px;">
                    </b-form-select>
                    &nbsp;&nbsp;
                    <b-input :disabled="targetConditions.conditionFromGlobalInput.valueFrom != 'Manual'" type="text" v-model="targetConditions.conditionFromGlobalInput.value"></b-input>
                    &nbsp;&nbsp;
                    <div v-if="targetConditions.conditionFromGlobalInput.valueFrom != 'Manual' && targetConditions.conditionFromGlobalInput.valueFrom != ''">
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" @click.stop.prevent="showModal(targetConditions.conditionFromGlobalInput)" />
                    </div>
                    <div v-else>
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.1;cursor:default;" />
                    </div>
                  </b-form>

                </div>
              </div>
              <br>
              <div class="">
                <b-table v-model="createOutputData" show-empty stacked="md" :items="targetConditions.conditionsList" :fields="fields">
                  <template slot="type" slot-scope="data">
                    <p>{{ targetConditions.conditionFromGlobalInput.value }} [eqaul] </p>
                  </template>
                  <template slot="equalValue" slot-scope="data">
                    <b-input type="text" v-model="data.item.equalValue"></b-input>
                  </template>

                  <template slot="target" slot-scope="data">
                    <b-form-select class="selectTarget dropdown-style" v-model="data.item.target" text-field="text" value-field="value" :options="screenOptions">
                    </b-form-select>
                  </template>

                  <!-- <template slot="globalName" slot-scope="data">
                    <b-input type="text" v-model="data.item.globalName"></b-input>
                  </template>

                  <template slot="valueFrom" slot-scope="data">
                    <b-form-select v-model="data.item.valueFrom" text-field="text" value-field="value" :options="valueFromList" @change="setBlank(data)">
                    </b-form-select>
                  </template>

                  <template slot="outputValue" slot-scope="data">
                    <b-input :disabled="data.item.valueFrom == 'Native'" type="text" v-model="data.item.value"></b-input>
                  </template>

                  <template slot="search" slot-scope="data">
                    <div v-if="data.item.valueFrom == 'Native'">
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" @click.stop.prevent="showModal(data)" />
                    </div>
                    <div v-else>
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.1;cursor:default;" />
                    </div>

                    
                  </template> -->

                  <template slot="delete" slot-scope="data">
                    <font-awesome-icon :icon="['fas','minus-circle']" @click.stop.prevent="deleteRow(data.index)" class="btn-delete" />

                  </template>
                </b-table>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="saveCreateOutput">Save</button>
            <button class="default" @click.stop.prevent="cancelCreateOutput">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[CustomConditionTargetScreen] ";
export default {
  props: {},
  data() {
    return {
      createOutputModal: false,
      createOutputData: null,
      screenOptions: [
        {
          text: "xxx",
          value: "xxx"
        }
      ],
      targetConditions: null,
      items: [],
      fields: [
        // { label: " ", key: "type" },
        { label: "Equal value", key: "equalValue" },
        { label: "Target", key: "target" },
        { label: "Delete", key: "delete" }
      ],
      valueFromList: [
        {
          text: "Native",
          value: "Native"
        },
        { text: "Global", value: "Global" }
      ],
      path: null,

      SelectedModalEventName: "customConditionTargetScreen"
    };
  },
  methods: {
    setBlank(data) {
      this.$nextTick(() => {
        this.targetConditions.conditionFromGlobalInput.value = "";
      });
    },
    addRow() {
      this.targetConditions.conditionsList.push({
        type: "case",
        equalValue: "",
        target: ""
      });
    },
    showModal(data) {
      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_GBL_MODAL,
        { item: data },
        this.SelectedModalEventName
      );
    },
    cancelCreateOutput() {
      this.createOutputModal = false;
    },
    saveCreateOutput() {
      var checkList = _.cloneDeep(this.targetConditions.conditionsList);
      var isBlank = false;
      checkList.forEach(el => {
        if (_.isEmpty(el.equalValue) || _.isEmpty(el.target)) {
          isBlank = true;
          return;
        }
      });

      if (_.isEmpty(this.targetConditions.conditionFromGlobalInput.value)) {
        isBlank = true;
      }

      if (_.size(checkList) <= 0) {
        // clear condition
        console.log(TAG + "Clear condition");

        this.targetConditions.useConditions = false;
      }

      if (!isBlank) {
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_CONDITION_TARGET,
          _.cloneDeep(this.targetConditions),
          this.path
        );
        this.createOutputModal = false;
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Don't let fields blank !"
        );
      }
    },
    deleteRow(index) {
      this.targetConditions.conditionsList.splice(index, 1);
    }
  },
  created() {
    console.log(TAG + "screenOptions =", this.screenOptions);

    uiUtil.bus.on(
      constantUtil.EVENT.OPEN_CONDITION_TARGET_MODAL,
      (data, path) => {
        console.log(TAG + " Open condition target screen = ", data); //targetConditions
        this.createOutputModal = true;
        this.path = path;
        if (!_.isEmpty(data.targetConditions)) {
          this.targetConditions = _.cloneDeep(data.targetConditions);
        } else {
          // initial
          this.targetConditions = {
            useConditions: true,
            conditionFromGlobalInput: {
              valueFrom: "Global",
              value: null
            },
            conditionsList: []
          };
        }
        this.screenOptions = data.screenOptions;
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == this.SelectedModalEventName) {
          console.log(TAG + "data.fieldType =", data.item.fieldType);
          if (data.item.fieldType == "String") {
            this.targetConditions.conditionFromGlobalInput.value = data.value;
            this.targetConditions.conditionFromGlobalInput.fieldType =
              data.item.fieldType;
            this.targetConditions.conditionFromGlobalInput.valueProperties =
              data.item;
          } else {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              "sorry this fieldType not support yet"
            );
          }
          console.log(TAG + "Selected modal = ", data.item);
        }
      }
    );
  }
};
</script>

<style scoped>
div {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-delete {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  color: red;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>