<template>
  <div>
    <div v-if="screenInputModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;">

      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Screen Input</h5>
            <button type="button" aria-label="Close" class="close" @click.stop.prevent="cancelScreenInput">×</button>
          </header>
          <div class="modal-body">
            <div>
              <b-form inline style="width:100%;">
                <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                <p style="margin:0px 20px;"> Rows per page</p>
                <b-form-select class="search" v-model="perPage" :options="perPageList" style="min-width:60px;"></b-form-select>
              </b-form>
              <div class="grid-content">
                <b-table v-model="globalInputData" show-empty stacked="md" :items="items" :fields="fields" :filter="filter" :per-page="perPage" @filtered="onFiltered" :current-page="currentPage" >
                  <template slot="inputName" slot-scope="data">
                    {{data.item.inputName}}
                  </template>

                  <template slot="fieldPosition" slot-scope="data">
                    {{data.item.fieldPosition}}
                  </template>

                  <template slot="fieldType" slot-scope="data">
                    {{data.item.fieldType}}
                  </template>

                  <template slot="useGlobal" slot-scope="data">
                    <b-form-checkbox v-model="data.item.useGlobal" @change="setBlank(data)">
                    </b-form-checkbox>
                  </template>

                  <template slot="value" slot-scope="data">
                    <b-input type="text" disabled v-model="data.item.value" style="max-width:300px;"></b-input>
                  </template>

                  <template slot="custom" slot-scope="data">
                    <div v-if="data.item.useGlobal">
                      <font-awesome-icon @click.stop.prevent="showModal(data)" :icon="['fas','search']" class="btn-search" />
                    </div>
                    <div v-else>
                      <font-awesome-icon :icon="['fas','search']" class="btn-search" style="opacity:0.3;" />
                    </div>
                  </template>

                </b-table>

              </div>
              <b-pagination v-if="items.length > 0" :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </div>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="saveScreenInput">Save</button>
            <button class="default" @click.stop.prevent="cancelScreenInput">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[CustomScreenInput] ";
export default {
  data() {
    return {
      screenInputModal: false,
      globalInputData: null,
      items: [],
      itemsBalckUp_DMA: [],
      fields: [
        { label: "Input", key: "inputName" },
        { label: "Field Position", key: "fieldPosition" },
        { label: "Field Type", key: "fieldType" },
        { label: "Use Global Value", key: "useGlobal" },
        { label: "Value", key: "value" },
        { label: " ", key: "custom" }
      ],
      screenId: null,
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5, 10, 15],
      totalRows: 0,
      cloneData: []
    };
  },
  methods: {
    setBlank(data) {
      this.$nextTick(() => {
        if (!data.item.useGlobal) {
          this.globalInputData[data.index].value = "";
          this.globalInputData.push({});
          this.globalInputData.pop();
        }
      });
    },
    cancelScreenInput() {
      console.log(TAG + " clone =  ", this.cloneData);
      this.items = _.cloneDeep(this.cloneData);
      console.log(TAG + " // ", _.cloneDeep(this.cloneData));
      this.screenInputModal = false;
      this.filter = null;
    },
    showModal(data) {
      data.item.valueFrom = "Global";
      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_GBL_MODAL,
        data,
        "customScreenInput",
        this.screenId
      );
    },
    saveScreenInput() {
      this.filter = null;
      var checkList = _.cloneDeep(this.items);
      var isBlank = false;
      checkList.forEach(el => {
        if (el.useGlobal && _.isEmpty(el.value)) {
          isBlank = true;
          return;
        }
      });
      console.log("isBlank = ", isBlank);
      if (!isBlank) {
        for(var i = 0 ; i < this.itemsBalckUp_DMA.length ; i++){
          this.items.push(this.itemsBalckUp_DMA[i]);
        }
        
      this.$nextTick(() => {
        uiUtil.bus.post(
          constantUtil.EVENT.SAVE_SCREEN_INPUT,
          this.items,
          this.screenId
        );
        this.screenInputModal = false;
      });
      } else {
        const msg = "Please Don't let fields blank !";
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG, msg);
      }
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },
  created() {
    uiUtil.bus.on(
      constantUtil.EVENT.OPEN_SCREENINPUT_MODAL,
      (globalInputList, screenId) => {
        this.items = [];
        this.itemsBalckUp_DMA = [];
        this.cloneData = [];
        this.screenInputModal = true;
        this.screenId = screenId;
        this.items = _.filter(_.cloneDeep(globalInputList), function(item){ return item.inputName.indexOf("__DMA") < 0; });
        this.itemsBalckUp_DMA = _.filter(_.cloneDeep(globalInputList), function(item){ return item.inputName.indexOf("__DMA") >= 0; });
        this.cloneData = _.cloneDeep(globalInputList);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == "customScreenInput") {
          this.globalInputData[callFromData.index].value = data.item.globalName;
          this.globalInputData[callFromData.index].fieldType =
            data.item.fieldType;
          this.globalInputData[callFromData.index].valueProperties = data.item;
          this.globalInputData.push({});
          this.globalInputData.pop();
          console.log(TAG + " Success = ", this.globalInputData);
        }
      }
    );
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div,
select {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>
