<template>
    <div>
      
        <div v-if="globalListModal" role="dialog" class="modal show d-block" style="background:rgba(0,0,0,0.3);padding:0px 40px;">
          <div v-show="isLoading">
            <div class="customLoading">Loading&#8230;</div>
          </div>
          <div v-show="!isLoading" class="modal-dialog modal-md modal-dialog-centered" style="width:70%;">
              <div tabindex="-1" role="document" class="modal-content">
                  <header class="modal-header">
                      <h5 class="modal-title">Global List</h5>
                      <button type="button" aria-label="Close" class="close" @click.stop.prevent="closeModal">×</button>
                  </header>
                  <div class="modal-body">
                      <div>
                        <b-form inline style="width:100%;">
                          <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                          <p style="margin:0px 20px;"> Rows per page</p>
                          <b-form-select 
                            class="search"
                            v-model="perPage" 
                            :options="perPageList"
                            style="min-width:60px;"
                          ></b-form-select>
                        </b-form>
                          <div class="grid-content">
                            <b-table 
                                show-empty
                                stack="md"
                                :items="items" 
                                :fields="fields" 
                                :filter="filter" 
                                :per-page="perPage"
                                @filtered="onFiltered"
                                :current-page="currentPage"
                            >
                              <template slot="globalName" slot-scope="data">
                                {{data.item.globalName}}
                              </template>
                              <template slot="fieldType" slot-scope="data">
                                {{data.item.fieldType}}
                              </template>
                              <template slot="source" slot-scope="data">
                                {{data.item.source}}
                              </template>
                              <template slot="api" slot-scope="data">
                                {{data.item.api}}
                              </template>
                              <template slot="action" slot-scope="data">
                                {{data.item.action}}
                              </template>
                            </b-table>
                            
                          </div>
                          <b-pagination 
                              v-if="items.length > 0" 
                              :total-rows="totalRows" 
                              :per-page="perPage" 
                              v-model="currentPage" 
                              class="my-0" 
                          />
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index"

var TAG = "[GlobalList] ";
export default {
  props: {
    getStoryboardData: Function,
    updateStoryboard: Function
  },
  data() {
    return {
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5,10,15],
      totalRows: 0,
      isLoading: true,
      globalListModal: false,
      valueFrom: "",
      callFrom: "",
      callFromData: null,
      items: [],
      fields: [
        { label: "Global Name", key: "globalName" },
        { label: "Field Type", key: "fieldType" },
        { label: "Source", key: "source" },
        { label: "API", key: "api" },
        { label: "Action", key: "action" }
      ]
    };
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.GET_GLOBALLIST, () => {
      this.isLoading = true;
      new Promise((resolve, reject) => {
        
        uiUtil.bus.post(constantUtil.EVENT.SAVE_STORYBOARD);
        uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER);
        uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_MENU, false);
        resolve();
        next();
      }).then(() => {
        
        this.items = [];
        const storyboard = this.getStoryboardData();
        const url = SERVICE.URL_LIST_GLOBAL_VALUE;
        let user = sessionStorage.getItem("DMA_username") || "";
        user = user.replace(/\"/g,"");
        // storyboard.source = this.getScreenName(storyboard.storyBoard, screenId);
        storyboard.user = user;
        console.log(TAG + " STORYBOARD + ", storyboard);

        const params = { requestData: storyboard };
        this.$helpers
          .callApi(url, params)
          .then(result => {
            if (result.status == 200) {
              if (result.data.success) {
                this.items = constantUtil.getDeserialize(result).globalList;
              } else {
                uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG,"Call Failed !");
              }
              this.isLoading = false;
            }
          })
          .catch(err => {
            uiUtil.error.readError(err);
            this.isLoading = false;
          });
        this.globalListModal = true;
      });
    });
  },
  methods: {
    getScreenName(list, uuid) {
      const result = _.find(list, function(item) {
        return item.uuid == uuid;
      });
      return _.isEmpty(result) ? "" : result.source;
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    addData(data) {
      console.log(TAG + " Add Data => ", data);
      this.globalListModal = false;
      uiUtil.bus.post(
        constantUtil.EVENT.ADD_DATA_FROM_MODAL,
        data,
        this.callFrom,
        this.callFromData
      );
    },
    closeModal(){
      this.globalListModal = false;
      this.filter = null;
    }
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
.search {
  margin-bottom: 10px;
  width: 250px;
  font-size: 20px;
}
/* Absolute Center Spinner */
.customLoading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.customLoading:before {
  background-color: #ebebeb;
}

/* :not(:required) hides these rules from IE9 and below */
.customLoading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.customLoading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>