<template>
  <div>
    <div
      v-if="showModal"
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;"
    >
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Pin List Setting</h5>
            <button type="button" class="yellow right" @click.stop.prevent="addRow">+ Add</button>
            <!-- <button type="button" aria-label="Close" class="close" @click.stop.prevent="showModal = !showModal">×</button> -->
          </header>
          <div class="modal-body">
            <div>
              <!-- <b-form inline style="width:100%;">
                <b-input v-model="filter" class="search sm-size" placeholder="Search"></b-input>
                <p style="margin:0px 20px;"> Rows per page</p>
                <b-form-select class="search" v-model="perPage" :options="perPageList" style="min-width:60px;"></b-form-select>
              </b-form>-->
              <div class="grid-content">
                <b-table
                  v-model="pinListData"
                  show-empty
                  stacked="md"
                  :items="items"
                  :fields="fields"
                  :filter="filter"
                  :per-page="perPage"
                  @filtered="onFiltered"
                  :current-page="currentPage"
                >
                  <template slot="pinName" slot-scope="data">
                    <b-input
                      type="text"
                      v-model="data.item.pinName"
                      @keypress.native="validateGlobalName"
                    ></b-input>
                  </template>

                  <template slot="pinPage" slot-scope="data">
                    <b-form-select
                      v-model="data.item.pinPage"
                      text-field="text"
                      value-field="value"
                      :options="pinPageList"
                      @change="updatePinPage(data.index,data.item.pinPage)"
                    ></b-form-select>
                  </template>

                  <template slot="delete" slot-scope="data">
                    <font-awesome-icon
                      :icon="['fas','minus-circle']"
                      @click.stop.prevent="deleteRow(data.index)"
                      class="btn-delete"
                    />
                    <!-- <button class="btn-delete" @click.stop.prevent="deleteOutput(data.item.id)"></button> -->
                  </template>
                </b-table>
              </div>
              <b-pagination
                v-if="items.length > 0"
                :total-rows="totalRows"
                :per-page="perPage"
                v-model="currentPage"
                class="my-0"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button class="yellow" @click.stop.prevent="saveModal">Save</button>
            <button class="default" @click.stop.prevent="hideModal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";
import validateUtil from "../../common/validateUtil/index";

var TAG = "[CustomCreateOutput] ";
export default {
  props: {
    selectedPinPage: Function,
    savePinList: Function,
    getStoryboardData: Function
  },
  data() {
    return {
      showModal: false,
      pinListData: null,
      pinPageList: [],
      items: [],
      fields: [
        { label: "Pin", key: "pinName" },
        { label: "Screen", key: "pinPage" },
        { label: "Delete", key: "delete", class: "status" }
      ],
      path: null,
      cloneData: [],
      filter: null,
      currentPage: 1,
      perPage: 5,
      perPageList: [5, 10, 15],
      totalRows: 0
    };
  },
  methods: {
    updatePinPage(index, oldValue) {
      this.$nextTick(() => {
        this.selectedPinPage(this.items[index].pinPage, oldValue);
      });
    },
    setValue(params) {
      if (params.hasOwnProperty("pinPageList"))
        this.pinPageList = params.pinPageList;
      if (params.hasOwnProperty("items")) this.items = params.items;
    },
    getValue() {
      const { pinPageList, items } = this;
      return {
        pinPageList,
        items
      };
    },
    validateGlobalName(event) {
      validateUtil.validate(validateUtil.REGEX.ENG_AND_NUMBER, event);
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    addRow() {
      this.items.push({
        pinName: "",
        pinPage: null
      });
    },
    openModal(pinList, screenList) {
      this.showModal = true;
      this.items = [...pinList];
      this.pinPageList = screenList;
    },
    saveModal() {
      let errorMsg = "";
      if (this.checkDuplicateInObject("pinName", this.items)) {
        errorMsg = "Duplicate pin name !";
      }
      if (this.checkBlank()) {
        if (errorMsg != "") {
          errorMsg = "Duplicate pin name & blank screen !";
        } else {
          errorMsg = "Please select blank screen !";
        }
      }
      if(this.checkDeclearNumber()){
        if (errorMsg != "") {
          errorMsg = "Pin name cannot initiate with numeric.";
        } else {
          errorMsg = "Pin name cannot initiate with numeric.";
        }
      }
      if (errorMsg == "") {
        this.savePinList(this.items);
        this.hideModal();
      } else {
        uiUtil.bus.post(constantUtil.EVENT.SHOW_ALERT_DIALOG, errorMsg);
      }
    },
    checkDuplicateInObject(propertyName, inputArray) {
      var seenDuplicate = false,
        testObject = {};

      inputArray.map(function(item) {
        var itemPropertyName = item[propertyName];
        if (itemPropertyName in testObject) {
          testObject[itemPropertyName].duplicate = true;
          item.duplicate = true;
          seenDuplicate = true;
        } else {
          testObject[itemPropertyName] = item;
          delete item.duplicate;
        }
      });

      return seenDuplicate;
    },
    checkBlank() {
      let found = this.items.filter(
        item => item.pinName == "" || item.pinPage == null
      );
      return found.length > 0 ? true : false;
    },
    checkDeclearNumber(){
      let found = this.items.find(
       (value) => {
            return validateUtil.validateValueFistNumber(value.pinName)
        }
      );
      return found ? true : false;
    },
    hideModal() {
      this.showModal = false;
    },
    deleteRow(index) {
      const deleteIndex = (this.currentPage - 1) * this.perPage + index;
      console.log(deleteIndex);
      uiUtil.bus.post(constantUtil.EVENT.DELETE_PINLIST, deleteIndex);
    }
  },
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.CONFIRM_DELETE_PINLIST, index => {
      const currentPinPage = this.items[index].pinPage;
      const storyboard = this.getStoryboardData().storyBoard;
      const useData = storyboard.filter(
        item => item.backType == "pin" && item.pinPage == currentPinPage
      );
      console.log("currentPinPage = " + currentPinPage);
      console.log("useData = ", useData);
      if (useData.length > 0) {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Cannot delete because this pin has using by\n" +
            useData.map(item => `"${item.source}"`)
        );
      } else {
        this.selectedPinPage(null, this.items[index].pinPage);
        this.items.splice(index, 1);
      }
    });
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-delete {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  color: red;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>
