<template>
    <div>
    <b-modal 
        centered 
        :id="screenInputId" 
        title="Screen Input" 
        ok-title="Save"
        ok-variant="success"
        no-fade
        @ok="saveScreenInput"
        >
      <b>Input to Screen</b><br><br>
    <b-container fluid class="content">
    <!-- Main table element -->
    <b-table v-model="globalInputData"
             show-empty
             stacked="md"
             :items="items"
             :fields="fields"
    >
      <template slot="inputName" slot-scope="data">
          {{data.item.inputName}}
      </template>
      
      <template slot="fieldPosition" slot-scope="data">
        {{data.item.fieldPosition}}
      </template>

      <template slot="fieldType" slot-scope="data">
        {{data.item.fieldType}}
      </template>

      <template slot="useGlobal" slot-scope="data">
        <b-form-checkbox v-model="data.item.useGlobal">
        </b-form-checkbox>
      </template>

      <template slot="value" slot-scope="data">
        <b-input type="text" disabled v-model="data.item.value"></b-input>
        <b-button :disabled="!(data.item.useGlobal)" class="btn-search"
              @click.stop.prevent="showModal(data)"></b-button>
      </template>
    </b-table>
  </b-container>
    </b-modal>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index"

var TAG = "[ScreenInput] ";
export default {
  props: {
    globalInputList: Array,
    screenInputId: String,
    screenId: String
  },
  data() {
    return {
      globalInputData: null,
      items: [],
      fields: [
        { label: "Input", key: "inputName" },
        { label: "Field Position", key: "fieldPosition" },
        { label: "Field Type", key: "fieldType" },
        { label: "Use Global Value", key: "useGlobal" },
        { label: "Value", key: "value" }
      ]
    };
  },
  methods: {
    saveScreenInput() {
      uiUtil.bus.post(
        constantUtil.EVENT.SAVE_SCREEN_INPUT,
        _.cloneDeep(this.globalInputData),
        this.screenId
      );
    },
    showModal(data) {
      data.item.valueFrom = "Global";
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data, this.screenInputId);
    },
    createFromData(list) {
      var items = [];
      if (list != undefined) {
        list.forEach(el => {
          var useGlobal = el.useGlobal != undefined ? el.useGlobal : false;
          var value = el.value != undefined ? el.value : "";
          items.push({
            path: el.path,
            inputName: el.inputName,
            fieldPosition: el.fieldPosition,
            fieldType: el.fieldType,
            useGlobal: useGlobal,
            value: value
          });
        });
      }
      return items;
    }
  },
  mounted() {
    this.items = this.createFromData(this.globalInputList);
    uiUtil.bus.on(constantUtil.EVENT.SCREENCHOOSE, screen => {
      if (this.screenId == screen.id) {
        console.log(TAG + " sceenchoosed = ", screen);
        console.log(TAG + " old data = ", this.items);
        this.items = screen.globalInputList;
      }
    });
    uiUtil.bus.on(
      constantUtil.EVENT.ADD_DATA_FROM_MODAL,
      (data, callFrom, callFromData) => {
        if (callFrom == this.screenInputId) {
          console.log(TAG + " callFrom = ", callFrom + " / data = ", data);
          this.globalInputData[callFromData.index].value = data.value;
          this.globalInputData[callFromData.index].fieldType =
            data.item.fieldType;
          this.globalInputData[callFromData.index].valueProperties = data.item;
          console.log(TAG + " Grid Data = ", this.globalInputData);
        }
      }
    );
  }
};
</script>

<style scoped>
div,
input[type="text"] {
  font-size: 20px;
  padding: 3px 10px;
}
.btn-search {
  background: url("../../assets/images/search-icon.png") no-repeat top left;
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  border: none;
  opacity: 0.6;
}

.btn-search:disabled {
  opacity: 0.1;
}
</style>