<template>
    <div>
      <b-modal 
        centered 
        :id="screenOutputId" 
        title="Screen Output" 
        ok-title="Save"
        ok-variant="success"
        no-fade
        @ok="saveScreenOutput"
        >
      <b>Output from Screen</b><br><br>
    <b-container fluid class="content">
    <!-- Main table element -->
    <b-table v-model="globalOutputData"
             show-empty
             stacked="md"
             :items="items"
             :fields="fields"
    >
      <template slot="outputName" slot-scope="data">
          {{data.item.outputName}}
      </template>

      <template slot="addToGlobal" slot-scope="data">
        <b-form-checkbox v-model="data.item.addToGlobal">
        </b-form-checkbox>
      </template>

      <template slot="globalName" slot-scope="data">
        <b-input type="text" :readonly="!data.item.addToGlobal" v-model="data.item.globalName"></b-input>
      </template>
    </b-table>
  </b-container>
  
      </b-modal>
    </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index"

var TAG = "[ScreenOutput] ";
export default {
  props: {
    globalOutputList: Array,
    screenOutputId : String,
    screenId: String
  },
  data() {
    return {
      globalOutputData: null,
      items: [],
      fields: [
        { label: "Output", key: "outputName" },
        { label: "Add to Global", key: "addToGlobal" },
        { label: "GlobalName", key: "globalName" }
      ]
    };
  },
  methods: {
    saveScreenOutput(){
      uiUtil.bus.post(constantUtil.EVENT.SAVE_SCREEN_OUTPUT,_.cloneDeep(this.globalOutputData),this.screenId);
    },
    showModal(data) {
      data.item.valueFrom = 'Global';
      uiUtil.bus.post(constantUtil.EVENT.SHOW_GBL_MODAL, data , this.screenInputId);
    },
    createFromData(list) {
      var items = [];
      if (list != undefined) {
        list.forEach(el => {
          var useGlobal = el.useGlobal != undefined ? el.useGlobal : false;
          var globalName = el.globalName != undefined ? el.globalName : "";
          items.push({
            outputName: el.outputName,
            addToGlobal: false,
            globalName: globalName
          });
        });
      }
      return items;
    }
  },
  mounted() {
    this.items = this.createFromData(this.globalOutputList);

    uiUtil.bus.on(constantUtil.EVENT.SCREENCHOOSE, screen => {
      if (this.screenId == screen.id) {
        console.log(TAG + " sceenchoosed = ", screen);
        console.log(TAG + " old data = ", this.items);
        this.items = screen.globalOutputList;
      }
    });
  }
};
</script>

<style scoped>
div,input[type=text] {
  font-size : 20px;
  padding : 3px 10px;
}
</style>