<template>
  <div>
    <div
      v-if="show"
      role="dialog"
      class="modal show d-block"
      style="background:rgba(0,0,0,0.3);padding:0px 40px;z-index:40;"
    >
      <div class="modal-dialog modal-md modal-dialog-centered">
        <div tabindex="-1" role="document" class="modal-content">
          <header class="modal-header">
            <h5 class="modal-title">Search Target</h5>
            <button
              type="button"
              aria-label="Close"
              class="close"
              @click.stop.prevent="cancelModal"
            >×</button>
          </header>
          <div class="modal-body">
            <search-screen-target 
            :listAllScreenGroup ="listScreenGroup"  
            :fromScreenName ="data.value"
            :data ="data"
            :path ="path"
            :screenId ="screenId"
            ></search-screen-target>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import SERVICE from "../../helper/services.js";
import uiUtil from "../../common/uiUtil/index";
import SearchTargetScreen from "../../pages/SearchTargetScreen/SearchTargerScreen.vue";

var TAG = "[SearchTarger] ";
export default {
  components: {
    "search-screen-target": SearchTargetScreen
  },
  data() {
    return {
      show: false,
      listScreenGroup: [],
      path: null,
      screenId: null,
      filter: null,
      data :null
    };
  },
  methods: {
    cancelModal() {
      this.show = false;
      this.filter = null;
      this.items = [];
    },
    showModal(data) {
      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_GBL_MODAL,
        data,
        "configParameter",
        this.screenId
      );
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.SET_SCREEN_GROUP, listScreenGroup => {
      console.log(TAG + " screenList => ", listScreenGroup);
      this.listScreenGroup = listScreenGroup;
    });
  },
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.SHOW_SEARCH_TARGET, (data, path, screenId) => {

        this.show = true;
        console.log(TAG,"SHOW_SEARCH_TARGET : ",data,path,screenId)
        this.data = data 
        this.path = path 
        this.screenId = screenId
    });
     uiUtil.bus.on(constantUtil.EVENT.CLOSE_SEARCH_TARGET, () => {

        this.show = false;
    });
  }
};
</script>

<style scoped>
.grid-content {
  height: 305px;
  overflow-y: scroll;
}
div,
select {
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
  padding: 0px 10px;
}
select {
  font-size: 20px;
  padding: 0px 10px;
  max-height: 32px;
}
.btn-search {
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}
</style>