<template>
  <div>
    <div class="dma-blank-space-screen" :id="'dma-blank-space-screen' + screenId"></div>
    <div class="dma-screen">
      <!-- :style="scNeedUpgradeStoryBoard ? 'background:#FFDE16;' : ''" -->
      <div
        class="header"
        :ref="'scRef_'+screenId"
        v-b-toggle="'collapse'+screenId"
        @click.stop.prevent="changeToggle"
      >
        <b-row style="padding-left:20px;">
          <b-col md="auto">Screen Config : {{ source != null ? source : 'No Screen selected' }}</b-col>
          <b-col md="auto" style="color:yellow;" align="left">{{tabShow}}</b-col>
          <b-col align="right">
            <a
              class="content-input-group-name"
              @click.stop.prevent
              v-if="source != '' && source != null"
            >
              <b-form-select
                style="max-width:150px;max-height:35px;"
                v-model="groupName"
                text-field="name"
                value-field="name"
                v-on:change="checkValueInputGroupName"
                :ref="'inputGroupName_' + screenId"
              >
                <option
                  v-for="(group , index) in listScreenGroup"
                  :key="index"
                  :value="group.name"
                >{{ group.name }}</option>
              </b-form-select>
              <!-- <b-form-input
                @change="checkValueInputGroupName"
                style="max-width:150px;"
                v-model="groupName"
                list="group-screen-list"
                :ref="'inputGroupName_' + screenId"
              ></b-form-input>

              <datalist id="group-screen-list">
                <option
                  v-for="(group , index) in listScreenGroup"
                  :key="index"
                >{{ group.name }}</option>
              </datalist>-->
              <!-- <cool-select
                style="max-width:150px;"
                :ref="'inputGroupName_' + screenId"
                v-model="groupName"
                :items="listScreenGroup"
                @select="checkValueInputGroupName"
                item-value="name"
                item-text="name"
              >
                <template
                  slot="item"
                  slot-scope="{ item: group }"
                >
                  <div>
                    {{ group.name }}
                  </div>
                </template>

              </cool-select>-->
            </a>

            <a
              @click.stop.prevent="clickIconImgViewScreenShot(source)"
              v-if="source != '' && source != null"
            >
              <font-awesome-icon :icon="['fas','image']" class="toggle-btn" />
            </a>

            <a
              v-show="scNeedUpgradeStoryBoard"
              class="yellow do-upgrade"
              @click.stop.prevent="upgradeScreen(screenId)"
            >
              <font-awesome-icon :icon="['fas','arrow-alt-circle-up']" style="font-size:13px;" />Upgrade
            </a>
            <a
              :id="'toggle_collapse_screen_' + screenId"
              style="float:right;margin-left:20px;margin-right:20px;"
            >
              <div v-if="toggleString == 'Hide'">
                <font-awesome-icon :icon="['fas','caret-square-up']" class="toggle-btn" />
              </div>
              <div v-else>
                <font-awesome-icon :icon="['fas','caret-square-down']" class="toggle-btn" />
              </div>
            </a>
          </b-col>
        </b-row>
      </div>
      <b-collapse :visible="collapseVisible" :id="'collapse'+screenId" class="mt-2">
        <b-row style="margin-top:20px;padding: 0 5px; max-width: 100%;">
          <b-col cols="9">
            <b-form inline>
              <button
                type="button"
                class="btn-gbl yellow"
                @click.stop.prevent="openScreenInput"
              >Screen Input</button>
              <p>Source Screen :</p>
              <b-form-select
                style="max-width:150px;"
                v-model="source"
                :options="scList"
                class="mb-3"
                :ref="'inputSourceScreen_' + screenId"
                v-on:change="loadScreenData"
              />
              <!--
              <v-select
                v-model="source"
                :options="scList"
                label="text"
                :reduce="text => text.value"
                v-on:change="loadScreenData"
              >
              </v-select>-->

              <!-- <cool-select
                v-model="source"
                :items="scList"
                placeholder="Select name"
                @select="checkValueSource"
                item-value="value"
                item-text="text"
                class="mb-3"
                :ref="'inputSourceScreen_' + screenId"
              >
                <template
                  slot="item"
                  slot-scope="{ item: screen }"
                >
                  <div>
                    {{ screen.text }}
                  </div>
                </template>

              </cool-select>-->

              <!-- <b-form-input
                @change="checkValueSource"
                class="mb-3"
                v-model="source"
                list="source-list"
                :ref="'inputSourceScreen_' + screenId"
              ></b-form-input>

              <datalist id="source-list">
                <option
                  v-for="(screen) in scList"
                  :key="screen.value"
                >{{ screen.value }}</option>
              </datalist>-->

              <p style="margin-left:20px;">Back Type :</p>
              <b-form-select
                style="max-width:80px;"
                v-model="screenBackType"
                :options="backTypeList"
                class="mb-3"
                @change="changeBackType"
              />
              <!-- <cool-select
                style="max-width:80px;"
                v-model="screenBackType"
                :items="backTypeList"
                @select="changeBackType"
                item-value="value"
                item-text="text"
                class="mb-3"
              />-->
              <p v-show="screenBackType == 'pin'" style="margin-left:20px;">Back To Pinned Screen :</p>
              <b-form-select
                v-if="screenBackType == 'pin'"
                style="max-width:150px;"
                v-model="pinPage"
                :options="getDropdownPinList"
                class="mb-3"
              />
              <!-- <cool-select
                style="max-width:150px;"
                v-show="screenBackType == 'pin'"
                v-model="pinPage"
                :items="getDropdownPinList"
                item-value="value"
                item-text="text"
                class="mb-3"
              />-->
            </b-form>
          </b-col>
          <b-col cols="3" align="right">
            <!-- <button v-show="scNeedUpgradeStoryBoard" class="yellow" v-on:click="upgradeScreen(screenId)">
            <font-awesome-icon :icon="['fas','arrow-alt-circle-up']" style="font-size:13px;" /> Upgrade
            </button>-->
            <button
              type="button"
              class="btn-gbl yellow"
              @click.stop.prevent="hideActionScreen"
            >Hide Action</button>

            <button class="delete" v-on:click="deleteScreen(screenId)">Delete</button>
          </b-col>
        </b-row>
        <div style="min-height:40px;width:100%;">
          <dma-actionlist
            v-if="source != null && acList.length > 0 ? 1 : 0"
            :actionList="acList"
            :screenIdForActionList="screenId"
            :callType="callType"
            :screenActiveList="screenActiveList"
            :screenId="screenId"
            :acListItems="acListItems"
            :apiListItems="apiListItems"
            :listTargetType="listTargetType"
            :listExtraTarget="listExtraTarget"
            :getActionList="getActionList"
            :configParameter="configParameter"
            :ref="'actionlist_' + screenId"
          ></dma-actionlist>
          <!-- <div
            v-else
            class="txt-not-action-list"
          >
            <p v-if="source == null">Please choose screen</p>
            <p v-else>Screen not have action list</p>
          </div>-->
        </div>
        <!-- <dma-customactionlist></dma-customactionlist> -->
        <div style="margin-top: 20px;margin-bottom: 5px;padding: 0px 10px;right:0;">
          <b-form inline style="float:right;">
            <!-- <button type="button" class="btn-gbl yellow" @click.stop.prevent="openScreenInput">Screen Input</button> -->
            <p>Source Screen : {{source}}</p>
            <button
              type="button"
              class="btn-gbl yellow"
              style="margin-left:10px"
              @click.stop.prevent="openScreenOutput"
            >Screen Output</button>
            <br />
          </b-form>
        </div>
      </b-collapse>
    </div>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import { mapGetters } from "vuex";

import { CoolSelect } from "vue-cool-select";
var TAG = "[StoryboardScreen] ";
export default {
  components: {
    CoolSelect
  },
  props: {
    tabInfo: Object,
    screenList: Array,
    screenActiveList: Array,
    screenId: String,
    listAppUi: Array,
    sourceScreen: String,
    backType: String,
    actionList: Array,
    callType: String,
    globalInputList: Array,
    globalOutputList: Array,
    apiListItems: Array,
    listTargetType: Array,
    listExtraTarget: Array,
    saveScreen: Function,
    configParameter: Array,
    needUpgradeStoryBoard: Boolean,
    version: [String, Number],
    currentVersion: [String, Number],
    getStoryboardData: Function,
    savePinPage: Function,
    pinPageData: String
  },
  data() {
    return {
      listScreenGroup: [],
      source: this.sourceScreen,
      screenBackType: this.backType,
      gbInputList: this.globalInputList,
      gbOutputList: this.globalOutputList,
      acListItems: [],
      collapseVisible: true,
      scList: this.screenList,
      acList: this.actionList,
      scNeedUpgradeStoryBoard: this.needUpgradeStoryBoard,
      scVersion: this.version,
      scCurrentVersion: this.currentVersion,
      toggleString: "Hide",
      backTypeList: [
        { text: "stack", value: "stack" },
        { text: "firstpage", value: "firstpage" },
        { text: "home", value: "home" },
        { text: "none", value: "none" },
        { text: "pin", value: "pin" }
      ],
      pinPage: this.pinPageData,
      oldBackType: null,
      groupName: "Ungroupped Screen",
      oldGroupName: "Ungroupped Screen",
      valueChech: 0,
      tabShow: ""
    };
  },
  methods: {
    hideActionScreen() {
      console.log("######");

      let checkEditOpenHideAction = this.acListItems.filter(
        item => item.editValue == true
      );

      if (checkEditOpenHideAction.length > 0) {
        uiUtil.bus.post("showDefaultAlertDialog", "Please save action name.");
      } else {
        console.log(TAG, this.actionList);
        console.log(TAG, this.acList);
        console.log(TAG, this.acListItems);
        uiUtil.bus.post(
          constantUtil.EVENT.HIDE_ACTION_DIALOG,
          this.acListItems,
          this.screenId,
          this.sourceScreen
        );
      }
    },

    callChangeScreen(screen) {
      let responseData = screen;
      console.log(TAG + " upgrade screen in storyboard => ", responseData);
      this.source = responseData.source;
      this.screenBackType = responseData.backType;
      this.gbInputList = responseData.globalInputList;
      this.gbOutputList = responseData.globalOutputList;
      this.acList = responseData.actionList;
      this.acListItems = this.getScreenActionList(responseData.actionList);
      this.scNeedUpgradeStoryBoard = responseData.needUpgradeStoryBoard;
      this.scVersion = responseData.version;
      this.scCurrentVersion = responseData.currentVersion;

      console.log("update acList", this.acList);
      this.getActionList(this.acList);

      uiUtil.bus.post(
        constantUtil.EVENT.SCREENCHANGE,
        this.acListItems,
        this.screenId
      );
    },
    focusInputSourceScreen() {
      // console.log(
      //   TAG,
      //   'setListScreenGroup => this.$refs["inputSourceScreen_" + this.screenId] => ',
      //   this.$refs["inputSourceScreen_" + this.screenId]
      // );
      // this.listScreenGroup = data;
      // this.$refs['inputSourceScreen_' + this.screenId].focus();
      // this.$refs['inputSourceScreen_' + this.screenId].scrollTop = 0;
      // window.location.hash = '#dma-blank-space-screen' + this.screenId;
      this.$refs["inputSourceScreen_" + this.screenId].$el.focus();
    },
    setListScreenGroup(data) {
      console.log(TAG, "setListScreenGroup => data => ", data);
      this.listScreenGroup = data;
    },
    setGroupName(groupName) {
      this.groupName = groupName;
    },
    checkValueInputGroupName(item) {
      // this.$nextTick(() => {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);

      let objGroup = _.find(this.listScreenGroup, function(group) {
        return group.name == item;
      });

      if (_.isEmpty(objGroup)) {
        this.groupName = "Ungroupped Screen";
        item = "Ungroupped Screen";
      }

      console.log(TAG, "CHANGE_GROUP_SCREEN => this.groupName => ", item);

      uiUtil.bus.post(
        constantUtil.EVENT.CHANGE_GROUP_SCREEN,
        item,
        this.source,
        this.screenId
      );
      // });
    },
    clickIconImgViewScreenShot(uiName) {
      console.log(TAG, "clickIconImgViewScreenShot => uiName => ", uiName);

      let objScreen = _.find(this.listAppUi, function(item) {
        return item.uiName == uiName;
      });

      console.log(
        TAG,
        "clickIconImgViewScreenShot => objScreen => ",
        objScreen
      );

      // if(!_.isEmpty(objScreen)){

      uiUtil.bus.post(
        constantUtil.EVENT.SHOW_WINDOW_IMAGE,
        objScreen.urlScreenShot,
        uiName,
        this.screenId
      );
      // }
    },
    checkValueSource(item) {
      console.log(item.value);
      let objScreen = _.find(this.scList, function(screen) {
        return screen.value == item.value;
      });

      if (_.isEmpty(objScreen)) {
        this.source = "";
      }

      this.loadScreenData(item.value);
    },
    changeBackType() {
      this.$nextTick(() => {
        console.log("change = " + this.screenBackType);
        if (this.screenBackType == "pin") {
          if (this.getDropdownPinList.length == 0) {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              "Not found Pin list !!"
            );
            this.screenBackType = this.oldBackType;
            console.log("Result = " + this.screenBackType);
          } else {
            this.pinPage = this.getDropdownPinList[0].value;
          }
        } else {
          this.pinPage = null;
        }
        // save backType and pinPage when changes
        this.savePinPage(this.source, this.screenBackType, this.pinPage);
      });
    },
    getScreenName(list, uuid) {
      const result = _.find(list, function(item) {
        return item.uuid == uuid;
      });
      return _.isEmpty(result) ? "" : result.source;
    },

    openScreenInput() {
      if (!_.isEmpty(this.source)) {
        uiUtil.bus.post(
          constantUtil.EVENT.OPEN_SCREENINPUT_MODAL,
          this.gbInputList,
          this.screenId
        );
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Select Screen !"
        );
      }
    },
    openScreenOutput() {
      if (!_.isEmpty(this.source)) {
        uiUtil.bus.post(
          constantUtil.EVENT.OPEN_SCREENOUTPUT_MODAL,
          this.gbOutputList,
          this.screenId
        );
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          "Please Select Screen !"
        );
      }
    },
    getActionList(list) {
      new Promise((resolve, reject) => {
        var actionList = list;

        if (actionList.length == 0) {
          actionList = this.acListItems;
        }
        // check TargetType == Extra , add type
        // actionList.forEach((el ,index ,array) => {
        //   if(el.targetType.toLowerCase() == 'extra'){
        //     if(el.target.toLowerCase() != 'self'){
        //       actionList[index].type = el.target;
        //     }
        //   }
        // });

        const screen = {
          source: this.source,
          name: this.source,
          backType: this.screenBackType,
          globalInputList: this.gbInputList,
          globalOutputList: this.gbOutputList,
          actionList: actionList,
          uuid: this.screenId,
          remark: "",
          status: "Draft",
          needUpgrade: false,
          needUpgradeStoryBoard: this.scNeedUpgradeStoryBoard,
          version: this.scVersion,
          currentVersion: this.scCurrentVersion,
          pinPage: this.pinPage
        };
        resolve(screen);
        next(screen);
      }).then(screen => {
        this.saveScreen(screen);
      });
    },
    getScreenActionList(list) {
      console.log("#########################################111");
      var items = [];
      console.log(list);
      list.forEach((el, index) => {
        let api = el.api === undefined ? "Do Nothing" : el.api;
        let targetType = el.targetType === undefined ? "Extra" : el.targetType;
        let target = el.target === undefined ? "self" : el.target;
        let globalInputList =
          el.globalInputList === undefined ? [] : el.globalInputList;
        let globalOutputList =
          el.globalOutputList === undefined ? [] : el.globalOutputList;
        let confirmDialog =
          el.confirmDialog != undefined
            ? el.confirmDialog
            : { needConfirm: false };
        let endAlert =
          el.endAlert != undefined ? el.endAlert : { needConfirm: false };

        let config = el.config != undefined ? el.config : null;
        let hideAction = el.hideAction != undefined ? el.hideAction : null;
        let action_description = el.action_description
          ? el.action_description
          : el.actionName;
        let editValue = el.editValue ? el.editValue : false;
        let obj = {
          actionName: el.actionName,
          apiName: api,
          targetType: targetType,
          target: target,
          confirmDialog: confirmDialog,
          endAlert: endAlert,
          globalInputList: globalInputList,
          globalOutputList: globalOutputList,
          config: config,
          hideAction: hideAction,
          action_description: action_description,
          editValue: editValue,
          _index: index
        };
        if (el.type != undefined) {
          obj.type = el.type;
        }
        items.push(obj);
      });
      return items;
    },
    changeToggle: function() {
      uiUtil.bus.post(
        constantUtil.EVENT.SHOWSCREEN,
        this.screenId,
        this.acList
      );
      if (this.toggleString == "Hide") {
        this.toggleString = "Show";
      } else {
        this.toggleString = "Hide";
      }
    },
    autoChangeToggle: function() {
      this.collapseVisible = true;

      uiUtil.bus.post(
        constantUtil.EVENT.SHOWSCREEN,
        this.screenId,
        this.acList
      );

      this.toggleString = "Show";

      // console.log(TAG , "autoChangeToggle => this.$refs['inputGroupName_' + this.screenId][0] => " , this.$refs['inputGroupName_' + this.screenId]);

      // this.$refs['inputGroupName_' + this.screenId].focus();
    },
    deleteScreen: function(screenId) {
      console.log("delete btn screen");
      uiUtil.bus.post(
        constantUtil.EVENT.CONFIRM_DELETE_SCREEN,
        screenId,
        this.source
      );
    },
    upgradeScreen: function(screenId) {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      new Promise((resolve, reject) => {
        uiUtil.bus.post(constantUtil.EVENT.SAVE_STORYBOARD);
        uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER);
        uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_MENU, false);
        resolve();
        next();
      }).then(() => {
        this.items = [];
        const storyboard = this.getStoryboardData();
        // const url = "upgrade";
        let user = sessionStorage.getItem("DMA_username") || "";
        user = user.replace(/\"/g, "");
        storyboard.source = this.getScreenName(storyboard.storyBoard, screenId);
        storyboard.user = user;
        console.log(TAG + " STORYBOARD + ", storyboard);

        const params = { requestData: storyboard };
        var p_upgrade = this.$helpers.getMockupApi("upgrade", {
          requestData: storyboard
        });
        p_upgrade
          .then(response => {
            //process after respone

            let responseData = {};
            if (response.data.success) {
              //when success

              let responseData = response.data.responseData;
              console.log(
                TAG + " upgrade screen in storyboard => ",
                responseData
              );

              this.source = responseData.source;
              this.screenBackType = responseData.backType;
              this.gbInputList = responseData.globalInputList;
              this.gbOutputList = responseData.globalOutputList;
              this.acList = responseData.actionList;
              this.scNeedUpgradeStoryBoard = responseData.needUpgradeStoryBoard;
              this.scVersion = responseData.version;
              this.scCurrentVersion = responseData.currentVersion;
              this.acListItems = responseData.actionList;
              this.getActionList(this.acList);

              console.log("upgrad stap 1 ===");
              console.log(this.acList);
              console.log(
                "=-=================== aclist Item ======================"
              );
              console.log(this.acList);
              uiUtil.bus.post(
                constantUtil.EVENT.SCREENCHANGE,
                this.acList,
                this.screenId
              );
            } else {
              uiUtil.bus.post(
                constantUtil.EVENT.SHOW_ALERT_DIALOG,
                response.data.responseDesc
              );
            }
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);

            //end process after respone
            // const screen = responseData;
            // resolve(screen);
            // next(screen);
          })
          // .then(screen => {
          //   this.saveScreen(screen);
          // })
          .catch(err => {
            uiUtil.error.readError(err);
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          });
      });
    },
    loadScreenData: function(selected) {
      this.$refs["scRef_" + this.screenId].style.backgroundColor = "#c2c2c2";
      this.$refs["scRef_" + this.screenId].style.color = "#000000";
      console.log("Dee listAppUi => ", this.listAppUi);
      let remark = "";
      this.listAppUi.forEach(el => {
        if (el.uiName == selected) {
          console.log("Change Screen === ", el);
          // this.acList = el.actionList != undefined ? el.actionList : [];

          this.acList = this.getScreenActionList(el.actionList);
          this.acListItems = this.getScreenActionList(el.actionList);
          this.gbInputList =
            el.globalInputList != undefined ? el.globalInputList : [];
          this.gbOutputList =
            el.globalOutputList != undefined ? el.globalOutputList : [];
          this.scVersion = el.version != undefined ? el.version : "";
          this.scCurrentVersion =
            el.currentVersion != undefined ? el.currentVersion : "";
          remark = el.remark;
          return;
        }
      });

      this.$nextTick(() => {
        const screen = {
          version: this.scVersion,
          currentVersion: this.scCurrentVersion,
          uuid: this.screenId,
          name: selected,
          source: selected,
          backType: this.screenBackType,
          actionList: this.getScreenActionList(this.acList),
          globalInputList: this.gbInputList,
          globalOutputList: this.gbOutputList,
          remark: remark
        };
        console.log("screennnnnnnnnn ===> ", screen);
        uiUtil.bus.post(
          constantUtil.EVENT.SCREENCHANGE,
          this.getScreenActionList(this.acList),
          this.screenId
        );
        uiUtil.bus.post(
          constantUtil.EVENT.SCREENCHOOSE,
          screen,
          this.sourceScreen
        );
      });
    },
    showActionList: function() {
      uiUtil.bus.post(constantUtil.EVENT.SHOWACTIONLIST, this.screenId);
    },
    setHeaderError(deleteScreenName) {
      if (!_.isEmpty(this.$refs["scRef_" + this.screenId])) {
        this.$refs["scRef_" + this.screenId].style.backgroundColor = "red";
        this.$refs["scRef_" + this.screenId].style.color = "#ffffff";
      }

      if (!_.isEmpty(this.$refs["actionlist_" + this.screenId])) {
        console.log(TAG, "setHeaderError => acListItems => ", this.acListItems);

        this.acListItems.map(item => {
          if (item.target == deleteScreenName) {
            item.target = "";
          }
        });

        this.$refs["actionlist_" + this.screenId].updateGrid(
          this.acListItems,
          this.screenId
        );

        // for(this.acListItems){

        // }
      }
    }
  },
  watch: {
    screenBackType: function(newValue, oldValue) {
      this.oldBackType = oldValue;
    },
    getPinList: function(newValue, oldValue) {
      if (this.screenBackType == "pin") {
        const foundIndex = newValue.findIndex(
          item => item.pinPage == this.pinPage
        );
        if (foundIndex == -1) {
          this.pinPage = newValue[0].pinPage;
        }
      }
    }
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.VERIFYSCREEN, screenId => {
      if (this.screenId == screenId) {
        this.$refs["scRef_" + this.screenId].style.backgroundColor = "#c2c2c2";
        this.$refs["scRef_" + this.screenId].style.color = "#000000";
      }
    });

    uiUtil.bus.on(constantUtil.EVENT.DELETESCREEN, (screenId, source) => {
      if (this.screenId != screenId) {
        const list = this.acList;
        list.forEach((el, index, array) => {
          if (source == el.target) {
            el.target = "";
            this.setHeaderError(source);
          }
        });
      }
    });

    uiUtil.bus.on(constantUtil.EVENT.AFTERDELETESCREEN_FIX, newScreenList => {
      if (this.source != undefined) {
        this.scList = [];
        this.scList = newScreenList;
        this.scList.push({});
        this.scList.pop();
      }
    });

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_SCREEN_INPUT,
      (saveData, screenId) => {
        console.log(TAG + " SAVE_SCREEN_INPUT => saveData ", saveData);
        if (this.screenId == screenId) {
          this.gbInputList = saveData;
          console.log(TAG + " SAVE_SCREEN_INPUT => data ", this.gbInputList);

          uiUtil.bus.post(
            constantUtil.EVENT.SAVE_GLOBAL_INPUT_SCREEN,
            _.cloneDeep(this.gbInputList),
            screenId
          );
        }
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_SCREEN_OUTPUT,
      (saveData, screenId) => {
        if (this.screenId == screenId) {
          console.log(TAG + " SAVE_SCREEN_OUTPUT => data ", saveData);
          this.gbOutputList = saveData;
        }
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.UPDATE_HIDE_ACTION_SCREEN_PAGE_STORYBOARD,
      (screenId, actionList) => {
        // console.log(this.screenId + "  " + screenId)

        if (screenId == this.screenId) {
          this.acListItems = actionList;
        }
      }
    );

    uiUtil.bus.on(constantUtil.EVENT.SCREENUPDATE, screen => {
      if (this.source == screen.source) {
        this.callChangeScreen(screen);
      }
    });

    console.log("===== callType =====", this.callType);
    if (this.acListItems.length == 0) {
      this.acListItems = this.getScreenActionList(this.acList);
    }
    if (this.callType != undefined && this.callType == "view") {
      this.collapseVisible = false;
      this.toggleString = "Show";
    }
  },
  mounted() {
    // $(document).ready(function() {
    //   $(".fancybox").fancybox({
    //     protect: true
    //   });
    // });

    console.log(TAG, "mounted => listScreenGroup => ", this.listScreenGroup);
    if (this.tabInfo.tabData != undefined) {
      this.tabInfo.tabData.forEach(data => {
        if (data.screenName == this.source) {
          this.tabShow = data.tabName;
        }
      });
    }else {
      //do nothing
    }

    uiUtil.bus.on(constantUtil.EVENT.DISABLESCREEN, newScreenList => {
      this.scList = newScreenList;
    });
    uiUtil.bus.on(constantUtil.EVENT.SETMENUWHENLOAD, data => {
      console.log(
        "Call : setScreenWhenLoad => " + data.id + " /// in => " + this.screenId
      );
      if (data.id == this.screenId) {
        this.source = data.value;
        console.log("TRUE !!!! => " + data.value + " /// " + this.source);
      }
    });
  },
  computed: {
    ...mapGetters(["getDropdownPinList", "getPinList"])
  }
};
</script>

<style scoped>
a {
  color: #000;
  cursor: pointer;
}
p {
  font-weight: bold;
}
.dma-blank-space-screen {
  height: 20px;
  width: 98%;
}
.dma-screen {
  width: 98%;
  border: 1px #a1a1a1 solid;
  margin: auto;
  /* margin-top: 20px; */
  font-size: 20px;
  overflow: auto;
  background-color: #fff;
}
.header {
  background: #c2c2c2;
  width: 100%;
  color: #000;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  clear: both;
  overflow: hidden;
  font-size: 20px;
  cursor: pointer;
}

.mb-3 {
  margin-left: 20px;
  min-width: 80px;
}
.btn-asc {
  float: right;
}
.btn-gbl {
  margin-top: -16px;
  margin-left: 0px;
  margin-right: 10px;
}
.btn-warning {
  font-weight: bold;
  color: #000;
  background-color: #ffde16;
}
.btn-warning:hover {
  background-color: #ffffff;
}
.btn-danger {
  font-weight: bold;
}
.btn-danger:hover {
  color: #c82333;
  background-color: #ffffff;
}
select,
button {
  font-size: 20px;
}
select {
  padding: 0px 10px;
}
.toggle-btn {
  color: #ebebeb;
}
.do-upgrade {
  background: #ffde16;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 0px 10px;
  transition: 0.25s;
}
.do-upgrade:hover {
  background: white;
}
.form-control {
  display: unset !important;
}
.content-input-group-name {
  margin-right: 10px;
}

.txt-not-action-list {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 800;
  font-family: "Cordia New Regular";
}
</style>
<style lang="scss">
</style>
