<template>
  <div style="margin-top:10px;">
    <div class="header">
      <p style="padding-left:20px;">Storyboard</p>
    </div>
    <div class="content" id="contextStoryboard">
      <dma-menu
        :screenActiveList="screenActiveList"
        :getStoryboardMenu="getStoryboardMenu"
        :getStoryboardData="getStoryboardData"
        :updateStoryboard="updateStoryboard"
        :screenList="sbScreens"
      ></dma-menu>

      <dma-group-screen ref="GroupScreen" :listScreenGroup="groups"></dma-group-screen>

      <dma-tabinfo :screenActiveList="screenActiveList" :dataList="tabInfoData" ref="TabInfo"></dma-tabinfo>

      <div id="listScreen">
        <dma-screen
          v-for="sc in sbScreens"
          :tabInfo="tabInfoData"
          :key="sc.uuid"
          :screenId="sc.uuid"
          :sourceScreen="sc.source"
          :backType="sc.backType"
          :actionList="sc.actionList"
          :screenList="screenList"
          :id="'screen_'+sc.uuid"
          :listAppUi="listAppUi"
          :screenActiveList="screenActiveList"
          :callType="sc.callType"
          :globalInputList="sc.globalInputList"
          :globalOutputList="sc.globalOutputList"
          :apiListItems="apiListItems"
          :listExtraTarget="listExtraTarget"
          :listTargetType="listTargetType"
          :saveScreen="saveScreen"
          :configParameter="configParameter"
          :needUpgradeStoryBoard="sc.needUpgradeStoryBoard"
          :getStoryboardData="getStoryboardData"
          :version="sc.version"
          :currentVersion="sc.currentVersion"
          :savePinPage="savePinPage"
          :pinPageData="sc.pinPage"
          :ref="'ScreenConfig_'+ 'screen_'+sc.uuid"
          :listScreenGroup="groups"
        ></dma-screen>
      </div>
      <dma-modal :getStoryboardData="getStoryboardData" :updateStoryboard="updateStoryboard"></dma-modal>
      <dma-globallist :getStoryboardData="getStoryboardData" :updateStoryboard="updateStoryboard"></dma-globallist>
      <dma-customscreeninput></dma-customscreeninput>

      <dma-customscreenoutput></dma-customscreenoutput>
      <dma-customcreateoutput></dma-customcreateoutput>
      <dma-customapi-input></dma-customapi-input>
      <dma-customapi-output></dma-customapi-output>
      <dma-condition-target-screen></dma-condition-target-screen>
      <dma-confirmdelete></dma-confirmdelete>
      <dma-confirmdelete-group></dma-confirmdelete-group>
      <dma-custom-output></dma-custom-output>
      <dma-confirmdelete-input></dma-confirmdelete-input>
      <dma-confirmdelete-output></dma-confirmdelete-output>
      <dma-config-parameter :configParameter="configParameter"></dma-config-parameter>
      <dma-widdow-dialog-hideaction></dma-widdow-dialog-hideaction>
      <dma-search-target></dma-search-target>
    </div>
  </div>
</template>

<script>
import confirmDeleteScreen from "./ConfirmDelete.vue";
import ConfirmDeleteGroup from "./ConfirmDeleteGroup.vue";
import confirmDeleteInput from "./ConfirmDeleteInput.vue";
import confirmDeleteOutput from "./ConfirmDeleteOutput.vue";
import configParameter from "./ConfigParameter.vue";
import tabInfo from "../../components/tabs/TabInfo.vue";

import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import SERVICE from "../../helper/services.js";
import dataUtil from "../../common/dataUtil/index";
import globalUtil from "../../common/globalUtil/index.js";

import ScreenInStoryborad from "../../pages/ScreenInStoryborad/ScreenInStoryborad";
import SearchTarget from "./SearchTarget.vue";

import { mapGetters } from "vuex";

var TAG = "[StoryboardContent] ";
export default {
  components: {
    "dma-tabinfo": tabInfo,
    "dma-confirmdelete": confirmDeleteScreen,
    "dma-confirmdelete-group": ConfirmDeleteGroup,
    "dma-confirmdelete-input": confirmDeleteInput,
    "dma-confirmdelete-output": confirmDeleteOutput,
    "dma-config-parameter": configParameter,
    "dma-group-screen": ScreenInStoryborad,
    "dma-search-target": SearchTarget
  },
  props: {
    data: Object,
    callType: String,
    storyName: String
  },
  data() {
    return {
      tabInfoData: {},
      idGenerator: 0,
      sbScreens: [],
      storyboard: {},
      listAppUi: [],
      listTargetType: [],
      screenList: [],
      screenActiveList: [],
      apiListItems: [],
      listExtraTarget: [],
      globalList: [],
      screenNameList: [],
      configParameter: null,
      groups: []
    };
  },
  methods: {
    getGroupsStoryboard() {
      this.groups = [...this.storyboard.groups];
      if (
        this.groups == null ||
        this.groups == undefined ||
        this.groups.length == 0
      ) {
        console.log(
          TAG,
          "getGroupsStoryboard ========== this.storyboard.storyBoard ==========",
          this.storyboard.storyBoard
        );
        if (
          this.storyboard.storyBoard == undefined ||
          this.storyboard.storyBoard.length <= 0
        ) {
          this.groups = [];
        } else {
          // if (this.groups.length == 0) {
          let listScreenNotGroup = [];
          let listScreenInStoryBoard = this.storyboard.storyBoard;

          if (
            listScreenInStoryBoard != null &&
            listScreenInStoryBoard != undefined &&
            listScreenInStoryBoard.length > 0
          ) {
            for (let i = 0; i < listScreenInStoryBoard.length; i++) {
              let objAppUi = _.find(this.listAppUi, function(item) {
                return item.uiName == listScreenInStoryBoard[i].source;
              });

              console.log("objAppUi => ", objAppUi);

              let uiName = objAppUi.uiName;

              let urlScreenShot =
                objAppUi.urlScreenShot == undefined ||
                objAppUi.urlScreenShot == null ||
                objAppUi.urlScreenShot == ""
                  ? "https://via.placeholder.com/420x800?text=" +
                    objAppUi.uiName
                  : objAppUi.urlScreenShot;

              let objNewGroup = {
                name: uiName,
                imageUrl: urlScreenShot,
                index: i + 1,
                remark: objAppUi.remark
              };

              listScreenNotGroup.push(objNewGroup);
            }
            this.groups = [
              {
                name: "Ungroupped Screen",
                description: "Ungroupped Screen",
                screen: listScreenNotGroup
              }
            ];
          }
        }
      }

      this.$refs.GroupScreen.setListScreenGroup(this.groups);

      this.sbScreens.map(screen => {
        this.$refs[
          "ScreenConfig_" + "screen_" + screen.uuid
        ][0].setListScreenGroup([...this.groups]);

        this.groups.map(group => {
          let objScreenInGroup = _.find(group.screen, screenGroup => {
            return screenGroup.name == screen.source;
          });

          console.log(
            TAG,
            "getGroupsStoryboard => objScreenInGroup => ",
            objScreenInGroup
          );

          if (!_.isEmpty(objScreenInGroup)) {
            let groupName = group.name;

            this.$refs[
              "ScreenConfig_" + "screen_" + screen.uuid
            ][0].setGroupName(groupName);
          }
        });
      });
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);

      // }
    },

    savePinPage(screenName, backType, pinPage) {
      const index = this.sbScreens.findIndex(item => item.source == screenName);
      if (index > -1) {
        this.sbScreens[index].backType = backType;
        this.sbScreens[index].pinPage = pinPage;
      }
    },
    validateSaveStoryboard() {
      var check = {
        error: false,
        msg: []
      };
      if (_.isEmpty(this.storyboard.storyName)) {
        check.error = true;
        check.msg.push("Storyboard Name");
      }
      if (_.isEmpty(this.storyboard.firstPage)) {
        check.error = true;
        check.msg.push("First Page");
      }
      if (_.isEmpty(this.storyboard.homePage)) {
        check.error = true;
        check.msg.push("Home Page");
      }

      return check;
    },
    updateStoryboard(firstPage, homePage, notificationPage) {
      console.log("update story borad !");
      this.storyboard.firstPage = firstPage;
      console.log("stap 1 !");
      this.storyboard.homePage = homePage;
      console.log("stap 2 !");
      if (notificationPage != null) {
        this.storyboard.notificationPage = notificationPage;
      } else {
        this.storyboard.notificationPage = firstPage;
      }
      console.log("stap 3 !");
      this.storyboard.storyBoard = this.sbScreens;
      console.log("stap 4 !");
      let user = sessionStorage.getItem("DMA_username") || "";
      user = user.replace(/\"/g, "");
      console.log("stap 5 !");
      this.storyboard.user = user;
      console.log("stap 6 !");
      this.storyboard.lastUpdateDate = new Date();
    },
    getStoryboardMenu(firstPage, homePage, notificationPage, apiMode) {
      console.log("Update Story Board !");
      console.log(
        TAG + " FirstPage = " + firstPage + " / HomePage = " + homePage
      );

      this.storyboard.tabInfo = this.$refs.TabInfo.getValue();
      this.storyboard.firstPage = firstPage;
      this.storyboard.homePage = homePage;
      this.storyboard.apiInfo = { apiMode: apiMode };
      if (notificationPage != null) {
        this.storyboard.notificationPage = notificationPage;
      } else {
        this.storyboard.notificationPage = firstPage;
      }
      this.storyboard.storyBoard = this.sbScreens;

      console.log("###=== save story board ===##");
      let checkSaveScreen = 0;
      for (let i = 0; i < this.storyboard.storyBoard.length; i++) {
        // console.log(this.storyboard.storyBoard[i].actionList)
        let checkSceen = this.storyboard.storyBoard[i].actionList.filter(
          item => item.editValue == true
        );
        //  console.log(checkSceen)
        if (checkSceen.length > 0) {
          checkSaveScreen += 1;
        }
      }
      let isCheckTargetNull = false;
      for (let i = 0; i < this.storyboard.storyBoard.length; i++) {
        //Check target
        let checkTarget = this.storyboard.storyBoard[i].actionList.filter(
          item => item.target == ""
        );
        //  console.log(checkSceen)
        if (checkTarget.length > 0) {
          isCheckTargetNull = true;
        }
      }

      console.log(checkSaveScreen.length);
      console.log(this.storyboard.storyBoard);
      if (checkSaveScreen == 0) {
        console.log(TAG + checkSaveScreen);

        console.log(this.storyboard);
        console.log(TAG + "Save Storyboard", this.storyboard);
        let user = sessionStorage.getItem("DMA_username") || "";
        user = user.replace(/\"/g, "");
        this.storyboard.user = user;
        this.storyboard.lastUpdateDate = new Date();
        const check = this.validateSaveStoryboard();

        this.storyboard.groups = this.groups;
        if (isCheckTargetNull) {
          uiUtil.bus.post(
            constantUtil.EVENT.SHOW_ALERT_DIALOG,
            "Please Select Target Field !"
          );
        } else {
          if (!check.error) {
            const params = { requestData: this.storyboard };
            const result = this.$helpers.callApi(
              SERVICE.URL_SAVE_STORY,
              params
            );
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
            result
              .then(response => {
                if (response.data.success) {
                  this.$router.push("/");
                } else {
                  uiUtil.bus.post(
                    constantUtil.EVENT.SHOW_ALERT_DIALOG,
                    response.data.responseDesc
                  );
                }
                uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
              })
              .catch(err => {
                uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
                uiUtil.error.readError(err);
              });
          } else {
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              check.msg,
              "Please Input Required Field !"
            );
          }
        }
      } else {
        uiUtil.bus.post("showDefaultAlertDialog", "Please save action name.");
      }
    },
    getStoryboardData() {
      console.log(
        TAG + " getStoryboardData => this.sbScreens =>  ",
        this.sbScreens
      );
      this.storyboard.storyBoard = _.cloneDeep(this.sbScreens);
      return this.storyboard;
    },
    saveScreen(screen) {
      console.log(TAG + " saveScreen1=> screen =>  ", screen);

      console.log(
        TAG +
          " saveScreen => this.sbScreens[this.getScreenIndexByUUID(screen.uuid)] =>  ",
        this.sbScreens[this.getScreenIndexByUUID(screen.uuid)]
      );
      screen.lastUpdate = new Date();
      this.sbScreens[this.getScreenIndexByUUID(screen.uuid)] = screen;
    },
    getAllScreenName() {
      console.log(TAG + " this.screenList = ", this.screenList);
      var allScreenName = {};
      for (let i = 0; i < this.screenList.length; i++) {
        allScreenName[this.screenList[i].text] = i;
      }
      return allScreenName;
    },
    getStoryboardScreens(sb) {
      console.log(TAG + "getStoryboardScreens => sb => ", sb);
      var list = sb.storyBoard;
      var scList = [];
      /** old version */
      list.forEach(el => {
        var acList = [];
        el.actionList.forEach(ac => {
          var confirmDialog =
            ac.confirmDialog != undefined
              ? ac.confirmDialog
              : { needConfirm: false };
          var endAlert =
            ac.endAlert != undefined ? ac.endAlert : { needConfirm: false };
          let obj = {
            actionName: ac.actionName,
            action_description: ac.action_description
              ? ac.action_description
              : ac.actionName,
            api: ac.apiName,
            targetType: ac.targetType,
            target: ac.target,
            globalInputList: ac.globalInputList,
            globalOutputList: ac.globalOutputList,
            confirmDialog: confirmDialog,
            endAlert: endAlert,
            hideAction:
              ac.hideAction == null || ac.hideAction == undefined
                ? false
                : ac.hideAction,
            config: ac.config != undefined ? ac.config : null
          };
          if (ac.type != undefined) {
            obj.type = ac.type;
          }

          acList.push(obj);
          this.globalList.push(ac.globalOutputList);
        });
        this.globalList.push(el.globalOutputList);

        console.log(
          TAG + "getStoryboardScreens => el.globalInputList => ",
          el.globalInputList
        );
        scList.push({
          uuid: dataUtil.UUID.generateUUID(),
          name: el.source,
          source: el.source,
          backType: el.backType,
          actionList: acList,
          callType: this.callType,
          globalInputList: el.globalInputList,
          globalOutputList: el.globalOutputList,
          remark: "",
          status: "Draft",
          needUpgrade: false,
          needUpgradeStoryBoard: el.needUpgradeStoryBoard,
          version: el.version,
          currentVersion: el.currentVersion,
          pinPage: el.pinPage ? el.pinPage : null
        });
      });
      return scList;
    },
    getScreenIndexByUUID(uuid) {
      for (let i = 0; i < this.sbScreens.length; i++) {
        const el = this.sbScreens[i];
        if (el.uuid == uuid) {
          return i;
        }
      }
      return -1;
    },
    getScreenActiveList(sb) {
      this.tabInfoData = sb.tabInfo;
      var pages = {
        firstPage: null,
        homePage: null,
        notificationPage: null,
        apiMode: null
      };
      var selectList = [];
      var list = sb.storyBoard;
      var screenId = this.getAllScreenName();

      // _.each(list.storyBoard , (collection) => {
      //   let objAppUi = _.find(this.listAppUi, function(item) {
      //   return item.uiName == collection.source;
      // });
      // });

      var selectList = list.map(item => {
        const checkURLScreenShot = _.find(this.listAppUi, function(appUi) {
          return appUi.uiName == item.source;
        });

        return {
          text: item.source,
          value: item.source,
          imageUrl:
            !checkURLScreenShot ||
            checkURLScreenShot.urlScreenShot == undefined ||
            checkURLScreenShot.urlScreenShot == ""
              ? "https://via.placeholder.com/420x800?text=" + item.source
              : _.find(this.listAppUi, function(appUi) {
                  return appUi.uiName == item.source;
                }).urlScreenShot,
          // objAppUi.urlScreenShot == undefined || item.urlScreenShot == ""
          //   ? "https://via.placeholder.com/420x800?text=" + item.source
          //   : item.urlScreenShot,
          screen: "screen_" + item.uuid
        };
      });

      pages.storyBoard = sb.storyBoard;
      pages.firstPage = list.find(item => item.source == sb.firstPage).source;
      pages.homePage = list.find(item => item.source == sb.homePage).source;
      if (sb.apiInfo === null) {
        sb.apiInfo = {
          apiMode: "API"
        };
      } else {
        //donothing
      }
      pages.apiMode = sb.apiInfo.apiMode;

      if (sb.hasOwnProperty("notificationPage")) {
        const data = list.find(item => item.source == sb.notificationPage);
        if (data == null || data == undefined) {
          pages.notificationPage = pages.firstPage;
        } else {
          pages.notificationPage = data.source;
        }
      } else {
        pages.notificationPage = pages.firstPage;
      }

      pages.pinListData = this.$store.getters.getPinList;

      /* list.forEach(el => {
        var adding = {
          text: el.source,
          value: el.source,
          screen: "screen_" + el.uuid
        };
        if (el.source == sb.firstPage) {
          pages.firstPage = el.source;
        }
        if (el.source == sb.homePage) {
          pages.homePage = el.source;
        }
        if (el.source == sb.notificationPage) {
          pages.notificationPage = el.source;
        }
        selectList.push(adding);
      }); */
      uiUtil.bus.post(constantUtil.EVENT.SETMENUWHENLOAD, pages);
      return selectList;
    },
    disableChoosedScreenList() {
      console.log("Call : disableChoosedScreenList ");

      var screenNameList = this.screenList.map(function(item) {
        return item.text;
      });
      var screenActiveNameList = this.screenActiveList.map(function(item) {
        return item.text;
      });

      var i = 0;
      screenNameList.forEach(el => {
        if (screenActiveNameList.contains(el)) {
          this.screenList[i].disabled = true;

          this.screenList.push({});
          this.screenList.pop();
        } else {
          this.screenList[i].disabled = false;
        }
        i++;
      });
      uiUtil.bus.post(constantUtil.EVENT.DISABLESCREEN, this.screenList);
      //console.log('Disable ScreenList == ',this.screenList);
    }
  },
  created() {
    // Load Storyboard
    uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING, 3);
    uiUtil.bus.on(constantUtil.EVENT.LOADSTORYBOARD, sb => {
      console.log(TAG + "BUS[LOADSTORYBOARD] ", sb);
      if (sb !== null) {
        console.log(TAG + "Edit mode !");
        this.storyboard = sb;
      }

      if (this.storyboard.hasOwnProperty("pinList")) {
        if (this.storyboard.pinList == null) {
          this.storyboard.pinList = [];
        }
        this.$store.dispatch("setPinList", [...this.storyboard.pinList]);
      }

      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      let user = sessionStorage.getItem("DMA_username") || "";
      user = user.replace(/\"/g, "");
      var p_listAppUi = this.$helpers.getMockupApi("listAppUi", {
        requestData: {
          user: user,
          isAppUiNotInUsedByDmaStroyBoard: true,
          storyboard: this.$route.params.storyName
        }
      });
      p_listAppUi
        .then(result => {
          console.log("passssss 1");
          this.listAppUi = constantUtil.getDeserialize(result).appUiList;
          this.screenList = this.$helpers.getScreenList(
            constantUtil.getDeserialize(result).appUiList
          );
        })
        .then(() => {
          if (sb !== null) {
            this.sbScreens = this.getStoryboardScreens(sb);
            uiUtil.bus.post(
              constantUtil.EVENT.SET_SCREEN_GROUP,
              this.sbScreens
            );
            console.log(TAG + "Load SB Screens => ", this.sbScreens);
            this.screenActiveList = this.getScreenActiveList(sb);
            console.log(
              TAG + "Load ScreenActiveList => ",
              this.screenActiveList
            );
            this.disableChoosedScreenList();

            setTimeout(() => {
              this.getGroupsStoryboard();
            }, 1000);
          } else {
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          }
        })
        .catch(err => {
          uiUtil.error.readError(err);
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        });
      var p_listApi = this.$helpers.getMockupApi("listApi");
      p_listApi
        .then(result => {
          console.log(
            TAG + " listApi = ",
            this.$helpers.getApiList(
              constantUtil.getDeserialize(result).apiList
            )
          );
          this.apiListItems = this.$helpers.getApiList(
            constantUtil.getDeserialize(result).apiList
          );
          console.log(TAG + "APILIST => ", this.apiListItems);
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
      console.log(TAG + "BEFORE ========");

      var p_listExtraTarget = this.$helpers.getMockupApi("listExtraTarget");
      console.log(TAG + " p_listExtraTarget = ", p_listExtraTarget);
      p_listExtraTarget
        .then(result => {
          console.log(
            TAG + " listExtraTarget = ",
            constantUtil.getDeserialize(result).appUiList
          );
          this.listExtraTarget = this.$helpers.getListExtraTarget(
            constantUtil.getDeserialize(result).appUiList
          );
          this.configParameter = constantUtil.getDeserialize(result).appUiList;
          this.listExtraTarget.push({
            text: "tab",
            value: "tab"
          });
          console.log("CONFIGPARAMETER => ", this.configParameter);
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
      var p_listTargetType = this.$helpers.getMockupApi("listTargetType");
      p_listTargetType
        .then(result => {
          console.log(
            TAG + " listTargetType = ",
            constantUtil.getDeserialize(result).targetType
          );
          this.listTargetType = this.$helpers.getListTargetType(
            constantUtil.getDeserialize(result).targetType
          );
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(err => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          uiUtil.error.readError(err);
        });
    });
  },
  mounted() {
    uiUtil.bus.on(
      constantUtil.EVENT.AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN,
      (screenName, itemScreen, newIndex) => {
        let screen = _.find(this.sbScreens, function(item) {
          return screenName == item.source;
        });

        this.$refs[
          "ScreenConfig_" + "screen_" + screen.uuid
        ][0].autoChangeToggle();

        this.$nextTick(() => {
          setTimeout(() => {
            this.$refs[
              "ScreenConfig_" + "screen_" + screen.uuid
            ][0].focusInputSourceScreen();
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          }, 1000);
        });

        // var screenEl = document.getElementById("screen_" + screen.uuid);
        // screenEl.scrollIntoView();

        // this.$nextTick(() => {

        //   setTimeout(() => {

        //   console.log(TAG , "AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN => screenEl.childNodes" , screenEl.childNodes);
        //   console.log(TAG , "AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN => screenEl.childNodes[2]" , screenEl.childNodes[0]);
        //   console.log(TAG , "AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN => screenEl.childNodes[2].firstChild" , screenEl.childNodes[0].firstChild);
        //   console.log(TAG , "AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN => screenEl.childNodes[2].firstChild.firstChild" , screenEl.childNodes[0].firstChild.firstChild);
        //   console.log(TAG , "AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN => screenEl.childNodes[2].firstChild.firstChild.firstChild" , screenEl.childNodes[0].firstChild.firstChild.firstChild);
        //   console.log(TAG , "AUTO_FOCUS_CONFIG_ON_CLICK_IMAGE_SCREEN => screenEl.childNodes[2].firstChild.firstChild.firstChild.childNodes" , screenEl.childNodes[0].firstChild.firstChild.firstChild.childNodes);

        //   screenEl.childNodes[0].firstChild.firstChild.firstChild.childNodes[0].focus();

        //   // uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        //   } , 1000);

        // });

        // setTimeout(() => {
        //   uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        // }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.CHANGE_GROUP_SCREEN,
      (newGroup, screenName, screenId) => {
        console.log(TAG, "CHANGE_GROUP_SCREEN => newGroup => ", newGroup);
        console.log(TAG, "CHANGE_GROUP_SCREEN => screenName => ", screenName);
        console.log(TAG, "CHANGE_GROUP_SCREEN => screenId => ", screenId);

        let indexOldGroup = 0;
        let indexNewGroup = 0;
        // let indexGroup = 0;

        let indexOldScreen = 0;
        // let indexScreen = 0;

        this.groups.map((group, indexGroup) => {
          // indexOldScreen = 0;
          // indexScreen = 0;

          group.screen.map((item, indexScreen) => {
            if (item.name == screenName) {
              indexOldGroup = indexGroup;
              indexOldScreen = indexScreen;
            }
            // indexScreen++;
          });

          if (group.name == newGroup) {
            console.log(
              TAG,
              "CHANGE_GROUP_SCREEN => group.name => ",
              group.name
            );
            indexNewGroup = indexGroup;
          }

          // indexGroup++;
        });

        let groups = [...this.groups];

        groups[indexNewGroup].screen.push(
          groups[indexOldGroup].screen[indexOldScreen]
        );

        groups[indexOldGroup].screen.splice(indexOldScreen, 1);

        this.$refs.GroupScreen.setListScreenGroup(groups);
        this.$refs[
          "ScreenConfig_" + "screen_" + screenId
        ][0].setListScreenGroup(groups);

        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.MOVE_DOWN_SCREEN_GROUP_IN_STORYBOARD,
      oldIndexGroup => {
        let newIndexGroup = oldIndexGroup + 1;

        this.groups.splice(
          newIndexGroup,
          0,
          this.groups.splice(oldIndexGroup, 1)[0]
        );

        this.$refs.GroupScreen.setListScreenGroup(this.groups);

        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.MOVE_UP_SCREEN_GROUP_IN_STORYBOARD,
      oldIndexGroup => {
        let newIndexGroup = oldIndexGroup - 1;

        this.groups.splice(
          newIndexGroup,
          0,
          this.groups.splice(oldIndexGroup, 1)[0]
        );

        this.$refs.GroupScreen.setListScreenGroup(this.groups);

        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.DELETE_SCREEN_GROUP_IN_STORYBOARD,
      groupName => {
        let group = _.find(this.groups, function(group) {
          return groupName == group.name;
        });

        let indexGroup = _.findIndex(this.groups, group);

        group.screen.forEach(item => {
          this.groups[0].screen.push(item);
        });

        this.groups.splice(indexGroup, 1);

        this.$refs.GroupScreen.setListScreenGroup(this.groups);

        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_ADD_GROUP_SCREEN_IN_STORYBOARD,
      (groupName, itemScreen, newIndex) => {
        let screenInGroup = _.find(this.groups, function(group) {
          return groupName == group.name;
        });

        screenInGroup.screen.splice(newIndex, 0, itemScreen);

        let screenInStoryboard = _.find(this.sbScreens, function(screen) {
          return itemScreen.name == screen.source;
        });

        this.$refs[
          "ScreenConfig_" + "screen_" + screenInStoryboard.uuid
        ][0].setGroupName(groupName);

        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_REMOVE_GROUP_SCREEN_IN_STORYBOARD,
      (groupName, oldIndex) => {
        let screenInGroup = _.find(this.groups, function(group) {
          return groupName == group.name;
        });

        let screenName = screenInGroup.screen[oldIndex].name;

        screenInGroup.screen.splice(oldIndex, 1);

        // let screenInStoryboard = _.find(this.sbScreens, function(screen) {
        //   return itemScreen.name == screen.source;
        // });

        // this.$refs['ScreenConfig_'+ 'screen_' + screenInStoryboard.uuid][0].setListScreenGroup(this.groups);

        let screenInStoryboard = _.find(this.sbScreens, function(screen) {
          return screenName == screen.source;
        });

        // this.$refs[
        //   "ScreenConfig_" + "screen_" + screenInStoryboard.uuid
        // ][0].setGroupName(groupName);

        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_MOVE_GROUP_SCREEN_IN_STORYBOARD,
      (groupName, newIndex, oldIndex) => {
        let screenInGroup = _.find(this.groups, function(group) {
          return groupName == group.name;
        });
        screenInGroup.screen.splice(
          newIndex,
          0,
          screenInGroup.screen.splice(oldIndex, 1)[0]
        );
        setTimeout(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        }, 300);
      }
    );

    uiUtil.bus.on(constantUtil.EVENT.CONFIM_ADD_WINDOW_ADD_GROUP, item => {
      // _.find(this.groups, function(group) {
      //     return group == selected;
      //   })

      let checkLengthNewGroup = [
        ..._.filter(this.groups, group => group.name == item.name)
      ].length;

      if (checkLengthNewGroup <= 0) {
        this.groups.push({
          name: item.name,
          description: item.description,
          screen: []
        });
        console.log("description: item.name => ", item.name);
        console.log("description: item.description => ", item.description);
        // let screenInStoryboard = _.find(this.sbScreens, function(screen) {
        //   return itemScreen.name == screen.source;
        // });
        // this.$refs['ScreenConfig_'+ 'screen_' + screenInStoryboard.uuid][0].setGroupName(groupName);

        this.$refs.GroupScreen.setListScreenGroup(this.groups);

        this.sbScreens.forEach(screen => {
          this.$refs[
            "ScreenConfig_" + "screen_" + screen.uuid
          ][0].setListScreenGroup(this.groups);
        });
      } else {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          globalUtil.VARIABLES.MSG_ERROR
            .MSG_ERROR_DUP_GROUP_SCREEN_IN_STORYBOARD_NAME
        );
      }
    });

    // uiUtil.bus.on(constantUtil.EVENT.ADDGROUP, flag => {
    //   console.log(TAG + "Call : addScreen");
    //   if (flag) {
    //     this.sbScreens.push({
    //       uuid: dataUtil.UUID.generateUUID(),
    //       name: "",
    //       source: "",
    //       backType: "stack",
    //       actionList: []
    //     });
    //     this.$nextTick(() => {
    //       var listScreenEl = document.getElementById("listScreen");
    //       //console.log(TAG+"FOCUS = ",listScreenEl.lastChild.childNodes[2].firstChild.firstChild.firstChild.childNodes);
    //       listScreenEl.lastChild.childNodes[2].firstChild.firstChild.firstChild.childNodes[4].focus();
    //     });
    //   }
    // });

    uiUtil.bus.on(constantUtil.EVENT.ADDSCREEN, flag => {
      console.log(TAG + "Call : addScreen");
      if (flag) {
        let uuidScreen = dataUtil.UUID.generateUUID();

        this.sbScreens.push({
          uuid: uuidScreen,
          name: "",
          source: "",
          backType: "stack",
          actionList: []
        });
        this.$nextTick(() => {
          this.$refs[
            "ScreenConfig_" + "screen_" + uuidScreen
          ][0].focusInputSourceScreen();
        });
      }
    });
    // Delete Screen
    uiUtil.bus.on(constantUtil.EVENT.DELETESCREEN, (screenId, sourceScreen) => {
      console.log(TAG + "Call : deleteScreen");
      console.log(TAG + "screenId", screenId);
      console.log(TAG + "sourceScreen", sourceScreen);
      let flagIndex = 0;
      // Delete on select active screenlist
      console.log("itemmmmmmmm ==> ", sourceScreen);
      if (!_.isEmpty(sourceScreen)) {
        this.screenActiveList.splice(
          this.screenActiveList.findIndex(item => item.text == sourceScreen),
          1
        );

        flagIndex = this.screenList.findIndex(
          item => item.text == sourceScreen
        );
        this.screenList[flagIndex].disabled = false;

        console.log(TAG + "flagIndex = ", flagIndex);
        console.log(TAG + "deleteItem = ", this.screenList[flagIndex]);
        /* for (let i = 0; i < this.screenActiveList.length; i++) {
          if (this.screenActiveList[i].text == sourceScreen) {
            this.screenActiveList.splice(i, 1);
            break;
          }
        } */
      }
      // Blank Screen
      try {
        this.sbScreens.splice(
          this.sbScreens.findIndex(item => item.uuid == screenId),
          1
        );
        /* for (let i = 0; i < this.sbScreens.length; i++) {
          if (this.sbScreens[i].uuid == screenId) {
            this.sbScreens.splice(i, 1);
            break;
          }
        } */
        // const node = document.getElementById("screen_" + screenId);
        // node.parentNode.removeChild(node);
      } catch (error) {}

      // Delete Active Screen
      var deleteId = this.screenActiveList.findIndex(
        item => !_.isEmpty(item["screen_" + screenId])
      );
      /*       for (let i = 0; i < this.screenActiveList.length; i++) {
        if (!_.isEmpty(this.screenActiveList[i])) {
          deleteId = i;
        }
      } */
      console.log("DeleteId => ", deleteId);
      if (deleteId > -1) {
        console.log("Delete Screen => ", this.screenActiveList[deleteId]);
        this.screenActiveList.splice(deleteId, 1);
      }

      let indexOldGroup = 0;
      let indexNewGroup = 0;

      let indexOldScreen = 0;

      console.log("Groups ===> ", this.groups);
      this.groups.map((group, indexGroup) => {
        group.screen.map((item, indexScreen) => {
          if (item.name == sourceScreen) {
            indexOldGroup = indexGroup;
            indexOldScreen = indexScreen;
          }
        });
      });

      let groups = [...this.groups];

      if (sourceScreen) {
        groups[indexOldGroup].screen.splice(indexOldScreen, 1);
      }

      this.$refs.GroupScreen.setListScreenGroup(groups);

      uiUtil.bus.post(
        constantUtil.EVENT.AFTERDELETESCREEN,
        this.screenActiveList
      );

      uiUtil.bus.post(
        constantUtil.EVENT.AFTERDELETESCREEN_FIX,
        this.screenList
      );
    });

    // Screen Choosed
    uiUtil.bus.on(constantUtil.EVENT.SCREENCHOOSE, (screen, call) => {
      console.log("Screen => ", screen);
      const selected = screen.source;
      const checkURLScreenShot = _.find(this.listAppUi, function(appUi) {
        return appUi.uiName == selected;
      });
      const imageUrl =
        !checkURLScreenShot ||
        checkURLScreenShot.urlScreenShot == undefined ||
        checkURLScreenShot.urlScreenShot == ""
          ? "https://via.placeholder.com/420x800?text=" + selected
          : _.find(this.listAppUi, function(appUi) {
              return appUi.uiName == selected;
            }).urlScreenShot;

      this.sbScreens[this.getScreenIndexByUUID(screen.uuid)] = screen;
      console.log(TAG + "[ScreenChoose] screen = ", screen);
      console.log(TAG + "[ScreenChoose] active = ", this.screenActiveList);
      var screenId = "screen_" + screen.uuid;
      var adding = {
        text: selected,
        value: selected,
        screen: screenId,
        imageUrl: imageUrl
      };
      if (this.screenActiveList.length == 0) {
        console.log(TAG + "====== LENGTH ZERO =======");
        this.screenActiveList.push(adding);

        this.groups = [
          {
            name: "Ungroupped Screen",
            description: "Ungroupped Screen",
            screen: [
              {
                name: selected,
                imageUrl: imageUrl,
                index: 1,
                remark: screen.remark
              }
            ]
          }
        ];
      } else {
        var isDuplicated = false;
        var i = 0;
        this.screenActiveList.forEach(el => {
          if (el.value == call) {
            console.log(
              TAG + "====== DUPLICATED Old Data =======",
              this.screenActiveList[i]
            );
            console.log(TAG + "====== DUPLICATED New Data =======", adding);
            this.screenActiveList[i] = _.cloneDeep(adding);
            this.screenActiveList.push({});
            this.screenActiveList.pop();
            isDuplicated = true;
            return;
          }
          i++;
        });
        if (!isDuplicated) {
          this.screenActiveList.push(adding);
        }

        if (this.groups.length <= 0) {
          this.groups = [
            {
              name: "Ungroupped Screen",
              description: "Ungroupped Screen",
              screen: [
                {
                  name: selected,
                  imageUrl: imageUrl,
                  index: 1,
                  remark: screen.remark
                }
              ]
            }
          ];
        } else {
          var sreenIsUsed = false;
          var groupIndexIsUsed = 0;
          var sreenIndexIsUsed = 0;
          var i = 0;
          this.groups.forEach(group => {
            var n = 0;
            group.screen.forEach(item => {
              if (item.name == call) {
                sreenIsUsed = true;
                groupIndexIsUsed = i;
                sreenIndexIsUsed = n;
              }
              n++;
            });
            i++;
          });

          console.log(TAG, "SCREENCHOOSE => call => ", call);

          if (sreenIsUsed) {
            // this.groups[groupIndexIsUsed].screen.splice(sreenIndexIsUsed, 1);

            this.groups[groupIndexIsUsed].screen.splice(sreenIndexIsUsed, 1, {
              name: selected,
              imageUrl: imageUrl,
              index: this.groups[0].screen.length + 1,
              remark: screen.remark
            });
          } else {
            this.groups[0].screen.push({
              name: selected,
              imageUrl: imageUrl,
              index: this.groups[0].screen.length + 1,
              remark: screen.remark
            });
          }
        }
      }

      console.log(TAG, "SCREENCHOOSE => this.groups => ", this.groups);
      console.log(
        TAG,
        'SCREENCHOOSE => this.$refs["ScreenConfig_" + "screen_" + screenId] => ',
        this.$refs["ScreenConfig_" + "screen_" + screen.uuid]
      );
      console.log(TAG, "SCREENCHOOSE => screenId => ", screen.uuid);

      this.$refs.GroupScreen.setListScreenGroup(this.groups);
      this.$refs[
        "ScreenConfig_" + "screen_" + screen.uuid
      ][0].setListScreenGroup(this.groups);

      uiUtil.bus.post(constantUtil.EVENT.AFTER_SCREENCHOOSE, selected, call);
      this.disableChoosedScreenList();
    });

    uiUtil.bus.on(constantUtil.EVENT.GET_STORYBOARD_HEADER_AFTER, data => {
      this.storyboard.storyName = data.storyName;
      this.storyboard.remark = data.remark;
    });

    // uiUtil.bus.on(constantUtil.EVENT.SAVE_API_INPUT, (saveData, path) => {
    //   console.log(TAG + " SAVE API INPUT => path = ", path);
    //   console.log(TAG + " SAVE API INPUT => data ", saveData);
    //   this.sbScreens[this.getScreenIndexByUUID(path.screenId)].actionList[
    //     path.apiId
    //   ].globalInputList = saveData;
    //   console.log(TAG + " After Save INPUT => ", this.sbScreens);
    // });

    // uiUtil.bus.on(constantUtil.EVENT.SAVE_API_OUTPUT, (saveData, path) => {
    //   console.log(TAG + " SAVE API OUTPUT => path = ", path);
    //   console.log(TAG + " SAVE API OUTPUT => data ", saveData);
    //   console.log(
    //     TAG + " Before Save Output => ",
    //     this.sbScreens[path.screenId].actionList[path.apiId].globalOutputList
    //   );
    //   this.sbScreens[this.getScreenIndexByUUID(path.screenId)].actionList[
    //     path.apiId
    //   ].globalOutputList = saveData;
    //   console.log(TAG + " After Save Output => ", this.sbScreens);
    // });

    uiUtil.bus.on(constantUtil.EVENT.CHANGE_API, data => {
      console.log(TAG + " CHANGE API = ", data);
      this.sbScreens[this.getScreenIndexByUUID(data.path.screenId)].actionList[
        data.path.apiId
      ].globalInputList = data.saveData.inputList;
      this.sbScreens[this.getScreenIndexByUUID(data.path.screenId)].actionList[
        data.path.apiId
      ].globalOutputList = data.saveData.outputList;
    });

    uiUtil.bus.on(constantUtil.EVENT.SAVE_CONFIRMATION, data => {
      console.log(TAG + " SAVE CONFIRMATION = ", data);
      this.sbScreens[this.getScreenIndexByUUID(data.path.screenId)].actionList[
        data.path.apiId
      ].confirmDialog = data.saveData;
    });

    uiUtil.bus.on(
      constantUtil.EVENT.SAVE_GLOBAL_INPUT_SCREEN,
      (gbInputList, screenId) => {
        console.log(TAG + " SAVE_GLOBAL_INPUT_SCREEN = ", gbInputList);
        this.sbScreens[
          this.getScreenIndexByUUID(screenId)
        ].globalInputList = gbInputList;
      }
    );
  },
  computed: {
    ...mapGetters(["getPinList"])
  },
  watch: {
    getPinList: function(newValue, oldValue) {
      this.storyboard.pinList = newValue;
    }
  }
};
Array.prototype.contains = function(obj) {
  var i = this.length;
  while (i--) {
    if (this[i] === obj) {
      return true;
    }
  }
  return false;
};
</script>

<style scoped>
.content {
  padding: 20px 10px;
  background: white;
}
div {
  width: 100%;
  font-size: 20px;
}
.header {
  background: #c2c2c2;
  width: 100%;
  color: #000;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
}
</style>
