<template>
  <div>
    <div style="width:80%;float:left;">
      <b-form @submit.stop.prevent inline>
        <p style="width: 110px;">First Page :</p>
        <b-form-select
          id="firstPage"
          style="max-width:250px;"
          v-model="firstPage"
          value-field="text"
          :options="screenActiveList"
          class="mb-3"
        />

        <!-- <b-form-input
          @change="checkValueFirstPage"
          class="mb-3"
          style="max-width:350px;"
          v-model="firstPage"
          list="first-list-screen"
        ></b-form-input>

        <datalist id="first-list-screen">
          <option
            v-for="(screen) in screenActiveList"
            :key="screen.id"
          >{{ screen.value }}</option>
        </datalist>-->

        <p style="width: 110px;">Home Page :</p>
        <b-form-select
          id="homePage"
          style="max-width:250px;"
          v-model="homePage"
          value-field="text"
          :options="screenActiveList"
          class="mb-3"
        />

        <!-- <b-form-input
          @change="checkValueHomePage"
          class="mb-3"
          style="max-width:350px;"
          v-model="homePage"
          list="homePage-list-screen"
        ></b-form-input>

        <datalist id="homePage-list-screen">
          <option
            v-for="(screen) in screenActiveList"
            :key="screen.id"
          >{{ screen.value }}</option>
        </datalist>-->

        <button type="button" class="btn-gbl yellow" @click.stop.prevent="getGlobalList">Global List</button>
        <button type="button" class="btn-gbl yellow" @click.stop.prevent="openPinListModal">Pin List</button>
      </b-form>
      <b-form @submit.stop.prevent inline>
        <p style="width: 110px;">Notification Page :</p>
        <b-form-select
          id="notificationPage"
          v-model="notificationPage"
          value-field="text"
          :options="screenActiveList"
          class="mb-3"
        />

        <p style="width: 110px;">API Mode :</p>
        <b-form-select
          id="apiMode"
          style="max-width:250px;"
          v-model="apiMode"
          value-field="text"
          :options="apiOption"
          class="mb-3"
        />

        <!-- <b-form-input
          @change="checkValueNotificationPage"
          class="mb-3"
          style="max-width:350px;"
          v-model="notificationPage"
          list="notificationPage-list-screen"
        ></b-form-input>

        <datalist id="notificationPage-list-screen">
          <option
            v-for="(screen) in screenActiveList"
            :key="screen.id"
          >{{ screen.value }}</option>
        </datalist>-->
      </b-form>
    </div>

    <div style="width:20%;min-width:120px;">
      <button
        type="button"
        class="btn-asc text-sm-right yellow"
        @click.stop.prevent="addScreen"
      >+ Add Screen</button>

      <button
        style="margin-right: 20px;"
        type="button"
        class="btn-asc text-sm-right yellow"
        v-bind:class="{customhover:screenActiveList == undefined || screenActiveList.length <= 0 }"
        @click.stop.prevent="addGroup"
        :disabled="screenActiveList == undefined || screenActiveList.length <= 0"
      >+ Add Group</button>
    </div>
    <div style="width:20%;min-width:120px;">
      <button
        style="margin-right: 0px;margin-top: 15px;"
        type="button"
        class="btn-asc text-sm-right yellow"
        v-bind:class="{customhover:!isUpgradeAllScreen }"
        @click.stop.prevent="UpgradeAllScreen"
        :disabled="!isUpgradeAllScreen"
      >Upgrade All Screen</button>
    </div>

    <pin-list-modal
      ref="pinList"
      :selectedPinPage="selectedPinPage"
      :savePinList="savePinList"
      :getStoryboardData="getStoryboardData"
    ></pin-list-modal>
    <confirm-delete-pin-list></confirm-delete-pin-list>
    <window-add-group-screen></window-add-group-screen>
  </div>
</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import SERVICE from "../../helper/services.js";
import PinListModal from "./PinListModal.vue";
import WindowAddGroup from "../../pages/ScreenInStoryborad/WindowAddGroup/WindowAddGroup.vue";
import ConfirmDeletePinList from "./ConfirmDeletePinList.vue";

var TAG = "[Storyboard Menu] ";
export default {
  components: {
    PinListModal,
    ConfirmDeletePinList,
    "window-add-group-screen": WindowAddGroup
  },
  props: {
    screenActiveList: Array,
    getStoryboardMenu: Function,
    getStoryboardData: Function,
    updateStoryboard: Function,
    setStoryboardMenu: Function,
    screenId: String,
    screenList: Array
  },
  data() {
    return {
      isUpgradeAllScreen: false,
      globalList: [],
      firstPage: null,
      homePage: null,
      notificationPage: null,
      apiMode: "API",
      fields: [
        { text: "Global Name", key: "globalName" },
        { text: "Field Type", key: "fieldType" },
        { text: "Source", key: "source" },
        { text: "API", key: "api" },
        { text: "Action", key: "action" }
      ],
      apiOption: [
        { text: "API", value: "API" },
        { text: "MOCKUP", value: "MOCKUP" }
      ],
      pinListData: [],
      scList: []
    };
  },
  methods: {
    UpgradeAllScreen() {
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
      new Promise((resolve, reject) => {
        // uiUtil.bus.post(constantUtil.EVENT.SAVE_STORYBOARD);
        // uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER);
        // uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_MENU, false);
        resolve();
        next();
      }).then(() => {
        this.items = [];
        const storyboard = this.getStoryboardData();
        let user = sessionStorage.getItem("DMA_username") || "";
        user = user.replace(/\"/g, "");
        storyboard.user = user;
        console.log(TAG + " STORYBOARD + ", storyboard);

        const params = { requestData: storyboard };
        var p_upgrade = this.$helpers.getMockupApi("upgradeAll", {
          requestData: storyboard
        });
        p_upgrade
          .then(response => {
            let responseData = {};
            if (response.data.success) {
              this.isUpgradeAllScreen = false;

              this.sbObject = constantUtil.getDeserialize(response);
              //  console.log(TAG + "sbObject data = ", this.sbObject);
              //   uiUtil.bus.post(constantUtil.EVENT.LOADSTORYBOARD, this.sbObject);
              //Step 1 : filter all ScreenNeedUpgrade
              let listScreenNeedUpgrade = storyboard.storyBoard.filter(
                screen => {
                  return screen.needUpgradeStoryBoard == true;
                }
              );
              console.log(
                "UpgradeAll => listScreenNeedUpgrade : ",
                listScreenNeedUpgrade
              );
              //Step 2 : check screen need upgrade form response
              listScreenNeedUpgrade.forEach(screenUpgrade => {
                let isUpdateScreen = this.sbObject.storyBoard.find(screen => {
                  return screen.source == screenUpgrade.source;
                });
                if (isUpdateScreen) {
                  console.log(
                    "UpgradeAll => SCREENUPDATE Source : ",
                    isUpdateScreen.source
                  );
                  uiUtil.bus.post(
                    constantUtil.EVENT.SCREENUPDATE,
                    isUpdateScreen
                  );
                }
              });
            } else {
              uiUtil.bus.post(
                constantUtil.EVENT.SHOW_ALERT_DIALOG,
                response.data.responseDesc
              );
            }
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          })
          .catch(err => {
            uiUtil.error.readError(err);
            uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
          });
      });
    },
    checkValueNotificationPage(value) {
      let objScreen = _.find(this.screenActiveList, function(screen) {
        return screen.value == value;
      });

      if (_.isEmpty(objScreen)) {
        this.notificationPage = "";
      }
    },
    checkValueHomePage(value) {
      let objScreen = _.find(this.screenActiveList, function(screen) {
        return screen.value == value;
      });

      if (_.isEmpty(objScreen)) {
        this.homePage = "";
      }
    },
    checkValueFirstPage(value) {
      let objScreen = _.find(this.screenActiveList, function(screen) {
        return screen.value == value;
      });

      if (_.isEmpty(objScreen)) {
        this.firstPage = "";
      }
    },
    addGroup() {
      console.log(TAG + "============= click addGroup =============");
      console.log(
        TAG + "============= post bus OPEN_WINDOW_ADD_GROUP ============="
      );
      uiUtil.bus.post(constantUtil.EVENT.OPEN_WINDOW_ADD_GROUP);
    },
    getGlobalList() {
      uiUtil.bus.post(constantUtil.EVENT.GET_GLOBALLIST, this.screenId);
      // new Promise((resolve, reject) => {
      //   uiUtil.bus.post(constantUtil.EVENT.SAVE_STORYBOARD);
      //   uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER);
      //   this.updateStoryboard(this.firstPage, this.homePage);
      //   resolve();
      //   next();
      // }).then(() => {
      //   const data = this.getStoryboardData();
      //   const user = sessionStorage.getItem("DMA_username");
      //   data.user = user;
      //   const params = { requestData: data };
      //   this.$helpers
      //     .callApi(SERVICE.URL_LIST_GLOBAL_VALUE, params)
      //     .then(result => {
      //       this.globalList = constantUtil.getDeserialize(result).globalList;
      //       uiUtil.bus.post(constantUtil.EVENT.GET_GLOBALLIST, this.globalList);
      //     })
      //     .catch(err => {
      //       console.log(TAG + " Error : ", err);
      //     });
      // });
    },
    addScreen() {
      uiUtil.bus.post("addScreen", true);
    },
    openPinListModal() {
      if (this.scList.length == 0) {
        let pinListPage = [];
        if (this.pinListData.length > 0) {
          pinListPage = this.pinListData.map(item => item.pinPage);
        }
        this.scList = [...this.screenList].map(item => ({
          text: item.source,
          value: item.source,
          disabled: pinListPage.includes(item.source) ? true : false
        }));
      }
      this.$refs.pinList.openModal(this.pinListData, this.scList);
    },
    selectedPinPage(page, oldPage) {
      const selectedIndex = this.scList.findIndex(item => item.value == page);
      const oldSelectedIndex = this.scList.findIndex(
        item => item.value == oldPage
      );
      console.log("selectedIndex = " + selectedIndex + " , page = " + page);
      console.log(
        "oldSelectedIndex = " + oldSelectedIndex + " , page = " + oldPage
      );
      if (selectedIndex > -1) this.scList[selectedIndex].disabled = true;
      if (oldSelectedIndex > -1) this.scList[oldSelectedIndex].disabled = false;
    },
    savePinList(pinList) {
      this.pinListData = [...pinList];
      this.$store.dispatch("setPinList", [...pinList]);
    }
  },
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.DELETESCREEN, (screenId, source) => {
      console.log("Delete Storyboard Menu !");

      if (source == this.firstPage) {
        this.firstPage = null;
      }
      if (source == this.homePage) {
        this.homePage = null;
      }
      if (source == this.notificationPage) {
        this.notificationPage = null;
      }
    });
    uiUtil.bus.on(constantUtil.EVENT.AFTERDELETESCREEN, newScreenActiveList => {
      console.log(TAG + " AFTERDELETESCREEN = ", newScreenActiveList);
      this.screenActiveList = newScreenActiveList;
    });
    uiUtil.bus.on(
      constantUtil.EVENT.AFTER_SCREENCHOOSE,
      (newScreen, oldScreen) => {
        if (this.firstPage == oldScreen) {
          this.firstPage = newScreen;
        }
        if (this.homePage == oldScreen) {
          this.homePage = newScreen;
        }
        if (this.notificationPage == oldScreen) {
          this.notificationPage = newScreen;
        }
      }
    );
    uiUtil.bus.on(constantUtil.EVENT.SETMENUWHENLOAD, pages => {
      console.log("==== PAGES =>", pages);

      this.firstPage = pages.firstPage;
      this.homePage = pages.homePage;
      this.notificationPage = pages.notificationPage;
      this.apiMode = pages.apiMode;
      this.pinListData = pages.pinListData;

      console.log(
        "isUpgradeAllScreen storyboard.storyBoard length => ",
        pages.storyBoard.length
      );
      let needUpgradeStoryBoard = pages.storyBoard.find(screen => {
        return screen.needUpgradeStoryBoard == true;
      });
      this.isUpgradeAllScreen =
        needUpgradeStoryBoard == undefined ? false : true;
      console.log("isUpgradeAllScreen => ", this.isUpgradeAllScreen);
    });
    uiUtil.bus.on(constantUtil.EVENT.GET_STORYBOARD_MENU, submit => {
      const notificationPageForSend =
        this.notificationPage != null ? this.notificationPage : this.firstPage;
      if (submit) {
        this.getStoryboardMenu(
          this.firstPage,
          this.homePage,
          notificationPageForSend,
          this.apiMode
        );
      } else {
        this.updateStoryboard(
          this.firstPage,
          this.homePage,
          notificationPageForSend,
          this.apiMode
        );
      }
    });
  },
  created() {}
};
</script>

<style scoped>
div {
  width: 100%;
  overflow: auto;
  font-size: 20px;
}
p {
  margin-left: 20px;
  font-weight: bold;
}
.mb-3 {
  margin-left: 20px;
  min-width: 150px;
}
.btn-asc {
  float: right;
}
.btn-gbl {
  margin-top: -16px;
  margin-left: 20px;
}
select,
button {
  font-size: 20px;
  font-family: "Cordia New Regular";
}
.btn-warning {
  font-weight: bold;
  color: #000;
  background-color: #ffde16;
}
.btn-warning:hover {
  background-color: #ffffff;
}
select {
  padding: 0px 10px;
}
input[type="checkbox"] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
</style>
