<template>
  <div class="context">
    <dma-topmenu :pageName="'Storyboard'+pageDetail"></dma-topmenu>
<!--     <dma-leftmenu /> -->
    <div class="content">
      <!-- <dma-btnheader></dma-btnheader> -->
      <dma-txtheader :callType="callType"></dma-txtheader>
      <dma-content :callType="callType">
      </dma-content>
    </div>
    <div
      v-show="showBtnScrollToTop"
      class="rounded-circle back-to-top"
      @click.stop.prevent="clickBtnToTop"
    >
      <font-awesome-icon
        :icon="['fas','angle-double-up']"
        class="toggle-btn"
      />
    </div>
    <dma-footer></dma-footer>
  </div>

</template>

<script>
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";

var TAG = "[Storyboard] ";
export default {
  data() {
    return {
      callType: "",
      pageDetail: " > New Storyboard",
      showBtnScrollToTop: false
    };
  },
  computed: {},
  methods: {
    handleScroll(event) {
      // Any code to be executed when the window is scrolled
      var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
      if (scrollTop > 0) {
        this.showBtnScrollToTop = true;
      } else {
        this.showBtnScrollToTop = false;
      }
    },
    clickBtnToTop(){
      document.documentElement.scrollTop = document.body.scrollTop = 0;
    }
  },
  created() {
    _.each(constantUtil.EVENT, (value, key) => {
      if (
        value != "showDefaultAlertDialog" &&
        value != "globalLoading" &&
        value != "globalLoaded" &&
        value != "confirmDeleteScreen" &&
        value != "deleteOutput" &&
        value != "confirmDeleteInput" &&
        value != "confirmDeleteOutput" &&
        value != "showDefaultWindowConfirm" &&
        value != "showDefaultWindowImage"
      ) {
        uiUtil.bus.off(value);
      }
    });

    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  mounted() {
    uiUtil.bus.post(constantUtil.EVENT.CHECK_NEED_UPGRADE_STORYBOARD, false);

    this.callType = this.$route.params.callType;
    // this.callType = "load";
    uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADING);
    if (this.callType == "view") {
      this.pageDetail = " > Edit Storyboard";
      var storyName = this.$route.params.storyName;
      var user = sessionStorage.getItem("DMA_username") || "";
      user = user.replace(/\"/g,"");
      console.log(TAG + " StoryName = ", storyName);
      this.$helpers
        .getMockupApi("findStoryByName", {
          requestData: { storyName: storyName, user: user }
        })
        .then(res => {
          console.log(TAG + "findStoryByName response data = ", res);
          console.log(
            TAG + "findStoryByName getDeserialize data = ",
            constantUtil.getDeserialize(res)
          );
          this.sbObject = constantUtil.getDeserialize(res);
          console.log(TAG + "sbObject data = ", this.sbObject);
          //this.sbObject = res.responseData;
          uiUtil.bus.post(constantUtil.EVENT.LOADSTORYBOARD, this.sbObject);
          return res;
        })
        .then(res => {
          if (constantUtil.getDeserialize(res).needUpgradeScreen) {
            uiUtil.bus.post(
              constantUtil.EVENT.CHECK_NEED_UPGRADE_STORYBOARD,
              true
            );
            uiUtil.bus.post(
              constantUtil.EVENT.SHOW_ALERT_DIALOG,
              "This storyboard contains screens need to upgrade. Please upgrade before edit."
            );
          }
        })
        .then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        })
        .catch(err => {
          uiUtil.error.readError(err);
          uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
        });
    } else {
      uiUtil.bus.post(constantUtil.EVENT.LOADSTORYBOARD, null);
      uiUtil.bus.post(constantUtil.EVENT.GLOBALLOADED);
      this.isLoading = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.back-to-top {
  border: 1px solid #7d7a7a;
  position: fixed;
  bottom: 20px;
  right: 30px;
  background: #ffde16;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.back-to-top:hover {
  border: 1px solid #7d7a7a;
  position: fixed;
  right: 30px;
  background: #fff;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.content {
  min-height: calc(100vh - 2 * 62px);
}
.context {
  background: #ebebeb;
  padding: 20px;
  padding-top: 80px;
  /* padding-left: 110px; */

  width: 100%;
  padding-bottom: 5px;
}

* {
  font-size: 20px;
  font-family: "Cordia New Regular";
}
</style>
