<template>
  <div>
    <div>
      <button type="button" class="gray" @click.stop.prevent="backToStoryboard">
        <font-awesome-icon :icon="['fas','arrow-left']" class="fas-view" style="font-size:15px;" />&nbsp;Back
      </button>
      <button
        type="button"
        v-show="classBtnSaveStoryboard == 'open'"
        class="yellow"
        @click.stop.prevent="saveStoryboard"
      >
        <font-awesome-icon :icon="['fas','save']" class="fas-view" style="font-size:15px;" />&nbsp;Save Storyboard
      </button>
      <span
        v-show="classBtnSaveStoryboard != 'open'"
        class="txtNeedUpgrade"
      >Please upgrade related screen.</span>
    </div>
    <div>
      <b-form inline>
        <p>Storyboard Name :</p>
        <b-input
          id="sbName"
          type="text"
          v-model.trim="sbName"
          required
          @keypress.native="validateStoryName"
          :disabled="callType == 'view' ? true : false"
          :state="configForm.sbName.state"
        ></b-input>
      </b-form>
      <b-form inline>
        <p>Remark :</p>
        <b-form-input id="remark" type="text" v-model="remark"></b-form-input>
      </b-form>
    </div>
  </div>
</template>

<script>
import SERVICE from "../../helper/services.js";
import constantUtil from "../../common/constantUtil/index";
import uiUtil from "../../common/uiUtil/index";
import validateUtil from "../../common/validateUtil/index";
import globalUtil from "../../common/globalUtil/index.js";

var TAG = "[TxtHeader] ";
export default {
  props: {
    callType: String
  },
  data() {
    return {
      classBtnSaveStoryboard: "open",
      configForm: {
        sbName: {
          id: "sbName",
          value: "sbName",
          allowBlank: false,
          state: null,
          disabled: false,
          validateType: validateUtil.REGEX.ENG_AND_NUMBER
        }
      },
      sbName: "",
      remark: "",
      trueString: "",
      saveable: false,
      regex: /^[a-z_0-9]+$/i
    };
  },
  methods: {
    backToStoryboard() {
      this.$router.push("/");
    },
    saveStoryboard() {
      uiUtil.bus.post(constantUtil.EVENT.CHECK_VALIDATION_TAB_CONFIG);

      if (
        validateUtil.validateForm(this.configForm, {
          sbName: this.sbName
        })
      ) {
        uiUtil.bus.post(
          constantUtil.EVENT.SHOW_ALERT_DIALOG,
          globalUtil.VARIABLES.MSG_ERROR.COMMON.MSG_REQUIRED
        );
      } 
      // CHECK VALIDATE TAB
      // else if (this.saveable == false) {
      //   uiUtil.bus.post(
      //     constantUtil.EVENT.SHOW_ALERT_DIALOG,
      //     globalUtil.VARIABLES.MSG_ERROR_TAB
      //   );
      // } 
      else {
        console.log(TAG + "SaveStoryboard ");
        new Promise((resolve, reject) => {
          uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER);
          uiUtil.bus.post(constantUtil.EVENT.SAVE_STORYBOARD);
          resolve();
          next();
        }).then(() => {
          uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_MENU, true);
        });
      }
    },
    validateStoryName(event) {
      validateUtil.validate(validateUtil.REGEX.ENG_AND_NUMBER, event);
    }
  },
  mounted() {
    uiUtil.bus.on(constantUtil.EVENT.LOADSTORYBOARD, sb => {
      console.log(TAG + "Call : loadStoryboard => ", sb);
      if (sb !== null) {
        this.sbName = sb.storyName;
        this.remark = sb.remark;
      }
    });

    // CHECK VALIDATE TAB
    // uiUtil.bus.on(
    //   constantUtil.EVENT.CHECK_TAB_BEFORE_SAVE_STORYBOARD,
    //   saveable => {
    //     this.saveable = saveable;
    //     if (saveable == true) {
    //     } else {
    //       uiUtil.bus.post(
    //         constantUtil.EVENT.SHOW_ALERT_DIALOG,
    //         globalUtil.VARIABLES.MSG_ERROR_TAB
    //       );
    //     }
    //   }
    // );

    uiUtil.bus.on(constantUtil.EVENT.GET_STORYBOARD_HEADER, () => {
      const data = { storyName: this.sbName, remark: this.remark };
      uiUtil.bus.post(constantUtil.EVENT.GET_STORYBOARD_HEADER_AFTER, data);
    });

    uiUtil.bus.on(
      constantUtil.EVENT.CHECK_NEED_UPGRADE_STORYBOARD,
      needUpgradeScreen => {
        if (needUpgradeScreen) {
          this.classBtnSaveStoryboard = "close";
        } else {
          this.classBtnSaveStoryboard = "open";
        }
      }
    );
  },
  watch: {
    sbName: {
      handler: function(value, oldvalue) {
        validateUtil.validateForm(this.configForm, {
          sbName: value
        });
      },
      deep: true
    }
  }
};
</script>

<style scoped>
.txtNeedUpgrade {
  font-size: 25px;
  font-weight: bold;
  color: red;
}
div {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
}
div,
input[type="text"] {
  font-size: 20px;
}
input[type="text"] {
  padding: 3px 10px;
}
p {
  margin: 15px;
  width: 130px;
  font-weight: bold;
}
#sbName {
  width: 400px;
}
#remark {
  width: 80%;
}

#btn_back {
  background: url("../../assets/images/btn_back.png") no-repeat top left;
  height: 35px;
  width: 81px;
  cursor: pointer;
  display: inline-block;
}
#btn_back:hover {
  background: url("../../assets/images/btn_backOver.png");
}
#btn_saveStory {
  display: inline-block;
  background: url("../../assets/images/btn_saveStory.png");
  height: 35px;
  width: 148px;
  cursor: pointer;
  transform: 0.5s;
}
#btn_saveStory:hover {
  background: url("../../assets/images/btn_saveStoryOver.png");
}
#btn_previewStoryboard {
  display: inline-block;
  background: url("../../assets/images/btn_previewStoryboard.png");
  height: 35px;
  width: 165px;
  cursor: pointer;
  float: right;
}
#btn_previewStoryboard:hover {
  background: url("../../assets/images/btn_previewStoryboardOver.png");
}
</style>
