<template>
  <div class="my-body">
    <dma-alertdialog></dma-alertdialog>
    <div v-show="isLoading">
      <div class="loading">Loading&#8230;</div>
    </div>
    <div v-show="isLoading_opa">
      <div class="loading" style="opacity:0.5;">Loading&#8230;</div>
    </div>
    <dma-window-input-upload-image></dma-window-input-upload-image>
    <dma-window-image></dma-window-image>
    <router-view/>
  </div>
</template>

<script>
import constantUtil from "./common/constantUtil/index";
import uiUtil from "./common/uiUtil/index";

export default {
  name: "App",
  data() {
    return {
      isLoading: false,
      isLoading_opa: false,
      stackCall: 0
    };
  },
  created() {
    uiUtil.bus.on(constantUtil.EVENT.GLOBALLOADING, flag => {
      this.isLoading = true;
      if (flag != undefined) {
        this.stackCall += flag;
      } else {
        this.stackCall++;
      }
      console.log("GLOBALLOADING = ", this.stackCall);
    });
    uiUtil.bus.on(constantUtil.EVENT.GLOBALLOADED, flag => {
      this.stackCall--;
      if (this.stackCall <= 0) {
        this.stackCall = 0;
        this.isLoading = false;
      }
      console.log("GLOBALLOADED = ", this.stackCall);
    });
    uiUtil.bus.on(constantUtil.EVENT.GLOBALLOADING_OPA, flag => {
      this.isLoading_opa = true;
    });
    uiUtil.bus.on(constantUtil.EVENT.GLOBALLOADED_OPA, flag => {
      this.isLoading_opa = false;
    });
    uiUtil.bus.on(constantUtil.EVENT.GLOBALFORCELOADED, flag => {
      this.stackCall = 0;
      this.isLoading = false;
      this.isLoading_opa = false;
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
/* Absolute Center Spinner */
html,
body,
.my-body {
  background: #ebebeb;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>

