<template>
  <div>
    <h1 style="text-align:center">StoryBoard flow</h1><br>
    <div id="diagram"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm">

          <button class="btn btn-warning" @click.stop.prevent="undo">Undo</button>
          <button class="btn btn-primary" @click.stop.prevent="redo">Redo</button>
          <button class="btn btn-danger" @click.stop.prevent="reset">Reset</button>
          <div v-for="item in dataDiagram" :key="item.key">
            <button class="btn btn-secondary" style="margin-top:5px" @click.stop.prevent="click_test($event,item.key)">Set color</button>
            <span>{{ item.key }} : {{item.text}}</span>

          </div>
        </div>
        <div class="col-sm">
          <h3>View data</h3>
          <div>
            {{selected}}
          </div>
        </div>

      </div>
    </div>

  </div>
</template>

<script>
import FlowChart from "flowchart.js";
import underscore from "underscore";
export default {
  data() {
    return {
      dd: "xxxxxxxxxxxxxxxxxxxxx",
      diagram: null,
      styleDiagram: null,
      dataDiagram: [],
      stack: [],
      backStack: [],
      initialDiagram: null,
      selected: {}
    };
  },
  methods: {
    click_test(event, key) {
      console.log("show diagram ", this.diagram);

      var found = underscore.findWhere(this.dataDiagram, {
        key: key
      });

      var checkHasInStack = underscore.findWhere(this.stack, {
        key: key
      });

      if (underscore.isUndefined(checkHasInStack)) {
        this.stack.push({ key: key, data: _.cloneDeep(this.diagram.start) });
      } else {
        console.log("Not found key =" + key);
      }

      console.log(
        "!underscore.isUndefined(found) = ",
        !underscore.isUndefined(found)
      );
      if (!underscore.isUndefined(found)) {
        //this.backStack = [];
        found.flowstate = "current";
      }

      this.refresh();
    },
    click_get(data) {
      console.log("data", data);
    },
    undo() {
      var objUndo = this.stack.pop();

      if (!_.isEmpty(objUndo)) {
        this.backStack.push({
          key: objUndo.key,
          data: _.cloneDeep(this.diagram.start)
        });

        this.diagram.start = _.cloneDeep(objUndo.data);
      } else {
        console.log("Can't undo");
      }
      this.refresh();
    },

    redo() {
      var objRedo = this.backStack.pop();
      console.log("objRedo = ", objRedo);

      if (!_.isEmpty(objRedo)) {
        console.log("redo set object");
        this.diagram.start = _.cloneDeep(objRedo.data);
        this.refresh();
      } else {
        console.log("Can't redo");
      }
    },

    reset() {
      this.diagram.start = _.cloneDeep(this.initialDiagram);
      this.stack = [];
      this.backStack = [];
      this.dataDiagram = [];
      var obj = this.diagram.start;
      this.viewObject(obj);

      this.refresh();
    },
    viewObject(operation) {
      if (_.isUndefined(operation)) {
        console.log(" wait ");
        return;
      } else {
        console.log("operation =", operation);

        var isAlreadyHas = underscore.findWhere(this.dataDiagram, {
          key: operation.key
        });
        console.log("isAlreadyHas ", isAlreadyHas);
        console.log("!_.isEmpty(isAlreadyHas)", !_.isEmpty(isAlreadyHas));
        if (!_.isEmpty(isAlreadyHas)) {
          return;
        } else {
          var newOperation = operation.next;
          operation.link = "javascript:window.Vuejs.click_selected('"+ operation.key+"')";
          this.dataDiagram.push(operation);
          this.viewObject(newOperation);

          if (
            _.isUndefined(newOperation) &&
            operation.hasOwnProperty("symbolType") &&
            operation.symbolType == "condition"
          ) {
            this.viewObject(operation.no);
            this.viewObject(operation.yes);
          }
        }
      }
    },
    refresh() {
      this.diagram.drawSVG("diagram", this.styleDiagram);
      this.refreshDataDiagram();
    },
    refreshDataDiagram() {
      this.dataDiagram = [];
      this.viewObject(this.diagram.start);
    },
    click_selected(key) {
      console.log("selected key =" + key);
      var found = underscore.findWhere(this.dataDiagram, {
        key: key
      });
      console.log("found = ", found);

      this.selected = {
        key: found.key,
        text: found.text,
        extra: found.extra
      };
    }
  },
  created() {
    // apiUtil.callServices.doGet();
    console.log("Hello world 2");
  },
  destroyed() {
    window.Vuejs = null;
    window.utils = null;
    window.FlowChart = null;
  },
  mounted() {
    // Reminder using only for debug
    window.Vuejs = this;
    window.utils = {
      underscore: underscore,
      lodash: _,
      FlowChart: FlowChart
    };

    console.log("FlowChart : ", FlowChart);

    this.diagram = FlowChart.parse('st=>start: Start:>http://www.google.com[blank]\n' +
                                'e=>end:>http://www.google.com\n' +
                                'op1=>operation: My Operation\n' +
                                'op2=>operation: Stuff|current\n' +
                                'sub1=>subroutine: My Subroutine\n' +
                                'cond=>condition: Yes \n' + // use cond(align-next=no) to disable vertical align of symbols below
                                'or No?\n:>http://www.google.com\n' +
                                'c2=>condition: Good idea|rejected\n' +
                                'io=>inputoutput: catch something...|request\n' +
                                '\n' +
                                'st->op1(right)->cond\n' +
                                'cond(yes, right)->c2\n' + // conditions can also be redirected like cond(yes, bottom) or cond(yes, right)
                                'cond(no)->sub1(left)->op1\n' + // the other symbols too...
                                'c2(true)->io->e\n' +
                                'c2(false)->op2->e'  //allow for true and false in conditionals
                                 );
    this.diagram.drawSVG("diagram");

    // Markdown to object
    //this.dataDiagram = [];
    // var obj = this.diagram.start;
    // this.viewObject(obj);
    this.refreshDataDiagram();
    this.initialDiagram = _.cloneDeep(this.diagram.start);

    this.styleDiagram = {
      x: 0,
      y: 0,
      "line-width": 3,
      "line-length": 50,
      "text-margin": 10,
      "font-size": 14,
      "font-color": "black",
      "line-color": "black",
      "element-color": "black",
      fill: "white",
      "yes-text": "yes",
      "no-text": "no",
      "arrow-end": "block",
      scale: 1,
      // style symbol types
      symbols: {
        start: {
          "font-color": "red",
          "element-color": "green",
          fill: "yellow"
        },
        end: {
          class: "end-element"
        }
      },
      // even flowstate support ;-)
      flowstate: {
        // 'past' : { 'fill' : '#CCCCCC', 'font-size' : 12},
        current: { fill: "yellow", "font-color": "red", "font-weight": "bold" },
        //'future' : { 'fill' : '#FFFF99'},
        request: { fill: "blue" } //,
        // 'invalid': {'fill' : '#444444'},
        // 'approved' : { 'fill' : '#58C4A3', 'font-size' : 12, 'yes-text' : 'APPROVED', 'no-text' : 'n/a' },
        // 'rejected' : { 'fill' : '#C45879', 'font-size' : 12, 'yes-text' : 'n/a', 'no-text' : 'REJECTED' }
      }
    };

    this.diagram.drawSVG("diagram", this.styleDiagram);
  }
};
</script>

<style scoped>

</style>