.btn-back {
  background: url('../../../../static/image/btn_back.png') !important;
  background-image: url('../../../../static/image/btn_back.png') !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  border: none;
  width: 81px !important;
  height: 35px !important;
}

.btn-back:hover {
  background: url('../../../../static/image/btn_backOver.png') !important;
  background-image: url('../../../../static/image/btn_backOver.png') !important;
  background-repeat: no-repeat !important;
  cursor: pointer !important;
  border: none;
  width: 81px !important;
  height: 35px !important;
}

.txt-head-name-screen-group{
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: "Cordia New Regular";
}
