<template>
  <div>

    <div
      class="btn-back"
      @click.stop.prevent="switchVisibleGroup"
    />
    <group-storyboard
      :groupName="groupName"
      :listScreenGroup="listScreenGroup"
    ></group-storyboard>

  </div>
</template>

<script>
let TAG = "[Screen/ScreenGroup/ScreenGroup.vue]";

import apiUti from "../../../common/apiUtil/index";
import uiUtil from "../../../common/uiUtil/index";
import constantUtil from "../../../common/constantUtil/index";
import globalUtil from "../../../common/globalUtil/index";
import GroupStoryboard from "../GroupStoryboard/GroupStoryboard";

import "./custom.scss";

export default {
  components: {
    "group-storyboard": GroupStoryboard
  },
  props: {
    switchVisibleGroup: Function,
    groupName: String,
    listScreenGroup: Array
  },
  data() {
    return {};
  },
  computed: {},
  created() {},
  mounted() {},
  watch: {},
  methods: {}
};
</script>

<style scoped>
</style>

