<template>
  <v-autocomplete :items="items" v-model="item" :get-label="getLabel" :component-item='template' @update-items="updateItems">
  </v-autocomplete>
</template>

<script>
import ItemTemplate from './ItemTemplate.vue'
export default {
  data () {
    return {
      item: {id: 9, name: 'Lion', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
      items: [
        {id: 1, name: 'Lion1', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 2, name: 'Lion2', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 3, name: 'Lion3', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 4, name: 'Lion4', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 5, name: 'Lion5', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 6, name: 'Lion6', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 7, name: 'Lion7', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 8, name: 'Lion8', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 9, name: 'Lion9', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'},
        {id: 10, name: 'Lion10', description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'}
      ],
      template: ItemTemplate
    }
  },
  methods: {
    getLabel (item) {
      return item.name
    },
    updateItems (text) {
      yourGetItemsMethod(text).then( (response) => {
        this.items = response
      })
    }
  }
}
</script>
