<template>
  <div>
    <b-row>
      <b-col>
        <div class="container">
          <div class="large-12 medium-12 small-12 cell">
            <label v-if="!fromTab">
              Image:
              <b-form-file
                v-model="file"
                id="file"
                ref="file"
                accept="image/jpeg, image/png"
                placeholder="Choose File ..."
              ></b-form-file>

              <!-- <input type="file" id="file" ref="file" accept="image/*" v-on:change="handleFileUpload()" /> -->
            </label>
            <b-form-file
              v-if="fromTab"
              v-model="file"
              id="file"
              ref="file"
              accept="image/jpeg, image/png"
              placeholder="Choose File ..."
            ></b-form-file>
            <button
              class="yellow"
              v-if="!fromTab"
              v-on:click="submitFile()"
              v-show="file != null"
            >Submit</button>
          </div>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
var TAG = "[ImageUpload] ";
import constantUtil from "../../../common/constantUtil/index";
import uiUtil from "../../../common/uiUtil/index";
export default {
  // props: ["url", "header", "doSuccess", "doFailure"],
  props: {
    url: String,
    header: Object,
    doSuccess: Function,
    doFailure: Function,
    myData: Object,
    file: Object,
    fromTab: Boolean,
    fromInput: String
  },
  data() {
    return {};
  },
  methods: {
    // Submits the file to the server

    submitFile() {
      // Initialize the form data
      let formData = new FormData();
      // Add the form data we need to submit
      formData.append("files[]", this.file);

      if (this.fromTab === true) {
        this.axios
          .post(this.url, formData, {
            headers: this.headers
          })
          .then(res => {
            this.resetImage();
            this.doSuccess(res, this.myData, this.fromInput);
          })
          .catch(err => {
            this.doFailure(err);
          });
      } else {
        if (this.myData.item.sourceRawUrl.toLowerCase().startsWith("http")) {
          console.log(TAG + "targetRawUrl", this.myData.item.sourceRawUrl);

          // New.
          // 15/01/2020 14:26
          // Add Button

          if (this.myData.item.sourceRawUrl.toLowerCase().startsWith("http")) {
            console.log(TAG + "targetRawUrl", this.myData.item.sourceRawUrl);
            let key = this.getKey(this.myData.item.sourceRawUrl);

            formData.append("key", key);
          }
          // Make the request to the POST /single-file URL
          this.axios
            .post(this.url, formData, {
              headers: this.headers
            })
            .then(res => {
              this.resetImage();
              this.doSuccess(res, this.myData);
            })
            .catch(err => {
              this.doFailure(err);
            });
        }
      }

      // New.
      // 15/01/2020 14:26
      // Add Button
    },

    // Handles a change on the file upload
    handleFileUpload() {},
    resetImage() {
      this.file = null;
      this.$refs.file.reset();
    },
    getKey(path) {
      console.log(TAG + "path", path);
      let key = path.split("key=")[1];
      console.log(TAG + "key", key);
      return key.split("&screenName=")[0].split("&dmaNoCache=")[0];
    }
  },
  created() {
    // this.file = null;
    // this.$refs.file.reset();
    this.file = this.myFile;

    uiUtil.bus.on(constantUtil.EVENT.RESET_INPUT_FILE_IN_RESTORE_IMAGE, () => {
      this.$refs.file.reset();
    });
  },
  watch: {
    file: {
      handler: function(value, oldvalue) {
        console.log(TAG + "watch this.$refs.file => ", this.$refs.file);

        if (value == null) {
          console.log(TAG + "value == null");
          this.$refs.file.reset();
        } else {
          if (this.fromTab === true) {
            this.submitFile();
          }
        }
      },
      deep: true
    }
  }
};
</script>
